[2021-11-11 21:16] DII-dsward commented on #679
This is the playbook i'm using
[code]

The Output looks like this
[code]

[2021-11-11 21:35] nbr23 commented on #679
@DII-dsward  what does `ansible-galaxy collection list azure.azcollection` show on your system ?

[2021-11-11 22:23] DII-dsward commented on #679
Here is the output and ansible version.

[code]

[2021-11-12 00:56] Fred-sun commented on #678
@DII-dsward Thank you for reporting this problem, we will check and fix it as soon as possible. Thank you very much!

[2021-11-12 01:02] Fred-sun commented on #677
@tman5 Thank you for submitting the question, can you provide more information on the requirements? Helps us solve this problem. Thank you very much!

[2021-11-12 01:16] nbr23 commented on #679
@DII-dsward you're on an older version of ansible, so I think `ansible-galaxy collection list` doesn't work.

If you run `ansible-galaxy collection install -vvv azure.azcollection`, you will see the path where collections are installed as well as the version:
[code]

Let me know what you get, but most likely your azcollection is outdated and you will need to install a newer version.

Thanks!

[2021-11-12 01:17] Fred-sun commented on #679
@nbr23 According to your error log, you are using the old ansible-collections version, please upgrade the ansible-collection and try again. Thank you very much!
[code]

[2021-11-12 01:22] nbr23 commented on #679
@Fred-sun  correct, I was reproducing the issue @DII-dsward is having. I agree this looks like they need to upgrade their collection :)

[2021-11-12 01:24] Fred-sun commented on #671
@bikashkarmakar Thank you for submitting this question. What kind of credentials are you using? Currently, the azure_rm_keyvault module supports only az login. Can you confirm it? Thank you very much!

[2021-11-12 01:25] Fred-sun commented on #669
Any update?

[2021-11-12 01:27] #663 closed, assigned to nobody

[2021-11-12 01:34] Fred-sun commented on #661
@jinsu88 @zickzackhd According to the log you reported, there is a problem when parsing your YAML. Can you check whether your YAML and special characters are English characters? Thank you very much!

[2021-11-12 01:40] Fred-sun commented on #659
@myselfgagandeep When we use each host, we will send 5 requests and get response. If many hosts are used at the same time, the number of requests sent will exceed 12000/hour, resulting in too many requests and errors. thank you！
[code]

[2021-11-12 01:40] #659 closed, assigned to nobody

[2021-11-12 01:44] Fred-sun commented on #636
@iscai-msft I'm sorry to reply you so late. I was busy upgrading SDK recently and ignored these questions. Please forgive me. Thank you very much!

[2021-11-12 02:12] Fred-sun commented on #636
@iscai-msft @ecchong Thank you for reporting this problem, yes, the network security group should have a parameter associated with NSG flow logs, this parameter is not supported for the moment, we will add it later. I just tested this，no matter managed flow logs attach or not, it did not get an error when retrieving resource group information . Thank you very much!

[2021-11-12 04:23] #679 closed, assigned to nobody

[2021-11-12 06:11] fiftin commented on #669
I reinstalled it several times.

[2021-11-12 06:18] Fred-sun commented on #669
@fiftin Could you please provide information about your test environment and Playbook? Thank you very much!

[2021-11-12 08:03] fiftin commented on #669
Ubuntu 20.04

[code]

[code]

[2021-11-12 11:39] zickzackhd commented on #661
Hey @Fred-sun thx for your fast response,
in my myazure_rm.yml are no special characters. I think the error is about the python  version normally i use for my playbooks python3 but the inventory trys to use python2.
The only thin what is inside my yml file is:
[code]
I also removed the part with the special resource group because firstly i try to list all
Hope you can help me out
regards zickzackh

[2021-11-12 15:20] tman5 commented on #677
Sure. One of the challenges with helm and kubectl is that they both rely on config in your home directory in ~/.kube/config.

The ansible modules for helm and kubectl both rely on this file to authenticate to the AKS cluster.

az CLI can populate this file with authentication cert information when you call the appropriate command.

What I was hoping for the azure ansible modules is one of 2 things

[2021-11-12 21:02] DII-dsward commented on #679
I have confirmed I am using azure.azcollection 1.10.0 by looking at the collection MANIFEST.json

$ cd /var/lib/awx/projects/.__awx_cache/_26__repo_of_doom/#####/requirements_collections/ansible_collections/ansible_collections/azure/azcollection
$ cat MANIFEST.json | grep version
  "version": "1.10.0",

[2021-11-12 21:14] DII-dsward opened #684 "azure_rm_manageddisk_info managed_by not working on version 1.10.0"
Due to the dynamic inventory script not populating the names of the managed disks attached to a VM, I am trying to pull the names of the managed disks attached to a 'vm fqid'.

[code]

Following this documentation
https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_manageddisk_info.py

##### SUMMARY
This playbook is returning an error saying managed_by is not a valid par

[2021-11-13 15:54] nbr23 commented on #684
@DII-dsward did you try forcing a reinstall/upgrade of your collection as mentionned in the previous issue?
`ansible-galaxy collection install azure.azcollection --force`

The feature you are describing does work, it looks like you are not using the latest version of the collection. Perhaps the collection path you are reviewing (`var/lib/awx/projects/.__awx_cache/_26__repo_of_doom/#####/requiremen

[2021-11-15 14:46] dkirrane opened #688 "Could not retrieve credential from local cache for service principal ***. Please run 'az login' for this service principal.""
##### SUMMARY

 `azure_rm_postgresqlfirewallrule` `auth_source` `cli` no longer working

##### ISSUE TYPE
[code]

##### COMPONENT NAME

`azure_rm_postgresqlfirewallrule`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I suspect this maybe related to GitHub Actions Azure CLI login change: https://stackoverflow.com/questions/6989

[2021-11-16 10:12] zickzackhd commented on #661
I forgot to write "-i" before the filename and I think the resource group name have to be lowercase.
I managed to remove some errors but some are still left:
**myazure_rm.yml:**
[code]
**_"ansible-inventory -i myazure_rm.yml --graph"_
Output:**
[code]

[2021-11-17 10:34] ajostergaard commented on #310
@Fred-sun any suggested workaround? Unless I can find one I'll have to use private endpoints or switch to Terraform... :(

[2021-11-17 12:07] zickzackhd commented on #661
Hey thx for helping with my problem. I have an solution it was the wrong python version I used 2.6 but now I updated to 3.9 and now all work.

[2021-11-17 19:38] StephanZaat commented on #661
@zickzackhd
Any idea if you changed anything else?
I'm also getting the ```with auto plugin: global name 'azure_cloud' is not defined```

This is my .yml:
[code]

This is the output on a Microsoft Azure Pipeline Hosted Agent with Ubuntu 20.04:
[code]

On a few other machines I am getting a result.

[2021-11-17 20:04] zickzackhd commented on #661
Hey @StephanZaat,
I had the same problem with older python version try to update to python 3.9 and set is as the default. Then all shut be done.

Best regards
@zickzackhd

[code]

[2021-11-17 20:25] StephanZaat commented on #661
It seems I have it working now. It seems I was installing the python libs under the wrong user.
Thanks for the help!

[2021-11-17 20:48] DII-dsward commented on #684
Ansible-galaxy collection list is only available on ansible 2.10 which is not supported by RH with Tower 3.8.4. I spoke with them today and it was found that we had conflicting python environment dependencies. We removed ansible 2.10 from system python environment and reinstalled ansible and the azure.azcollection module from dnf on the /var/lib/awx/venv/ansible python environment.

[2021-11-17 20:48] #684 closed, assigned to nobody

[2021-11-17 21:01] DII-dsward opened #690 "Unable to write tags to manageddisk with azure_rm_manageddisk module"
##### SUMMARY
Need to update tags of managed disk for cost analysis. Getting an error saying required parameter not found disk.diskSizeGb.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- azure_rm_manageddisk

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION
Ansible Tower 3.8.4

##### OS / ENVIRONMENT
RHEL 8.4

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2021-11-17 21:20] DII-dsward opened #691 "Unable to tag OS disk due to create_option limitations"
Follow up issue of https://github.com/ansible-collections/azure/issues/690

##### SUMMARY
Need to update tags of the OS managed disk for cost analysis. Getting an error saying create_option must be one of: empty, import, copy, got: fromimage.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- azure_rm_manageddisk

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
-->
[code]

##### CONFIGU

[2021-11-18 02:58] #661 closed, assigned to nobody

[2021-11-20 18:28] l3ender opened #692 "`azure_rm_appserviceplan` not idempotent for premium app service plans"
##### SUMMARY
When using `azure_rm_appserviceplan`, idempotency fails for premium app service plans.

The SKU returned from an existing premium plan includes lower case (`P1v2`), but the module comparison converts input parameters to upper case (`P1V2`) and so the idempotency check fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_appserviceplan

##### ANSIBLE VERSION

[code]

#

[2021-11-22 03:21] l3ender commented on #638
I think the `--zones` parameter for `az network application-gateway create` might be used for the public/frontend IP address which is created for the gateway. If that's the case, this issue should be for updating the `azure_rm_publicipaddress` module.

@ammygill What happens if you create an application gateway using `az network application-gateway create` and provide an existing public IP (`--pub

[2021-11-22 07:17] Fred-sun commented on #439
fixes by #695

[2021-11-22 13:35] lucas-benedito commented on #659
@Fred-sun As per inventory plugin documentation, the option batch_fetch is set to true by default. Is that what you mean with the suggested solution 1?
As for the suggested solution 2, how can this be achieved from a module standpoint? If that is not possible, how can a customer achieve this?

[2021-11-23 06:56] #692 closed, assigned to nobody

[2021-11-23 07:05] #421 closed, assigned to nobody

[2021-11-23 10:38] asos-philc commented on #688
The issue affects all azure_rm resource types, not just azure_rm_postgresqlfirewallrule mentioned in the issue description.

As the link posted above explains, this issue has arisen because of the change of authentication library from ADAL to MSAL in Azure CLI 2.30:

https://docs.microsoft.com/en-us/cli/azure/msal-based-azure-cli

More specifically, the issue is seen when the version of Azure CLI

[2021-11-23 12:25] alfador1 commented on #644
I'm facing the same issue. Did u fix it and how ?

[2021-11-23 14:52] alfador1 opened #699 "ModuleNotFoundError: No module named 'azure.mgmt.managementgroups'"
- **Package Name**: azure collection
- **Package Version**: 1.10
- **Operating System**: RHEL
- **Python Version**:  3.6

**Describe the bug**
I install the ansible 2.10, install the azcollection 1.10 (offline ) from tarball in ansible galaxy and then when reaching azure_rm_resourcegroup it fails
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install ansible 2.10 and azurecollection1.

[2021-11-24 01:49] Fred-sun commented on #644
@alfador1 This issue has been addressed in the new virtual environment. It is recommended that you install the Ansible-Collection dependency package (requirement.txt) in a python interpreter working environment. If you have any questions, we welcome your questions. Thank you very much!

[2021-11-24 01:49] #644 closed, assigned to nobody

[2021-11-24 06:27] Fred-sun commented on #699
@alfador1 According to the error log, your environment caused the error. You are advised to reinstall ansible and requirement.txt. Thank you very much!
[code]

[2021-11-24 06:36] Fred-sun commented on #669
@fiftin I verified your playbook and there is no problem. Because after upgrading the SDK, the dependent files are not set the VERSION, it should be that you have upgraded the new version before (azure-mgmt-storage == 11.1.0). It is recommended that you do as follows. Please try it! Thank you very much!
[code]

[2021-11-24 06:42] Fred-sun commented on #678
fixes by #687

[2021-11-24 06:42] #678 closed, assigned to nobody

[2021-11-24 07:18] nicolaibaralmueller commented on #644
I now use virtual python environments. Guide further above.

This is my requirement file:

[code]

[2021-11-24 07:48] alfador1 commented on #699
@Fred-sun isnt ansible[azure] only for versions bellow 2.10. For 2.10 u use azcollection? I have a container so ansible is reinstalled every time container is build

[2021-11-24 07:55] Fred-sun commented on #699
@alfador1 Ansible-collection depends on Ansible execution(https://github.com/ansible-collections/azure). Thank you very much!
[code]

[2021-11-24 07:57] alfador1 commented on #699
I install Ansible like that as part of my requirements.txt ansible==2.10.0. Is that also ok? When u define ansible[azure]. How do u knlw which version is it?  Is ansible[azure]- something was like that for the older versions? Now just  is ansible

[2021-11-24 08:37] Fred-sun commented on #699
@alfador1 I just want you to reinstall ansible, ansible collection and all dependencies, because there is no problem with my local test. It can be determined that it is your environmental problem. thank you!

[2021-11-24 11:34] nokje commented on #645
I've ran into the same error. In my case it was a VM I've created ~2 weeks ago via Terraform and thereafter left powered off. When I wanted to get the state via Ansible, it failed on the same error. I've validated if the API indeed returns the "Updated" state by using the Azure-CLI tool:
[code]
After some searching it seems that this state is represented as is registered in Azure for the Virtual M

[2021-11-24 20:21] alfador1 commented on #699
Tried in a seperate python env. Doesn't work

[2021-11-24 20:35] rootwarrior opened #700 "Add caching support for Azure dynamic inventory script"
##### SUMMARY

It would be a huge time-saver if inventory caching was implemented for the Azure dynamic inventory plug-in.

In our environment, each ansible command requires an inventory query, and each inventory query takes 35-40 seconds on average.. That's a long time, in computer-speak.

I note a reference in azure_rm.py:

`# FUTURE: add Cacheable support once we have a sane serialization forma

[2021-11-25 01:08] Fred-sun commented on #645
@rotreein Thanks for your sharing, I will investigate again.

[2021-11-25 01:14] Fred-sun commented on #699
@alfador1 Can you help to provide your error message, as well as ansible and pip information? Thank you very much!

[2021-11-25 07:52] alfador1 commented on #644
I tried this but is not working for me

[2021-11-25 07:54] alfador1 commented on #699
[code]

[2021-11-25 08:00] nicolaibaralmueller commented on #644
Create a python virtual environment. Activate the environment and install the requirements. That should work.

[2021-11-25 08:11] alfador1 commented on #644
I just did that but still getting the same error

[2021-11-25 08:12] alfador1 commented on #644
[code]

[2021-11-26 11:25] JSlater743 opened #702 "Keyvault Secret Token Url HardCoded"
##### SUMMARY
https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_keyvaultsecret.py
Line 202, is hardcoded to https://vault.azure.net, and as such does not support other cloud environments, such as AzureUSGovernment where this URL should be: https://vault.usgovcloudapi.net

![image](https://user-images.githubusercontent.com/72266415/143572872-67d77067-5e11-4267-bc08-beb5

[2021-11-26 13:00] nicolaibaralmueller commented on #644
Did you set the python interpreter?

Add below line to ansible.cfg.

`interpreter_python = /home/username/python/ansible3.0/bin/python`

[2021-11-27 17:25] l3ender commented on #699
I created a fresh virtual environment to see if I could recreate the issue, but everything is working as expected.

Here are the steps I did along with the output, in case it is helpful.

1. Create virtual environment:

[code]

1. Install Ansible:

[code]

1. Install Azure collection:

[code]

1. Install collection dependencies:

[code]

1. List collections:

[code]

1. List installed pip version:

[2021-11-29 02:34] Fred-sun commented on #699
@alfador1 Why are you using pip in python3? Can you try pip3 Install? Thank you very much!!

[2021-11-29 06:11] Fred-sun commented on #699
@alfador1 I can copy it on my side, if the installation is inconsistent (ansible uses python3, relies on python2), it will cause this error. Or you can rebuild the environment and install it in python3 mode. Thank you very much!

[2021-11-29 14:12] ammygill commented on #638
hey @l3ender

--zones 1 2 3

Basically, the below parameter helps to add the application in the multiple zones for which I don't see any parameter in the modules that can do it . Let me know If I am missing something here?

[2021-11-30 03:03] Fred-sun commented on #702
@JSlater743 Thank you for submitting this question. Is this hard coding really inappropriate? I'll look into the cause. Thank you very much!

[2021-11-30 03:12] Fred-sun commented on #700
@rootwarrior Thank you for reporting this discovery. This should be the goal of future work, increase caching mechanism, optimize time. Thank you very much!

[2021-11-30 09:16] JSlater743 commented on #702
Thanks @Fred-sun, It looks like the code is already aware of the cloud environment on the line above (201), so it shouldn't be difficult to introduce a switch to set the correct URL for the environment.

[2021-11-30 10:02] Fred-sun commented on #691
@DII-dsward Thank you for submitting this question, this module does not handle idempotent very well. We will complete the optimization as soon as possible. Thank you very much!

[2021-11-30 10:02] Fred-sun commented on #690
@DII-dsward Thank you for submitting this question, this module does not handle idempotent very well. We will complete the optimization as soon as possible. Thank you very much!

[2021-12-02 20:01] wmudge commented on #688
related to https://github.com/Azure/azure-cli/pull/19853

Thx @asos-philc -- I went with option 3 and it worked just fine.

[2021-12-02 21:30] scottharwell commented on #477
@Ramblurr I'd recommend using the CLI on your host machine and using an Ansible execution environment with the Azure collection to isolate the two.  Or, you could containerize both to keep them isolated and prevent dependency intersection.  Use `ansible-navigator` to run your playbooks in a modern AAP 2+ way.

[code]

[2021-12-03 01:17] davidgarvey commented on #601
az vm image show --location canadacentral --urn MicrosoftWindowsServer:WindowsServer:2016-Datacenter:latest |python -c 'import json,sys;obj=json.load(sys.stdin);print obj["name"];'

[2021-12-03 13:45] howardjones opened #703 "Feature Proposal: Eventgrid Subscriptions"
##### SUMMARY

(I'm partway through writing this - this is the pre-PR Issue as requested in your docs, and also a query)

azure_rm_eventgridsubscription module to allow for the management of Event subscriptions on various Azure objects that support them.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_eventgridsubscription

##### ADDITIONAL INFORMATION

Eventgrid subscriptions all

[2021-12-03 13:48] howardjones commented on #703
The query that goes with this: I have written a test playbook, but you can't actually create a webhook event subscription without an active web application running - Azure calls out to the webhook and expects a correct response, not just 200, from the far end. What should I do to make a test that works? It wouldn't be so hard to make a really small container that answers these requests, but where

[2021-12-08 03:29] #602 closed, assigned to nobody

[2021-12-08 05:37] #470 closed, assigned to nobody

[2021-12-10 16:19] maksymiliev opened #707 "Feature Proposal: Local Direct Upload of Azure Managed Disks"
##### SUMMARY

Azure has introduced an ability to upload VHD from host's local storage to a managed disk instead of pulling VHD from Azure Storage Blob URI. It would be great to introduce this ability to the module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure.azcollection.azure_rm_manageddisk
##### ADDITIONAL INFORMATION

Currently, Direct Upload of VHD is only available using Az

[2021-12-10 18:45] joshlrogers commented on #152
Is there any update on this? This would be tremendously helpful for deploying to multiple environments which we segregate by resource groups.

[2021-12-10 21:52] 55octet commented on #702
This problem also exists in the azure_rm_keyvaultsecret_info module as well.

In the azure_rm_keyvaultsecret_info file, the exception gets squashed and returns an empty list as well.

[code]

https://github.com/ansible-collections/azure/blob/45259c47f11ac78e334047cc3bb011904906e827/plugins/modules/azure_rm_keyvaultsecret_info.py#L294

[2021-12-14 01:35] l3ender opened #708 "`azure_rm_cosmosdbaccount_info` does not filter by `resource_group`"
##### SUMMARY

The `azure_rm_cosmosdbaccount_info` module does not filter by `resource_group`. Instead, all db accounts for the subscription are returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_cosmosdbaccount_info

##### STEPS TO REPRODUCE
These tasks will return the same result (all of the db accounts in the subscription):
[code]

##### EXPECTED RESULTS
If a `resource_grou

[2021-12-15 23:52] Geogboe commented on #569
@Fred-sun any chance this can be opened back up? The issue still persists.

Per ansible docs: https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html#module-defaults-groups since v2.7 there should be an action group called 'azure' which allows you to specify parameters for all the azure modules. I guess when the azure collection was moved out of ansible core this configur

[2021-12-16 08:40] nightguide opened #710 "Add the ability to use `private_dns_hostnames` in plugin `azure_rm`"
##### SUMMARY
Add the ability to use `private_dns_hostnames` in plugin `azure_rm`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`azure_rm`

##### ADDITIONAL INFORMATION

I have hostnames on VM in my AKS cluster:

[code]

but in ansible inventory (using `azure_rm` plugin) i getting list hosts with inventory_hostname:

[code]

I tried use parameter `plain_host_names: yes` in myazure_rm.yml,

[2021-12-16 13:12] nightguide commented on #710
i found solution

Upgrading azure_rm plugin to version 1.4.0

and using section hostnames with computer_name

[code]

result:
ok: [aks-ingress-10946177-vmss000000]
ok: [aks-ingress-10946177-vmss000001]
ok: [aks-main-10946177-vmss000001]
ok: [aks-main-10946177-vmss00001J]
ok: [aks-main-10946177-vmss000000]
ok: [aks-main-10946177-vmss00001W]

[2021-12-16 13:12] #710 closed, assigned to nobody

[2021-12-17 11:59] Fred-sun commented on #335
#651 has fixed

[2021-12-17 11:59] #335 closed, assigned to nobody

[2021-12-17 12:00] Fred-sun commented on #298
#651 has fixed

[2021-12-17 12:00] #298 closed, assigned to nobody

[2021-12-17 12:00] Fred-sun commented on #435
#651 has fixed

[2021-12-17 12:00] #435 closed, assigned to nobody

[2021-12-20 07:19] #708 closed, assigned to nobody

[2021-12-20 09:05] razvanpaul-mielcioiu opened #711 "Module azure_rm_publicipaddress crashes when ip_tags parameter is set"
##### SUMMARY

Module azure_rm_publicipaddress crashes when ip_tags parameter is set by throwing AttributeError: 'dict' object has no attribute 'type'.
This works if I don't set ip_tags.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_publicipaddress

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

localhost conne

[2021-12-20 14:35] kingsleyadam opened #712 "Inventory Plugin ignores ANSIBLE_AZURE_AUTH_SOURCE, AZURE_CLIENT_ID env variables"
##### SUMMARY

When setting the environment variable `ANSIBLE_AZURE_AUTH_SOURCE` the inventory plugin ignores the setting and reverts to using the `auto` auth source which if nothing else is set, reverts to `cli`.

Also, when setting `auth_source: msi` we should also be able to set the `AZURE_CLIENT_ID` environment variable to tell the auth mechanism which user assigned identity to use (if multipl

[2021-12-21 05:54] #262 closed, assigned to nobody

[2021-12-22 15:55] arahja opened #714 "Feature Proposal: Add support for PostgreSQL flexible servers"
##### SUMMARY
Add Azure Database for PostgreSQL flexible servers support

##### ISSUE TYPE
- Currently azure.azcollection.azure_rm_postgresqlserver_info and the other "azure_rm_postgresql" prefixed modules do not list or see the postgresql flexible servers.
- Can support be added to the existing modules for postgresql flexible servers or add new modules to support these servers?
- [Azure Database

[2021-12-24 09:05] #529 closed, assigned to nobody

[2021-12-27 14:46] dj-wasabi opened #715 "ModuleNotFoundError: No module named 'azure.mgmt.monitor.version'"
##### SUMMARY

Get an error when I do something with any of the Ansible modules, this is since a few days.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_resourcegroup
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RedHat/Ubuntu

##### STEPS TO REPRODUCE

Followed: https://docs.microsoft.com/en-us/azure/develope

[2021-12-27 15:02] dj-wasabi commented on #715
The https://github.com/ansible-collections/azure/blob/dev/requirements-azure.txt file seems to be changed in the last 3 days. An other playbook is failing since 3 days ago, with same error.

[2021-12-28 00:14] l3ender commented on #715
I believe the issue is due to installing requirements directly from Github vs the requirements for the collection version being used. As you noticed, the `dev` branch's requirements were updated, but there has not yet been a release to Galaxy. When using the requirements from Github, this can result in a mismatch between what the module(s) from the collection expect, versus what is installed from

[2021-12-28 03:12] wenesak commented on #715
Same here this update broke my pipelines, I was downloading the requirements-azure.txt from 'https://raw.githubusercontent.com/ansible-collections/azure/dev/requirements-azure.txt' will try the sugestion from l3ender

[2021-12-29 01:12] l3ender commented on #715
I've submitted PRs to update the documentation in this repo and on Microsoft's site. If there are any other locations, please let me know and I'd be happy to help update so people are clear on the usage.

Thanks!

[2021-12-29 08:24] rloza08 opened #717 "Error creating or updating private endpoint - Operation returned an invalid status code 'Forbidden'"
##### SUMMARY
Encountered an error when creating Private Endpoint.

##### ISSUE TYPE
- Bug Report
[code]

##### COMPONENT NAME
azure_rm_privateendpoint

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

RedHat/Ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Private Endpoint is created.

##### ACTUAL RESULTS

[code]

[2021-12-29 14:43] sagarlutade commented on #638
Hey @l3ender

Can you let us know if there is any workaround to manage multiple zones or if you need any more information?
Since we don't see a way to use azure_rm_appgateway_module.

[2022-01-05 13:45] adthorn commented on #717
Agreed. We need a resolution. We need updated module that supports sub resources (Such as a Keyvault "Vault" sub resource. The documentation is real shallow for examples.

[2022-01-06 15:29] DII-dsward opened #721 "Feature Request: Allow tagging of virtual machines without power operations being required"
##### SUMMARY
azure_rm_virtualmachine has a default parameter started: true. We have many dozens of machines we need to tag whether the VM is powered on or not. As of not, if we attempt to tag a powered off VM with azure_rm_virtualmachine, ansible will power the VM on which is causing us headaches. I'm attempting to work around the issue by switching to powershell or azure cli.

##### ISSUE TYPE
-

[2022-01-06 16:58] l3ender commented on #636
@Fred-sun Could you provide a little more detail on your findings? We are facing this issue as well and I am willing to work on a PR, but I'm struggling to understand why simply retrieving NSGs fails for this scenario.

Thank you!

[2022-01-06 21:25] JSlater743 commented on #702
Same problem exists in : azure_rm_keyvaultkey.py

[2022-01-07 06:58] #715 closed, assigned to nobody

[2022-01-07 08:56] #521 closed, assigned to nobody

[2022-01-07 10:29] Emmanuel35 opened #722 "Integrate Microsoft API Managements modules"
##### SUMMARY
Microsoft as writen modules for API Management in labs.
It is possible to integrate them ?

##### ISSUE TYPE
- Add API Management modules

##### COMPONENT NAME
components: apimanagement

##### ADDITIONAL INFORMATION
Modules are in projet [microsoft/AnsibleLabs/lab-08-apimanagement/modules](https://github.com/microsoft/AnsibleLabs/tree/master/lab-08-api-management/modules)

Exemples i

[2022-01-07 17:20] adthorn opened #723 "Feature Request: azure_rm_keyvault RBAC"
##### SUMMARY
Enable RBAC for Key vaults

##### ISSUE TYPE
enable_rbac_authorization: true/false since it's in terraform and ARM/Bicep

##### COMPONENT NAME
azure_rm_keyvault

##### ADDITIONAL INFORMATION
    - name: Create instance of Key Vault
      azure_rm_keyvault:
        resource_group: "{{azr_rg_name}}"
        vault_name: "{{azr_kv_name}}"
        enable_soft_delete: true
        enabled_

[2022-01-10 04:01] #502 closed, assigned to nobody

[2022-01-10 16:05] it-kombinat opened #724 "azure_rm_functionapp "Operation returned an invalid status code 'Bad Request'""
##### SUMMARY
When executing the module, an error message appears without any further information. When executing the same parameters with the az cli, the creation works, also the deletion afterwards with Ansible works.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_functionapp

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

#####

[2022-01-10 19:51] adthorn opened #725 "Azure RM Private Endpoint"
##### SUMMARY
Private Endpoints fail to provision

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_privateendpoint

##### ANSIBLE VERSION
Ansible 2.9.27

##### COLLECTION VERSION
1.10.0

##### OS / ENVIRONMENT
RHEL 7.6 / Azure Cloudshell

##### STEPS TO REPRODUCE
    - name: Create private endpoint
      azure_rm_privateendpoint:
        name: "pve-vault-{{kv_instan

[2022-01-10 20:23] l3ender commented on #636
I've opened https://github.com/ansible-collections/azure/pull/726 to resolve the issue. I am able to verify the change in our environment: an NSG with flow logs can be retrieved without the error.

The change aligns the output of `azure_rm_securitygroup_info` to match that of `azure_rm_securitygroup`. The issue was occurring after the NSG had been loaded from the server and Ansible is trying to co

[2022-01-11 12:38] #699 closed, assigned to nobody

[2022-01-11 12:38] #669 closed, assigned to nobody

[2022-01-11 12:39] #658 closed, assigned to nobody

[2022-01-12 06:32] #636 closed, assigned to nobody

[2022-01-12 06:47] Fred-sun commented on #725
@adthorn This module does not support the "private_dns_zone_configs" parameter. Can you use the following test case to try again? Thank you very much!
[code]

[2022-01-12 09:21] Fred-sun commented on #724
@it-kombinat There is no problem in my local test. According to the log, it is the parameter problem of your request. Could you please redefine the name and try again? Thank you very much!
[code]

[2022-01-12 13:10] adthorn commented on #725
vars:
    azr_subid: "xxxxxx-xxxx-xxxx-xxxx-xxx"
    azr_subid_net: "xxxxxx-xxxx-xxxx-xxxx-xxx"
    azr_aad_tenant_id: "xxxxxx-xxxx-xxxx-xxxx-xxx"
    azr_kv_sku: "standard"
    kv_instance: "004"
    pve_kv_instance: "001"
    rg_instance: "001"
    vnet_instance: "001"
    snet_sec_instance: "001"
    azr_vnet_hub_name: "vnet-net-hub-prd-east-001"
    Description: ""
    subscode: exe
    appcod

[2022-01-12 14:14] adthorn commented on #725
`fatal: [localhost]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "ad_user": null,
            "adfs_authority_url": null,
            "api_profile": "latest",
            "append_tags": true,
            "auth_source": "auto",
            "cert_validation_mode": null,
            "client_id": null,
            "cloud_environment": "AzureCloud",

[2022-01-12 14:18] adthorn commented on #725
fatal: [localhost]: FAILED! => { "changed": false, "invocation": { "module_args": { "ad_user": null, "adfs_authority_url": null, "api_profile": "latest", "append_tags": true, "auth_source": "auto", "cert_validation_mode": null, "client_id": null, "cloud_environment": "AzureCloud", "location": null, "log_mode": null, "log_path": null, "name": "pve-kv-exe-rxc-tst-east-004-vault-004", "password": nul

[2022-01-12 14:19] adthorn commented on #725
[code]

As follows, I still receive the same error. Operation received bad input. You may want to remove that dns function from the private endpoint documentation too. I also tried to added the private endpoint DNS module but it seems as thought it's not part of the major release of ansible azcollection 1.10.0.

    - name: Create zone group for private endpoint
      azure_rm_privateendpointdnszo

[2022-01-12 16:34] it-kombinat commented on #724
@Fred-sun: We have found out that it only works with lowercase letters as function name.
(e.g.: myapp instead of Myapp)

[2022-01-12 16:34] #724 closed, assigned to nobody

[2022-01-13 14:05] Fred-sun commented on #725
@adthorn Ok, I will check again. Could you please provide a complete error log? Thank you very much!

[2022-01-13 14:37] adthorn commented on #725
`[DEPRECATION WARNING]: Ansible will require Python 3.8 or newer on the controller starting with Ansible 2.12. Current version: 3.7.3 (default, Jul 25 2020, 13:03:44) [GCC 8.3.0]. This feature will be removed from ansible-core in version
 2.12. Deprecation warnings can be disabled by setting deprecation_warnings=False in ansible.cfg.
ansible-playbook [core 2.11.7]
  config file = None
  configured

[2022-01-18 12:53] khusseini opened #731 "[azure_rm_aks]: Error creating the AKS instance, must define at least one system pool."
##### SUMMARY
Error encountered when trying to create a cluster using `azure_rm_aks`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_aks

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Alpine Container with following `Dockerfile`:
[code]
hosted on

[code]

##### STEPS TO REPRODUCE

Reproduction using docker image:

[2022-01-18 14:05] #731 closed, assigned to nobody

[2022-01-18 14:06] khusseini commented on #731
Sorry I found the source of the problem and it was unrelated to this module.

[2022-01-18 16:29] adthorn commented on #725
@Fred-sun - Any update on this?

[2022-01-21 09:09] WoodooTek opened #732 "Inventory plug-in reports wrong network interface configuration"
##### SUMMARY
azure_rm inventory plug-in is not reporting the correct virtual machine network configuration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Inventory plug-in azure_rm.py

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="U

[2022-01-21 12:33] AnishJS commented on #134
Any luck with having a look at this @Fred-sun ?

[2022-01-21 21:24] adthorn commented on #725
I know you all are working on this via Redhat and Microsoft, but it looks like the Python Modules (network mgmt) are old that are used for this. Looks like you guys need to update to 06-01-2020 build. The Network Module that's being used is like 2019. Not sure how active these modules are. I know some stuff is updated but I feel like using old Python Azure modules is fleeting sometimes.

[2022-01-24 13:43] Fred-sun commented on #717
@rloza08 Thank you for submitting this issue, but I have tested it locally and have been unable to replicate the problem you encountered? Could you please help provide your test environment? Thank you very much?

[code]

[2022-01-24 13:47] adthorn commented on #717
RHEL 7.8, Ansible Tower 3.8.4 and Ansible 2.11.5, azcollection 1.11.0. We've updated to a brand new Python 3 virtual environment.

[2022-01-24 13:50] adthorn commented on #717
Not for nothing, we're not connecting to a custom private link service, we're connecting to each one of these azure services private link service.

So you create a key vault or a storage account, we're connecting to that service via a private endpoint.

[2022-01-24 13:59] Fred-sun commented on #725
@adthorn Thank you for submitting this issue, but I have tested it locally and have been unable to replicate the problem you encountered? Could you please help provide your test environment? Thank you very much！
[code]

[2022-01-24 14:00] adthorn commented on #725
I posted it in the other one, is there a way to get on a meeting with you this AM? I've got a Redhat ticket and a Microsoft ticket open trying to resolve this.

[2022-01-24 14:02] Fred-sun commented on #725
@adthorn How can I contact you? Teams or Email?

[2022-01-24 14:04] adthorn commented on #725
What's your email? I'll send you an email with a Teams meeting invite.

[2022-01-24 14:10] Fred-sun commented on #725
@adthorn Yes, I sent you teams messages. We can communicate and discuss in this way. Thank you very much!

[2022-01-24 14:11] adthorn commented on #725
My organization does not support teams messages from external orgs, can you please email me.

[2022-01-24 14:12] Fred-sun commented on #725
Ok, so how do we talk about it? By mail?

[2022-01-24 14:13] adthorn commented on #725
Yes, by email. Do you have my email? I'd rather not post it in a public forum.

[2022-01-24 14:16] Fred-sun commented on #725
Yeah, I have sent a message to you!

[2022-01-24 14:19] adthorn commented on #725
I have not received an email. My email is adam.thorn@excellus.com

[2022-01-24 14:22] adthorn commented on #725
I deleted the message hopefully, you received a copy of it in your email.

[2022-01-24 14:24] Fred-sun commented on #725
Ok, I have sent a message to you!

[2022-01-24 16:10] Fred-sun commented on #725
@adthorn I have copied the problem you encountered and are debugging to solve it. Thank you very much!

[2022-01-24 16:57] Fred-sun commented on #725
@adthorn Could you please help confirm whether your virtual network is enabled "network policies"?  If the "network Policy" is enabled, you will get error code as "bad request" . You can update the subnet to disabled it by doing the following. Thank you very much!
[code]

[2022-01-24 17:26] adthorn commented on #725
Network policies are turned off. There's another private endpoint in that subnet. I verified that the policies are turned off though.

[2022-01-24 17:57] adthorn commented on #725
![image](https://user-images.githubusercontent.com/51236046/150837949-8be7971d-11e3-4cd2-82a2-03846619c677.png)

[2022-01-24 18:00] Fred-sun commented on #725
@adthorn Can you recreate a subnet and test it out? Thank you very much!

[2022-01-24 18:11] adthorn commented on #725
Created a new subnet, disabled those policies, and ran the automation again with the updated subnet info. No change, just bad request.

[2022-01-24 18:47] adthorn commented on #725
I was able to get it once I figured out that the documentation is very poorly written for the Ansible Azure modules.

All Variables require DOUBLE quotes. The use of a single quote is not possible. I replaced all of my single quotes with doubles and verified all my variables were quoted on both sides I was able to create the private endpoint. I now have issues with the DNS Zone Group now.

I'm ass

[2022-01-24 18:55] adthorn commented on #725
Instance: "{{pve_kv_instance}}"
            ResourceType: "pve"
      debugger: on_failed
      register: pve_output
      when: azr_kv_name is defined

    - name: Create zone group for private endpoint
      azure_rm_privateendpointdnszonegroup:
        name: "{{azr_pve_name}}/default"
        private_endpoint: "{{pve_output.state.id}}"
        resource_group: "rg-xx-xx-xx-xx-001"
        subscr

[2022-01-24 19:37] adthorn commented on #725
@l3ender - Is there a way to call a remote private DNS zone and configure it there? We're in a landing zone configuration with our subscriptions, with centralized private dns zones for these private endpoints. I see private_dns_zone_id being called out in your python module.

Something like this:
![image](https://user-images.githubusercontent.com/51236046/150852812-60294c86-4428-411e-941a-eaa34853

[2022-01-24 21:21] adthorn opened #734 "azure_rm_privateendpointdnszonegroup - Private DNS Zone in different subscription"
@l3ender - Is there a way to call a remote private DNS zone and configure it there? We're in a landing zone configuration with our subscriptions, with centralized private dns zones for these private endpoints. I see private_dns_zone_id being called out in your python module. Allow the use of private_dns_zone_id so we can specify a different subscription for the DNS zone.

Something like this:
![im

[2022-01-24 21:27] adthorn commented on #725
Examples need to provide that you need to use "" for every line of your code in Ansible. This does NOT follow normal ansible code. If I remove quotes, it requires them.

[2022-01-24 21:27] #725 closed, assigned to nobody

[2022-01-25 03:53] Fred-sun commented on #734
@adthorn I added "private_dns_zone_id" to another pull request. Can you try it -- #735 ? Does it meet your needs? Thank you very much!

[2022-01-25 04:08] Fred-sun commented on #717
@adthorn Would you please provide the whole execution process and playbook, It will helpfull to resolve the problem! Thank you very much!

[2022-01-25 12:41] adthorn commented on #734
Yep, it looks correct.

[2022-01-25 13:18] adthorn opened #737 "Feature Request: Virtual Wan Network Connection (vHub Network Connection)"
##### SUMMARY
Create module to allow Virtual WAN Network Connections to the Virtual WAN Hub.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_virtualwan_connection

##### ADDITIONAL INFORMATION

Here's how to do it in Powershell
Select-AzSubscription -SubscriptionId "{{azr_remote_subid}}"
$remote = Get-AzVirtualNetwork -Name "{{azr_remote_vnet_name}}" -ResourceGroupName "{{azr_remot

[2022-01-25 13:49] adthorn commented on #723
@Fred-sun - Any way we can get this option added to the module?

[2022-01-25 13:56] Fred-sun commented on #723
@adthorn I will check and complete the addition as soon as possible. Thank you very much!

[2022-01-25 20:54] verhyppo opened #738 "Cannot update Public IP with SKU different than basic"
##### SUMMARY

What I'm trying to do:
1. Create AKS cluster with `network_profile.load_balancer_sku = standard`
2. install ingress nginx via helm on that AKS to automatically provision a load balancer
3. set back the `domain_name` for the IP address just generated.
It seems to me that the `sku` parameter as declared [here](https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azur

[2022-01-25 22:07] verhyppo commented on #738
it seems to me that I was right by saying that now the API requests requests a `sku` field when updating the resource that need to match the actual value already present in the PIP.
In fact, when the pip is updated, the `sku` does not get populated and by momentarily patching the library manually, it seems to work:
https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_publ

[2022-01-25 23:46] desand01 opened #739 "Contribution"
##### SUMMARY
Hi, for my work, I had to create and modify some modules.  It may be useful for some one else.
If so, I like to know what should I do next?

Thanks

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_appgateway_host
azure_rm_appgateway_info
azure_rm_storagefile
azure_rm_storagefile_info
azure_rm_sqlmanaged
azure_rm_sqlmanaged_info
azure_rm_containerinstance

##### ADDITIO

[2022-01-26 08:17] Andersson007 opened #740 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-26 09:41] Andersson007 opened #741 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-26 13:38] ammygill commented on #638
the zone parameters is not related to the frontend IP. they need to create an object application gateway with the zone

The azure documentation is here
https://docs.microsoft.com/it-it/cli/azure/network/application-gateway?view=azure-cli-latest

https://docs.microsoft.com/it-it/cli/azure/network/application-gateway?view=azure-cli-latest

az network application-gateway create --name --OTHERPARAMETE

[2022-01-26 13:39] adthorn commented on #717
This can be resolved by quoting all of your resources @rloza08 .

    - name: Create private endpoint for Keyvault
      azure_rm_privateendpoint:
        name: "{{azr_pve_name}}"
        subscription_id: "{{azr_subid}}"
        tenant: "{{tenant}}"
        secret: "{{secret}}"
        client_id: "{{client_id}}"
        resource_group: "{{azr_rg_name}}"
        subnet:
          id: "/subscription

[2022-01-26 16:59] howardjones opened #742 "ansible-builder: ModuleNotFoundError: No module named 'azure.mgmt.monitor.version'"
##### SUMMARY
I am building a custom AWX Execution Environment using ansible-builder, with azure.azcollection as one of the collection dependencies. Build completes OK, but when I try to use this EE inside awx, I get this error:

[code]

I have seen #715 which talks about the order of installation between the collection and its dependencies, but (as far as I know) I don't have control of that with

[2022-01-26 17:32] tfmark opened #743 "azure_rm_loadbalancer does not expose disable_outbound_snat option (LoadBalancingRuleMustDisableSNATSinceSameFrontendIPConfigurationIsReferencedByOutboundRule)"
##### SUMMARY
I would like to be able to configure `disable_outbound_snat` (maps to `disableOutboundSNAT`) when setting up Load Balancer rules via `azure_rm_loadbalancer` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`azure_rm_loadbalancer`

##### ADDITIONAL INFORMATION

Currently I get the following error when trying to add a new loadbalancing rule:

[code]

Telling me that I **m

[2022-01-26 18:08] tfmark commented on #112
Is anyone looking into this issue? The other Azure Ansible modules I've used are additive and only upsert data if the key (e.g. name) is the same (for example the NSG rules)...

That said, the following playbook works around the issue by creating the list of loadbalancer rules first (via `set_fact` + `loop`) and then feeds this into `azure_rm_loadbalancer`. @hdiass I guess you found your own worka

[2022-01-27 19:10] adthorn commented on #742
When trying to create a resource group, I too get
"{
    "exception": "Traceback (most recent call last):\n  File \"/tmp/ansible_azure_rm_resourcegroup_payload_jum2815e/ansible_azure_rm_resourcegroup_payload.zip/ansible_collections/azure/azcollection/plugins/module_utils/azure_rm_common.py\", line 235, in <module>\n    from azure.mgmt.monitor.version import VERSION as monitor_client_version\nModul

[2022-01-28 14:41] adthorn commented on #742
So I was able to go into my virtual Python environment. Rename azcollection, git clone the current repo, chmod 755 it and then run my jobs and they work properly. Basically Galaxy wasn't correctly updating the collection. So I had the latest Python modules for Azure and the ansible module was the other version.

[2022-01-28 14:43] adthorn commented on #742
###Azure venv
cd /your/path/to/python/venv/lib/python3.6/site-packages/ansible_collections/azure/
sudo mv azcollection azcollection.old
sudo git clone https://github.com/ansible-collections/azure.git azcollection
sudo chmod -Rf 755 azcollection
source /your/path/to/python/venv/bin/activate
umask 0022
pip3 install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --trusted-host=pypi.pyt

[2022-01-31 16:14] jaydestro commented on #715
using the latest requirements.txt seems to have corrected my issues using default python version with the required modules

[2022-02-01 01:04] karishma-kohli opened #748 "azure_rm_virtualmachine_info fails to get VM, gives the error APIVersion 2019-07-01 is not available"
My ansible version is:

ansible [core 2.12.1]
  config file = None
  configured module search path = ['/Users/karishmakohli/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/homebrew/Cellar/ansible/5.2.0/libexec/lib/python3.10/site-packages/ansible
  ansible collection location = /Users/karishmakohli/.ansible/collections:/usr/share/ansible/col

[2022-02-01 13:37] adthorn commented on #748
Are you doing this in a virtual environment? Make sure you have the correct python versions for the version. If you installed the DEV version of the requirements.txt, then you will need the DEV versions of these modules.

There's a requirements file installed from galaxy for 1.11.0: ansible collection location = /Users/karishmakohli/.ansible/collections:/usr/share/ansible/collections - Most likely

[2022-02-01 17:43] adthorn commented on #734
Looks like there's an issue with this.

"msg": "Error creating or updating DNS zone group privatelink_vaultcore_azure_net for private endpoint pve-xx-xx-xx-xx-xxxx-004-vault-004: Azure Error: InvalidPrivateDnsZoneIds\nMessage: Private Dns Zone group /subscriptions/xxx/resourceGroups/rg-xxx/providers/Microsoft.Network/privateEndpoints/pve-xxx-xx-xx-x-xx-004-vault-004/privateDnsZoneGroups/privatelin

[2022-02-01 18:40] adthorn commented on #380
@Fred-sun Any updates on this?

[2022-02-02 12:03] Vitals9367 opened #749 "azure_rm_mysqldatabase and azure_rm_postgresqldatabase collation and charset not working."
##### SUMMARY

Ansible does not set collation and charset in Azure. Azure just uses default database server options.

Ansible playbook config:

  azure.azcollection.azure_rm_mysqldatabase:
    resource_group: "{{ resource_group }}"
    server_name: "{{ mysql_name }}"
    name: "{{ servicedb_name }}"
    collation: utf8_swedish_ci
    charset: utf8

  azure.azcollection.azure_rm_postgresqldatabase:

[2022-02-02 14:45] Lunik opened #750 "Handling new SDK version import"
##### SUMMARY

All of the Azure python SDK libraries have a breaking change on importing version. For example :
[code]

They all have the same breaking change :

https://github.com/Azure/azure-sdk-for-python/search?q=You+can%27t+import+a+version+module+anymore%2C+use+__version__+instead

We should addresse this new behaviour in [azure_rm_common.py](https://github.com/ansible-collections/azure/blob

[2022-02-02 20:48] verhyppo commented on #310
Hello @Fred-sun
there is any news on this topic?

The alternative we have is to use az cli directly from ansible with a shell or command but this is kinda weird 😞

[2022-02-03 10:04] dj-wasabi commented on #715
Thanks!

[2022-02-04 22:15] #739 closed, assigned to nobody

[2022-02-06 13:16] testlaben opened #753 "azure_rm_subscription_info uses deprecated time.clock() call"
##### SUMMARY

While using ansible and azure, running the module `azure_rm_subscription_info` from collection `azure.azcollection` returns an error.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_subscription_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL Ubuntu 20.04

##### STEPS TO REPRODUCE

[2022-02-06 13:18] testlaben commented on #753
https://bugs.python.org/issue36895

[2022-02-07 07:45] #473 closed, assigned to nobody

[2022-02-07 13:12] adthorn commented on #723
@Fred-sun  - Thank you

[2022-02-07 13:57] RussTech commented on #702
it also exists in azure_rm_keyvaultsecret.  As JSlater said above, the module knows which cloud environment.  The Keyvault API endpoints do not use the ARM endpoints, and are also different for each cloud environment (AzureCloud, AzureUSGovernment, etc).

[2022-02-08 21:55] zchef2k opened #756 "Feature Request: Manage Certificates in Key Vaults"
##### SUMMARY
Create, update, delete certificates in Key Vaults like for keys and secrets

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm_keyvault*

##### ADDITIONAL INFORMATION
It would be helpful to manipulate all object types in key vaults- keys, secrets, *and* certificates- particularly the creation of certificates and regular update/rotation of them supporti

[2022-02-09 17:01] ghost commented on #88
Are there still plans to merge this? Unfortunatley the module is of no use in template files, where we have multiple secrets to lookup and template out to VMs.

[2022-02-09 18:40] gowenrw opened #757 "Managed Identity auth_source: msi no longer works with collection 1.11, returns KeyError: 'credential'"
##### SUMMARY
In azure.azcollection version 1.10 managed identity auth_source: msi on tasks worked without errors.
Starting with azure.azcollection version 1.11 we get a traceback error on the file azure_rm_common.py with KeyError: 'credential'
This error happens when calling any of the modules in the collection.
Looking at the code for azure_rm_common.py three things are apparent
1) the credentia

[2022-02-10 18:59] piotr-gbyliczek opened #758 "Allow to associate Load Balancer NAT rules to NIC"
##### SUMMARY

Support for associating Load Balancer NAT inbound rules to the network interface

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_networkinterface

##### ADDITIONAL INFORMATION

When creating virtual machines behind load balancer, it is possible to create NAT rules that forward ports to individual VMs (for example port 22201 to port 22 of vm1, port 22202 to port 22 o

[2022-02-10 21:33] paulczar opened #759 "azure_rm_adserviceprincipal_info returns a empty list"
##### SUMMARY

I'm trying to do the equivalent of this `az ad sp list --filter "displayname eq 'Azure Red Hat OpenShift RP'" --query "[?appDisplayName=='Azure Red Hat OpenShift RP'].{objectId: objectId}" -o tsv`.

however when I run the following I get an empty list .. which means I can't use a jmesquery or similar to find the correct service principal.
[code]

[2022-02-13 22:53] sirkubax commented on #688
pip install azure-cli-core==2.30
sudo apt-get install azure-cli=2.30.0-1~focal

[2022-02-14 03:16] #738 closed, assigned to nobody

[2022-02-14 06:34] Fred-sun commented on #583
@LHurst-JM Could you please provide a complete Playbook and its implementation process? This goes a long way towards solving the problem! Thank you very much!

[2022-02-14 08:37] #750 closed, assigned to nobody

[2022-02-14 09:14] rvolz commented on #712
The same problem exists with `auth_source: env`. Setting environment variables AZURE_CLIENT_ID, AZURE_SECRET, AZURE_TENANT and AZURE_SUBSCRIPTION_ID leads to warning messages and then reverts to cli auth, as mentioned above.

Tested with ansible 2.12.1 and azcollection 1.10.0

[2022-02-15 05:21] chadgeary commented on #757
For:
[code]
Full verbosity:
[code]

[2022-02-15 10:19] x4FF3 opened #760 "Add MySQL flexible server"
##### SUMMARY
Add flexible as an option for mysql server.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_mysql*

##### ADDITIONAL INFORMATION
As we are switching from standalone to flexible servers, it would be very useful to be able to deploy these servers via ansible.
@Fred-sun

[2022-02-15 14:05] achevalet opened #761 "azure_rm_galleryimageversion error at creation"
##### SUMMARY
Create new image version is working but produces an error message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_galleryimageversion

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Image version is created, no

[2022-02-15 14:11] achevalet opened #762 "azure_rm_galleryimageversion: delete doesn't catch permission issues"
##### SUMMARY
Delete image version fails silently.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_galleryimageversion

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Image version is deleted.

##### ACTUAL RESULTS

Image version **is not deleted and res

[2022-02-15 14:15] achevalet commented on #762
Note that the image version to delete produces [an error at creation](https://github.com/ansible-collections/azure/issues/761), not sure if both issues are linked.

[2022-02-16 21:33] achevalet commented on #762
just realized that it comes from a permission issue...

tested in same environment with az cli:

[code]
result:
[code]
Fixed by adding `Microsoft.Compute/galleries/images/versions/delete` permission.

[2022-02-16 22:24] achevalet commented on #761
It is actually a permission issue (can write but not read...), closing as duplicate of #762

[2022-02-16 22:24] #761 closed, assigned to nobody

[2022-02-18 15:54] a01fe opened #765 "Unable to authenticate with az login"
##### SUMMARY

After authenticating with `az login`, azure modules fail with `Failed to authenticate with provided credentials`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

authentication

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows, WSL2 Ubuntu 20.04

##### STEPS TO REPRODUCE

Run:

[code]

[code]

##### E

[2022-02-18 16:14] johnpetersjr commented on #573
Sorry for attaching to this old issue - can create a new one if desired -- I use AWX to run all my ansible modules, and use an attached credential type of "Microsoft Azure Resource Manager" that has my Service Principal ID/Secret to authenticate with Azure. From reading comments above, it seems I need to set

``` auth_source: cli ```

in my task, which I've never had to do before.  This is now cau

[2022-02-18 17:01] johnpetersjr commented on #765
Have you tried putting this in your main playbook?
[code]
I need to do that in all my azure / azcollection plays...

What auth_source are you trying to use?

[2022-02-18 17:10] pgmgb opened #766 "azure_rm_virtualmachine loads only one image (-> top=1), therefore the "version" option does not work"
https://github.com/ansible-collections/azure/blob/63388fc08b659e05d7e40412ec2a395d0db36197/plugins/modules/azure_rm_virtualmachine.py#L2029

The implementation of `top=1` makes the option `version` obsolete because the executed request returns every time one result.

**Executed request at the moment:**
`https://management.azure.com/subscriptions/{subscription-id}/providers/Microsoft.Compute/locati

[2022-02-18 17:58] a01fe commented on #765
We're using `cli` as the auth source. It works for me, but it fails for new installs with the current version of az cli.

I've tried creating an sp with `az ad sp create-for-rbac`, setting `AZURE_CLIENT_ID`, `AZURE_SECRET`, `AZURE_TENANT` from the json it returns, along with `AZURE_SUBSCRIPTION_ID` and `AZURE_CLOUD_ENVIRONMENT`.

That gets a different error:

[code]

The subscription in the error

[2022-02-21 13:40] seizste commented on #437
Hello @Fred-sun,

it looks like this is possible with Terraform using [dev_test_global_vm_shutdown_schedule](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/dev_test_global_vm_shutdown_schedule), which made me believe that there's a way to do this through the api although not really documented.

Looking at their Source Code led me to this [line of code](https://gith

[2022-02-21 15:50] NeckBeardPrince commented on #757
BUMP

[2022-02-21 17:35] gowenrw commented on #757
Bump for visibility.  MI's not working is a big issue.  Seems to be an easy fix.  Hopefully this will get some traction soon.

[2022-02-22 12:33] Fred-sun commented on #766
@pgmgb Thank you for your questions. We will check and promote the merger of relevant PR as soon as possible. Thank you very much!

[2022-02-22 12:38] Fred-sun commented on #765
@a01fe Did you check to see if your sub was correct? You can try "az login" and "az account set -s "subscription_id". Thank you very much!

[2022-02-22 12:44] Fred-sun commented on #762
@achevalet Thank you for submitting this question? Could you please provide a complete Playbook and the implementation results? This will go a long way towards solving the problem. Thank you very much!
[code]

[2022-02-22 12:47] Fred-sun commented on #760
@x4FF3 Thank you for submitting this question, it is a very useful feature, we will review it as soon as possible. Thank you very much!

[2022-02-22 13:00] nuclear0wl opened #768 "Impossible to add authorized_ip_ranges if it's not already set in existing AKS cluster"
##### SUMMARY

Attempt to set `authorized_ip_ranges` for cluster where ranges weren't set before fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module **azure_rm_aks** in **azure.azcollection** >= 1.11.0

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### STEPS TO REPRODUCE

1. Create AKS Cluster with Authorized IP Ranges disabled
2. In module define some value for

[2022-02-22 13:12] Fred-sun commented on #759
@paulczar In this module, if you want to obtain AD SP information, at least one app_id or object_id should be configured. Can you try it on? Thank you very much!
[code]

[2022-02-22 13:23] Fred-sun commented on #768
@nuclear0wl Thank you for submitting this question, I will check whether "authorized_ip_ranges" can be set for the existing cluster, thank you!

[2022-02-22 15:46] a01fe commented on #765
After doing `az account set -s <my-sub-id>`, now I get a traceback:

[code]

Thanks for your help!

[2022-02-23 01:46] Fred-sun commented on #765
@a01fe This should be your account problem, can not get access permission, you can refer to the following two links to try! Thank you very much!
[code]

[2022-02-23 16:21] a01fe commented on #765
Are you saying that az cli authentication will no longer be supported?

I can `az login` on my mac and successfully run `test_playbook.yaml`, as can all my teammates except for a new team member using a new az cli install.

If I copy `~/.azure/accessTokens.json` from my mac to a workstation where the playbook is failing, then the playbook works.

[2022-02-23 20:24] verhyppo commented on #768
Hi @Fred-sun it is possible during the whole lifetime of the AKS instance both via az cli and Portal.
You can actually create a cluster that does not have any during creation but get updated to set the authorised ip ranges or viceversa.
Please have a look [here](https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#update-a-clusters-api-server-authorized-ip-ranges)

[2022-02-23 20:33] verhyppo commented on #765
Hello,

we encountered a similar problem with the latest version of the az-cli.
Basically we found out that az-cli version needs to match the version of az-cli-core dependency.

https://github.com/ansible-collections/azure/blob/765e82d5021930bff8b45cf7c6edded79d7e6ef6/requirements-azure.txt#L4

Let's have a look at the output of the command
[code]
to find out which version of the az-cli (and core)

[2022-02-23 21:18] jrgoldfinemiddleton commented on #765
Thank you @verhyppo!  That helped me with another issue as well.

[2022-02-23 21:40] achevalet commented on #762
@Fred-sun I'm sorry but it would be full of redacted lines.. I think that the required information are listed in this ticket. Basically, if the user does not have the permission `Microsoft.Compute/galleries/images/versions/delete`,  this module is not able to delete an image version (which is normal) but it does not return any error.

[2022-02-24 01:16] a01fe commented on #765
@verhyppo that worked! ty so much 😹

[2022-02-24 01:16] #765 closed, assigned to nobody

[2022-02-24 05:01] Fred-sun commented on #134
@mashoodakram @saulobejo I have fixed the problem you encountered, please refer to PR#770. Thank you!

[2022-02-24 07:11] Fred-sun commented on #583
@LHurst-JM Upgrading azure mgmt-network to the new SDK will fix this, fixex by #729! Thank you very much!

[2022-02-24 15:12] paulczar commented on #759
Here's the problem though, I don't know the app_id or object_id.  The scenario is that I want to see if a SP already exists (to ensure creating one is idempotent, but also to determine what to delete when I want to clean up my environment).

I want to be able to do something like this (ignore the syntax errors):
[code]

[2022-02-25 06:02] #619 closed, assigned to nobody

[2022-02-25 15:25] CGHoussem opened #771 "name 'client_secret' is not defined"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

My azure_rm.yml file:
[code]
my ~/.azure/credentials file:
[code]

The command that I ran: ``` ansible-inventory -i azure_rm.yml --list ```

##### EXPECTED RESULTS

I should have the list

[2022-02-28 08:28] rloza08 commented on #717
Thanks! This has been resolved by upgrading to azcollection 1.11.0

[2022-02-28 08:28] #717 closed, assigned to nobody

[2022-02-28 08:39] rloza08 commented on #725
I'm facing same issue with private_dns_zone_configs:

Error: "Unsupported parameters for (azure.azcollection.azure_rm_privateendpoint) module: private_dns_zone_configs Supported parameters include: ad_user, adfs_authority_url, api_profile, append_tags, auth_source, cert_validation_mode, client_id, cloud_environment, location, log_mode, log_path, name, password, private_link_service_connections, pr

[2022-02-28 09:18] #134 closed, assigned to nobody

[2022-03-01 14:26] mdf-ido commented on #688
I was able to fix the issue in my user account. I have an azure devops agent that runs under another user and it is not working for the other user. I logged in as the az devops agent user and went with option 3 as well but didn't fix the issue even after:

`ansible-galaxy collection install azure.azcollection --force
pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requ

[2022-03-02 01:38] Fred-sun commented on #756
@zchef2k Thank you for submitting this question, we are also reviewing the module of adding certificates, and we welcome contributions from the community. Thank you very much!

[2022-03-02 01:54] Fred-sun commented on #753
@testlaben Ansibe-collection-azure is not the problem.  The Python3.8's time module has remove clock func. It is recommended that you replace the Time module or add a patch when referencing the time module, as follows:

[code]

[2022-03-02 01:54] #753 closed, assigned to nobody

[2022-03-02 02:06] Fred-sun commented on #759
@paulczar This is a good suggestion and we will discuss internally whether to add filter or return all service pricipals under tenant_id. Thank you very much!

[2022-03-02 10:12] CGHoussem commented on #771
Thanks to this answer in a stackoverflow post (https://stackoverflow.com/a/71266343), I found the solution.

[2022-03-02 11:51] sully68 opened #773 "Add require-infrastructure-encryption azure_rm_storageaccount"
##### SUMMARY
Current options do not allow you to encrypt your storage account. It would be a welcome addition to this module, as it is unusable for any org that requires higher standards of encryption
##### ISSUE TYPE
- Feature Idea
https://docs.microsoft.com/en-us/azure/storage/common/infrastructure-encryption-enable?tabs=azure-cli
##### COMPONENT NAME
azure_rm_storageaccount

##### ADDITIONAL I

[2022-03-02 12:00] Fred-sun commented on #773
@sully68 This is a good suggestion and we will discuss and add this feature as soon as possible! Thank you very much!

[2022-03-02 14:00] Fred-sun commented on #762
@achevalet If it can't be delete it, I will definitely get an error. I executed YAML as follows and the created resource was deleted. Can you try it on? Thank you very much!
[code]

[2022-03-02 14:06] Fred-sun commented on #742
@adthorn Your problem is caused by the default Python editor. It is recommended that you uninstall it and follow it again. Thank you very much!

[2022-03-02 14:08] Fred-sun commented on #742
@howardjones Normally this should not be dependent because this module is being used all the time. It should be your environment. Can you install and retry by following the link below? Thank you very much!
[code]

[2022-03-02 14:10] Fred-sun commented on #741
Duplicate #740

[2022-03-02 14:10] #741 closed, assigned to nobody

[2022-03-02 14:14] Fred-sun commented on #734
fixes by #735

[2022-03-02 14:14] #734 closed, assigned to nobody

[2022-03-02 14:18] Fred-sun commented on #737
@adthorn Thank you for your new requirements, we will add them one by one, and welcome more community or contribution. Thank you very much!

[2022-03-02 14:26] Fred-sun commented on #732
@WoodooTek This is a great demand, and I will push forward the merger of relevant PR as soon as possible. Thank you very much!

[2022-03-02 15:04] adthorn opened #774 "Feature Parity with Terraform, ARM, AZ CLI"
##### SUMMARY
Microsoft should have complete feature parity with ARM(Bicep), Ansible and Terraform and their AZ CLI which are based off Python. This whole mix and match thing with the various IaC platforms is not appealing and causes a bunch of headache. Parameters missing, not working right. Outputs for these various Ansible modules are different than each other. There seems to be little standard

[2022-03-03 16:24] adthorn commented on #724
I have the same issue, I have lower case letters and but I do have dashes which are supported in ARM/BICEP.
    - name: Create a function app with app settings
      azure.azcollection.azure_rm_functionapp:
        name: "faw-{{subscode}}-{{appcode}}-{{envcode}}-{{azr_faw.function}}-{{location | regex_replace('us', '')}}-{{ '%03d' | format(azr_faw.instance|int) }}"
        resource_group: "{{azr_r

[2022-03-04 07:27] Fred-sun commented on #748
@karishma-kohli From your "pip3 list" it shows that the dependency version you are using is too low, resulting in error, you are advised to update below. Thank you very much!
[code]

[2022-03-04 09:08] #757 closed, assigned to nobody

[2022-03-08 03:06] Fred-sun commented on #773
@sully68 Try to add this attribute, but the account is not supported, we will upgrade to the sdK2 version and try to add it again. Thank you very much!
[code]

[2022-03-09 01:28] Fred-sun commented on #774
@adthorn Thank you for asking this question. At present, we mainly have two ways to add modules and functions, one is developed by ourselves, the other is added with the help of community activists, and we promote the merger. Due to the development schedule and manpower problems, we cannot quickly synchronize and the differences between different platforms. I will give priority to the problems rai

[2022-03-11 07:03] #299 closed, assigned to nobody

[2022-03-11 08:39] #646 closed, assigned to nobody

[2022-03-12 07:23] slagathor34 opened #780 "Add public_network_access to the Storage Account module"
##### SUMMARY
The Azure Storage Account module does not allow the option for "public_network_access" and will fail a CIS 1.3 Azure Policy assignment.

##### ISSUE TYPE
Missing value for storage account as identified in the Azure Python SDK for "public_network_access".

https://docs.microsoft.com/en-us/python/api/azure-mgmt-storage/azure.mgmt.storage.v2021_08_01.models.storageaccountcreateparameter

[2022-03-13 15:43] ccoffman5984 opened #781 "azure_rm_virtualmachine: Suggested Revision to Description of Custom Data Parameter"
##### SUMMARY

Comments indicate cloud-init will process the data made available which is true only of Linux VMs.  Microsoft documentation further adds that data may be transferred to a Windows VM but no processing will be done on it.  Suggesting also that a reference be included to azure_rm_virtualmachine_extension within notes to guide the reader to make use of PowerShell capabilities in combina

[2022-03-15 01:28] ccoffman5984 commented on #781
##### SAMPLE CODE

[code]

[2022-03-15 11:24] #732 closed, assigned to nobody

[2022-03-16 14:51] KrishnaG-MSFT commented on #637
@Fred-sun Any update on this please? Do we have any ETA by when plugin to create runbook under azure.azcollection collection will be available to use?

[2022-03-17 19:35] phillipstr opened #784 "App Service Plan module support for specifying App Service Environment"
##### SUMMARY

Add support to the  azure_rm_appserviceplan module to specify a hosting environment (ASE).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_appserviceplan

##### ADDITIONAL INFORMATION

To create an App Service Plan on an App Service Environment with Ansible you cannot use the azure_rm_appserviceplan module. We are currently using the generic azure_rm_resource module

[2022-03-18 10:49] sdminonne opened #785 "azure.azcollection.azure_rm_privatednsrecordset_info doesn't return dnsrecordsets list / elements=dictionary"
##### SUMMARY

`azure.azcollection.azure_rm_privatednsrecordset_info` does not return azure_rm_privatednsrecordset_info does not return any recorded set

##### ISSUE TYPE
- Bug Report

Trying to use the `azcollection.azure_rm_privatednszone_info` module to list the recoredset in the private DNS zone does not return any value.
Please advise if for whatever reason I'm missing something
Thanks

#####

[2022-03-18 17:02] ammygill opened #786 "Unable to imeplement OR condition in exclude_host_filtres while creating Azure invenotry."
##### SUMMARY
The below tags should be picked up automatically with the OR condition but currently, I have to create two different inventories to create an inventory with the expected Hosts according to the filter.
(tags.testing is not defined ) or (tags.TESTING is not defined )

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure collection

##### COLLECTION VERSION
latest

##### STEPS TO R

[2022-03-18 19:48] ToxicGLaDOS opened #787 "TypeError: __init__() got an unexpected keyword argument 'credential' on version 1.12.0"
##### SUMMARY

Since version 1.12.0 when we use `azure_rm_networkinterface_info` we get the following error:

[code]

I have tested and confirmed that the issue does not appear in 1.11.0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`azure_rm_networkinterface_info`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

We see the issue in both AWX and ou

[2022-03-21 08:44] Andersson007 opened #788 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-21 09:30] Fred-sun commented on #637
@KrishnaG-MSFT We are adding. Thank you very much!

[2022-03-22 06:03] Fred-sun commented on #787
@ToxicGLaDOS Thank you for reporting this problem, could you please help check your azure-mgmt-network version? Because it has been upgraded. Thank you very much!
[code]

[2022-03-22 06:05] #748 closed, assigned to nobody

[2022-03-22 06:05] #742 closed, assigned to nobody

[2022-03-22 10:15] frdemand opened #792 "Unable to create ZRS managed disk"
##### SUMMARY
It seems that current module azure_rm_manageddisk and azure_rm_virtualmachine do not allow the creation of ZRS Managed Disk, I got the following issue when trying with Premium_ZRS (same issue with StandardSSD_ZRS) :

2022-03-10 08:54:00,657 p=2096608 u=root n=ansible | fatal: [localhost]: FAILED! = {'attempts': 5, 'changed': false, 'msg': 'Error creating the managed disk: Azure Error

[2022-03-22 12:05] frdemand commented on #792
Sorry, error message received is:

2022-03-22 11:39:33,343 p=2235006 u=root n=ansible | Tuesday 22 March 2022  11:39:33 +0100 (0:00:00.043)       0:00:47.327 *********
**2022-03-22 11:49:40,004 p=2235006 u=root n=ansible | fatal: [localhost]: FAILED! => {"attempts": 5, "changed": false, "msg": "value of managed_disk_type must be one of: Standard_LRS, StandardSSD_LRS, Premium_LRS, got: StandardSSD_

[2022-03-22 13:33] spongebob331 opened #793 "azure_rm_image doesn't support choosing HyperV generation version"
##### SUMMARY

Add HyperVGeneration parameter to the module so the hyperv generation version is passed when the image is created. The terraform provider already allows this, but I see no way to specify the version using the ansible module.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_image
##### ADDITIONAL INFORMATION

Add parameter HyperVGeneration to the parameters with accept

[2022-03-22 14:42] ToxicGLaDOS commented on #787
@Fred-sun It looks like we're pretty far behind
[code]

[2022-03-22 23:36] jberkers42 opened #794 "Add Support for NAT Gateways"
##### SUMMARY
Addition of support to create/maintain/delete NAT Gateways, including ability to associate a subnet to a NAT Gateway.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_natgateway

##### ADDITIONAL INFORMATION
In order to have control over the egress IP from Subnets within Azure it is helpful to use NAT Gateways and associate them to one or more subnets.  This would requ

[2022-03-23 11:14] CGHoussem opened #795 "containerregistry_info ('packaging' module not found)"
##### SUMMARY

Once Irun a playbook that has this task '_azure.azcollection.azure_rm_containerregistry_info_',I get a **ModuleNotFoundError**, the module name is '_packaging_'.
I've verified the existence of this module using a python interpreter (python2 & python3) and it does exist!
I've tried to change the ansible_python_interpreter option to both python2 & python3 directories and I still got t

[2022-03-23 13:25] Fred-sun commented on #787
@ToxicGLaDOS Please upgrade ”azure-mgmt-network==19.1.0" . Thanks!

[2022-03-23 18:56] tannerjonj opened #796 "Getting couldn't resolve module/action 'azure_rm_recoveryservicesvault' even with the Azure collection installed"
##### SUMMARY
Getting the following message:
         couldn't resolve module/action 'azure_rm_recoveryservicesvault'
even with the Azure collection installed.  When the module azure_rm_recoveryservicesvault is run in a role, I get the error listed above.  When this same command is a task in a playbook, it works correctly.  When I run other modules from the azure collection within a role, they als

[2022-03-24 08:52] Fred-sun commented on #637
fixed in #797

[2022-03-24 09:48] nicolaibaralmueller commented on #787
I had to re-install all python modules on the virt python env with the latest requirements

[https://raw.githubusercontent.com/ansible-collections/azure/v1.12.0/requirements-azure.txt](url)

Only updating azure-mgmt-network was not enough.

[2022-03-24 13:11] 153957 commented on #358
This issues was not fixed by #603 because that module only allows creating the file share, not actual directories in it.

However, I think the original example in this issue does not actually create directories in the file share, just the file share itself, so that part can now indeed be done by this collection.

[2022-03-25 08:36] #795 closed, assigned to nobody

[2022-03-25 14:14] achevalet commented on #762
Sorry for late answer. Yes, this code is working fine on my end as long as the Azure user has correct permissions.
On Azure side, if you drop only the delete permission on images versions (`Microsoft.Compute/galleries/images/versions/delete`), keep read and create permissions, this code produces no error but does not actually delete the image version.

[2022-03-25 16:50] SSPJ opened #798 "azureKeyvaultSecretsProvider is missing"
See https://github.com/ansible-collections/azure/blob/v1.12.0/plugins/modules/azure_rm_aks.py#L574-L578

Output of `azure_rm_aks_info` for existing cluster:

[code]

Does not appear possible to manage this addon in Ansible at this time?

[2022-03-28 09:46] sparampalli commented on #787
We also ran into a similar issue with the Ansible module - azure.azcollection.azure_rm_deployment. After updating the packages as per requirements-azure.txt, there is seems to a new issue. This issue particularly happens while creating Azure Cloud stack with RM template having linuxconfig which installs a rpm package like NGINX/Apache2 etc.

Error on Azure while running the linuxconfig is "NGINX p

[2022-03-30 07:35] trolleyboy commented on #467
Was just looking for this today. It would be great to see azure_rm_dnsrecordset updated with support for Azure DNS Alias records.

[2022-03-30 08:06] Fred-sun commented on #245
duplicate with #134 , fixes by #770

[2022-03-30 08:06] #245 closed, assigned to nobody

[2022-03-30 08:11] Fred-sun commented on #178
fixes in #525

[2022-03-30 08:11] #178 closed, assigned to nobody

[2022-03-30 10:37] xlatt opened #802 "azure_rm_publicipaddress does not support availability zones"
##### SUMMARY
Mandatory zone parameter is not supported by azure_rm_publicipaddress module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_publicipaddress

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04 LTS
Linux 5.13.0-37-generic #42~20.04.1-Ubuntu
x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRO

[2022-03-30 16:03] SSPJ opened #803 "azure_rm_keyvaultsecret uses wrong credentials"
This did **not** work:

[code]

This also did **not** work:

[code]

This **did** work:

[code]

This is the error.

[code]

`Z1xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx` is **not the ID of my SP nor my own ID**. It is the appID of the *virtual machine* on which the playbook is running.

[2022-03-30 22:11] markscottwright commented on #803
I am experiencing this error as well.  The specified credentials are ignored if running in an environment where managed identities are available for azure_rm_keyvaultsecret.  I believe the error was introduced in 199c7eebbad08c57c026be824a66fc69e8277f42 - if auth_source != 'msi', AzureRMKeyVaultSecret still attempts to retrieve credentials from MSI (see the else block - plugins/modules/azure_rm_ke

[2022-03-31 01:00] Fred-sun commented on #803
@SSPJ  The reason for this problem is that there are special permission requirements for keystores that require adding access policies and role assignments to the keystores used (the application you are currently using). You can refer to the link below.
       Add access policy: [Assign an Azure Key Vault access policy (CLI) | Microsoft Docs](https://docs.microsoft.com/en-us/azure/key-vault/genera

[2022-03-31 01:05] Fred-sun commented on #787
@sparampalli Thank you for putting forward the problem you have encountered, and I suggest you resubmit an Issue, so that it is easy to track and solve. Thank you very much!

[2022-03-31 01:05] Fred-sun commented on #787
Since this problem is not a bug, I will close it. Thank you very much!

[2022-03-31 01:05] #787 closed, assigned to nobody

[2022-03-31 01:55] Fred-sun commented on #88
Sorry for the inconvenience. #109 still has some formatting issues to fix, they will be merged when fixed. In addition, before merging, it is recommended that you use the azure_rm_keyvaultsecret_info module to meet your needs. Thank you very much!

[2022-03-31 02:04] Fred-sun commented on #467
@tlourey Sorry for not updating in time, we will deal with this problem as soon as possible. Thank you very much!

[2022-03-31 02:11] Fred-sun commented on #762
Thank you for your reply, I think there is no problem with my local deletion. Could you do it again? First, use azure_rn_galleryImageversion_info to get related information, then delete, and help provide all -vvvv info and information in the register. Thank you very much!
[code]

[2022-03-31 02:14] Fred-sun commented on #358
@153957 I will recheck it! Thank you very much!

[2022-03-31 06:40] 153957 commented on #358
To create the directories we currently use this command:
[code]

[2022-03-31 07:31] Fred-sun commented on #258
@craigforr I'm sorry for not replying to this problem in time. According to the error log, the parameter enable_software_delete is irreversible and cannot be changed once it is set. Please refer to the following documents, thank you!
link: https://docs.microsoft.com/en-us/rest/api/keyvault/keyvault/vaults/create-or-update
[code]

[2022-03-31 08:01] Fred-sun commented on #671
@bikashkarmakar Do you still have this problem? According to the error log, it is your side that has the problem. Is it your current account right? I didn't have any problems testing locally? Would you try again! Thank you very much!

[2022-03-31 08:22] Fred-sun commented on #702
@JSlater743   The reason for this problem is that there are special permission requirements for keystores that require adding access policies and role assignments to the keystores used (the application you are currently using). You can refer to the link below.
Link: https://docs.microsoft.com/en-us/azure/key-vault/general/assign-access-policy?tabs=azure-portal

[2022-03-31 09:06] markscottwright commented on #803
@Fred-sun I can't be absolutely certain that @SSPJ 's issue is the same as mine, although the error looks very similar.

I can successfully run this task locally:
[code]
However, if I run that that task using the same arguments **on an AKS pod**, it fails.  The error reported by Azure is:

[code]
But XYZ is not the client_id I specified in my playbook.  (@SSPJ 's error is the same, which is why I

[2022-03-31 09:21] ghost commented on #88
As I said, that module does not work for our use case. We've decided to modify the existing lookup plugin and maintain it ourselves.

[2022-03-31 09:32] markscottwright commented on #803
I have just confirmed that I can successfully run the  azure_rm_keyvaultsecret task above if I downgrade to 1.11.0 (`ansible-galaxy collection install azure.azcollection:==1.11.0`).

[2022-03-31 09:40] Fred-sun commented on #798
@SSPJ Thank you for submitting this question. Could you describe your requirements in detail? I don't quite understand your requirements for the above description? Thank you very much!

[2022-03-31 09:51] markscottwright commented on #803
I would create a pull request to fix the issue, but I think the fix is to rollback the changes you made in #770, @Fred-sun.  Are you sure those changes are correct?

[2022-03-31 13:35] JSlater743 commented on #702
@Fred-sun I'm sorry i don't understand your comment. The access policy can be set using azure_rm_keyvault .. which works fine. It is azure_rm_keyvaultsecret which has the hardcoded url to Azure commercial cloud.  As a work around so we can deploy into azure government, we have changed the hardcoded urls to https://vault.usgovcloudapi.net/ which works.

The bug is that azure_rm_keyvaultsecret shoul

[2022-03-31 13:48] SSPJ commented on #798
@Fred-sun I need `azure_rm_aks` to support `azureKeyvaultSecretsProvider` addon so that I can create and manage clusters with this addon enabled. Thank you!

[2022-03-31 13:52] SSPJ commented on #803
@Fred-sun Thank you for the help troubleshoot, but I believe @markscottwright is correct that this is a bug in the module.

I do not want to give my virtual machine permission to set secrets in my key vaults. That is a security risk. I want `azure_rm_keyvaultsecret` to behave like other modules in the `azcollection` for authentication.

[2022-03-31 14:56] Fred-sun commented on #803
Yeah! I am sure!

[2022-03-31 14:58] Fred-sun commented on #702
@JSlater743 This kind of hard coding is really not the way to go. I'll check back into the purpose of this. Thank you very much!

[2022-03-31 19:13] achevalet commented on #762
Sorry again, I don't have any test environment right now. Basically, to be able to reproduce this bug, `az` cli must produce this error when you try to delete the image:

stderr_lines": ["ForbiddenError: The client '...' with object id '...' does not have authorization to perform action 'Microsoft.Compute/galleries/images/versions/delete' over scope '/subscriptions/.../resourceGroups/images/provid

[2022-04-01 02:42] xuzhang3 commented on #786
@ammygill  Can you share your script?

[2022-04-01 09:02] xuzhang3 commented on #786
@ammygill
VM tags is a bit different from other VM params, it’s a KV map object. The config will looks like:
[code]

[2022-04-01 09:13] fastlorenzo commented on #134
I've made a poc that works with Azure CLI.
For that, I had to use the latest version of python sdk `azure-keyvault==4.2.0`.
I didn't make a PR yet as the latest SDK is lacking the list secrets features, and it would require to also refactor the other modules related to keyvault.

If someone is interested to work on it, here is the working code: https://gist.github.com/fastlorenzo/8dffdcdee6a927c8e

[2022-04-01 13:18] pun-ky opened #805 "Import error for Azure Monitor even if all requirements are installed"
##### SUMMARY

Upgrading requirements causing a problem with Monitor dependency.

IMO - https://stackoverflow.com/a/70717476/3360007 - this is still true, it looks for me also buggy.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

2.8.x

##### COLLECTION VERSION

1.10.0

##### OS / ENVIRONMENT

RHEL-based / CentOS

##### EXPECTED RESULTS

Be able to install recent requirements for Ansible A

[2022-04-01 19:17] IPvSean opened #806 "azure_rm_publicipaddress documentation page throws error"
##### SUMMARY
The page https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_publicipaddress_module.html#parameter-tags

is throwing errors
![image](https://user-images.githubusercontent.com/6537680/161327164-a78409f9-3111-4c6a-b68b-d02c989496cb.png)

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
azure_rm_publicipaddress documentation

##### ANSIBLE VERSIO

[2022-04-01 20:02] HichamMourad opened #807 "azure_rm_subscription_info tagging bug"
##### SUMMARY
getting the tags deos NOT work as described in the documentation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_subscription_info
  tags:
      - foo:bar

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OSX Monterey

##### STEPS TO REPRODUCE

the below task generates the following error::::

TASK [o

[2022-04-05 15:58] ChandlerSwift commented on #771
A solution that worked for us without pinning old versions of dependencies was to add client_secret in https://github.com/ansible-collections/azure/blob/dev/plugins/inventory/azure_rm.py#L229:
[code]

This seems to be related to an upstream change in the auth library, where they now expect `client_secret` instead of `secret` (and, similarly, `tenant_id` instead of `tenant`---this may also need to

[2022-04-05 19:11] myselfgagandeep commented on #786
@xuzhang3 Attaching the source variable file used for filtering hosts:

[azure_rm_source_variable.txt](https://github.com/ansible-collections/azure/files/8421172/azure_rm_source_variable.txt)

The filter that you specified works against one tag i.e tagValue, but cannot create a specific OR condition to support multiple tags thereby some hosts with tagValue2 are not discovered.

This works as expec

[2022-04-06 04:33] xuzhang3 commented on #786
@myselfgagandeep  should check if the key exists before comparing
[code]

[2022-04-06 07:40] ssc-eves opened #809 "azure.azcollection.azure_rm missing stopped VMs"
##### SUMMARY
Stopped VMs are not read from the inventory plugin

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04
Mixed instances on Azure

##### STEPS TO REPRODUCE
ansible-playbook troubleshoot.yml

customer.azure_rm.yml
[code]

trouble

[2022-04-06 12:34] rloza08 opened #811 "PrivateEndpointConnection"
##### SUMMARY
I'm working on Private Endpoint Automation and I need to verify resource if it has existing Private Endpoint. There is a particular command in PowerShell and I'm not able to find it in azcollection.

PS Command: Get-AzPrivateEndpointConnection

##### ISSUE TYPE
Do we have any equivalent module in azcollection for PS Command: Get-AzPrivateEndpointConnection

##### COMPONENT NAME
PS Co

[2022-04-06 12:52] kingsleyadam opened #812 "'MSIAuthentication' object has no attribute 'get_token' - azure_rm_storageblob"
##### SUMMARY
When attempting to use the `azure.azcollection.azure_rm_storageblob` module with `auth_source: msi` I'm getting the following error.

[code]

[code]

When checking the class `from msrestazure.azure_active_directory import MSIAuthentication` it is true, there's only a `set_token` and `signed_session` attributes.

Looks like it might be using quite a dated class for `MSIAuthentication`

[2022-04-06 15:05] pauronda-visma opened #813 "azure_rm_privatednszonelink returns False Fail when already existing link"
##### SUMMARY
Task is marked as failed when there is an already  existing Virtual network link with an Azure Private DNS Zone

`  msg: |-
    Error creating or updating virtual network link ***nameofthelink*** - Azure Error: Conflict
    Message: Private zone '***nameoftheprivatezone***' is already linked to the virtual network '/subscriptions/********-****-****-****-************/resourceGroups/**

[2022-04-06 18:19] myselfgagandeep commented on #786
@xuzhang3 : I think what you suggested does the opposite. It removes the hosts which have the keypair. The exclude_host_filters filters out the hosts with these keys and values. Also, the AND condition require both the tags to be present on hosts.
While what i am trying to get is the inventory containing the hosts with the following values:
tagkey: tagvalue1
tagkey2: tagvalue2

Different hosts con

[2022-04-06 18:24] myselfgagandeep commented on #786
e.g
Host A has assigned tag `tagkey: tagvalue1`
Host B has assigned tag `tagkey2: tagvalue2`

I need to inventory both of these hosts in the Azure inventory.

[2022-04-07 03:59] xuzhang3 commented on #786
@myselfgagandeep  To include hosts only tagged with `tagkey: tagvalue1 ` or `tagkey2: tagvalue2`, the flowing configurations should work:
[code]

[2022-04-07 07:00] cloudengineers opened #815 "ModuleNotFoundError: No module named 'azure.core'"
Hi Team,

I have followed this URL and installed the 2.9.0 ansible version

https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm?tabs=azure-cli

My Python version:
Python 3.9.12

Ansible version:
ansible 2.9.0
  config file = /home/jenkins/ansible.cfg
  configured module search path = ['/home/jenkins/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible

[2022-04-07 07:14] fiskhest commented on #805
I was able to resolve this by executing  `pip install azure>=4.0.0` which in turn installs `azure-mgmt-monitor==0.5.2` rather than the faulty requirement specified in this repository.

On my machine, `pip install 'ansible[azure]'` only installs ansible and none of the azure dependencies.

[2022-04-07 09:30] myselfgagandeep commented on #786
@xuzhang3 This does not really work. I have tried this earlier but it ignores the condition bypassing the exclude filter and in turn all the hosts with/without tags are pulled inside the inventory.

Is it possible for you to connect over teams or video session some time so i can show the behavior?

[2022-04-07 11:12] pun-ky commented on #805
thx for sharing @fiskhest ; I will try this out

[2022-04-07 18:13] SSPJ opened #818 "azure_rm_publicipaddress does not upgrade sku"
I used `azure_rm_publicipaddress` to create a public IP address, without using `sku`.

Public IP was created as "basic". I realized this was a mistake: I wanted standard. So I added `sku: Standard` and ran playbook.

`azure_rm_publicipaddress` task ran, no errors, no changes (green). But public IP is still "basic".

I was able to update sku manually through the Portal.

[2022-04-07 18:26] SSPJ commented on #818
Actually, I was running the wrong playbook. This issue can be closed. Sorry!

[2022-04-07 18:27] #818 closed, assigned to nobody

[2022-04-08 04:03] xuzhang3 commented on #786
@myselfgagandeep Can you share your script?  this can help me reproduce your issue.

[2022-04-08 06:04] myselfgagandeep commented on #786
@xuzhang3 Please find the same as attached
[azure_rm_source_variable.txt](https://github.com/ansible-collections/azure/files/8448988/azure_rm_source_variable.txt)

[2022-04-08 10:00] xuzhang3 commented on #786
@myselfgagandeep   Filter :
[code]
will works on VMs tagged with `tagkey` or `tagkey2`, those VMs not tagged will not be filtered

Test result, if `exclude_host_filters` is enabled , VM `xz3-test` and `xz3-test2` will be filterd :
<img width="364" alt="image" src="https://user-images.githubusercontent.com/57888764/162413131-7d3fd221-8913-431b-9d29-75484bcaa309.png">

@ammygill  Does filter
[code]

[2022-04-08 10:01] #411 closed, assigned to nobody

[2022-04-09 01:06] Fred-sun commented on #807
@HichamMourad Try the playbook below! Thank you very much!
[code]

[2022-04-11 01:31] Fred-sun commented on #815
@cloudengineers It seems that the dependency you installed is incomplete（sudo pip3 install -r requirements-azure.txt -I）. Can you reinstall it in the following way? Thank you.
[code]

[2022-04-11 02:02] Fred-sun commented on #813
@pauronda-visma The same virtual network cannot be used for two virtual networks. Specify a new virtual network. Thank you very much!
[code]

[2022-04-11 06:13] Fred-sun commented on #807
fixes by #819

[2022-04-11 07:48] #766 closed, assigned to nobody

[2022-04-11 07:53] pauronda-visma commented on #813
Yes, I already knew this fact. The issue comes when I execute the task again, it throws the error.
It should be treat as a no change and continue the execution
@Fred-sun

[2022-04-11 09:19] Fred-sun commented on #813
@pauronda-visma I have repeatedly confirmed that idempotence is valid, so please try again. In addition, you can delete the ID information in the log, please keep all other information, so that the log is incomplete, not conducive to analysis.  Thank you very much!
[code]
[code]

[2022-04-11 09:27] pauronda-visma commented on #813
@Fred-sun Thank you for your support and time. I found the reason of my execution failure.
The already existing Link has a different name of the ansible execution. Sorry for the Inconvenience.

[2022-04-11 09:27] #813 closed, assigned to nobody

[2022-04-11 11:00] myselfgagandeep commented on #786
@xuzhang3 I believe we have some understanding issue. We require only `xz3-test` and `xz3-test2` to be part of our inventory which has tags in the inventory and exclude the remaining which are untagged.

`xz3-test` has tags: `tagkey`: `tagvalue1`
`xz3-test2` has tags: `tagkey2`: `tagvalue2`

All the other hosts are not relevant and should be filtered out since we only manage the hosts with the abo

[2022-04-11 13:17] SSPJ commented on #711
I am experiencing this as well.

azure.azcollection 1.12.0

[2022-04-11 15:45] myselfgagandeep commented on #786
@xuzhang3 : Here is how i expect the filter to work containing only two hosts with keyvalue pair present:

![image](https://user-images.githubusercontent.com/44285960/162779131-007b4e0c-fd0c-46c1-83a8-afb8c50d67c1.png)

[2022-04-11 18:34] DragonearinLBro opened #820 "MIBEGNAM"
https://github.com/ncosentino/DevLeader/blob/master/EventHandlerLeak/EventHandlerLeak.sln

[2022-04-12 03:22] xuzhang3 commented on #786
@myselfgagandeep
The filter below will  include VMs that does not have `tagkey:tagkey` or  `tagkey2:tagkey2` tag pairs.
[code]

[2022-04-12 04:58] myselfgagandeep commented on #786
@xuzhang3: I need a filter that includes the VM that have `tagkey:tagkey` or `tagkey2:tagkey2` tag pairs. I am repasting my previous statement.

We require only `xz3-test` and `xz3-test2` to be part of our inventory which have below tags in the inventory and exclude the remaining hosts which are untagged.

`xz3-test` has tags: `tagkey: tagvalue1`
`xz3-test2` has tags: `tagkey2: tagvalue2`

These s

[2022-04-12 05:42] xuzhang3 commented on #786
@myselfgagandeep
`((tags['tagkey'] is defined and tags['tagkey'] == 'tagkey') or (tags['tagkey2'] is defined and tags['tagkey2'] == 'tagkey2')) ` will  include all VM which have `tagekey` or `tagkey2`, combine this expression with ` is sameas false`, all VMs without those tags will match this expression.

<img width="671" alt="image" src="https://user-images.githubusercontent.com/57888764/16288920

[2022-04-12 05:54] myselfgagandeep commented on #786
@xuzhang3 : The expression you have used is beneath exclude_host_filters which provides opposite result.

**exclude_host_filters:**
`((tags['tagkey'] is defined and tags['tagkey'] == 'tagkey') or (tags['tagkey2'] is defined and tags['tagkey2'] == 'tagkey2'))`

I wish to **include** the hosts provided by above filter and not **exclude** so that only tagged ones are present.

Example with tags:
[cod

[2022-04-12 06:00] xuzhang3 commented on #786
@myselfgagandeep   you missed the ` is sameas false`
exclude_host_filters:
- ((tags['tagkey'] is defined and tags['tagkey'] == 'tagkey') or (tags['tagkey2'] is defined and tags['tagkey2'] == 'tagkey2')) is sameas false

[2022-04-12 07:04] myselfgagandeep commented on #786
@xuzhang3 : That did it. I have been able successfully exclude the hosts without the specified tags by falsifying the expression as you suggested above. Thanks for help!

[2022-04-12 09:41] xuzhang3 commented on #786
Close this issue, feel free to open another issue if you have questions.

[2022-04-12 09:41] #786 closed, assigned to nobody

[2022-04-12 16:21] l3ender commented on #573
@johnpetersjr Sorry for the slow response. I can't speak exactly to using `azure_rm_adgroup`, but we are using `azure_rm_adgroup_info` from Ansible Tower without issue. We don't need to specify `auth_source` in the playbook nor specify any vars with environment lookups. We simply bind the "Microsoft Azure Resource Manager" credential to the job template and it works as expected.

I'm not sure if i

[2022-04-12 17:58] #788 closed, assigned to nobody

[2022-04-13 03:07] ag-wood commented on #809
@ssc-eves - I had thought the same thing but have just discovered that this is due to the default filter that is applied.  According to the documentation you need to set default_host_filters, which  has a default value of:

[code]

Set default_host_filters to [] or some other value i.e. Adding the following should achieve the result you require:

[code]

[2022-04-13 05:13] ssc-eves commented on #809
@ag-wood
You are my hero! I just missed that, now it's working well :)

[2022-04-13 05:13] #809 closed, assigned to nobody

[2022-04-13 12:40] alfwed commented on #794
This is a key feature and it's missing. Would be great to have this module indeed

[2022-04-13 17:32] radhikari-arch commented on #573
Is `auth_source. msi` supported for these azure.azcollection.azure_rm_adgroup_info and azure.azcollection.azure_rm_adgroup modules? From the dcoumentaiton, it sure says msi for auth-source. I am getting  **"failed to get ad group info Access Token missing or malformed."** error.
cc: @Fred-sun @l3ender @coleneubauer

[2022-04-14 07:00] Fred-sun commented on #820
@DragonearinLBro Thank you for submitting the problem in this Repo. Can you help provide a detailed problem description? This helps to analyze and solve the problem. Thank you very much!

[2022-04-14 09:23] #807 closed, assigned to nobody

[2022-04-14 09:49] #439 closed, assigned to nobody

[2022-04-14 09:49] #653 closed, assigned to nobody

[2022-04-14 09:50] #637 closed, assigned to nobody

[2022-04-14 09:50] #628 closed, assigned to nobody

[2022-04-14 13:33] #88 closed, assigned to nobody

[2022-04-14 13:38] ghost commented on #88
I assume that if this issue is now closed that you have no intention of including the lookup plugin in this collection?

[2022-04-14 13:45] taasest8 commented on #88
Lookup Plugin was merged in this PR https://github.com/ansible-collections/azure/pull/109

[2022-04-14 18:45] radhikari-arch commented on #579
@watsonb @Fred-sun
Is this still an issue that we need to use the auth-source: cli?Have anyone had luck to work with auth-source: msi? The docs clearly says msi as auth source.

[2022-04-14 19:25] radhikari-arch commented on #573
I gave the global administrator role in Azure AD for the MSI virtual machine. But still getting that  error "failed to get ad group info Access Token missing or malformed."

[code]
**Versions:**
[code]
**Error**:
[code]

Howevere, with the same tenant id and subs, using the msi, create resource module works fine:
[code]

[2022-04-15 03:20] #287 closed, assigned to nobody

[2022-04-15 03:26] #806 closed, assigned to nobody

[2022-04-15 16:19] Fred-sun commented on #134
fixes by #823

[2022-04-18 01:57] Fred-sun commented on #815
kindly ping!

[2022-04-18 12:51] watsonb opened #826 "Unable to Authenticate to Azure with parameters"
##### SUMMARY
Starting on Sunday April 17th, 2022 my scheduled tasks that execute the `azure.azcollection.azure_rm_virtualmachine` module began failing with no code changes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running `an

[2022-04-18 15:33] watsonb commented on #826
This appears to be a larger Azure issue, as I cannot connect via PowerShell either:

[code]

Other colleagues are also unable to connect to hosted Azure SQL databases via SQL Server Management Studio with a similar 503 error code.

Closing this issue as it doesn't appear to be Ansible content related.

[2022-04-18 15:33] #826 closed, assigned to nobody

[2022-04-19 00:30] radhikari-arch commented on #573
Well, I found a way to add the Directory.Read.All permissions for the MSI from here:
https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-app?tabs=azure-cli#grant-access-to-microsoft-graph
However,  even with that still gave the same error: "failed to get ad group info Access Token missing or malformed."
I then created an App Registration  and gave the D

[2022-04-19 01:00] Fred-sun commented on #573
Because all the apis need to be upgraded, it's a big project that we're working on. Thank you very much!

[2022-04-19 11:25] Lunik opened #827 "`azure_rm_virtualmachine_info` throw error on missing `config` attribute"
##### SUMMARY

The module doesn't work anymore when updating the collection from `1.11` to `1.12`.
Seems related to the upgrade of the `azure-mgmt-compute` dependency. [SDK changelog](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/compute/azure-mgmt-compute/CHANGELOG.md#1700b1-2020-06-17) notify that :

The config attribute no longer exists on a client, configuration should be passed

[2022-04-19 12:25] jobh commented on #635
I have the same problem as the original poster. When I try the yaml in the latest comment, I get
[code]
...and when I remove the *set* (azure_rm_keyvaultsecret) and instead create the secret manually, the *get* (azure_rm_keyvaultsecret_info) returns empty list.

I am on core 2.12.4, azure.azcollection 1.11.0.

[2022-04-19 20:37] Srinirap opened #828 "Ansible tasks are getting timed out need timeout option for resource creation on playbook or increase the poller time for get_poller_result(self, poller, wait=5)"
##### SUMMARY

Each and every task on Azure resource creation is getting failed from my local due to unable to get the results on time but the resources are actually created on the cloud but when I have tried from Azure VMs it's a success.
Could you please either increase get_poller_result(self, poller, wait=5) wait time or timeout option on the playbook

##### ISSUE TYPE
- Bug Report

##### COMPO

[2022-04-20 06:40] Fred-sun commented on #827
@Lunik I have tested in my local VM, get pass result. Could you help to retry it? Another, please check your 'azure-mgmt-compute' version! It has upgrade to "26.1.0"! Thank you very much!

[2022-04-20 07:52] Fred-sun commented on #828
@Srinirap  Thank you for your interest in azcollections. But when we defined the poller, the default wait time was 5 seconds, checking for complete execution every 5 seconds. You can refer to the link below. Thank you very much!
 link: https://github.com/ansible-collections/azure/blob/7deb8ee3914601a48629b625ad18e2928cc9c3d6/plugins/module_utils/azure_rm_common.py#L628

[2022-04-20 08:01] Fred-sun commented on #805
Does your problem still exist?

[2022-04-20 08:08] Fred-sun commented on #803
Sorry, It has beed fixes by #823. Thank you very much!

[2022-04-20 11:18] Srinirap commented on #828
@Fred-sun  thanks for the response, yes I have seen that already but is it possible to customize the wait time through playbook or can we increase the time by maybe 10 seconds.?

[2022-04-20 11:38] Fred-sun commented on #828
@Srinirap There is a retry mechanism in the code logic. If it is not complete, it will loop again at a five-second interval until it is complete. Thank you very much!

[2022-04-20 11:51] Fred-sun commented on #802
@xlatt I have fixed this problem, please refer to PR #829, you are welcome to use. Thank you very much!

[2022-04-20 12:22] Lunik commented on #827
The version of `azure-mgmt-compute` dependency provided with the release `1.12.0` of this collection is `23.1.0` : https://github.com/ansible-collections/azure/blob/v1.12.0/requirements-azure.txt#L11

If you say that we should use the version `26.1.0` your requirement in version `1.12.0` is invalid then ?

[2022-04-20 12:47] Fred-sun commented on #827
@Lunik Sorry, v1.12.0 is 23.1.0, our latest support is 26.1.0 and will be released in the next release. Thank you very much!

https://github.com/ansible-collections/azure/blob/7deb8ee3914601a48629b625ad18e2928cc9c3d6/requirements-azure.txt#L11

[2022-04-20 14:34] Lunik commented on #827
When should we expect the next release of the collection ? Will it be included in the next release of ansible `5.7.0` ?

[2022-04-20 15:50] fiskhest commented on #805
Well, if I follow the officially documented steps required to install this collection:

[code]

the problem still very much exists, because that file contains `azure-mgmt-monitor==3.0.0` while the collection currently seem to only work if used with `azure-mgmt-monitor==0.5.2`.

I can reproduce this on two separate laptops.

[2022-04-20 16:42] hcherukuri commented on #749
I see a similar issue when I run the collection. It doen't set the charset.  See the ansible code and log below. You can see the charset value is being skipped.

Anisble code:

[code]

Log:

TASK [azure : Create keycloak Database] ******************************************************************************************************************************************************
changed: [localhos

[2022-04-21 01:45] Fred-sun commented on #827
It is released independently of ansible and is generally updated once a month. Thank you very much!

[2022-04-21 02:57] Fred-sun commented on #796
@tannerjonj You are welcome to submit questions, but according to your error log, it is the grammar problem in playbook, not other mistakes. Could you please provide your Playbook or check again? Thank you very much!

[2022-04-21 05:39] smfredolme06 opened #831 "azure_rm_manageddisk has missing parameters for Azure Snapshot disk creation"
##### SUMMARY

Azure Snapshot Restore - add missing parameters to create the disk from snapshot
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Add missing parameters to create the disk from snapshot
1. source_type
Selection:
snapshot
storage blob
disk
disk restore point
2. source_snapshot
source_snapshot - when snapshot is selected
source_storage_blob - when storage blob is selected
source

[2022-04-22 22:51] l3ender commented on #446
I wasn't aware of this issue at the time, but https://github.com/ansible-collections/azure/pull/694 resolves this problem. We had the same need to define `subscription_id` at the task level to override AWX/Tower.

It was released in [v1.11.0](https://github.com/ansible-collections/azure/blob/5f95abb3ddf39ec65364c20b7435df4fd315e87f/CHANGELOG.md#v1110-2022-01-18).

[2022-04-22 22:58] l3ender commented on #477
`azure-cli-core` was updated to 2.34.0 in https://github.com/ansible-collections/azure/pull/775; does that resolve this issue? It was released in [v1.12.0](https://github.com/ansible-collections/azure/blob/5f95abb3ddf39ec65364c20b7435df4fd315e87f/CHANGELOG.md#v1120-2022-03-14).

[2022-04-22 22:58] l3ender commented on #648
`azure-cli-core` was updated to 2.34.0 in https://github.com/ansible-collections/azure/pull/775; does that resolve this issue? It was released in [v1.12.0](https://github.com/ansible-collections/azure/blob/5f95abb3ddf39ec65364c20b7435df4fd315e87f/CHANGELOG.md#v1120-2022-03-14).

[2022-04-24 00:05] cloudengineers commented on #815
Hi @Fred-sun

it didn't work for me, still the same error.

Thank you

[2022-04-24 02:38] xuzhang3 commented on #446
Fixed by #694

[2022-04-24 02:38] #446 closed, assigned to nobody

[2022-04-24 06:14] xuzhang3 commented on #712
Changes:
1. Fix inventory ignore the ENV configure
2. Support MSI auth using custom managed identity

[2022-04-24 08:55] Fred-sun commented on #793
fixes by #832

[2022-04-25 02:44] l3ender commented on #130
I have started work on updating the azure-storage dependency in https://github.com/ansible-collections/azure/pull/833 and hope to complete this week!

[2022-04-25 07:18] #666 closed, assigned to nobody

[2022-04-25 12:40] skutter-de opened #834 "azure_rm_backupazurevm does not allow including/excluding disks"
##### SUMMARY

I want enable protection for a VM but exclude some of it's disks. This doesn't seem to be possible with this module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_backupazurevm

##### ADDITIONAL INFORMATION

I think the should be 2 fields (see below) which are mutually exclusive. You just put in the LUN ID, like on the Azure CLI.

[code]

[2022-04-26 13:54] kiweezi opened #835 "Backup SQL Server in Azure VM"
##### SUMMARY

A way to backup just the SQL DB on an Azure VM.
This could be added as a param to the azure_rm_backupazurevm module or made separately.
It would also need to be available to use with the azure_rm_backuppolicy module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- Azure.AzCollection

##### ADDITIONAL INFORMATION

This is a commonly used recovery method in Azure in prod env

[2022-04-27 06:01] cryocaustik opened #836 "InvalidAuthenticationTokenAudience with AzureUSGovernment with select modules"
##### SUMMARY
Unable to use the Virtual Network module to create or view existing resources when using Azure US Government

Setting the Azure CLI cloud to to "AzureUSGovernment" and authenticating via `az login` allows creating and viewing resources via the Azure CLI and creating/viewing resource groups through the `azure_rm_resourcegroup` module, proving that authentication is valid.

Not sure wh

[2022-05-03 07:24] Lunik commented on #827
`AZURE_CERT_VALIDATION_MODE` was set with `ignore` value. I think it may be releated ...

[2022-05-04 09:41] JorisRijs opened #837 "Azure_rm_iotdevice is unable to create iotdevice and states that variable is undefined even when given a string directly"
##### SUMMARY
When trying to create an iot device in a specified iothub, using the azure_rm_iotdevice module, ansible returns that the task includes an option which is undefined. It states that the hub variable is undefined whilst the variable is definately defined and accessible (when printing the variable using debug)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Azure_rm_iotdevice

#####

[2022-05-04 11:26] youssefbenfarhat commented on #396
I still have the same error File "/tmp/ansible_azure_rm_virtualmachine_payload_64qpmb15/ansible_azure_rm_virtualmachine_payload.zip/ansible_collections/azure/azcollection/plugins/module_utils/azure_rm_common.py", line 249, in <module>
    from azure.storage.cloudstorageaccount import CloudStorageAccount
ModuleNotFoundError: No module named 'azure.storage.cloudstorageaccount'

I'm using Miniconda E

[2022-05-05 07:36] #802 closed, assigned to nobody

[2022-05-05 08:28] #793 closed, assigned to nobody

[2022-05-06 16:27] dmsimard opened #838 "Sanity tests failing in azure.azcollection"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against azure.azcollection 1.12.0 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### A

[2022-05-06 20:48] tannerjonj commented on #796
I am not seeing my error and I am unsure what you mean by "grammar
problem".  Below is a copy of my playbook.  After the playbook is a copy of
the RSV role, the role that is failing.  It is failing on the module
azure_rm_recoveryservicesvault.    Any assistance would be appreciated.
Thanks.

---
- hosts: localhost
  collections:
    - azure.azcollection
  gather_facts: no
  vars:
     vaultName:
'

[2022-05-06 21:03] theasianpianist opened #839 "Dynamic inventory plugin fails with status code 500"
##### SUMMARY

Trying to use the dynamic inventory plugin fails with the following error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure.azcollection.azure_rm

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host device:
[code]

Target VMs in Azure belong to a VMSS running Ubuntu Server 20.04 LTS

##### STEPS

[2022-05-08 21:13] Fred-sun commented on #838
@dmsimard Thank you for reporting this problem. According to your error log, the file's newline character is changed to  Windows format. Are you open in Windows system etc? Suggest you change the format, or delete reinstall. Thank you very much!

[2022-05-09 08:49] andreadecorte opened #841 "Add azure_rm_privatelinkservice module"
##### SUMMARY
Currently Azure Private Link Services are not exposed as a module in the Azure collection

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_privatelinkservice
azure_rm_privatelinkservice_info

##### ADDITIONAL INFORMATION
* [Official docs](https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview)
* This needs to be done with REST APIs/az command

[2022-05-10 06:20] Fred-sun commented on #841
@andreadecorte Thank you for requesting this module and welcome to contribute to it. Thank you very much!

[2022-05-10 08:45] Fred-sun commented on #839
@theasianpianist Thank you very much for reporting this problem. First of all, I tested locally and could obtain inventory information. You returned nothing. Can you confirm that the resource group you want to obtain has a VM? Is the current network accessible through SSH? Thank you very much!

[2022-05-10 09:11] Fred-sun commented on #837
@JorisRijs Thank you for submitting this question. According to your error, the definition of your variable name is illegal "Hub-policy-name". Please define the variable name as following format. Thank you very much!
[code]

[2022-05-10 11:54] scottharwell opened #843 "Azure Arc Module"
##### SUMMARY
Add support for Azure Arc services configuration, and, when the capability becomes available, support for automating against Arc connected VMs and devices as Ansible hosts

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_arc

##### ADDITIONAL INFORMATION
Azure Arc is becoming a pillar of Azure's hybrid cloud strategy, and Azure customers that automate with Ansible plan

[2022-05-10 12:26] JorisRijs commented on #837
@Fred-sun Thank you, I was unaware of the required naming scheme (new to Ansible and Yaml).
Once i corrected the variable name the module returned another error regarding incorrect base64 padding.
I presume that it originates from the hub_policy_name field of the module.
The returned error message was the following:
[code]

Do you happen to know a fix for this?

[2022-05-10 12:41] scottharwell opened #844 "Azure Bastion Module"
##### SUMMARY
Support for configuration of Azure Bastion service configuration, info, and as a proxy for inventory connection to Azure-hosted virtual machines.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- `azure_rm_bastion`
- `azure_rm_bastion_info`

##### ADDITIONAL INFORMATION
In order to deliver a seamless automation experience against Azure hosts that exist in private or isolated s

[2022-05-10 12:58] scottharwell opened #845 "Azure Managed Application Module"
##### SUMMARY
Support for deployment and management of Azure managed applications through an Ansible module with similar capabilities to the Azure CLI to allow for Ansible-native automated deployment of Azure managed applications.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- `azure_rm_managedapplication`
- `azure_rm_managedapplication_info`

##### ADDITIONAL INFORMATION

###### Story
A

[2022-05-10 22:10] rbreitendev opened #847 "add async and idempotency support to azurerm_managed_disk"
##### SUMMARY

When attempting to attach a large number of disks to many (100+) systems at scale via the Azure `azurerm_managed_disk` module, `async` support should allow the ability to independently create and attach multiple disks across a large number of Azure virtual machines. This supported configuration exists with other competitors and is in use in many of our production environments, allow

[2022-05-10 22:19] theasianpianist commented on #839
@Fred-sun I can confirm that the resource group in question contains VMs (as well as VMSS instances), and I am able to SSH to all VMs from the same machine I'm running Ansible on. I did observe some interesting behavior - the above bug only occurs if I attach data disks to the Virtual Machine Scale Set listed under `include_vmss_resource_groups` in the inventory file. If I remove all data disks fr

[2022-05-11 00:28] Fred-sun commented on #835
@kiweezi Thank you for paying attention to this repo. I don't quite understand the problem you have. Is it that the function can't be realized? Could you describe the problem in detail? Thank you very much!

[2022-05-11 02:50] Fred-sun commented on #831
@smfredolme06 I'm glad you asked for it. We'll check and add it, and contributors are welcome to add it. Thank you very much!

[2022-05-11 02:52] #828 closed, assigned to nobody

[2022-05-11 02:55] Fred-sun commented on #827
@Lunik Did your upgrade resolve the current problem? If not, I will close the problem! Do you have any other questions? Welcome to put forward, we will try our best to solve. Thank you very much!

[2022-05-11 03:05] Fred-sun commented on #815
@cloudengineers I have never been able to reproduce the problem you encountered, but according to your error log, it is your environment. The installed dependency is no longer in the Python3 environment. Can you do that? Uninstall all, reinstall, plus the latest version of Ansible. Another, Create an environment and try again. Ansible ver > 2.9 Thank you very much!

[2022-05-11 03:05] #803 closed, assigned to nobody

[2022-05-11 05:57] Fred-sun commented on #805
@fiskhest First, ansible-collection requires ansible version higher than 2.9, please update it to the latest; If python3 is used, install in PIP3 mode. Could you try again? Thank you very much!

[2022-05-11 06:06] fiskhest commented on #805
@Fred-sun:
[code]

[code]

Got any other terribly misguided suggestions dodging my very clear reproduction and fix?

[2022-05-11 06:49] Fred-sun commented on #796
@tannerjonj For existing Ansible roles, please also reference the full namespace, collection name, and modules name which used in tasks instead of just modules name. Thank you very much!
[code]

[2022-05-11 06:53] Fred-sun commented on #792
@frdemand You are welcome to ask this question, we will check and add missing options! Thank you very much!

[2022-05-11 07:11] Lunik commented on #827
Upgrading didn't solve the issue. However, as mentioned in my previous message, removing the environment variable `AZURE_CERT_VALIDATION_MODE` solve it.

[2022-05-11 07:11] #827 closed, assigned to nobody

[2022-05-11 07:30] Fred-sun commented on #785
@sdminonne  Your Playbook is handling the return value incorrectly.. Please make the following changes to the PlayBook. Thank you very much!
[code]

[2022-05-11 08:50] Fred-sun commented on #839
@theasianpianist Got it. I'll look into it. Thank you very much!

[2022-05-12 02:40] Fred-sun commented on #831
@smfredolme06 When we manage resources, we create managed disks of the corresponding type using the provided source_uri, so both parameters are implemented using source_uri. Thank you very much!
[code]

[2022-05-12 07:31] Fred-sun commented on #847
@rbreitendev Thank you for reporting this problem. The idempotent problem is clear and easy to solve. But what do you mean by async? Could you describe it in detail? Thank you very much!

[2022-05-12 07:41] Fred-sun commented on #847
Add multiple data disks to a VM at the same time, or add a data disk to multiple VMS at the same time? Thank you very much!

[2022-05-12 11:50] bikashkarmakar commented on #671
Sorry for the late response , we are using service principal based in Ansible credentials.

[2022-05-12 15:21] danielcgonzalez opened #848 "azure_rm_virtualmachine start, stop and deallocate need zones"
##### SUMMARY
tried to start and stop Azure VM's, following Microsoft Documentation, but from my shell.

Microsoft documentation:
https://docs.microsoft.com/en-us/azure/developer/ansible/vm-manage

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
ansible [core 2.12.2]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/hom

[2022-05-13 08:42] sscheib-rh commented on #847
@Fred-sun  It means to use the Ansible keyword "async" [1] in a loop while creating and attaching multiple disks to multiple VMs, which greatly speeds up the execution time.

[1]: https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html

[2022-05-13 08:45] Chaffelson opened #850 "Support setting endpoint-resource-manager for regional API endpoints"
##### SUMMARY

The Azure control plane has a behaviour where resources created in one region sometimes take a very long time to be propagated to other regions, resulting in requests for those resources to fail as they are believed to not exist or not be in the expected state.
For example, if you create an NSG in an EU region, then attempt to describe it in a US region, you may receive an empty lis

[2022-05-15 19:22] beerygaz opened #852 "The error was: ModuleNotFoundError: No module named 'msrest' fatal"
##### SUMMARY
Trying to execute a playbook on MacOS produces the above error.  I have installed the dependencies from https://raw.githubusercontent.com/ansible-collections/azure/dev/requirements-azure.txt

ansible [core 2.12.5]
  python version = 3.10.4 (main, Apr 26 2022, 19:36:29) [Clang 13.1.6 (clang-1316.0.21.2)]
  jinja version = 3.1.2
  libyaml = True

##### ISSUE TYPE
- Bug Report

##### CO

[2022-05-16 01:09] #838 closed, assigned to nobody

[2022-05-16 01:13] Fred-sun commented on #837
@JorisRijs Can you provide the complete Playbook, including variable information? I cannot copy this kind of mistake at present, thank you!

[2022-05-16 01:23] Fred-sun commented on #852
@beerygaz Could you please provide your installation steps and commands? This will help solve the problem. Because I have not been able to copy the problem you encountered locally. Thank you very much!

[2022-05-16 05:51] #796 closed, assigned to nobody

[2022-05-16 09:26] Fred-sun commented on #847
@sscheib-rh This async is to limit the execution time of a task, that is, the time interval to the next task. If you want to mount multiple disks to multiple VMS at the same time, you can configure multi-task by code. Thank you very much!

[2022-05-16 11:35] beerygaz commented on #852
brew install ansible
ansible-galaxy collection install azure.azcollection
pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements-azure.txt
[code]

[2022-05-16 15:45] rbreitendev commented on #847
@Fred-sun essentially, I want to be able to attach 5+ volumes per VM across 100 VM's at a time. In other providers, we are able to perform this action leveraging `async` so that the VM's have no issue with attaching those disks and initializing/formatting them for us within the VM itself. We were previously told this was impossible within Azure and to leverage the rest API instead. If this exists

[2022-05-16 23:44] Fred-sun commented on #847
@rbreitendev The azure_rm_manageddisk module calls the API to create or attach an existing disk to a VM. If you mount it to multiple VMS, it still requires multitasking code!

[2022-05-17 01:33] #785 closed, assigned to nobody

[2022-05-17 08:29] Fred-sun commented on #837
@JorisRijs This should be related to the hub_policy_name you passed, and you are advised to retry as follows. Thank you very much!
[code]

[2022-05-19 02:19] jghal commented on #812
Am seeing the same issue with `azure_rm_networkinterface` module.

[code]

I installed the Azure SDK requirements with (the `--no-cache-dir` is because I'm building a Docker image with my Ansible runtime)

`python3 -m pip install --no-cache-dir -r /usr/lib/python3.8/site-packages/ansible_collections/azure/azcollection/requirements-azure.txt`

So it should be the correct dependency versions for the

[2022-05-19 17:44] jghal commented on #812
And also seeing it with `azure_rm_virtualmachine` (tried to let that task create the network interface instead of using that task explicitly).

[2022-05-19 20:22] andreadecorte commented on #794
I am working on this, PR coming soon

[2022-05-20 09:29] #848 closed, assigned to nobody

[2022-05-20 10:23] peter-murray opened #856 "azure.azcollection.azure_rm_deployment_info fails when listing resource group deployments"
##### SUMMARY
When using the `azure.azcollection.azure_rm_deployment_info` module, an error is generated from the existing `1.1.2` release due to the wrong API method `list` being called on the corresponding the Azure model; https://docs.microsoft.com/en-us/python/api/azure-mgmt-resource/azure.mgmt.resource.resources.v2017_05_10.operations.deploymentsoperations?view=azure-python which only has the

[2022-05-20 10:36] peter-murray commented on #856
Updating [line 185](https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_deployment_info.py#L185) of this module to the following fixes this issue;

[code]

[2022-05-20 19:29] tonykay commented on #396
I believe the primary issue is Microsoft has broken up `azure-storage` into smaller, more focussed libs. So you need to identify which storage libs you install. These are documented here: https://azure.github.io/azure-sdk/releases/latest/all/python.html

[2022-05-23 07:14] kiweezi commented on #835
Hey @Fred-sun. Sorry for the delay.

What I'm trying to say in the above is that this feature is not available in the repo but is in Azure CLI and Powershell.
The feature is simply initiating a back up the SQL server installation on an Azure VM to a recovery vault.
There is also no way currently to make a scheduled backup of this using the recovery vault policies to my knowledge.
This MS doc provi

[2022-05-23 07:17] jdelvecchio commented on #130
Hi @l3ender - any update on this ? thanks a lot!

[2022-05-23 07:54] #837 closed, assigned to nobody

[2022-05-23 11:50] l3ender commented on #130
@jdelvecchio Yes, https://github.com/ansible-collections/azure/pull/833 is ready and waiting for review from @Fred-sun! Thank you!

[2022-05-25 05:42] Akasurde opened #861 "azure_rm_manageddisk managed_by does not support list"
_From @feiyan-gh on May 25, 2022 03:00_

### Summary

I am trying to create a managed disk and attach to multiple VMs by share (see https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared). However I cannot find a way to achieve this with ansible playbook.

### Issue Type

Feature Idea

### Component Name

azure

### Additional Information

Please let me know if there's already way of

[2022-05-25 07:24] docbyte86 opened #862 "azure_rm_keyvault_info - [WARNING]: Azure API profile latest does not define an entry for KeyVaultManagementClient" instead of KeyVault Informations"
##### SUMMARY
While using the Ansible Module i am getting only a warning "[WARNING]: Azure API profile latest does not define an entry for
KeyVaultManagementClient" instead of KeyVault Informations"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_keyvault_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

We are

[2022-05-25 09:55] sdminonne opened #863 "Add azure_rm_aks_command_invoke module"
##### SUMMARY
An handy way to connect to a private AKS is `az aks command invoke`. Since more and more corporate is moving to public cloud, and those company ask for private AKS there's a real need of this feature in the ansible module.

##### ISSUE TYPE
I coudn't find the module so I guess this is an enhancement request.

##### COMPONENT NAME
azure_rm_aks_command_invoke

##### ADDITIONAL INFORMAT

[2022-05-25 10:36] sscheib-rh commented on #847
@Fred-sun It would be sufficient if azure_rm_manageddisk would have the possibility to create and attach multiple disks simultaneously to one VM. Is it possible to provide such functionality?

[2022-05-25 12:29] Fred-sun commented on #847
@sscheib-rh Whether the disk already exists or whether the disk is created and attached to the VM. Thank you very much!

[2022-05-25 12:36] sscheib-rh commented on #847
@Fred-sun In this particular case the disk**s** would not exist, which means they would need to be created and attached.

[2022-05-25 12:39] Fred-sun commented on #847
@sscheib-rh I see! I will check and reply asap! Thank you very much!

[2022-05-25 14:54] 71Imapla opened #864 "Getting 403 Error on azure.azcollection.azure_rm"
##### SUMMARY

I am attempting to configure an inventory in AWX for Azure.  I have created an Azure ARM  Credential with my Subscription ID, Tenant ID, Client ID, and my Client Secret.  I am using this ARM Credential in source configuration for the Inventory.

##### ISSUE TYPE
- Bug Report
- Maybe configuration issue ?

##### COMPONENT NAME

azure.azcollection.azure_rm

##### ANSIBLE VERSION

[cod

[2022-05-26 04:15] Fred-sun commented on #847
@sscheib-rh You can manage and configure disks using the "azure_rm_manageddisk" module, and then mount multiple data disks to the VM using the "azure_rm_virtualmachine" module. Thank you very much!

[2022-05-27 18:57] ghost opened #866 "Allow Backend Address Members to be added to Pool in azure_rm_loadbalancer"
I have not seen this mentioned so if It has I apologize.

##### SUMMARY
I've found myself writing Azure CLI tasks to add members to pool, the pool has the ability in azure_rm_loadbalancer module to be created but I do not see any ability to add pool members.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_loadbalancer

##### ADDITIONAL INFORMATION
This feature would allow for a sin

[2022-05-30 11:09] tschechniker commented on #714
+1

[2022-05-31 08:58] Fred-sun commented on #861
fixes by #867

[2022-05-31 09:32] fjmartinperez opened #869 "Credentials did not include a subscription_id value"
Hi all,

I am trying to use this module: [azure_rm_adgroup_info module](https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_adgroup_info_module.html#ansible-collections-azure-azcollection-azure-rm-adgroup-info-module) – Get Azure Active Directory group info

But looks like subscription_id is mandatory to connect to AAD. My AAD Admin told to me that AAD doesn´t have any

[2022-05-31 09:54] Fred-sun commented on #847
@rbreitendev @sscheib-rh Now we have the following two solutions, can they meet your needs?

First: With the new func in Pull Request (https://github.com/ansible-collections/azure/pull/867), you can create or manage disks and mount them to multiple VMS, as shown in the following use case:
[code]
Second: You can use azure_rm_virtualmachine to create multiple disks and mount them to a specified VM,

[2022-05-31 14:22] Fred-sun commented on #869
@fjmartinperez If service principal credential is used, subscription_id must be provided. If subscription_id is not provided, ad_user and ad_password can be used to access it! Thank you very much!

[2022-05-31 14:22] Fred-sun commented on #869
@fjmartinperez If service principal credential is used, subscription_id must be provided. If subscription_id is not provided, ad_user and ad_password can be used to access it! Thank you very much!

[2022-05-31 14:43] Fred-sun commented on #864
@71Imapla Thank you for sharing the problem you encountered. Could you please provide your test script and the version of AZCollection? Will help solve the problem. Thank you very much!

[2022-05-31 14:43] Fred-sun commented on #864
@71Imapla Thank you for sharing the problem you encountered. Could you please provide your test script and the version of AZCollection? Will help solve the problem. Thank you very much!

[2022-05-31 21:29] archoversight commented on #847
Neither suggestion meets our requirements.

We have 100 VM's that we run ansible across, each of those VM's needs 5 or more disk attached.

It is a 1:1 relation for disk to VM. We do not have the same disk mounted to multiple VM's.

So that is 500 disk that needs to be created and attached. The VM is already running and is managed using terraform, we will not be switching to ansible for managing t

[2022-06-01 00:15] Fred-sun commented on #847
@archoversight Thanks for sharing your thoughts, this needs to change the current logic, add multitasking support. We'll discuss it and decide. Thank you very much!

[2022-06-01 01:44] Fred-sun commented on #852
@beerygaz Do you install requirements-azure. txt using Python2 or Python3?

[2022-06-01 02:30] Fred-sun commented on #805
@fiskhest @pun-ky Sorry for the trouble caused to you, the pull request related to the upgrade of 'azure mgmt-monitor' is #701, which contains azCollection 1.11.0 or the higer version. Use the accompanying version test. Thank you very much!

Or you can install the latest version tests like this
[code]

[2022-06-01 07:16] fjmartinperez commented on #869
@Fred-sun thank you for the feedback!

Unfortunately, my AAD admin doesn't want to provide ad_user and ad_password due to security reasons.

I´ve been testing and found a workaround. By setting 'null' client_id field looks like you can bypass the issue, but now I get another error:

`"msg": "failed to get ad group info Insufficient privileges to complete the operation.",
  "exception": "  File \"/

[2022-06-01 07:20] Fred-sun commented on #869
@fjmartinperez Yes, user authorization is required,  and add permissions! thank you!

[2022-06-01 08:27] beerygaz commented on #852
Python3 / Pip3

[2022-06-01 08:56] Fred-sun commented on #812
@jghal @kingsleyadam Sorry for the trouble, I added MSI support for track2 SDK in #870 , you can try it and solve the problems you have encountered. Thank you very much!

[2022-06-01 14:59] jscheible opened #871 "azure_rm_keyvault_info fails with "AttributeError: 'Resource' object has no attribute 'properties'""
##### SUMMARY
[code]
Debugging has shown that seven (7) objects are returned by
`319:                              response = list(self._client.vaults.list())`
but none of those seven has a `properties` field.
N.B.: This is on AzureGov.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_keyvault_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[2022-06-02 03:19] Fred-sun commented on #871
@jscheible Thank you for submitting the problem. It has been fixed. Relevant Pull Request #872. Thank you very much!

[2022-06-02 05:41] #812 closed, assigned to nobody

[2022-06-02 06:24] Fred-sun commented on #852
@beerygaz Could you reinstall this for a try? ---- >sudo pip3 install msrest -I

[2022-06-02 06:42] Fred-sun commented on #862
@docbyte86 You are welcome to share your problems. But according to your Log, your keyvault does not exist, so at the end of the set_facts error, there are undefined variables! Thank you very much!
[code]

[2022-06-02 07:42] fjmartinperez commented on #869
Hi all,

Still with this issue.

I´m testing with a personal instance of Azure AD from the scratch, in which i can manage user and application permissions.

An Azure AD instance does not have any subscription id, so if you only want to manage Azure AD groups, you will not have this  value to configure in AAP credential. My workaround to this was setting it to null but it seems this setting causes

[2022-06-02 21:08] nleiva commented on #805
I also run into this in Ansible with Python 3.9.7: "_ModuleNotFoundError: No module named 'azure.mgmt.monitor.version'
ModuleNotFoundError: No module named 'azure.mgmt.monitor.version'_" I believe, this is indeed a bug as @kohtala explains here: https://github.com/ansible-collections/azure/issues/441#issuecomment-843068801 (newer Azure library versions are incompatible with some imports in this co

[2022-06-03 07:31] benoit-scnd commented on #669
Hello @fiftin ,
Do you find a solution ?

[2022-06-06 09:05] #871 closed, assigned to nobody

[2022-06-06 15:48] fiftin commented on #669
Hi @benoit-scnd,

I don't use Azure via Ansible anymore.

[2022-06-06 19:01] adthorn commented on #723
Any update? RBAC has been around for 3 years now @Fred-sun

[2022-06-07 05:37] #743 closed, assigned to nobody

[2022-06-08 03:57] #792 closed, assigned to nobody

[2022-06-08 05:56] #130 closed, assigned to nobody

[2022-06-08 12:28] adthorn commented on #737
Any update on this? Would rather see this as a module instead of using the CLI.

[2022-06-08 13:34] fjmartinperez commented on #869
Update:

After testing it in an Azure educational instance in which I have full management:

subscription_id is mandatory because you need storage for using cloud shell.

So first of all you must create a storage resurce for cloud shell, which will have a subscription. This subscription is the subscription_id you need.

But after that I have same error "Insuficient Permissions". I wonder now I hav

[2022-06-08 16:51] l3ender commented on #130
This issue has been resolved with https://github.com/ansible-collections/azure/pull/833. It is merged to dev and should be included in the next release (>v1.13.0).

Please note that if you are updating an existing python environment with previously-installed dependencies, you will need to explicitly uninstall the old storage dependency (do this before installing the updated from requirements-azure

[2022-06-08 17:19] l3ender commented on #780
I have opened https://github.com/ansible-collections/azure/pull/875 to resolve this issue, and the PR is under review. Thanks!

[2022-06-10 07:42] maxnasonov commented on #396
The module is called [azure.storage.common.cloudstorageaccount](https://github.com/Azure/azure-storage-python/blob/master/azure-storage-common/azure/storage/common/cloudstorageaccount.py) now but `azure-storage==0.35.1` provides required module.

[2022-06-10 09:00] Fred-sun commented on #691
@DII-dsward  Sorry, this disk was created when the VM was created, we cannot add tags to this disk. Another , The required disk_size_gb issue is addressed in #876. Thank you very much!

[2022-06-10 09:01] Fred-sun commented on #690
fixes by #876

[2022-06-11 20:46] l3ender commented on #459
I've raised https://github.com/ansible-collections/azure/pull/878 to add this feature.

[2022-06-13 02:45] Fred-sun commented on #805
@nleiva Since the problem you encountered has not been copied yet, the problem you mentioned @jaydestro has been resolved through the new version. Can you reinstall it and try? Thank you very much!
https://github.com/ansible-collections/azure/issues/715#issuecomment-1025951904

[2022-06-13 08:41] docbyte86 commented on #862
@Fred-sun , thank you for your reply. let me reproduce the error. i am sure the keyvault exist. I will share my findings, soon.

[2022-06-14 09:29] #459 closed, assigned to nobody

[2022-06-14 13:53] fjmartinperez commented on #869
Update:

Tested with azure.azcollection 1.13.0 (recently updated) and still with same issue "Insuficient Permissions"

[2022-06-14 14:21] fjmartinperez commented on #869
Reviewing docs:

Microsoft is migrating Graph API endpoints:

https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-faq

So from now, API requests must call to another url:

https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-request-differences

Checking random code of azcollection:

https://github.com/ansible-collections/azure/blob/dev/plugins/module_utils/azure_rm_common.py

Y

[2022-06-15 09:09] #690 closed, assigned to nobody

[2022-06-15 14:49] ValioSV opened #883 "managed_disk_type cannot be set when creating a VM from custom image"
##### SUMMARY
I cannot set "managed_disk_type" property to "StandardSSD_LRS" when creating a VM from custom image.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_virtualmachine module > managed_disk_type

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

SUSE Linux Enterprise Server 15 SP2

##### ST

[2022-06-16 12:14] jdelvecchio commented on #130
To me, this is not resolved yet.
Example :

[code]

And this takes ~3mins to run

[2022-06-16 12:57] jsjworville opened #885 "msi authentication type doesn't work for inventory plugin - required module 'SubscriptionClient' is not defined"
##### SUMMARY

When running the inventory plugin - I receive the following exception:
[code]

I traced through the execution and don't believe the imports at the top of `plugins/module_utils/azure_rm_common.py"` are read which is why the error occurs.

I fixed it by adding `from azure.mgmt.resource.subscriptions import SubscriptionClient` on line `1600`

##### ISSUE TYPE
- Bug Report

##### COMPON

[2022-06-16 13:15] l3ender commented on #130
@jdelvecchio - as mentioned in https://github.com/ansible-collections/azure/issues/130#issuecomment-1150159235, the change has been merged to dev but is not yet released. It should be included in the next release (likely to be version 1.14.0). You can install the collection from the repo's `dev` branch if you want to use the change immediately.

Hope that helps--thanks!

[2022-06-17 11:22] t8mas062184 opened #887 "Couldn't find api version for Microsoft.DataFactory/factories?api-version=2018-06-01"
- name: Check if Data Factory ({{ az_datafactory_name }}) already exists
    azure.azcollection.azure_rm_resource_info:
      auth_source: auto
      client_id: "{{ az_client_id }}"
      secret: "{{ az_secret }}"
      tenant: "{{ az_tenant_id }}"
      subscription_id: "{{ az_subscription_id }}"
      url: "https://management.azure.com/subscriptions/{{ az_subscription_id }}/resourceGroups/{{ az_

[2022-06-20 06:43] #856 closed, assigned to nobody

[2022-06-20 07:26] #841 closed, assigned to nobody

[2022-06-20 07:40] #811 closed, assigned to nobody

[2022-06-20 07:56] #794 closed, assigned to nobody

[2022-06-20 12:03] SpikePy opened #890 "Route Table of Subnet gets cleared when using a AKS"
##### SUMMARY
Recreating a Azure Subnet flushes the route_table with the entries genereated by an AKS

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_subnet.py

##### ANSIBLE VERSION
ansible 2.10.7
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.9/

[2022-06-20 13:05] dmsimard commented on #569
I also ran into this and agree with @Geogboe -- the azure group provided by ansible-core (per the documentation) is out of date.

azure.azcollection should define an action group such that it is easy to set ``module_defaults`` values for modules in the collection without needing to specify them one by one.

I will follow the [proposed PR](https://github.com/ansible-collections/azure/pull/874) and

[2022-06-20 14:40] docbyte86 commented on #862
@Fred-sun , actually i was able to test further and it comes to the clue that we had a typo in one variable refering to the corresponding key vault. Thank you very much

[2022-06-20 14:40] #862 closed, assigned to nobody

[2022-06-20 22:38] Flangvik opened #891 "azure_rm_appserviceplan_info is missing required positional argument: 'credential'"
##### SUMMARY
The az module azure_rm_appserviceplan_info seems to be missing required positional argument: 'credential'.
Other modules such as azure_rm_storageaccount_info and azure_rm_resourcegroup_info works just fine within the same playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_collections.azure.azcollection.plugins.modules.azure_rm_appserviceplan_info

##### ANSIBLE VE

[2022-06-21 02:55] smfredolme06 commented on #831
Thank you! It works now

Regards,

Sheila

From: Fred-sun ***@***.***>
Sent: Thursday, May 12, 2022 10:41 AM
To: ansible-collections/azure ***@***.***>
Cc: Sheila Marie Redolme ***@***.***>; Mention ***@***.***>
Subject: EXTERNAL EMAIL: Re: [ansible-collections/azure] azure_rm_manageddisk has missing parameters for Azure Snapshot disk creation (Issue #831)

@smfredolme06<https://clicktime.symantec

[2022-06-21 04:01] tu-doan opened #893 "azure_rm inventory not work for MSI auth with others AzureCloud."
## Description:
In `azure_rm.yaml`, my config is:
[code]
Did't know why but ansible playbook return 404 with my subscription.
[code]

## Debugging

After debugging, I found out that the playbook use AzurePublicCloud endpoint, instead of `AzureChinaCloud `. That's why the response is 404 with my subcribtion_id.

Here is the issue with the library:
Return `AZURE_PUBLIC_CLOUD` when variable `raw_clou

[2022-06-21 04:57] #831 closed, assigned to nobody

[2022-06-21 07:54] tu-doan commented on #893
A fixed PR was introduced here: https://github.com/ansible-collections/azure/pull/894

[2022-06-21 08:21] Fred-sun commented on #890
@SpikePy We are very sorry for the trouble caused to you. At present, our azure_rm_subnet disconnects the subnet and routing table. If there is a good way in the future, we will update again. Therefore, when managing subnets, you can add the ID of the routing table to subnet parameters to avoid association. You can obtain the current subnet routing table configuration information in the following

[2022-06-21 08:28] Fred-sun commented on #891
@Flangvik Could you please help provide the version information of "azure-mgmt-web"? Required version is "azure-mgmt-web==6.1.0".

[2022-06-21 11:04] Flangvik commented on #891
Can confirm i am running 6.1.0
[code]

[2022-06-23 08:40] #780 closed, assigned to nobody

[2022-06-23 08:41] #394 closed, assigned to nobody

[2022-06-23 16:24] benjdudas commented on #805
@pun-ky  @fiskhest I just ran into this as well. From what I can tell, it looks like the actual issue is being masked since any import failure below will just return that generic `Failed to import the required Python library (ansible[azure] (azure >= 2.0.0))`.

https://github.com/ansible-collections/azure/blob/0a7eb5e44417abe52aa3125a7bf5155d9ed9e32f/plugins/module_utils/azure_rm_common.py#L227-L2

[2022-06-23 16:44] nleiva commented on #805
@Fred-sun please check out the reply by @benjdudas highlighting the problem with the python library imports in the collection. Users will continue to hit this issue until this is resolved.

[2022-06-26 11:20] iwt-cmd commented on #795
Good morning, apologies for commenting on a closed issue but I'm having the same error (ModuleNotFoundError "packaging") and I did the same steps to verify the module was installed/working using the python REPL.  Was a resolution found?

[2022-06-28 07:04] Fred-sun commented on #887
@t8mas062184 The self.url for this location should be resource ID, as follows, please try again. Thank you very much!
[code]

[2022-06-28 07:06] Fred-sun commented on #890
@SpikePy Do you have any other questions? Thank you very much!

[2022-06-28 08:47] SpikePy commented on #890
@Fred-sun no, thanks for your workaround but in our case this is very complicated implement. So my solution is to split the playbook and try to avoid this module whenever possible. Would be great if you could fix the aks behavior in the future.

[2022-06-28 08:50] Fred-sun commented on #890
@SpikePy Thank you very much! Once there is a better way, we will update and inform you in time!

[2022-06-28 09:16] Fred-sun commented on #885
@bf-jamesworville According to your error message, the dependency was not found. Would you please check whether "azure mgmt-resource" is installed and the version installed? Thank you very much!

[2022-06-28 10:11] jsjworville commented on #885
Hi @Fred-sun - see below:
[code]

[code]

[2022-06-29 01:12] #861 closed, assigned to nobody

[2022-06-29 01:13] #844 closed, assigned to nobody

[2022-06-29 01:28] Fred-sun commented on #805
@nleiva Sorry for replying to you so late. Are you using the old version and installing a new dependency? Please try upgrading the current latest version“ansible-galaxy collection install azure.azcollection --force ” ! In another Pull Request （relate link: https://github.com/ansible-collections/azure/pull/751) ! have removed these unused imports. Thank you very much!

[2022-06-29 01:38] Fred-sun commented on #885
@bf-jamesworville If you had added an import at line 1600 you would have solved this problem, but we also imported at line 239 the same code as you imported? That's not so weird!
https://github.com/ansible-collections/azure/blob/0a7eb5e44417abe52aa3125a7bf5155d9ed9e32f/plugins/module_utils/azure_rm_common.py#L239

[2022-06-29 01:46] Fred-sun commented on #852
@beerygaz Do you still have this problem? Could you please show me the complete error log? Thank you very much!

[2022-06-29 06:19] saito-hideki opened #903 "azure_rm_privateendpoint failed with AttributeError if cert_validation_mode: ignore specified"
##### SUMMARY
If `cert_validation_mode: ignore` has been set to`azure_rm_privateendpoint` module, it doesn't work with `azure-mgmt-network 16.0.0(or later)`.
Since azure-mgmt-network==16.0.0(or later), `config` attribute is replaced with `_config`. So I think we need to replace it with `_config` in the following section:

- https://github.com/ansible-collections/azure/blob/dev/plugins/module_utils

[2022-06-29 07:36] jsjworville commented on #885
@Fred-sun Yep, I did see that import, but still doesn't work for me unless I add that _unnecessary_ import on line 1600. Are you able to replicate it at all?

[2022-06-29 07:38] Fred-sun commented on #885
I haven't copied it yet, I'm still trying! Thank you very much!

[2022-06-29 07:42] jsjworville commented on #885
No worries at all and thank you! It's running on a regular Azure VM - with a user managed identity added. It's not a huge problem as I can also get it to work by defining the subscription ID within the `azure_rm.yml` inventory file - as it seems it doesn't then try to obtain the subscription_id this way..

[2022-06-29 08:58] Fred-sun commented on #815
@cloudengineers I have encountered the above problem in centos 7.7, so far I have not found the cause of the problem! But I can test it on centos 7.9. Can you try it on Centos 7.9? Thank you very much!
[code]

[2022-06-29 10:31] andreadecorte opened #905 "Expose softDeleteRetentionInDays property in azure_rm_keyvault"
##### SUMMARY
azure_rm_keyvault is currently not exposing this property, so you get the default value 90

##### ISSUE TYPE
- add this property, allowed values 7 <= x <= 90

##### COMPONENT NAME
azure_rm_keyvault

##### ADDITIONAL INFORMATION

[code]

[2022-06-29 15:22] nleiva commented on #805
Thank you for the pointer to the PR @Fred-sun. That solves the problem. So, in summary, this issue was introduced in `1.11` and later fixed in `1.12`. We were stuck at `1.10`, but we now upgraded successfully to `1.13`.

[2022-06-29 15:24] Fred-sun commented on #805
Greate, I will close this issue! Thank you very much!

[2022-06-29 15:24] #805 closed, assigned to nobody

[2022-06-29 15:27] Fred-sun commented on #498
@bcchagas Fetch resources info by azure_rm_resource_info.py! Thank you very much!
[code]

[2022-06-29 15:27] #498 closed, assigned to nobody

[2022-06-30 10:00] Fred-sun commented on #711
fixes by #908

[2022-07-01 05:36] Fred-sun commented on #852
@beerygaz Could you please help to confirm whether the installation is in the specified path during the installation? If not, it will cause failure to find it. Thank you!

Anyway, Re-install some package, sometimes because of some reason can not writeable, and install to/home/azureuser/local/lib/pythonxxxx/site - packages below， cause these problem!

[2022-07-01 05:38] xuzhang3 commented on #815
@cloudengineers  This root issue is the python dependencies installed to two different location:
`/usr/local/lib/python3.6/site-packages` and `/home/azureuser/.local/lib/python3.6/site-packages` this is why ansible cannot find the dependency modules. Recommend run ansible in an virtual environment.
1. create new virtual environment: `python3 -m venv test`
2. Active the virtual env: `. ./test/bin/a

[2022-07-01 07:00] #711 closed, assigned to nobody

[2022-07-01 08:34] Fred-sun commented on #847
@archoversight I have added multitasking support in PR #909. When mounting VM, you can attach disks to multiple VMS at the same time. Does this satisfy your needs?

[2022-07-01 13:34] beerygaz commented on #852
Running
[code]
Then re-installing the dependencies got me sorted.  Thanks for your guidance.

[2022-07-01 13:34] #852 closed, assigned to nobody

[2022-07-04 01:00] Fred-sun commented on #891
@Flangvik We are now in the excessive stage of upgrading the SDK. The "azure mgmt-web ==6.1.0" you used is not supported for the time being(https://github.com/ansible-collections/azure/pull/849). It will be supported in the next release. Now you are advised to lower its version. Thank you very much!

[code]

[2022-07-04 01:12] Fred-sun commented on #885
@bf-jamesworville Ok, if there are no further problems, I will close it for the time being. Thank you very much!

[2022-07-04 01:12] #885 closed, assigned to nobody

[2022-07-04 03:03] Fred-sun commented on #883
@ValioSV I tested it locally, your Playbook is missing the required parameter "disk_size_gb ", and I got a VM disk type of" StandardSSD_LRS ". Can you try again here? And share the entire testing process, which will help solve any problems you encounter! Thank you very much!.
[code]

[2022-07-04 07:54] ValioSV commented on #883
@Fred-sun I will try with the parameter "name" and "caching" added.
I already tried with parameter "disk_size_gb" and with "create_option: FromImage" but it fails.
The thing here is that I am creating a new VM from template and the LUNs are predefined in the Azure template so I do not have the "managed_disk_id".
In the "Create VM" task above I am specifying:
image:
      id: "{{ image_id }}"
I tri

[2022-07-04 07:59] Fred-sun commented on #883
@ValioSV Sorry, I still don't understand what you mean. Do you want to mount the existing disk to the VM?

[2022-07-04 08:00] Fred-sun commented on #864
Kindly ping!

[2022-07-04 08:07] ValioSV commented on #883
@Fred-sun No I do not want to mount existing disks.
I have a custom template created in Azure cloud and I am using it to deploy the VM using "azure_rm_virtualmachine". This custom template has 4 additional data disks (LUNs) already created and configured. So when I call the deploy from template in ansible it simply creates a new machine with one OS disk and 4 LUNs. The problem is that the LUNs are

[2022-07-04 08:13] Fred-sun commented on #883
@ValioSV But from your description above, there is no mention of templates? Can you provide templates and Playbook? Will this help solve the problem you are having? Thank you very much!

[2022-07-04 08:24] ValioSV commented on #883
@Fred-sun It is all described in the summary of the issue: "I cannot set "managed_disk_type" property to "StandardSSD_LRS" when creating a VM from custom image." See above.
I have already provided the ansible role(create-vm-azure) above. Now I added the playbook too. See above in the description of the issue.
Unfortunately I cannot provide the custom image from Azure because of company policies. I

[2022-07-04 11:21] nicolaibaralmueller opened #911 "azure_rm_virtualmachinescaleset updates is single instance although upgrade policy is manual"
##### SUMMARY

When using the module azure.azcollection.azure_rm_virtualmachinescaleset and updating the image and defining upgrade_policy to Manual the process still updates one instance

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure.azcollection.azure_rm_virtualmachinescaleset

##### ANSIBLE VERSION

[code]

and

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

Cent

[2022-07-04 11:51] 71Imapla commented on #864
It was a permissions issue. All sorted out now.

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Fred-sun ***@***.***>
Sent: Monday, July 4, 2022 2:01:06 AM
To: ansible-collections/azure ***@***.***>
Cc: 71Imapla ***@***.***>; Mention ***@***.***>
Subject: Re: [ansible-collections/azure] Getting 403 Error on azure.azcollection.

[2022-07-04 11:53] #864 closed, assigned to nobody

[2022-07-04 13:29] JonathanG3 commented on #241
Hey, I'm also up'ing this, it's weird since the powershell module has support for Access Key yet the ansible module doesn't.

[2022-07-05 06:16] Fred-sun commented on #911
@nicolaibaralmueller As you submit this question, could you elaborate on its changes? This will help solve the problem you are currently encountering! Thank you very much!

[2022-07-05 06:42] nicolaibaralmueller commented on #911
Sure @Fred-sun. So the scaleset is based on a image, specified as 'Image reference' in the'operating system' menu in the Azure Portal on the scaleset resource. When updating the image reference via Ansible at least one instance is still being updated with the newest image. When defining upgrade policy Manual existing instances should not be updated. Only newly created instances should use the new

[2022-07-06 02:51] #891 closed, assigned to nobody

[2022-07-06 02:51] #887 closed, assigned to nobody

[2022-07-07 06:31] garamirseokim opened #914 "Adding exclude_host_filters in dynamic inventory yaml"
##### SUMMARY

Need to create filter on Azure's dynamic inventories yaml to list the hosts only which is having tag key "Provisionedby=Test" , "Provisionedby=AAA" and "Provisionedby=BBB"

However, the below codes are not working, Is it fine if we declare two times for "'"ManagedOS" not in tags.keys()'" and "'"Provisionedby" not in tags.keys()'"

[code]

##### ANSIBLE VERSION

[code]
##### COLLECTI

[2022-07-07 07:38] jackmahesh commented on #914
I also tried below filter on Azure's dynamic inventories yaml, seems it should work, any one please confirm whether its a correct method to filter.

[code]

[2022-07-08 01:44] #890 closed, assigned to nobody

[2022-07-08 01:45] #815 closed, assigned to nobody

[2022-07-08 03:27] Fred-sun commented on #655
@DII-dsward Can you try the following way? Thank you very much!
[code]

[2022-07-08 07:05] Fred-sun commented on #721
fixes by #915

[2022-07-11 07:53] Fred-sun commented on #914
@jackmahesh Yes, do you have any problems now?

[2022-07-11 07:56] Fred-sun commented on #914
@garamirseokim 'exclude_host_filters' is already used to filter hosts. You can refer to the link -https://github.com/ansible-collections/azure/blob/dev/plugins/inventory/azure_rm.py,   the Ansible version you use is the ansible-azcollection version. Thank you very much!

[2022-07-11 15:44] Fred-sun commented on #749
@Vitals9367 Sorry for not replying you in time. The API of azure_rm_sqldatabase. py currently only supports the parameter 'collation', but does not support charset. You can refer to the Settings below. 'azure_rm_postgresqldatabase.py', I will reply and fix it as soon as possible. Thank you very much!
[code]
[code]

[2022-07-11 20:47] philipsd6 opened #916 "azure_rm_storageblob requires access to every single container even when directed to a single one"
##### SUMMARY

When using the `azure_rm_storageblob` module to access content in a specified container I have access to, I receive an error because I do not have access to list all the containers of the storage account.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_storageblob

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2022-07-12 01:22] Fred-sun commented on #749
fixes by #917

[2022-07-12 07:33] siddallhotmail opened #918 "MSAL Token Cache Multiple Token Problem - Enterprise Azure Account"
##### SUMMARY
Whilst using an enterprise azure login (multiple subscriptions under a single tenant). The auth_sources property when set to use CLI fails with **User 'xx' does not exist in MSAL token cache.**

Using a standard azure subscription / 1-2-1 logon the azure modules work fine.

I suspect that this is because of the multiple tokens I obtain when logging in using the (now depreciated) func

[2022-07-12 08:24] Singhdeo opened #919 "AttributeError: 'MSIAuthentication' object has no attribute 'get_token' fatal: [localhost]: FAILED!"
Error while trying to deploy a machine using ansible.

We're using the script provided in the MS doc, [Refer](https://docs.microsoft.com/en-us/azure/developer/ansible/vm-configure?tabs=ansible#3-implement-the-ansible-playbook)

- name: Create Azure VM
  hosts: localhost
  connection: local
  tasks:
  - name: Create resource group
    azure_rm_resourcegroup:
      name: myResourceGroup
      locati

[2022-07-13 16:18] uccsjarmo commented on #835
Hi,

I'm not sure if @kiweezi is trying to say that "azure_rm_backuppolicy should implement support for Azure IaaS MSSQL instance backup with using policy"?

I think this is a very good proposal.

[2022-07-14 06:45] xuzhang3 commented on #847
@archoversight @rbreitendev #909 will async attach the disk to mulit-VMs

[2022-07-14 08:14] Fred-sun commented on #918
@martinpsiddall If you use 'az login', can you specify the subscription_id you want to use and retry? Thank you very much!
[code]

[2022-07-14 09:21] Fred-sun commented on #919
@Singhdeo It should be fixed by #870, available for local update if you need it, it will be released in the next version (v1.14.0). Thank you very much!

[2022-07-14 13:47] jghal commented on #762
I am seeing a similar issue with collection version 1.13.0, but I am authenticated with an MSI that has contributor role over the whole subscription and using the CLI to delete the gallery image version works.

[code]

The task to delete the old versions has this output

[code]
Here's debug output of that task

[code]

[2022-07-14 16:18] archoversight commented on #847
@xuzhang3 looking at the code it only modifies the path that says it is attaching the same disk to multiple VM's (See comment here: https://github.com/ansible-collections/azure/pull/909/files#diff-eb88fb554c994eddda6e44d62f486d9e57d26ff4f320979a43cb13b8a62d7600L456). We have `M` disks, which get attached to N machines. Where `N` is for example `M / 5` (we attach 5 disks to 1 single machine). Each

[2022-07-14 16:29] archoversight commented on #847
Here's some sample code that showcases how this works with EC2:

[code]

This will asynchronously create and mount EC2 volumes against an instance (and if ansible is run against multiple instances, it will correctly do this for all 100 machines that ansible is SSH'ed to at once). If we have 10 disks to attach to a single instance, the `async` keyword here will create and attach 10 disks, and only

[2022-07-14 18:10] beerygaz opened #920 "Credentials Via Ansible Variables"
Should it be possible to define credentials once for all Azure roles?  If I set SP detail (client_id, secret, tenant, subscription_id) as vars in all.yaml the Azure roles fail to authenticate, but if I pass them in every task, then authentication work.  Is this expected behaviour?  Should these global vars not be in scope?

Example:
This works:

[code]

This does not:
[code]

[2022-07-15 01:33] Fred-sun commented on #920
@beerygaz You can define these credentials under "~/.azure/credentials" or through environment variables, You can refer to link - https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html

[2022-07-15 05:01] beerygaz commented on #920
Thank you @Fred-sun.  We prefer not to store these SP credentials on the filesystem, especially under each user's home directory as maintaining them becomes complex.

Passing as environment at runtime variables means I can only have a single SP for the entire play.

[2022-07-15 07:31] Fred-sun commented on #762
@achevalet @jghal Thank you for submitting the problem, but I can remove it after repeated testing locally. 'OK' is returned when the image version number does not exist. Can you check if the resource exists before deleting it? Thank you very much!
[code]

[2022-07-15 10:15] Fred-sun commented on #688
@dkirrane @mdf-ido Did you specify a subscription_id to use when using I (auth_source=cli)?
[code]

[2022-07-15 13:18] jghal commented on #762
If you review my code snippet you'll see the input to the `azure_rm_galleryimageversion` to delete image versions is the sorted output of the `azure_rm_galleryimageversion_info` task, and therefore the version must exist, but the task to delete doesn't delete it or return an error.

[code]

[2022-07-18 05:30] Fred-sun commented on #645
@rotreein It should be that change a rule, the other rules will rekindle, if the parameters change, the new parameters will be used, and if there is no change, the previous parameters will continue. Thank you very much!

[2022-07-18 06:53] #702 closed, assigned to nobody

[2022-07-19 10:44] Fred-sun commented on #749
fixes by #884

[2022-07-19 10:44] #749 closed, assigned to nobody

[2022-07-20 02:34] stevenspinoza opened #923 "Public IPs from Azure Scale Sets not shown on ansible-inventory"
##### SUMMARY

Hey guys, I try to get public Ips from my azure scale sets using ansible-inventory, but the output is empty, even though on azure they are shown, thanks. See images

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/plugins/inventory/azure_rm.py
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 22.04 LTS

##### EXPECTED RESULT

[2022-07-20 05:31] #903 closed, assigned to nobody

[2022-07-20 05:53] #905 closed, assigned to nobody

[2022-07-20 06:55] #768 closed, assigned to nobody

[2022-07-20 12:59] Fred-sun commented on #847
@rbreitendev @archoversight  Does the following way of mounting disks meet your needs?
[code]

[2022-07-21 06:00] tasoint opened #924 "add setting enableAutomaticUpdates for azure_rm_virtualmachine module option"
##### SUMMARY
please add new option of azure_rm_virtualmachine module.
this option is setting config enableAutomaticUpdates.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
EnableAutomaticUpdates is true by default when the current module is executed.
enableAutomaticUpdates can only be set when a VM is created, so please add it as an option in the module.

##### ADDITIONAL INFORMATION
Enabl

[2022-07-21 10:23] dmaasland commented on #396
Should anyone come across this in the future and not want to install an outdated library, it seems that **`azure.storage.cloudstorageaccount`** has moved to **`azure.storage.common.cloudstorageaccount`** and can be installed by running:

[code]

[2022-07-21 11:06] jackmahesh commented on #914
Hi All,

It works in below filter option. thanks all your support.

exclude_host_filters:
- '"ManagedOS" and "Provisionedby" not in tags.keys()'
- tags["ManagedOS"] != "True" and tags["Provisionedby"] != "Name1" and tags["Provisionedby"] != "Name2" and tags["Provisionedby"] != "Name3"

[2022-07-22 14:46] bbaileyod opened #926 "azure_rm_storageaccount does not include valid account types of Standard_GZRS and Standard_RAGZRS"
##### SUMMARY
azure_rm_storageaccount.py should now include support for types Standard_GZRS and Standard_RAGZRS

##### ISSUE TYPE
Need the ability to request the additional storage types at creation.  Converting to them requires engaging Azure to change to them and unfortunately the CLI support changing from them.  So if you deploy as ZRS and ask Azure to convert to GZRS, a job could convert it ba

[2022-07-23 07:49] kTipSSIoYv opened #927 "Azure Ansible - Doesn't fetch IPConfiguration Public IP Method"
##### SUMMARY
When I try to fetch the IP configuration of the network interface, I see that public_ip_allocation_method is set to NULL even though it is dynamic in Azure portal. I even tested by creating a new IP yet it shows NULL.

As a result I'm unable to modify network interface settings like Security Group, I get the error value of public_ip_allocation_method must be one of: Dynamic, Static,

[2022-07-24 11:37] kTipSSIoYv opened #928 "Azure - Unable to change Existing NIC Security Group"
##### SUMMARY
  Azure doesn't let me update Network security group of existing NIC using Ansible.

I get the error The resource name already exists.

[azure_rm_networkinterface](https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_networkinterface_module.html) module documentation says it can be used to update NIC configurations.

I've used Ruby SDK for updating Azure NI

[2022-07-26 21:21] danfinn opened #929 "azure_rm_keyvaultkey missing options provided by the Azure API"
The following options are available via the Azure API but not supported by azure_rm_keyvaultkey:

key_size
key_attributes
key_type
curve

I've got a PR ready which will add this functionality.  My code can be found @ https://github.com/danfinn/azure/tree/key_attributes

Here are the integration and sanity tests results:

[code]

[code]

[2022-07-27 08:16] Fred-sun commented on #926
Added by #931

[2022-07-27 09:15] #721 closed, assigned to nobody

[2022-07-27 20:13] stevenspinoza commented on #923
Ok, forgot adding a public NIC. Case closed :+1:

[2022-07-28 08:15] Fred-sun commented on #927
@kTipSSIoYv You are welcome to report this problem! "public_ip_allocation_method" does not appear in portals. The "azure_rm_publicipaddress_info" module can be used to obtain information about the public IP address. Returns "public_IP_allocation_method" from the network interface moule cannot be directly obtained. I'm wondering if I should delete the return value. Thank you very much!

[2022-07-28 08:21] Fred-sun commented on #927
@kTipSSIoYv In addition, I didn't see your error. Could you please share your Playbook and log? Will this help solve the current problem? Thank you very much!

[2022-07-28 13:36] jghal commented on #762
@Fred-sun I was able to move forward by using the [uri](https://docs.ansible.com/ansible/2.10/collections/ansible/builtin/uri_module.html) task to call the Azure [gallery-image-version DELETE API](https://docs.microsoft.com/en-us/rest/api/compute/gallery-image-versions/delete).

[2022-07-29 05:15] testotxt commented on #712
hi, any news on this?
on azure.azcollection 1.12.0 this problems seems to be still there

Thanks

[2022-07-30 08:12] Fred-sun commented on #712
@testotxt   #713 still needs to be improved, it can't be merged yet! Thank you very much!

[2022-08-01 01:56] Fred-sun commented on #928
@kTipSSIoYv You are welcome to ask this question! I don't have any problem updating it locally. This problem is currently only encountered in the following cases!

First: Your resource group location is "CentralIndia", but your network card exists in "Eastus".

Second: When you update the network card and do not specify locatioin, it will default to the location of the resource group, which will r

[2022-08-01 08:57] Akasurde opened #932 "No module named 'azure.cli.core.auth'"
_From @kTipSSIoYv on Jul 31, 2022 18:34_

### Summary

'Why am I getting this error `No module named 'azure.cli.core.auth'`. I've installed ansible[azure] and also all the requirements from github requirements-azure.txt.

[code]

Here is the complete log.  Any idea what the issue is or on how to fix it?

[code]

### Issue Type

Bug Report

### Component Name

pip

### Ansible Version

[code]

###

[2022-08-01 17:03] fmunozmiranda opened #934 "Pass user_data in Virtual Machine creation."
##### SUMMARY

I need to create a virtual machine, with a custom image and pass it an `user_data` necessary for its creation, however in the documentation I did not see that there is any attribute to pass it, is it possible to pass it in some way?
Thanks.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

azure_rm_virtualmachine
##### ANSIBLE VERSION

[code]

[2022-08-02 00:51] Fred-sun commented on #924
Added by #933

[2022-08-02 03:12] tasoint commented on #924
Thanks for creating the pull request!

[2022-08-02 06:36] fredflev commented on #771
I don't understand why this has been closed.
The error is still there in any version  of azure.azcollection > `1.10.0`.

@xuzhang3  @Fred-sun  Could the fix proposed by @ChandlerSwift be added to `azure_rm.py`?

[2022-08-02 06:40] xuzhang3 commented on #771
@fredflev  how do you install the install the collection dependencies?

[2022-08-02 09:57] fredflev commented on #771
@xuzhang3

Hi, I use pip and install the `6.1.0` version of ansible  via `$(brew --prefix)/bin/python3 -mpip install -r requirements.txt --user` that pulls the `1.13.0` version of `azure.azcollection`.

My `requirements.txt`:

[code]

As mentioned, installing `ansible>=6.1.0` also installs `azure.azcollection            1.13.0`

[code]

![image](https://user-images.githubusercontent.com/42792052/1

[2022-08-03 02:26] Fred-sun commented on #932
@Akasurde You are welcome to submit questions! Can you confirm that the location you installed is the one you referenced? Thank you very much!

[2022-08-03 02:28] Fred-sun commented on #929
fixes by #930

[2022-08-03 06:19] cryocaustik commented on #836
hey all - given the fix has been merged, any idea when we will see a release to verify the issue is resolved?

[2022-08-03 08:13] kTipSSIoYv commented on #932
The issue is with only ansible-runner. Ansible-playbook works fine locally. On a new docker instance I get the error `no module named azure.cli`.

We can't install both `azure.cli` and requirements from requirements-azure.txt (many packages gets removed which are needed). But I did test by installing both yet same error `no module named azure.cli` when ansible runner tries to run playbook,

[code]

[2022-08-04 01:26] Fred-sun commented on #932
@kTipSSIoYv Have you install this (azure-cli-core == 2.34.0)?

[2022-08-04 02:04] Fred-sun commented on #923
@stevenspinoza You are welcome to submit your problems? Before you get the VMSS instance information, can you verify that your instance VM is also configured with a public IP address?

[2022-08-04 02:15] Fred-sun commented on #920
@beerygaz You defined variables through vars, but did not use them. If you want to do it as a variable. Build you do as follows? Thank you very much!
[code]

[2022-08-04 03:43] #929 closed, assigned to nobody

[2022-08-04 06:27] #926 closed, assigned to nobody

[2022-08-04 06:28] Fred-sun commented on #919
@sirkubax Could you please help to provide the following information?
First: provide "pip3 list" information
Second: the version of "azure. azcollection" you installed!
Third: The directory you copied is not the directory used by the execution file
Fourth: the file header is added as follows
[code]

[2022-08-04 06:30] Fred-sun commented on #918
kindly ping!

[2022-08-04 09:04] Fred-sun commented on #916
@philipsd6 Can this problem be resolved if you change the storage account access permissions?

[2022-08-04 09:07] #914 closed, assigned to nobody

[2022-08-04 09:08] #924 closed, assigned to nobody

[2022-08-04 11:48] siddallgoogle commented on #918
Apologies Fred, been away on holiday.

Unfortunately the suggested work-around presents the same MSAL error.

[2022-08-05 03:52] Fred-sun commented on #869
@fjmartinperez AD related modules should work in ”az login;  az account set -s subscription_id " mode and specify auth_source: CLI in PlayBook. Thank you very much!

[2022-08-05 07:11] #836 closed, assigned to nobody

[2022-08-05 07:11] beerygaz commented on #920
This requires me to set environment variables in my execution environment before running the playbook.  We're hoping to retrieve them from a key vault once and then use them in multiple playbooks/tasks.

I guess I'm asking why I cannot define those variables at an inventory or playbook level rather than having to pass them into every task explicitly.

[2022-08-05 07:23] Fred-sun commented on #920
@beerygaz Credentials are the key to getting tokens to manage the Azure Resource. So each task requires credentials to get the tokens. That's why we configure these parameters as' az  login', system files, or environment variables. Of course, we can also configure it for every task!

[2022-08-05 07:27] beerygaz commented on #920
I understand Fred-sun, and I have learned that I can set environment variables from within the playbook, so I can work around this.  Thank you for your rapid guidance and assistance.

[2022-08-05 07:29] Fred-sun commented on #920
@beerygaz Thank you for your reply! If there are no other questions, I think this question can be closed first. Thank you very much!

[2022-08-05 08:51] #920 closed, assigned to nobody

[2022-08-05 09:34] Fred-sun commented on #784
@phillipstr What problems have you encountered with azure_rm_appserviceplan? Can you describe it in detail? Will this help solve the problem? Thank you very much!

[2022-08-05 10:48] sirkubax commented on #919
Sure
Just in case - it comes directly from Azure Cloud Shell - in case you'd like to replicate it

The bug is at the source :D

![image](https://user-images.githubusercontent.com/3442120/183057560-4cd378df-84c4-4819-b14b-fe794f51c061.png)

I was not installing any of Ansible or azure.collection - it is managed by Microsoft :)

AD 1
[code]

AD 2

[code]

AD 3
I must reverse engineered :)

Below you

[2022-08-05 15:04] abikouo commented on #847
@archoversight I tried to simplify the way disks are created and attached. I have developed a new module (if the solution is validated we can find a way to merge into the existing module ``azure_rm_manageddisk``) into #936

This has been tested with the following playbook:

[code]

I had some traces to see how resources are processed, here after the detail

[code]

Please provide feedback

[2022-08-06 19:25] kTipSSIoYv commented on #932
@Fred-sun  Yes I have installed it.

[code]

[2022-08-06 19:29] #928 closed, assigned to nobody

[2022-08-06 19:31] #927 closed, assigned to nobody

[2022-08-07 00:41] Fred-sun commented on #932
@Akasurde According to your error, "No module named 'azure.cli.core.auth" was not found. Could you please confirm whether the location referenced when you called is the same as your installation location?

[2022-08-07 01:23] kTipSSIoYv commented on #932
@Fred-sun How do I find that out? I've verified that all python version can find package `azure.cli.core`.

[2022-08-07 12:54] Fred-sun commented on #932
@kTipSSIoYv Re-install some package, sometimes because of some reason can not writeable, and install to/home/azureuser/local/lib/pythonxxxx/site -  or /urs/share/****

[2022-08-07 14:51] Fred-sun commented on #847
@abikouo Something like this?

[code]

[2022-08-07 15:20] Fred-sun commented on #919
@sirkubax This function will be added later than V1.13.0. The Azure Cloud Shell is still old, so it cannot be used directly. You are advised to create a VM and install Dev branch and try again. Or copy the #870 changes to the specified directory and try again. Also,  V1.14.0 will be released soon! Thanks!

[2022-08-08 15:07] Fred-sun commented on #773
Added in #937

[2022-08-09 02:26] Fred-sun commented on #723
@adthorn The old SDK currently does not support this parameter "enable-rbac-authorization ". We will consider adding it after we upgrade the SDK. Thank you very much!

[2022-08-09 02:41] Fred-sun commented on #410
@next-davidduquehernandez Half of the modules already support the new SDK, such as (network, compute, storage, etc.), the others are still in the process of updating! Thank you very much!

[2022-08-09 21:18] dustingaudette opened #938 "azure_rm inventory plugin fails to use tag value for hostname"
##### SUMMARY

Using tags to set hostname fails with AnsibleError: Could not compose tags.\<tag key\> as hostnames - 'dict
object' has no attribute '\<tag key\>'. If I use any other key from host_vars (e.g. resource_groups), the inventory comes back as expected (with the hostname taking the form of the host_var key used).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm inventory plu

[2022-08-11 00:24] Fred-sun commented on #737
added by #939

[2022-08-11 07:50] #773 closed, assigned to nobody

[2022-08-11 08:25] #893 closed, assigned to nobody

[2022-08-11 16:13] samccann opened #942 "Migrate Azure scenario guide from ansible/ansible into the collection"
##### SUMMARY

Collection-based scenario guides must live in their respective collections going forward. This ensures the guides are updated and kept in sync with the collection release.

The Ansible documentation code will take this collection-level guide and publish it along with the azure collection on docs.ansible.com.
See https://docs.ansible.com/ansible/latest/collections/community/dns/index

[2022-08-11 16:14] samccann commented on #942
See https://github.com/ansible/ansible/issues/75433 for what might be outdated in the source rst file.

[2022-08-12 12:41] buggsdummy opened #944 "Azure Tagging"
##### SUMMARY

Nice to have an ansible script that will be able to list all tags, remove, add, edit all tags from a subscription subsequently for any of the listed resources etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aztagginginfo module

##### ADDITIONAL INFORMATION

This would be used for any and all tagging inside of a given subscription and would greatly automate as well as l

[2022-08-15 14:13] johnpetersjr commented on #932
Any update on this one?  I just ran into the same issue from AWX - this was working fine back in May 2022, but admittedly I haven't tried it since then.

[code]

[2022-08-15 20:21] scottharwell opened #947 "Python Error Configuring Azure Firewall"
##### SUMMARY
The `azure.azcollection.azure_rm_azurefirewall` module throws an error when any of the firewall attribute parameters are provided as part of the playbook.  A simple test is to take the playbook example from the product docs and run the playbook.  Any time a firewall attribute parameter exists in a playbook, then `AttributeError: 'dict' object has no attribute 'split'` is thrown as an

[2022-08-17 14:26] fjmartinperez commented on #869
It worked in my educational instance simply giving permissions to the old Azure AD Graph and without changing anything else. This is de issue. So, authentication method is ok for me.

But in my production environment I am not the Azure administrator, witch will not want to give permissions to an API wich is retired.

I insist, the collection should work with Microsoft Graph API the same that works

[2022-08-18 03:09] sugitk opened #953 "pip library incompatibles for 1.13.0 requirements"
##### SUMMARY

When I install the libraries using this requirements-azure.txt, I faced two incompatible errors.

https://github.com/ansible-collections/azure/blob/v1.13.0/requirements-azure.txt

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]
This issue is for installing azure.azcollection 1.13.0.

##### CONFIGURATION

[c

[2022-08-18 03:47] felixfontein commented on #569
@dmsimard the documentation of ansible-core is correct, the problem is that this collection does not provide a `module_defaults` group called `azure`. The redirect from the short name `azure` to `azure.azcollection.azure` requires a group called `azure` defined in meta/runtime.yml so that it works.

[2022-08-18 04:38] dmsimard commented on #569
@felixfontein that makes sense, thanks for finding that out :)

Edit: mistakenly submitted too soon :p

For the particular case of this collection, we should consider changing from ``all`` to ``azure`` then ?

[2022-08-18 06:43] Krumbelfix opened #954 "Add the required azure permissions to the Documentation"
##### SUMMARY

Add the required azure permissions to the Documentation

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

for the whole collection

##### ANSIBLE VERSION

[code]

##### Additional information:
i'm having a hard time to figure out which permissions are needed for each module. It would be very convenient to have it documented. IMHO the best place would be the "Requirment

[2022-08-19 08:27] #737 closed, assigned to nobody

[2022-08-19 19:12] deubert-it opened #957 "Allow os disk size specification for azure_rm_virtualmachinescaleset"
##### SUMMARY

- We create an image from a VM with a 50 GB OS disk.
- We create a VM scalingset from this image, it fails:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure collection, azure_rm_virtualmachinescaleset resource

##### ANSIBLE VERSION
ansible 2.9.16

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expected:
- provide a way to add os disk size configuration f

[2022-08-24 19:58] bigfleet commented on #167
Not to reopen this ticket, but I received this same error when Azure was actually responding with legitimate 500 errors on the basis of a failed provisioning.  If you are affected by this error, also check your Azure portal to see if the cluster is in a degenerate state.

[2022-08-25 02:22] Fred-sun commented on #957
@deubert-it Thank you very much for the problem you reported, but I did not encounter your problem in the local test, could you please check and provide all the Playbooks? Will help solve the problem? Thank you very much!
[code]

[2022-08-25 04:32] Fred-sun commented on #957
@deubert-it I have added "os_disk_size_gb" in #961!  Thanks!

[2022-08-25 05:56] Fred-sun commented on #954
@Krumbelfix Ansible-collection is a tool for managing Azure Resource by providing credentials, although some permissions can be described in the documentation for each module. But that doesn't make much sense, right? Could you describe your requirements in detail? Thank you very much!

[2022-08-25 06:11] Fred-sun commented on #953
@sugitk Thank you for reporting the problem! But I did not encounter the problem you raised in the local Ubuntu VM installation! Suggest you install and try again as follows? Thank you very much!
[code]

[2022-08-25 08:07] sugitk commented on #953
@Fred-sun Thank you for the update, I tried your instructions but the same error occurred..

[code]

Please correct me if I am wrong.  Thank you again :)

[2022-08-25 08:17] Fred-sun commented on #953
@sugitk These two errors are caused by incompatibility. Is this caused by incompatibility with the built-in version of RHEL 8.6? Can you fix it first and install it again? Thank you very much!

[2022-08-25 08:35] Fred-sun commented on #947
@scottharwell The playbook parameter "action" is incorrectly specified. Please correct it as follows. Thank you very much!
[code]

[2022-08-25 09:04] Krumbelfix commented on #954
i added the credentials to the ansible-collection described here:
https://docs.ansible.com/ansible/2.3/guide_azure.html

i'm using the method with the environment variables, so i granted several permissions (Dashboard -> App-Registrations -> ansible  -> API-Permissions).

We don't want to grant more permissions than needed. And for this reason it would be pretty convenient to have the required per

[2022-08-25 11:37] scottharwell commented on #947
@Fred-sun you are correct.  This appears to be an issue in the documentation outlined in `azure_rm_azurefirewall.py`.  I have submitted pull request #962 to correct the docs issue.

[2022-08-25 11:37] #947 closed, assigned to nobody

[2022-08-25 15:10] bendaniels052 opened #963 "azure_rm_virtualmachine PowerOn Multiple machines"
- [ x] Verify first that your issue is not already reported on GitHub

- [ x] Also test if the latest release and devel branch are affected too

- [x ] Complete *all* sections as described, this form is processed automatically

##### SUMMARY
I'm trying to powerOn multiple Azure VMs via the `azure_rm_virtualmachine` module, To do this I'm getting the VM info based of resource group tags. With the V

[2022-08-26 06:07] Fred-sun commented on #963
@bendaniels052 You get a list of resource groups and VM names from '{{ item | json_query("vms[].resource_group ") }}' and '{{ item | json_query("vms[].name ") }}' . If you want to power on the VM, you need to pass the resource group and VM names in the playbook. Thank you very much!

[2022-08-26 06:07] Fred-sun commented on #953
Any feedback on this?

[2022-08-26 08:14] sugitk commented on #953
@Fred-sun Sorry I cannot respond to you as I have been very busy..
I will try it on the weekend

[2022-08-28 05:12] sugitk commented on #953
@Fred-sun

I found the fix, I had to upgrade the `pip` command before installing the libraries.  I suppose the older `pip` has an issue to resolve dependencies.

I believe we can close this issue, thank you very much!

### steps

The vanilla ubi8 (RHEL 8) doesn't have any built-in python libraries.

[code]

Next, I installed `ansible[azure]`.  There were no conflicts packages, especially `portaloc

[2022-08-28 05:12] #953 closed, assigned to nobody

[2022-08-29 08:34] Fred-sun commented on #938
@dustingaudette According to the wrong log you reported, there is a problem with your filtering condition. Are any of your host 'tags' Shortname'?
[code]

[2022-08-30 02:38] Fred-sun commented on #932
@Akasurde @johnpetersjr The problem you mentioned can not be simulated for the moment! Can you provide your environment, installation steps, and use cases? This will help solve the problem! Thank you very much!

[2022-08-31 12:13] bendaniels052 commented on #963
@Fred-sun I've tried creating a list, but still getting the same response, unless im doing something wrong?

[code]

Results
[code]

[2022-08-31 12:54] bendaniels052 commented on #963
** Resolved **  - Thanks for the assistance!

Here's the final playbook encase anyone else is interested.

[code]

[2022-08-31 12:54] #963 closed, assigned to nobody

[2022-08-31 13:13] #919 closed, assigned to nobody

[2022-08-31 13:43] tgillitzer commented on #250
@Fred-sun @l3ender How do the changes mentioned allow you to set the "Deny public network access" that was originally requested?   I see that the new module lets you set IP restrictions, but the "Deny public network access" setting seems to do more than that.

https://docs.microsoft.com/en-us/azure/mariadb/concepts-data-access-security-private-link#deny-public-access-for-azure-database-for-mariadb

[2022-08-31 15:18] siddallgoogle commented on #918
Any further suggestions / debugging I can do ?

[2022-08-31 16:06] whitelancer commented on #932
I believe some of the issue stems that the latest version mismatch.  The azure-cli is now using 2.39.0 and has changed many dependencies, but the galaxy collection is locked to 2.34.0.  I've spent some time trying to update it, but the collection is not currently compatible with 2.39.0 since Azure changed some module names and the like.  I'm not sure the quickest fix nor what the core problem is,

[2022-09-01 00:29] Fred-sun commented on #918
@MartinSiddall After you log in, you need to specify which account subscription you use, such as "az account set-s sub_use_id". Thank you!

[2022-09-01 00:38] feiyan-gh commented on #760
I also would like this feature

[2022-09-01 00:41] Fred-sun commented on #760
Is doing！

[2022-09-01 01:39] dustingaudette commented on #938
All of the Azure hosts in the target environment have a tag called Shortname.

[2022-09-01 01:53] Fred-sun commented on #938
@dustingaudette Usually, tags exist in the form of dictionaries. Is your 'Shortname' key or value?

[2022-09-01 01:57] Fred-sun commented on #938
@dustingaudette Can you share the information returned from the following use case tests?
[code]

[2022-09-01 02:16] dustingaudette commented on #938
@Fred-sun The Shortname is the key. For example, the Azure VM has a tag called Shortname with a value of 'someservershortname'. The yaml that you posted runs clean and returns the Azure hostname of the VMs in the target but it uses their actual hostname. The way I understood the documentation was that if you wanted to replace the default hostnames, you could use tags.<nameoftag>. Apologies if I am

[2022-09-01 02:25] Fred-sun commented on #938
Yes, the tags here are used to select your target host. Instead of replacing the host name. Thank you very much!

[2022-09-01 02:35] dustingaudette commented on #938
@Fred-sun Sure. Apologies for the spin-up!

[2022-09-01 02:43] #938 closed, assigned to nobody

[2022-09-01 13:22] siddallgoogle commented on #918
Hi Fred this was the same suggested az login commands you made on the 14th July.

As per my previous reply this has the same MSAL login error

Azure CLI profile cannot be loaded - User 'xxxx' does not exist in MSAL token cache. Run `az login`."

[2022-09-01 13:43] kTipSSIoYv commented on #932
@whitelancer would downgrading to specific version fix the issue? We're stuck because of this issue.