[2021-01-06 10:32] joaocc commented on #134
Hi. Any news on this ticket? I am also facing this issue on ansible 2.10.4.
We have a workaround, but would prefer to be able to use azure-cli external auth to keep playbooks cleaner.
* create a Security Principal
* add credentials to ~/.azure/credentials, either in [default] or [some-sp-profile-name]
* specifying `profile:` as parameter will get this to work
[code]
Despite working, this takes aro

[2021-01-06 12:20] joaocc opened #385 "azure_rm_keyvault_module_info takes 30-40s (compared to 2-3s azure-cli)"
##### SUMMARY
azure_rm_keyvault_info takes 35-40 sec to run, compared to 2-3 sec of equivalent azure-cli call.
This was tested with SP and credentials file authentication.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_keyvault_info

##### ANSIBLE VERSION
ansible 2.10.4
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr

[2021-01-06 19:56] jfrazee commented on #382
@Fred-sun The ask isn't about Ultra for the OS disk, it's about supporting it for additional non-OS disks included in the data_disks parameter of the modules. Does that make sense?

[2021-01-07 06:01] #383 closed, assigned to nobody

[2021-01-07 12:40] pramos84 opened #386 "Allow Create Static IP NIC Without Need to Specify an Address"
##### SUMMARY
Hi guys. In our Azure environment, we create the network interface cards with static address. We don't care to what will be the address, but once it's defined, we don't want it changes. I believe that others companies maybe adopts the same practice, so would be very usefull if we could create a network interface card (using azure_rm_networkinterface module), setting the allocation me

[2021-01-07 14:45] #192 closed, assigned to nobody

[2021-01-08 06:01] sathishneelam opened #388 "azure_rm.py:4: Expected key=value host variable assignment, got: __future__"
While performing the lab http://microsoft.github.io/PartsUnlimitedMRP/iac/200.2x-IaC-AnsiblewithAzure.html Task2, Step4
generates a dynamic inventory of your Azure resources we're getting the below error
![image](https://user-images.githubusercontent.com/58003174/103979869-afbfc880-51a4-11eb-9074-8eec6f573ff7.png)

[2021-01-09 13:47] planetmarshall commented on #378
Repoening as I am still seeing this after following the installation instructions for the requisite azure modules.

[2021-01-10 04:16] pramos84 commented on #381
This is a very welcome feature for our environment, too. Thanks for opening this issue.

[2021-01-10 05:19] pramos84 opened #390 "Add "type" field to azure_rm_keyvaultsecret"
##### SUMMARY

The "type" field in Azure KeyVault resource is like a description of secret or password. I think that add this field to ansible module is a usefull mod that maybe requires a few lines of code. Thanks in advance for all work in this way.

##### COMPONENT NAME

azure_rm_keyvaultsecret

[code]

[2021-01-11 01:25] Fred-sun commented on #390
@pramos84 Thank you for reporting this request. Could you tell me more details? If so, you want to add a parameter of 'type' to the azure_rm_keyvaultsecret module to describe whether it is a password or a secret? Like this?

[2021-01-11 03:15] pramos84 commented on #390
Hi, Fred-sun. Thanks for your reply. When creating secrets in Azure KeyVault, the Azure Portal shows some fields, like in this example:

![image](https://user-images.githubusercontent.com/17599917/104144386-c8490200-53a1-11eb-8457-81a3c59f7bac.png)

The "content type" is an optional field, used to describe the secret content. Would be very usefull if we could set the vaule of this field using ansi

[2021-01-11 07:33] vnvbadri commented on #388
Can i get some help on this.

[2021-01-11 09:46] Fred-sun commented on #390
@pramos84 I submitted a PR #392  that added the content_type parameter to azure_rm_keyvaultsecret. Please check to see if you can compound your requirements. Thank you very much!

[2021-01-12 02:22] Fred-sun commented on #340
@JulienPlantier It's not a bug, I will close it!

[2021-01-12 02:22] #340 closed, assigned to nobody

[2021-01-12 06:19] Fred-sun commented on #325
@jgainey It should have been fixed, and if the account's allow_blob_public_access=null, it can be updated to allow_blob_public=true or false. Thank you very much!

[2021-01-12 18:24] Tailzip commented on #325
Hi! I'm still experiencing this issue (running version 1.3.1).
When you say it has been fixed, I don't see any comment about a bug fix in the CHANGELOG.md file 🤔

[2021-01-12 20:21] paultaiton commented on #325
@Tailzip
I'm still working on fixing the storageaccount module as there are a number of different bugs and bad inefficiencies. I got delayed with the holiday season as well as dealing with / recovering from covid, but it's still on my radar and in progress.

[2021-01-13 04:40] stingpan commented on #134
I'm also trying to log in with azure-cli and getting this same error about the `client_id` despite setting `auth_source: "cli"`.
I would also prefer to log in with `azure login` so I don't have to worry about storing the Service Principal's credentials locally.

[2021-01-14 01:28] #94 closed, assigned to nobody

[2021-01-14 01:37] Fred-sun commented on #390
duplicate with #116

[2021-01-14 01:50] wcushen opened #394 "azure_rm_manageddisk: Required parameter 'storageAccountId' is missing (null)."
##### SUMMARY

When a managed disk is created from a VHD file (imported) from Source URI, the storage account ID is missing.

Currently, there is no parameter in the azure_rm_manageddisk module to include StorageAccountId.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_manageddisk

pip packages installed as per: https://raw.githubusercontent.com/ansible-collections/azure/dev/requir

[2021-01-14 02:05] Fred-sun commented on #394
@wcushen Thank you for reporting this problem. We will investigate and solve it as soon as possible. Thank you!

[2021-01-14 02:21] Fred-sun commented on #325
@Tailzip Thank you for your reply, but I tested this module and when (allow_blob_public_access=null) we can Update the storage account to Update allow_blob_public_access to True or False. I'll check again. Thank you very much!

[2021-01-14 06:22] #116 closed, assigned to nobody

[2021-01-14 06:23] #390 closed, assigned to nobody

[2021-01-14 06:40] Fred-sun commented on #388
Thanks for submitting this question. I will test it and give you suggestions. Thank you!

[2021-01-14 10:32] planetmarshall commented on #378
Possibly related to #197 ?

[2021-01-14 12:14] rcarrata opened #395 "Firewall application rule collections fails with simple configuration"
##### SUMMARY
Firewall module azure_rm_azurefirewall is not processing correctly the application_rule_collections.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_azurefirewall

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested in Fedora 33 and in RHEL7

##### STEPS TO REPRODUCE

Ansible playbook with the azure_rm_azurefirewall as shown below

[2021-01-15 13:08] nicolaibaralmueller opened #396 "No module named 'azure.storage.cloudstorageaccount'"
##### SUMMARY

Using collections with azure throws ModuleNotFoundError.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_publicipaddress_info

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

[code]

##### ACTUAL RESULTS

[code]

[2021-01-15 23:03] frival opened #397 "Add support for spot instances"
##### SUMMARY

Add support for creating spot instances in AWS and would like to be able to do the same in Azure rather than having to spin up only full-price instances.  In the CLI this is done by adding a "--priority spot" to the VM instance creation command.  See: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/spot-cli

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_

[2021-01-18 16:32] arno-pons opened #399 "Remove non existing peering using module `azure_rm_virtualnetworkpeering` causes task to fail"
##### SUMMARY
Remove non existing peering using module `azure_rm_virtualnetworkpeering` causes task to fail

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualnetworkpeering

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Try to remove a non existing vnet peering using task
[code]

##### EXPECTED RESULTS
Task should not fail if peering is already absent

##### ACTUAL RESU

[2021-01-20 23:06] TheRojam commented on #186
he is loves ms and i think he does not know how good software works ;)

[2021-01-24 22:08] ilabrovic opened #403 "azure_rm_backupazurevm resource in different resourcegroup than the recoveryvault"
##### SUMMARY

azure_rm_backupazurevm.py handles only 1 resource group for both resource and recoveryvault.
In our environment, we have dedicated resource group for backup vault, all VM's are in other resourcegroups

##### ISSUE TYPE
- Feature Idea
Need support when resource and recoveryvault are in different resource groups.
The Azure API itself can handled this.
Add a new field "backup_resource_

[2021-01-25 01:14] Fred-sun commented on #399
@arno-snop Thanks for your contribute! I will push for review and merge!

[2021-01-25 04:05] Fred-sun commented on #403
@Ilabrovi0 Thank you for submitting this problem. We will investigate and provide a solution as soon as possible. Thank you very much!

[2021-01-25 04:21] Fred-sun commented on #403
@Ilabrovi0 I submitted a PR #404  to fix the problem you encountered. Thank you very much!

[2021-01-25 07:53] #399 closed, assigned to nobody

[2021-01-25 08:54] #403 closed, assigned to nobody

[2021-01-26 03:25] Fred-sun commented on #396
@nicolaibaralmueller Thank you for submitting this problem. Judging from the log you submitted, it is caused by your environment. Can you reinstall the dependent package and retry? thank you
[code]

[2021-01-26 12:50] nicolaibaralmueller commented on #396
Hi @Fred-sun. Result from installing azure-cli again:

[code]

And output is still the same:

[code]

[2021-01-26 15:48] iaingblack opened #407 "azure_rm_vmbackuppolicy Example Format not Accepted - BMSUserErrorInvalidPolicyInput"
##### SUMMARY
After creating a recovery services vault and trying to create a policy, with parameters exactly like the docs, an error is reported.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_vmbackuppolicy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

A simple ansible container instance which deploys all other resources (including the recove

[2021-01-27 19:23] Sneedes opened #408 "azure_rm_networkinterface: unclear error messaging"
##### SUMMARY
Using azure_rm_networkinterface module in my playbook.  Various parameters, notably **application_security_groups** can be provided to the play via extra vars.  In this case, _null_ was provided as the value to application_security_groups variable, resulting in the following error message:

[code]

Would have been beneficial to see something along the lines of application_security_gr

[2021-01-28 12:30] KortexSys opened #409 "Tags with a space in the name = several modules say that there is a change even when there is no change"
Hi,

I'm starting to use the Ansible modules provided by Microsoft to manage my Azure resources.

Some modules say there is a change even when there is no change.

For example :
  - I create Ansible code to create an Azure Traffic Manager Profile resource
  - I execute the code: my resource is created
  - I re-run the playbook (in check or normal) -> Ansible says there is a change.

I troubleshoot

[2021-01-28 12:49] KortexSys commented on #409
In fact I have a doubt about the update_tags method: it seems the problem is more in the "response".

When a module is executed, it retrieve informations about the remote resource to have all details about this resource.
In this response, it seems tags with a space in the name are missing.

[2021-01-28 13:02] next-davidduquehernandez opened #410 "Question about new SDK authentication through azure-identity package"
##### SUMMARY
Azure starts to release new components, like Stream Analytics, and SDK changed how to authenticate against it. Stream Analytics only allows Azure Identity to be authenticated and I can't create my module with actual azure/azcollections authentication.

Can someone tell me how can I bypass this problem or there are some plan to allow new Azure SDK authentication?

Thank you very much!

[2021-01-29 12:59] Fred-sun commented on #293
@david-freistrom I am still very confused about how you met this problem. Can you provide a copy method and your complete playbook? Thank you very much!

[2021-01-29 14:18] ciis0 opened #411 "RedHat Azure Hybrid Benefit"
##### SUMMARY

Hi,

we're trying to enable this little check box here for RedHat Linux machines on Azure, which in the ARM template seems to be the `license_type` attribute.
For RedHat this seems to be `RHEL_BYOS`, [see FAQ](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/azure-hybrid-benefit-linux#frequently-asked-questions)

![grafik](https://user-images.githubusercontent.com/16290

[2021-01-30 03:37] matt961 commented on #224
Can report that I recently discovered this issue in a production deploy where one of my machines did not get picked up by the plugin, and the playbook skipped all tasks as a result. As there are technically no failures, my rolling release script happily puts back un-updated instances into the load balancer, resulting in two different versions of my code running. Without any changes I run my pipeli

[2021-02-01 16:21] vpopescu opened #413 "azure_rm_adserviceprincipal examples don't match documentation"
##### SUMMARY
I think azure_rm_adserviceprincipal documentation must have some issues.
https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_adserviceprincipal_module.html

the page references "azure_rm_adserviceprincipal"
the examples reference "azure_ad_serviceprincipal"

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
azure_rm_adserviceprincipal

##### AN

[2021-02-03 02:48] Fred-sun commented on #409
@brsysadmin Thanks for your contribute this issue! I checked it in the Azure Portal side. It's not support spaces in the tag name. Please recheck it! Thank you very mcuh!

[2021-02-03 13:27] KortexSys commented on #409
How did you test please :) ?
Because I just realized a test on my side in the portal and I was able to insert a tag with a space in the name.
And so I don't know if we are talking about the same thing :)

<img width="810" alt="Azure_Tag_Space" src="https://user-images.githubusercontent.com/24649997/106752845-31333b00-662b-11eb-9242-3690309f35ab.png">

[2021-02-03 14:22] Fred-sun commented on #409
@brsysadmin I added MyExample3 and My Example 4 to my portal at same time, but when saved, there is only MyExample3 in the current resource. Such as images. Thank you very much
![pic1](https://user-images.githubusercontent.com/37327967/106760009-5301e180-666e-11eb-92d4-7c74315ccea7.png)
![pic2](https://user-images.githubusercontent.com/37327967/106760015-54cba500-666e-11eb-9a2d-7bb0c2d8c314.png)

[2021-02-03 14:44] KortexSys commented on #409
So I don't know why in your case you can't and why in my case I can but it seems space are allowed :)

For example for Azure Resource Manager :
- source: https://docs.microsoft.com/en-gb/azure/azure-resource-manager/management/tag-resources
- quote:
[code]

Besides, when I tried to create my Azure Traffic Manager, I was able to set tags with space in the name.

But if I reexecute the same Ansible

[2021-02-04 01:04] Fred-sun commented on #409
@brsysadmin Please check the Note Note for this connection ---https://docs.microsoft.com/en-gb/azure/azure-resource-manager/management/tag-resources, currently Traffic Manager Resource does not allow Spaces. Thank you very much!
[code]

[2021-02-04 01:53] Fred-sun commented on #408
@Sneedes Thanks for your contribute this question. I will check and investigate this issue!

[2021-02-04 06:16] #413 closed, assigned to nobody

[2021-02-04 08:06] KortexSys commented on #409
Hi @Fred-sun

I agree that there is this:
[code]

[2021-02-04 08:12] #377 closed, assigned to nobody

[2021-02-04 12:51] Fred-sun commented on #409
@brsysadmin Yes, I will bring up PR to add description to the documentation. Thank you very much!

[2021-02-04 13:46] barto90 opened #416 "azure_rm_virtualmachine data_disks not changed when added"
##### SUMMARY
Creating a new VM with initial data_disks as follows works perfectly;

- name: "Create VM"
  include_role:
    name: "azure_rm_virtualmachine"
  vars:
    vm_catalog_item: "{{ virtualMachineCatalog.Windows.W2k19_D4s_v4 }}"
    resourcegroup: "{{ resourceGroup }}"
    virtualmachine_name: "{{ virtualMachineName }}"
    network_interface_names : "{{ NICName }}"
    managed_disk_type: "

[2021-02-04 16:51] Borrelworst opened #417 "Python hell since Ansible 2.10"
##### SUMMARY
General issue with pip/azure collections, when using CentOS 8, RedHat 8 or Ubuntu 20.

##### ISSUE TYPE
Don't know where to start:
- for pip3, ansible[azure] does work exist anymore (which was convenient)
- pip3 install azure does not work
- when using pip3 install -r https://raw.githubusercontent.com/ansible-collections/azure/dev/requirements-azure.txt, when trying deploy an AKS clu

[2021-02-04 17:09] vnvbadri commented on #388
HI Team, Do we have any updates on this. Please keep us posted

[2021-02-04 19:19] Borrelworst commented on #417
When installing the azure-cli also with pip instead of ms preferred way via yum:

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'azure.mgmt.network.version'
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (ansible[azure] (azure >= 2.0.0)) on localhost.loca

[2021-02-05 01:48] Fred-sun commented on #409
fixes by #415

[2021-02-05 01:53] Fred-sun commented on #417
@Borrelworst Thank you for reporting this problem. I have tested Ansible 2.10, and there is no problem. Can you share your Playbook? I'll run it locally. In addition, after installing Ansible, you also need to follow this link --(https://github.com/ansible-collections/azure) to install Azure - Collection and add Collections definition, so as to execute correctly. Could you please try again? Thank

[2021-02-05 02:07] Fred-sun commented on #416
@barto90 Thank you for reporting this problem. We will investigate this problem as soon as possible!

[2021-02-05 03:01] #409 closed, assigned to nobody

[2021-02-05 09:05] haiyuazhang commented on #417
@Fred-sun  Using ansible2.10 + collection,  the azure dependencies is supposed to be installed via
`pip install -r requirements-azure.txt`
We need to investigate more.

[2021-02-05 09:58] Borrelworst commented on #417
I think the most important thing is to not have installed ansible at all before you run this. But the actual situation is that most of the times, you already have ansible installed (via yum or apt that will be 2.9). After running these 3 commands, you will get into all of the issues as I showed.

Doing a fresh install with only the commands you shared looks to be working fine (I did a fresh CentOS

[2021-02-05 11:55] barto90 opened #418 "ERROR! couldn't resolve module/action 'azure_rm_backupazurevm'"
##### SUMMARY
ERROR! couldn't resolve module/action 'azure_rm_backupazurevm' when using the azure_rm_backupazurvm module

I've checked the module path and can confirm that the
azure_rm_backupazurevm_info.py
azure_rm_backupazurevm.py

Are both available.

Also tried manually referring the collection by using;
    collections:
    - "~/.ansible/collections/ansible_collections/azure/azcollection/plug

[2021-02-07 08:47] t-ymwk2 opened #419 "azure_rm_loganalyticsworkspace: Retention days does not change after creation"
##### SUMMARY
Retention days in log analytics workspace is not changed after creation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_loganalyticsworkspace

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 20.04.1 LTS

##### STEPS TO REPRODUCE
First, create the resource.
[code]

Then change the value of retention_in_days and re-run.
[code]

The result will be OK and will

[2021-02-07 09:37] t-ymwk2 opened #420 "azure_rm_loganalyticsworkspace: No tagging"
##### SUMMARY
Tags are not attached even if they are specified in the tags option.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_loganalyticsworkspace

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 20.04.1 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
A tagged resource will be created.

##### ACTUAL RESULTS
An untagged resource will be created.

[2021-02-07 16:59] simonjduff commented on #363
I received this same error
[code]

Installing azure==5.0.0 results in an error
[code]

However the terse message about `ServicePrincipalCredentials` in no way helps you to understand which package might be missing.

I can do one step better than a list of packages, I can give you a dockerfile:
https://gist.github.com/simonjduff/198ab902b368ce0b1fafb1380f6f1994

To repro, simply build this into a d

[2021-02-08 02:30] t-ymwk2 opened #421 "azure_rm_webapp: Client affinity is not disabled"
##### SUMMARY
Setting client_affinity_enabled to false does not disable client affinity.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_webapp

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 20.04.1 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Webapps will be created with client affinity disabled.

##### ACTUAL RESULTS
Client affinity is enabled.

[2021-02-08 10:40] ghost commented on #394
Hi @Fred-sun , any news on that? We're running into the same issue. Any work-around, @wcushen ? Any older version of ansible-mgmt-...?

[2021-02-08 11:42] achevalet opened #422 "azure_rm_image: Required parameter 'hyperVGeneration' is missing"
##### SUMMARY
Creating image from blob_uri fails with "Required parameter 'hyperVGeneration' is missing".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_image

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Image is created.

##### ACTUAL RESULTS

Image is not created.

[code]

[2021-02-08 11:45] achevalet commented on #422
related issues:
- https://github.com/Azure/azure-sdk-for-python/issues/4891
- https://github.com/Azure/azure-sdk-for-python/issues/12762

[2021-02-08 12:43] Fred-sun commented on #394
@shubert-wk Because I have been busy with other things recently, I have not been able to update my status. I will find out the reason as soon as possible. Thank you very much!

[2021-02-08 13:16] ghost commented on #394
It seems storageAccountId is required now, see this PS issue: [https://github.com/Azure/azure-powershell/issues/12719#issuecomment-690724849](https://github.com/Azure/azure-powershell/issues/12719#issuecomment-690724849)

[2021-02-09 15:15] andyliddle commented on #146
Has there been any progress on this?

I have a scenario where I need to attach an existing managed disk as part of the deployment pipeline

[2021-02-09 15:53] paronnax commented on #118
Hi, I need these modules too
Will be ingretated soon ?
Thank you, good luck

[2021-02-10 07:38] #417 closed, assigned to nobody

[2021-02-10 13:01] andyliddle opened #425 "Ansible support enable VM Disk Encryption"
##### SUMMARY
Ansible support for Azure Disk Encryption for virtual machines and virtual machine scale sets.

https://docs.microsoft.com/en-us/cli/azure/vm/encryption?view=azure-cli-latest

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Most probably a new Ansible module

https://docs.microsoft.com/en-us/cli/azure/vm/encryption?view=azure-cli-latest
https://docs.microsoft.com/en-us/azure/vi

[2021-02-12 17:35] PavelPikat opened #429 "How to configure azure_rm inventory plugin for multiple subscriptions"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
How could I execute Ansible playbook on multiple VMs hosted in different Azure subscriptions within a single tenant?
Let's say I have Subscriptions called Production and Staging and I want to configure VMs in both subscriptions with a single playbook?

I am currently using azure_rm inventory

[2021-02-15 09:16] AndriyDmytrenko opened #430 "Add support of Write Accelerator to azure_rm_manageddisk"
##### SUMMARY

Write Accelerator support would be nice to have implemented for Azure managed disks.
https://docs.microsoft.com/en-us/azure/virtual-machines/how-to-enable-write-accelerator
On the azure portal it is configurable as part of the Host Caching option, so I think the best place to add it to is attach_caching as well, or by adding another key - write_accelerator: yes/no

##### ISSUE TYPE

[2021-02-17 16:17] ciis0 commented on #411
workaround:

[code]

[2021-02-18 00:09] Fred-sun commented on #146
@andyliddle Working on it! Thank you very much

[2021-02-18 00:10] Fred-sun commented on #118
@TJulesVerne Working on it! Thank you very much!

[2021-02-18 02:33] Fred-sun commented on #429
@PavelPikat You can specify the credentials to use in your PlayBook. Thank you very much!
[code]

[2021-02-18 02:35] Fred-sun commented on #425
@andyliddle Thank you for asking this question. I will investigate and add this Feature! Thank you very much!

[2021-02-18 02:35] Fred-sun commented on #422
@achevalet Thank you for asking this question. I will investigate and add this Feature! Thank you very much!

[2021-02-18 02:36] Fred-sun commented on #430
@AndriyDmytrenko Thank you for asking this question. I will investigate and add this Feature! Thank you very much!

[2021-02-18 02:43] Fred-sun commented on #421
@t-ymwk Thank you for asking this question. I will investigate and add this Feature! Thank you very much!

[2021-02-18 03:05] Fred-sun commented on #420
@t-ymwk Thank you for asking this question. I will investigate and add this Feature! Thank you very much!

[2021-02-18 03:06] Fred-sun commented on #419
@t-ymwk Thank you for asking this question. I will investigate and add this Feature! Thank you very much!

[2021-02-18 14:44] victorbrca commented on #429
As per the documentation, `subscription_id` in the dynamic inventory file should take care of that (so you could have multiple inventory files, each configured with a different subscription id). However, when using 'CLI' as the authentication source does not seem to work.

[2021-02-19 14:30] Nothing4You opened #431 "Traffic manager monitoring should support expected http status codes"
##### SUMMARY
Currently the following settings are not available on azure_rm_trafficmanager:
- Custom header settings
- Expected status code ranges

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_trafficmanager

##### ADDITIONAL INFORMATION
https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-monitoring

[2021-02-22 11:07] flixman opened #433 "azure.azcollection.azure_rm_keyvaultsecret_info stalling"
##### SUMMARY
Running azure.azcollection.azure_rm_keyvaultsecret_info module stalls. **Maybe this is not the place where to ask for help. If so, my apologies.**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_keyvaultsecret_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 8

##### STEPS TO REPRODUCE
Run the following task when behind a p

[2021-02-22 14:42] flixman commented on #433
Update: if instead of using the credentials in ~/.azure/credentials I hard code them in the playbook, I get exactly the same behavior. On the other hand, if I perform the query via a python script like the following one, it just works:

[code]

**UPDATE:** Seems the problem is in the call to MSIAuthentication in the get_keyvault_client of azure_rm_keyvaultsecret_info.py. If I raise an Exception ri

[2021-02-23 03:54] Fred-sun commented on #418
@barto90 I have tested this module on the local virtual machine and have not encountered any errors. Could you please provide your complete PlayBook and error log? In order to solve the problem? Thank you very much!

[2021-02-23 07:34] tobylkn opened #435 "Add 'api-server-authorized-ip-ranges' parameter to azure_rm_aks"
##### SUMMARY
Missing `--api-server-authorized-ip-ranges` parameter

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm_aks

##### ADDITIONAL INFORMATION
Securing the Kubernetes API server by restricting IP addresses

[code]

[2021-02-24 07:42] tlourey opened #437 "Auto-Shutdown VM Settings"
##### SUMMARY

Provide Auto-Shutdown VM Settings

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine
azure_rm_devtestlabschedule
##### ADDITIONAL INFORMATION

It seems that the devtestlab auto-shutdown schedule feature is now supported on non-dev-test VM's and the feature doesn't seem to be in preview. Looking at ARM Template after the fact reveals:

"type": "microsoft.

[2021-02-24 09:12] Jvekka opened #438 "azure_rm_loadbalancer with check mode will still change values"
##### SUMMARY
Running Ansible playbook with check mode will still overwrite load balancer values.
```ansible-playbook azure_provision.yml --check```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible running in WSL Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

Run Ansible playbook ```

[2021-02-25 03:46] tlourey opened #439 "Webapp Always On Setting"
##### SUMMARY
Enable 'Always On' Support in azure_rm_webapp module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_webapp
azure_rm_webapp_info
##### ADDITIONAL INFORMATION

Allows the always on feature to be set via ansible.

References:
https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdateconfiguration#request-body
https://docs.microsoft.com/en-us/rest/api/ap

[2021-02-25 21:42] vervelak commented on #335
Hello, this is a really useful feature!

[2021-03-01 10:20] fabricat opened #441 "update pip requirements"
The package `azure >= 2.0.0` is indicated as a requirement
Unfortunately, if I try to `pip install azure` I get the following error:

It seems necessary to update the requirements on:
https://github.com/ansible-collections/azure/blob/7b69d0dc58a033638a8c7441d118864641882bac/plugins/doc_fragments/azure.py#L100

[2021-03-01 12:55] Fred-sun commented on #441
@fabricat Thank for your contribution this Issue. I will check it!

[2021-03-01 12:59] Fred-sun commented on #441
@haiyuazhang https://github.com/ansible-collections/azure/blob/7b69d0dc58a033638a8c7441d118864641882bac/plugins/doc_fragments/azure.py#L100 , I think this package should be azure-cli-core, Please help confirm! Thank you very much!

[2021-03-01 13:39] Fred-sun commented on #438
@Jvekka Thanks for your contribution this issue! Do you use a module from Azure collection or  add full namepsace and collecton name in you playbook? Thank you very much!

[2021-03-01 14:22] Fred-sun commented on #437
@tlourey Thank for your contribution this Issue! For now, if you want to automatically shut down a normal VM, you can only do this with a timing task, because Virutalmachine does not support this operation, and the devtestlab API requires lab_name. Thank you very much!

[2021-03-02 10:06] KortexSys opened #442 "Ansible module to manage Azure Private Endpoint"
##### SUMMARY
We manage several Azure Private Endpoint and except if I'm wrong there is no module to manage them.

##### ISSUE TYPE
- to have an Ansible module to manage Azure Private Endpoint

##### COMPONENT NAME
azure_rm_privateendpoint

##### ADDITIONAL INFORMATION
The module must announce a change if:
  - the resource does not exist
  - the requested resource is different from the existing on

[2021-03-03 03:02] hemebond opened #443 "KeyError: 'storageUri' raised around boot_diagnostics and tags"
##### SUMMARY
When supplying tags to `azure.azcollection.azure_rm_virtualmachine` a KeyError exception is raised. Similar to #137

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu Bionic

##### STEPS TO REPRODUCE
Include `boot_diagnostics:enabled:no` and `tags` in

[2021-03-03 08:18] Fred-sun commented on #443
@hemebond Thank you for raising the issue. We will look into it as soon as possible. Thank you very much!

[2021-03-03 23:28] tlourey commented on #437
Hi Fred. I know that in a non-lab virtual machine, there is now an
auto-shutdown option. When I looked at the configuration after I enabled
this, it seemed to be creating & using the devtestlab components but
without the labname setting. That's what led me to logging this request.

On Tue, 2 Mar 2021, 1:23 am Fred-sun, <notifications@github.com> wrote:

[2021-03-04 02:02] SmithaAJ-zz opened #444 "Include data_disk name in return values for "azure_rm_virtualmachine_info""
##### SUMMARY
Include data_disk name in return values for "azure_rm_virtualmachine_info"

##### ISSUE TYPE
- Current return values for the module doesn't capture the data disk names

##### COMPONENT NAME
azure_rm_virtualmachine_info

##### ADDITIONAL INFORMATION
- Have been working on an use case Azure VM disk expansion and the disk name or id  is a mandatory field to query or extend the disk, the

[2021-03-04 06:17] #308 closed, assigned to nobody

[2021-03-04 06:24] #420 closed, assigned to nobody

[2021-03-04 06:58] #419 closed, assigned to nobody

[2021-03-04 17:05] pvorb commented on #308
Awesome, thanks a lot!

[2021-03-05 02:17] victorbrca opened #445 "azure_rm does not honor 'subscription_id' or 'AZURE_SUBSCRIPTION_ID'"
##### SUMMARY

When using 'cli' as the authentication method, setting `subscription_id` in the inventory file (`azure_rm`) or exporting the variable `AZURE_SUBSCRIPTION_ID` does not work as expected (the default subscription in `az cli` is used instead of the specified one).

This was fixed/added on #195 and #53

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[azure.azcollection.azure_rm](ht

[2021-03-05 14:06] 36roentgen opened #446 "subscription_id from selected modules doesn't override service princple subscription value"
##### SUMMARY
Similar to issues #181 and #195

When auth source is credential_file, setting subscription_id in task doesn't override the value in the credentials file.  It should regardless of auth source type.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Setup a playbook to utili

[2021-03-05 19:38] dpodder opened #447 "Add backup settings to azure_rm_postgresqlserver"
##### SUMMARY
Please add support for customizing the backup retention period and the backup geo-redundancy flag for deployments created by `azure_rm_postgresqlserver`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_postgresqlserver

##### ADDITIONAL INFORMATION
Backup geo-redundancy and backup retention period are important settings for a production-grade deployment, but the `azur

[2021-03-07 04:11] l3ender commented on #287
Any update on this issue?

[2021-03-08 01:06] l3ender opened #448 "Unable to create application gateway with path based routing"
##### SUMMARY
It is not possible to use `azure_rm_appgateway` with `request_routing_rules -> rule_type = path_based_routing`. When trying to do so, an error is reported that "Request Routing Rule routing must reference a UrlPathMap". However, there is no way to configure a UrlPathMap on `azure_rm_appgateway`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_appgateway

##### ANSIBLE V

[2021-03-08 01:08] l3ender commented on #448
@Fred-sun: I did a little digging and it seems like this is possible in [azure-mgmt-network](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/network/azure-mgmt-network). I'd like to work to correct this issue: will you accept PRs?

[2021-03-08 06:35] Jvekka commented on #438
I think I'm using it from the Azure collection as we are not adding full namespaces to collections yet.

[2021-03-08 21:24] paboum commented on #433
@flixman
Q1: Does it really take forever, or only about 40 seconds?
Q2: Do you observe it trying to connect to `169.254.169.254` and timeouting?
Q3: Do you run it from within Azure Cloud, AWS or other cloud?

[2021-03-09 12:01] paboum commented on #385
Similar to #433 . I think in both cases it tries a connection to `169.254.169.254` which timeouts while run outside the Azure cloud.
Further info: https://docs.microsoft.com/pl-pl/azure/virtual-machines/windows/instance-metadata-service?tabs=linux

[2021-03-10 09:38] sharik938 commented on #396
Same error as above
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'azure.storage.cloudstorageaccount'
fatal: [127.0.0.1]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (ansible[azure] (azure >= 2.0.0)) on ansible-test's Python /usr/bin/python3. Please read the module documen

[2021-03-11 02:34] l3ender commented on #396
I'm not sure if it's related, but I've cloned this repo and have built/installed the latest of `dev` branch (and installed requirements in new virtual env). Once I run a playbook using any of the Azure collection modules, I get a similar error:

[code]

[2021-03-11 05:57] arsenicks commented on #325
@paultaiton Hi, we are experiencing a very similar issue with a new storage account creation but with https_only, I will add detail to [this issue](https://github.com/ansible-collections/azure/issues/184) soon but I was wondering if you've made progress on this problem as it could be the exact same logic causing the problem.

Thanks!

[2021-03-11 06:00] arsenicks commented on #184
@Fred-sun I'm having this exact same issue and I confirm I am using the ansible collection. Could you reopen this issue so we won't loose discussion history please ? If you can reopen it I'll add all my details, logs and finding here.

Thanks

[2021-03-11 06:33] arsenicks commented on #184
Well I have the logs here so I'll post it now and I'll just copy it into a new issue if needed.

First, it's interesting to note that if I execute my playbook and no storage account exist the creation complete successfully but the https_only option is not set as it was set in the playbook. But if I run my playbook again the https_only option will be used and the existing storage account will be up

[2021-03-12 10:25] rob-whittle opened #453 "Allow nested groups in dynamic inventories"
##### SUMMARY
When constructing dynamic inventories it does not appear to be possible to create nested groups (well, it's not documented at least) e.g.
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm

##### ADDITIONAL INFORMATION
This would aid in the use of groups vars, where all hosts need the vars from the parent group but we need different vars for the

[2021-03-12 19:53] l3ender commented on #287
@Fred-sun I don't see anything in this repo which would cause the issue; is it something perhaps fixed in the upstream azure-mgmt-network dependency? I see this repo currently uses version 10.2.0 which is rather old; [version 16.0.0](https://github.com/Azure/azure-sdk-for-python/releases/tag/azure-mgmt-network_16.0.0) (released Sep 18, 2020) mentions new application gateway parameters for SSL prof

[2021-03-12 22:26] michael-tam opened #454 "Unable to use location as a default_host_filters for azure_rm plugin"
I would like to be able to include only VMs from a specific region in my Ansible Azure Dynamic Inventory using the azure_rm plugin.  We are able to leverage location with exclude_host_filters, but with so many regions, it would be tedious to exclude all the rest of the locations rather than include a specific location.

Example azure_rm.yml file

---
plugin: azure_rm
cert_validation_mode: ignore
a

[2021-03-13 04:29] l3ender commented on #396
For my issue, it was because I was using a virtual environment where the azure collection dependencies were installed, but I was using system-installed ansible. Installing ansible in my virtual environment solved the issue.

[2021-03-14 16:02] Tailzip commented on #325
Well, it fixed it by itself... Haven't updated collection version, but now it works as expected. My guess is that Azure API was updated (or fixed). 🤷‍♂️

[2021-03-14 18:13] dtometzki opened #455 "azure_rm_virtualmachine profile Failed to get credentials."
##### SUMMARY
hello together,
i define an ansible playbook with the profile for azure_rm_virtualmachine
profile: ~/.azure/credentials
what is the correct structure of this file ?
[code]
doesnt work.

 "msg": "Failed to get credentials. Either pass as parameters, set environment variables, define a profile in ~/.azure/credentials

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module

##### AN

[2021-03-15 01:06] arsenicks commented on #325
@Tailzip You tried with a **new** storage account ?

I insist on "new" because the logic in the **update_account** is working correctly, the problem is within the **create_account**, so for us https_only failed when creating the first time but the storage account IS created but without the https_only option, if we run a second time the collection update the storage account with the options that ha

[2021-03-15 01:25] arsenicks opened #457 "azure_rm_storageaccount module not passing https_only true on account creation"
##### SUMMARY
In the azure_rm_storageaccount module, the 'https_only' flag value always seems to pass 'false' to Azure when run, even when set to true or yes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_storageaccount

##### ANSIBLE VERSION
[code]
And
[code]
Collection version:
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target is just the Azure cloud - storage acc

[2021-03-15 03:37] paultaiton commented on #457
@arsenicks

The cause of this is also different between create and update operations. On create, it fails to set the parameter correctly due to a code bug, but does set the parameter correctly if you run against an existing storage account ( or run the task a second time in the same playbook; the hack I did to make it work in my environment.) It is indeed one of the things I'm correcting in my rew

[2021-03-15 06:29] #422 closed, assigned to nobody

[2021-03-15 10:28] dtometzki commented on #455
Hello,

i found the Problem it was an missunderstanding on my site.
profile: <Is the profile name in the ini and not the path>

VG
Damian

[2021-03-15 10:28] #455 closed, assigned to nobody

[2021-03-15 12:23] arsenicks commented on #457
@paultaiton Thanks for the followup, yes that's exactly what I was saying in the issue(and in the workaround in my fork). If it's already fixed on your side can I suggest to push it through and keep working on the other bits ? I mean it's a major breaking bug with a very simple solution IMO, this collection is now included in the redhat automation hub so in theory they support it and that's a big

[2021-03-15 14:56] pinkgizmo commented on #134
It seems the same behaviour occurs with the azure.azcollection.azure_rm_keyvaultsecret plugin. The azure cli is not supported.

[2021-03-15 19:19] paultaiton commented on #457
@arsenicks

I have pushed the minimum viable code change in #458 . If this is not acceptable to the Microsoft maintainers of this repo, then the fix will have to wait until my more comprehensive PR since it will be more efficient use of time (that's unfortunately slower for your specific fix.)

[2021-03-15 22:11] arsenicks commented on #457
Thank you very much for this PR! I'll try to stay around and help with this collection, my python skills need some work so I guess this could be it! Do you guy's still have regular meeting on freenode ?

[2021-03-15 23:17] paultaiton commented on #457
@arsenicks

I'm not aware of any meetings on Freenode, but I'd be open to it. They might have been a thing before I was around (Only been contributing in the last year.

[2021-03-16 21:10] l3ender opened #459 "Enable static website for storage account"
##### SUMMARY
It doesn't appear there is a way to enable the "static website" feature of a storage account.

<img src="https://user-images.githubusercontent.com/2243641/111379394-1532a880-8671-11eb-916f-040b8fb58c92.png" alt="image" width="75%">

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/modules/azure_rm_storageaccount.py

##### ADDITIONAL INFORMATION
The azure cli equivalent o

[2021-03-17 09:24] tlourey opened #460 "azure_rm_roleassignment fails on additional runs"
##### SUMMARY
When using azure_rm_roleassignment in a playbook, if the role assignment already exists it returns an error and stops, instead of just continuing like all other modules.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_roleassignment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Azure Cloud Shell
user@Azure:~$ lsb_release -a
No LSB

[2021-03-17 20:28] rmeichsner opened #461 "Enable azure_rm_virtualnetwork module to set more than 2 custom dns servers"
##### SUMMARY
I would like the azure_rm_virtualnetwork module to be able to configure more than 2 DNS Servers for a vnet.
At Azure Portal, there is no such limitation of 2 DNS Servers per vnet.

I found the the corresponding lines in the code (s. below), where this limitation is set, but without any documented reason why the limitation is set.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[2021-03-18 01:31] #268 closed, assigned to nobody

[2021-03-18 01:36] Fred-sun commented on #325
fixes by #458

[2021-03-18 02:54] Fred-sun commented on #461
@rmeichsner Thank you for asking this question. Perhaps the previous API did not support multiple DNS servers when self.purge_address_prefixes=true. Now that it is supported, I will remove these two lines by send PR!

[2021-03-18 08:34] Fred-sun commented on #460
@tlourey Thank you for raising this question. As the module does not support updating and idempotency, we will investigate again. Thank you very much!

[2021-03-18 08:58] #461 closed, assigned to nobody

[2021-03-18 10:59] nitinkansal1984 commented on #396
I am also facing the same issue
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'azure.storage.cloudstorageaccount'
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (ansible[azure] (azure >= 2.0.0)) on vm3's Python /usr/bin/python3.6. Please read the module do

[2021-03-18 11:05] Tailzip commented on #325
@arsenicks
Yes, it works with new and already existing storage accounts.

[2021-03-18 11:11] nitinkansal1984 commented on #396
I was able to fix this by install all libraries https://github.com/ansible/ansible/blob/stable-2.8/packaging/requirements/requirements-azure.txt

[2021-03-18 11:55] tlourey commented on #439
Apologies, I accidentally closed this issue. I've now reopened

[2021-03-18 20:09] paultaiton commented on #460
@tlourey
Are you using the most recent version of azcollection ? I updated this module to support idempotent operations with these exact parameters, but it was only made available in version 1.3.0 (current is 1.4.0 )

[2021-03-19 05:59] tlourey commented on #460
I was using Azure Cloud shell but have only been trying to use that module since February.  I didn't install the azure collection, but everything ran except this. Only way I could get it to run when re-running playbook was remove the IAM assignment first, each time.

[2021-03-19 06:05] paultaiton commented on #460
@tlourey

I know very little about how the cloud shell operates or what version it's using. Or how you would determine that. Hopefully @Fred-sun  has a bit more knowledge of that and can comment.

However what you're describing matches up with issues #145 and #266  which were fixed by PR #301 . I highly suspect that your issue will be fixed by a version update.

[2021-03-19 06:21] tlourey commented on #460
Updated azcollection in Cloud shell to 1.4.0
[code]

Still getting:
[code]

[2021-03-19 06:24] paultaiton commented on #460
Does the problem persist if you change to
[code]
??? It may be trying to use an older built in version instead of the fully qualified collection module.

[2021-03-19 06:31] tlourey commented on #460
If it helps:
[code]

[2021-03-19 06:40] tlourey commented on #460
Just tried with this:
[code]
Same result:
[code]

[2021-03-19 06:46] paultaiton commented on #460
Alright, I'll have to play around and see if I can replicate. Past my bed time so it'll have to wait till I can take a rigorous  look. By your code I'm guessing you're assigning to a VM scope?

[2021-03-19 07:32] tlourey commented on #460
Many thanks. Correct, a VM.

I am also fairly sure it's happening outside of Azure Cloud Shell. I tried another new box using the Microsoft Ansible Quick Start Guide:
[code]
[code]
[code]

Let me know if there is anything else you need.

[2021-03-19 17:32] paultaiton commented on #460
Could you please provide me your whole playbook (or as much as you can provide while keeping out personal details) ? It will help me replicate the issue.

[2021-03-19 19:41] paultaiton commented on #459
I can't commit to this issue as I've already got a lot on my plate currently, however I had some relevant feedback.

The specific tunable is part of the `az storage blob` cli sub-command because in the Python SDK it is part of the azure-storage-blob package ( https://pypi.org/project/azure-storage-blob/ , https://docs.microsoft.com/en-us/azure/developer/python/sdk/storage/storage-blob-readme?view=

[2021-03-19 19:52] l3ender commented on #459
Thanks for the detail, Paul. I plan to pick this up next week.

How would you suggest modifying azure_rm_storageblob for this feature? The module currently has blob container name as a required field, but modifying service properties can be done on a storage account with no containers.

[2021-03-19 21:29] paultaiton commented on #459
storageblob may not be the best place. It's definitely part of the same SDK package, but it may make sense to make a new module, something like azure_rm_storageaccount_staticwebsite  that will instantiate it. I thought the property was container level, not account level.
It could be added to the storageaccount module, however that one is already REALLY complex, so I'd personally go for making a ne

[2021-03-22 01:53] Fred-sun commented on #460
@tlourey  Do you want to recreate or update your role? Thank you very much!

[2021-03-22 02:01] tlourey commented on #460
@Fred-sun its trying to create the role assignment. But when it runs a second time it sees that it already exists and errors, instead of just skipping

[2021-03-22 02:03] tlourey commented on #460
@paultaiton https://gist.github.com/tlourey/049ab639f018307301bd7809ac9de5c3. I think I've stripped it out safely.

[2021-03-22 02:10] paultaiton commented on #460
Thanks. I'll take a look first chance I get.

[2021-03-22 04:41] paultaiton commented on #460
@tlourey
When the role_definition_id is returned by the Azure API, it is the full fully qualified resource ID. This differs from what you're passing by the '/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/'   prefix. At the time I wrote the code to handle idempotency, I wasn't aware that you could even pass in a definition ID without that prefix, so I did not add any logic to detect for that c

[2021-03-22 05:29] Fred-sun commented on #448
@l3ender Of course! Welcome to you contribute!

[2021-03-22 07:12] tlourey commented on #460
@paultaiton you are correct. That did resolve the issue. I'm testing a third time to be safe, but it seems to continue normally now.

[2021-03-22 09:10] #325 closed, assigned to nobody

[2021-03-22 09:10] #457 closed, assigned to nobody

[2021-03-22 16:44] paultaiton commented on #325
@Tailzip @jgainey @arsenicks
I apologize for how long it took me to get this update together and pushed. I believe I fixed everything reported in this issue. Please let me know if you see any problems after updating to the new module update.

[2021-03-24 07:27] tlourey opened #467 "No support for DNS alias record sets"
##### SUMMARY
No support for DNS alias record sets aka target resource.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_dnsrecordset
azure_rm_publicipaddress

##### ANSIBLE VERSION

[code]

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Azure Cloud Shell
CentOS Linux release 7.9.2009 (Core)

##### STEPS TO REPRODUCE

None - option not documented on : https://docs.ansibl

[2021-03-25 06:43] Fred-sun commented on #467
@tlourey Thank you for reporting the problem. We'll look into it as soon as possible. Thank you very much!

[2021-03-26 03:38] tlourey opened #470 "azure_rm_dnsrecordset doesn't apply metadata tags for records"
##### SUMMARY
azure_rm_dnsrecordset doesn't apply metadata tags for records even with set with append_tags: yes or absent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_dnsrecordset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core)

##### STEPS TO REPRODUCE

Run below play

[code]

##### EXPECTED RESULTS

Metad

[2021-03-26 13:52] ghost commented on #224
I'm also seeing this issue. The majority of the time I'm seeing all the hosts being picked up correctly, but occasionally it'll only pick up a subset of them. When this happens, once I rerun the playbook, it will usually pick up all the hosts again correctly (with no changes at all.)

Originally I thought it was after terraform had updated our VM instances that we were seeing this behaviour, but I

[2021-03-27 19:36] XabiBeltza opened #473 "azure_rm_virtualmachineextension always changed"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
I'm reopening the issue UnwashedMeme opened in the previous repo, because it is still happening, and is very annoying, as it breaks idempotence: https://github.com/Azure/azure_preview_modules/issues/326

An azure_rm_virtualmachineextension always reports as changed even when nothing changes.

I have u

[2021-03-29 09:26] pun-ky opened #474 "Uploading bigger files to storage blog reaches timeout"
##### SUMMARY

[code]

looks like this:
https://github.com/Azure/azure-storage-python/issues/228#issuecomment-308372215
however:

[code]

looks like even the version after the patch is not working. any suggestions?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module fails after few minutes and only few smaller files are uploaded

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2021-03-30 08:27] kgorskowski commented on #224
Hey folks, just for completion. In our case it was a mix of network topology and a short delay in the sync of the resources between regions. We created the resources in one region but due to some background networking foo on our selfhosted agents side the request from the azure dynamic inventory went to a different region. In the end we were able to mitigate the network issue on our side and haven

[2021-03-30 08:57] ljosten commented on #224
Also, in addition to Karsten's information, another problem with returning empty inventories was solved by passing an empty host filter list instead of using the default:

[code]

We think this had to do with policies enforced in azure that idled for prolonged time and set the deployment status of nodes into a filtered state.

[2021-03-30 09:25] Klaas- opened #475 "Add support for expressRouteCircuits"
##### SUMMARY
we would also like to create our expressRouteCircuits with ansible. It seems currently there is no module for that.
https://docs.microsoft.com/en-us/azure/expressroute/quickstart-create-expressroute-vnet-template

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
None as of now, most likely something like azure_rm_expressroutecircuits

[2021-03-31 02:27] paultaiton opened #476 "Need for expanded guide for contributing."
##### SUMMARY

The current contributing guide is very basic and could use some elaboration to help onboard new contributors and ease the burden. I'm willing to draft the new guide, but I want to solicit some feedback before I put in the effort.

My current rough outline:
Detail the python linting standards that should be used.

Explain how to set up environment to run `ansible-test integration azu

[2021-03-31 02:27] paultaiton commented on #476
@l3ender
I know you have a particular interest in this effort as well.

[2021-03-31 11:53] tlourey commented on #473
I've also noticed this

[2021-04-01 07:15] praveenghuge commented on #475
Hi @Klaas- @Fred-sun
we want to contribute to this module.
can you please assign this issue?

[2021-04-01 09:46] howardjones opened #477 "azcollection requirements are so old, which azure-cli package will work with them?"
I'm trying to build a virtualenv for awx/tower that contains azcollection and also the azure cli (since playbooks still need that to do things that the azcollection can't, like creating Service Principals)

However, the current azcli uses a very short script wrapper over python modules `python3 -Im azure.cli $@`

The versions (2.11.1 vs 2.21.0 currently) installed by azcollection are not structure

[2021-04-01 09:59] howardjones commented on #477
Even cooler - there doesn't appear to be ANY version of azure-cli that matches the requirements for azcollection!
azcollection wants azure-mgmt-batch==5.0.1

azure-cli-2.0.68 wants 6.0
azure-cli-2.0.67 wants 4.0.3

(both of which are nearly two years old at this point)

[2021-04-01 14:37] dromanGH opened #478 "azure_rm_appgateway - App Gateway module fails on autoscale enabled gateways"
##### SUMMARY

There is currently no way to define an autoscale configuration for the app gateway module. Attempting to update an autoscaling app gateway will result in an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_appgateway

##### STEPS TO REPRODUCE

Attempt to update any aspect of an app gateway which is configured with autoscaling.

##### EXPECTED RESULTS

The app ga

[2021-04-02 12:56] stefanpinter opened #479 "Issue with azure_rm_dnsrecordset: 404 Client Error: Not Found for url"
##### SUMMARY
Hi!
I get the following Issue

msrestazure.azure_exceptions.CloudError: 404 Client Error: Not Found for url: https://management.azure.com/subscriptions/e23cf4ad-2d71-446f-9864-82961ad66ae7/resourceGroups/mv-dns-rg/providers/Microsoft.Network/dnsZones/?api-version=2018-05-01\n",

my task:
---
- name: Setze A-Record in Azure
  become: false
  hosts: localhost

  tasks:
    - name: A-Re

[2021-04-06 08:14] Fred-sun commented on #479
@stefanpinter Thanks for you submit this issue! I check it in my local environment and create successfully. Seem to be due your credentials? Could you help check you credentials? thank you very much!

[2021-04-06 08:17] Fred-sun commented on #478
@dromanGH Thanks for your submit this issue! Could you help share your error log and playbook? It will helpful to resolve this problem! Thank you very much!

[2021-04-06 08:22] Fred-sun commented on #477
@howardjones Thanks for your submit this issue! We are preparing to update all depend packages! once upgrade, I will add comment in here! Thank you very much!

[2021-04-06 08:31] Fred-sun commented on #476
@paultaiton We are testing, mainly Sanity testing and functional testing, you may refer to the link below, thank you!
[code]

[2021-04-06 08:34] Fred-sun commented on #475
@praveenghuge Welcome to you contribution. You can fork this repo and submit PR to add this module! I will push for review and merge! Thank you very much!

[2021-04-06 08:46] stefanpinter commented on #479
@Fred-sun
Hello!
Thank you for looking at it. In fact Ansible used the wrong URL because i made an error. Sorry!

[2021-04-06 08:46] #479 closed, assigned to nobody

[2021-04-08 13:57] francois-travais opened #481 "azure_rm_storageaccount FileStorage does not support Premium_ZRS account_type"
##### SUMMARY

The storage account module does not support the `account_type: Premium_ZRS` when `kind: FileStorage`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_storageaccount

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows 10 WSL 1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-04-08 14:02] abelal83 commented on #186
This is a joke right? How is someone new to ansible suppose to know deps need to be installed when it's not even documented? For example https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_storageaccount_module.html#ansible-collections-azure-azcollection-azure-rm-storageaccount-module just says to install using galaxy.

In comparison terraform just works our of the box.

[2021-04-08 15:06] praveenghuge opened #483 "Add support for expressRouteCircuits Peering"
**SUMMARY**
we would also like to create our expressRouteCircuitsPeering with ansible. It seems currently there is no module for that.
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings#privatepeering

dependent on https://github.com/ansible-collections/azure/issues/475

**ISSUE TYPE**

- Feature Idea

**COMPONENT NAME**
None as of now, most likely something like azu

[2021-04-08 15:12] ikarldasan commented on #483
Hi @Fred-sun @praveenghuge   would like to contribute to this.

[2021-04-08 17:39] paultaiton commented on #186
This issue was reported right in the middle of Ansible undergoing a transition from monolithic to modular architecture. Previously all of these modules were included with the base package, but that was split out into collections primarily to uncouple the development and release cycles of collections and the core engine.

https://galaxy.ansible.com/azure/azcollection

If you look at the install ins

[2021-04-08 17:49] abelal83 commented on #186
Thanks for responding Paul. I genuinely was not expecting a response as this issue has been closed. In fairness I had been struggling with ansible for days based on the docs which simply states to install collection. I had no idea there was git repo with further instructions on deps. My response here was out of frustration over the time I had spent and was not meant to cause offense. I apologise i

[2021-04-08 18:15] paultaiton commented on #186
Understandable. It does make sense that the "NOTE" banner on the module docs should indicate that the link inside contains further instructions on dependencies. However I have no idea where that banner comes from. Since it appears in the docs for all of the collections (for instance AWS has the same message,) it looks to be coming from Ansible core. I'll raise the issue over there and see if it ca

[2021-04-08 22:05] paultaiton commented on #186
@abelal83
I opened an issue https://github.com/ansible/ansible/issues/74195  with the ansible core project. I don't know if that's the right place for it, but I asked for a modification that makes it more explicit that further dependencies may need to be satisfied.

[2021-04-08 22:13] abelal83 commented on #186
Thank you @paultaiton, really appreciate it. It should hopefully save others from the same frustration I had.

[2021-04-09 00:53] Fred-sun commented on #483
@ikarldasan @praveenghuge I will review and push for this merge! Thank you very much!

[2021-04-09 08:05] Fred-sun commented on #481
@francois-travais Thanks for your contribute! I will push the PR merged!

[2021-04-09 14:25] geekq commented on #225
Looks like the whole implementation is outdated, not just `azure_rm_aks_info`. I have problems _creating_ cluster as well.

While current azure documentation tells

the current  ansible-collections / azure only supports former, not latter

https://github.com/ansible-collections/azure/blob/9e20c6e83e7b9ff75293db8d0a28921a2fa88ff6/plugins/modules/azure_rm_aks.py#L121 declares `service_principal` as

[2021-04-10 18:31] juju4 opened #486 "Support of Azure SQL Server+Database Auditing and Diagnostics"
##### SUMMARY
Neither module support to enable auditing or diagnostics and those would be recommended in many cases for any production setup, especially for security reasons.

https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_sqlserver_module.html
https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_sqldatabase_module.html

Equivalent featur

[2021-04-11 14:22] ghost commented on #318
Hi @Fred-sun , @GerbenWelter I would like to contribute on this issue. Please let me know if I can take it up. Thank you!!

[2021-04-12 02:54] Fred-sun commented on #318
@techcon65 Wonderful. Welcome you to contribution!

[2021-04-12 04:23] ghost commented on #318
Thanks @Fred-sun for confirmation. I am working on it, will open a PR soon.

[2021-04-12 06:27] #481 closed, assigned to nobody

[2021-04-12 06:36] #332 closed, assigned to nobody

[2021-04-12 07:16] Andersson007 opened #487 "Update README in community.azure"
##### SUMMARY
https://github.com/ansible-collections/community.azure/blob/master/README.md should be updated (and maybe README of `azure` as well) to describe the current relationship between the `azure` and `community.azure` repositories (e.g., the purpose of keeping those info modules there, if it should be made readonly one day, etc).

Now `community.azure` says "Provides modules for Ansible fo

[2021-04-12 18:22] MarcGi opened #489 "[Feature Idea] Upgrade Managed Cluster Client Api Version To 2020-04-01"
##### SUMMARY

Upgrade Managed Cluster Client Api Version To 2020-04-01 From The Current 2019-04-01

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Components related to azure_rm_aks (Including info, upgrade_versions, etc.)

##### ADDITIONAL INFORMATION

This would allow for newer AKS features to be supported by this Galaxy Module

https://github.com/ansible-collections/azure/pull/336 curr

[2021-04-12 18:44] MarcGi commented on #489
I will start working on this under https://github.com/MarcGi/azure/tree/update_aks_api_version

[2021-04-13 13:29] greystitch commented on #477
Does this mean that azcollection will be having the same python module dependencies as azure-cli defined somewhere in recommended requirements file?

[2021-04-13 13:42] howardjones commented on #477
I was wondering this too. At least the same as _some_ version of azure-cli. Currently with the new pip version resolver, pip will just churn and churn forever if you ask it for the azcollection dependencies and azure-cli, since they don't align.

[2021-04-13 14:09] greystitch commented on #477
@howardjones Absolutely! And, as for now, the only solution to combine azcollection and azure-cli on the same machine (or container in my case) is to install CLI binary as package. But this workaround cannot be considered as good, because  installation size is about 800MB and contains many other unwanted stuff, like another python installation, its libraries and hundreds of pyc files... Well, I'm

[2021-04-13 16:45] paultaiton commented on #477
I'm not involved in the update that @Fred-sun mentioned, which is the way forward. However I wanted to know if using two virtual environments, one for azcollection, one for azure-cli, would be possible and mitigate the issue for you guys @howardjones and @greystitch  in the meantime? There's no hard technical requirement that they both be installed together since azcollection does not directly cal

[2021-04-13 19:25] howardjones commented on #477
This is what I'm doing currently, but it's not very efficient... the second venv is another 650MB inside the container once azure-cli is installed with pip.

[2021-04-13 19:35] paultaiton commented on #477
Gotcha. Yeah, not an ideal situation to duplicate so many packages for version differences.

[2021-04-14 19:19] tolarewaju3 commented on #146
Any update on this?

[2021-04-15 12:42] Klaas- opened #490 "Support for check_mode in all *_info modules"
##### SUMMARY
All _info modules I tested do not support checkmode
`{"changed": false, "msg": "remote module (azure.azcollection.azure_rm_publicipaddress_info) does not support check mode"}`

List of all modules I manually tested:
* azure_rm_adserviceprincipal_info
* azure_rm_loganalyticsworkspace_info
* azure_rm_publicipaddress_info
* azure_rm_resourcegroup_info

These modules by nature only retri

[2021-04-15 20:31] paultaiton opened #491 "Ansible module support for Network Watcher and Flow Logs"
##### SUMMARY

I do not see any method for setting up Network Watchers or Flow Logs in azcollection. It would be nice for this to be available.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_networkwatcher
azure_rm_networkwatcher_info
azure_rm_flowlog
azure_rm_flowlog_info

##### ADDITIONAL INFORMATION

These are two related resources in Azure that are used for recording traffic

[2021-04-16 14:24] ikarldasan opened #492 "Add support for DDoS Protection Plan"
**SUMMARY**
we would also like to create our DDoS protection plan with ansible. It seems currently there is no module for that.
https://docs.microsoft.com/en-us/azure/ddos-protection/ddos-protection-overview

**ISSUE TYPE**
- Feature Idea

**COMPONENT NAME**
None as of now, most likely something like azure_rm_ddos_protection_plan

[2021-04-16 14:24] ikarldasan commented on #492
Hi @Fred-sun will like to contribute to this

[2021-04-16 14:41] Fred-sun commented on #490
@Klaas- Thanks for you to submit this issue! I will confirm this!

[2021-04-16 14:42] Fred-sun commented on #492
@ikarldasan Great! Welcome to you contribution!

[2021-04-16 14:43] Fred-sun commented on #491
@paultaiton Thanks for you submit this issue! I will check and push for solved!

[2021-04-16 14:45] Fred-sun commented on #489
@MarcGi Thank for you submit this issue! I will push for #336 to be resolved!

[2021-04-17 09:16] rcarrata commented on #395
any thoughts on that?

[2021-04-17 20:04] ghost opened #494 "Ansible module support for Proximity placement groups"
##### SUMMARY
currently there is no ansible module support to create/list/retrieve proximity placement groups which are used to logically group the VMs to achieve the lowest possible latency. Would like to contribute to this module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_proximityplacementgroup
azure_rm_proximityplacementgroup_info

##### ADDITIONAL INFORMATION
Using this

[2021-04-17 20:06] ghost commented on #494
Hi @Fred-sun I Would like to contribute to this module. started working on this. Thank you!!

[2021-04-18 22:30] bcchagas opened #498 "azure_rm_resource - Documentation on how to fetch subresources information"
##### SUMMARY

There is no example on the documentation for the module [azure_rm_resource](https://docs.ansible.com/ansible/2.8/modules/azure_rm_resource_module.html?highlight=azure_rm_resource) on how to fetch infomation of a subresource, such as a database of a DBforPostgreSQL. I'd like to provide one I'm using.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

resource azure_rm_re

[2021-04-19 15:15] ehm-wehb opened #499 "ModuleNotFoundError: No module named 'azure.mgmt.privatedns'"
##### SUMMARY
Fresh venv, and install of azcollection.  Error when attempting to get info on an azure vm. "
ModuleNotFoundError: No module named 'azure.mgmt.privatedns'"

I can manually import the module into python with a "from azure.mgmt.privatedns import PrivateDnsManagementClient"

I'm following the instructions available at:
https://galaxy.ansible.com/azure/azcollection

##### ISSUE TYPE
- Bu

[2021-04-19 17:44] anikm1987 opened #500 "Unable to create service principal in Azure using ansible collection"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure.azcollection.azure_rm_adserviceprincipal

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal

##### STEPS TO REPRODUCE

Configured environment variables -

export AZURE_CLIENT_ID="<client_id>

[2021-04-19 18:08] ghost commented on #394
Any update on this?

[2021-04-20 00:13] paultaiton commented on #500
It looks like you're all over the place in terms of providing credentials for authentication. Are you using a service principal's client and secret, a AD user's name and password, or something else? You should pick one of MSI, az-cli login, environmental variables, or explicit parameter in playbook's task definition, and stick with it exclusively for the entirety of the playbook.

[2021-04-20 09:45] anikm1987 commented on #500
Hi @paultaiton,

I am using service principal to authenticate with Azure. Environment variables are set using below commands -
export AZURE_CLIENT_ID="<client_id>"
export AZURE_SECRET=""
export AZURE_TENANT="tenant_id"

I have not provided credentials in any other place.

FYI - Resource group is getting created successfully. Having problem with new service principal creation.

[2021-04-20 10:49] tfmark commented on #429
I've just been looking at doing this myself.. If you pass the `profile` argument into the module, you should be good.

Here's what I'm doing in my playbook:

[code]

and my `~/.azure/credentials` looks the same as yours.

[2021-04-20 12:31] ghost opened #502 "Azure Files modules required"
##### SUMMARY

Azure Storage have a capability that called [Azure Files](https://docs.microsoft.com/en-us/azure/storage/files/)
##### ISSUE TYPE
Currently there is no such implementation

##### COMPONENT NAME
azure_rm_storage_share
azure_rm_storage_share_info

##### ADDITIONAL INFORMATION

It will increase coverage of the basics azure features

[2021-04-20 12:53] ghost opened #503 "azure_rm_keyvault_info failed with TypeError: __init__() missing 1 required positional argument: 'credential'"
##### SUMMARY

When collecting info with
[code]
receive a failed message

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure.azcollection.azure_rm_keyvault_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS7, CentOS8, macOS 10.14

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Prints a dict returned from a keyvault_fact

##### ACTUAL

[2021-04-20 12:56] tfmark opened #504 "azure_rm_securitygroup doesn't show idempotent behaviour"
I incorrectly raised this in the ansible repo (https://github.com/ansible/ansible/issues/74343) and it was closed. Copy/pasting here.

### Summary

This might be related to https://github.com/ansible/ansible/issues/26411 which was fixed a few years ago.

I am using `azure.azcollection.azure_rm_securitygroup` and passing in **lists** for both `destination_port_range` and `source_address_prefix` par

[2021-04-20 15:14] Eugen1987 opened #505 "azure_rm_roleassignment_info: when 'assignee' i set, role_definition_id filter not work"
##### SUMMARY

The module azure_rm_roleassignment_info does not return 'roleassignments' attribute even if the SP has assigned roles.
Only happens when 'assignee' is set:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_roleassignment_info

##### ANSIBLE VERSION
ansible 2.10.6
  config file = /Users/test/workplace/dap-platform-ops/ansible.cfg
  configured module search path = [

[2021-04-20 15:56] paultaiton commented on #429
You can create an 'inventory' directory in your project, and have multiple '*-azure_rm.yml' inventory files. Inside each file you'd define a different 'subscription_id: 00000000-0000-0000-0000-000000000000 ' config.

[2021-04-20 16:21] paultaiton commented on #500
You should also include your subscription id in the environmental variables if that's the method you're using. I assume you've redacted the AZURE_SECRET value for this post, but are still providing it on your system?

[2021-04-20 16:25] paultaiton commented on #505
possibly fixed in #464

@Eugen1987
I'm not completely understanding what you're reporting. You provide scope, assignee, role_definition_id and it doesn't return anything? Or that works but omitting one of the parameters causes it to fail?

[2021-04-20 17:24] anikm1987 commented on #500
Hi @paultaiton ,
There are number of subscriptions available (dynamic in nature) so I pass it via extra-vars

ansible-playbook create-azure-rg-vars.yml --extra-vars "subscription_id=<subscription_id>"

Subscription id passed as environment variable for each task using -

environment:
        AZURE_SUBSCRIPTION_ID: "{{ subscription_id }}"

Yes AZURE_SECRET  value I have redacted for the post.

[2021-04-20 17:44] PavelPikat commented on #429
I am not using azcollection to manage Azure resources. I want to run other modules to configure Azure VMs, like windows modules or Ansible built-in, like shell.

[2021-04-20 17:48] PavelPikat commented on #429
Yes, I know, but that would mean I have to create multiple playbooks per subscription and execute them in different orders

Imagine you have 2 subscriptions and 3 tasks: A, B and C. I wan to run a single playbook that executes task A in subscription 1, then task B in subscription 2, and then task C in subscription 1 again. With multiple inventory files, I have to execute 3 different playbooks.

[2021-04-20 17:49] PavelPikat commented on #429
If I configure multiple inventories, how do I tell the playbook which inventory to use for different task?

[2021-04-20 18:28] paultaiton commented on #429
You will have one inventory with multiple sources, not multiple inventories. You can use one playbook with multiple plays targeting different hosts (or groups)  for each play.

[2021-04-20 18:37] paultaiton commented on #429
You pass the directory as the inventory, not the individual files. Ansible will use all of the included files to compose your complete inventory.

You will have to set up groups within the different *-azure_rm.yml files to differentiate one sub from the other, or use attributes exposed through the plugin, such as resource-groups, or dynamic groups based on tags, etc. Then you just pass one of thos

[2021-04-20 18:41] paultaiton commented on #500
@anikm1987
You will need to pass all authentication attributes in at the task level then. You cannot mix partial environmentals and partial module parameters to create a complete set, you must pass a complete set of one and nothing in the other forms. At least I've never seen it working, and based on what I've seen of the code that performs the evaluations, it won't compose the disparate forms.

I

[2021-04-20 19:27] anikm1987 commented on #500
@paultaiton

For testing purpose I set subscription also as environment variable .

export AZURE_CLIENT_ID="<client_id>"
export AZURE_SECRET="<secret>"
export AZURE_SUBSCRIPTION_ID="<subscription_id>"
export AZURE_TENANT="tenant_id"

Changed the yaml file like below -

---
- hosts: localhost
  connection: local
  vars:
    azure_app_id: "e0a62513-1d81-480e-a6dc-5c99cdd58d9a"
  tasks:
    - name: C

[2021-04-20 19:37] paultaiton commented on #500
It looks like this module is repurposing the "tenant" property that is normally only used for authentication purposes to be used as the target of the AD action. When I created the azure_rm_subscription_info module, I had to create a completely different variable for "id" and not reuse the subscription_id parameter to avoid a conflict. My guess is that having "tenant" defined as a module property i

[2021-04-20 19:49] anikm1987 commented on #500
Thanks @paultaiton
I have tried passing all of the parameters to the module explicitely: tenant, subscription_id, client_id, secret. It is throwing the similar error.

Hi @Fred-sun @haiyuazhang ,
I try to delete the service principal using below block (service principal does not exist actually) -

    - name: delete ad service principal
      azure.azcollection.azure_rm_adserviceprincipal:

[2021-04-21 06:46] Eugen1987 commented on #505
hi.
I have checked the Pr you indicated and it solves the problem.
Basically the problem is that when using the 'assignee' attribute and then filtering by 'role_definition_id' nothing is returned. It's a code problem:
![image](https://user-images.githubusercontent.com/19280657/115508553-bbc82580-a27d-11eb-8efc-64e72f09c49a.png)

when 'role_definition_id' is defined the results will always be empty

[2021-04-21 11:26] mnhat3896 commented on #343
Hi, @Fred-sun
I've already met this issue, is there anything news to resolve this?

My company used multi-factor authentication when we log in to the Azure portal. Is it a problem?
One more thing is I have no privilege to create a service principal, so I used ad_user and password for testing.
I have tried to `az login`, export variable and even create `/.azure/credentials` but it didn't work

<img

[2021-04-21 12:26] tfmark opened #508 "Add instructions for testing changes to CONTRIBUTING.md"
##### SUMMARY

I would like to submit a PR for a change, however I would like to test my change first (ideally writing a test case that fails, highlighting the bug, that will then pass once I've fixed the problem). How do I do that? the `ado.sh` script seems impractical for this task.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
CONTRIBUTING.md

##### ANSIBLE VERSION
n/a

[2021-04-21 15:37] paultaiton commented on #508
Duplicate of #476

@tfmark  I am in the process of working on this already.

[2021-04-21 15:39] tfmark commented on #508
Ah sorry for the dupe, looking forward to it!

[2021-04-21 15:39] #508 closed, assigned to nobody

[2021-04-21 19:48] anikm1987 commented on #500
Hi,

Further investigation shows below log in the error -

 File \"/home/ubuntu/.local/lib/python3.8/site-packages/azure/graphrbac/models/graph_error_py3.py\", line 45, in __init__\n    super(GraphErrorException, self).__init__(deserialize, response, 'GraphError', *args)\n  File \"/home/ubuntu/.local/lib/python3.8/site-packages/msrest/exceptions.py\", line 184, in __init__\n    response.raise_for_

[2021-04-21 20:07] anikm1987 commented on #500
I have verified the permission the service principal has and it looks like below -

![image](https://user-images.githubusercontent.com/18282740/115614409-97a02f00-a2e5-11eb-909b-02ce9ba62c6b.png)

Do I need to provide any other permission?

[2021-04-22 06:28] praveenghuge commented on #503
@anatolylebedev-tomtom you might have the latest version for azure-mgmt-keyvault, for ansible-azure currently the latest version needs some changes, can you please try using azure-mgmt-keyvault==2.2.0 which should work.

[2021-04-22 16:53] ghost commented on #503
@praveenghuge after updating to 2.2.0 the issue stands:

[code]

[2021-04-23 02:19] lysacor opened #512 "Add support for Azure Firewall Manager Policy configurations and IP Groups"
##### SUMMARY

Create a new module, or set of modules, for managing Azure Firewall Manager Policies so Ansible playbooks can manage new style azure firewall policies that Microsoft has released.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Module name examples:
azure_rm_azurefirewallpolicy
azure_rm_azurefirewallpolicyrulecollectiongroup (or equivalent)
azure_rm_azurefirewallpolicy_info

[2021-04-23 13:28] jdemaree commented on #512
It would be nice to not have to switch contexts when Ansible, so far, has outpaced Terraform in usability in Azure networking.

[2021-04-26 10:25] zenitraM opened #515 "Inventory fails when there is a host with provisioningState:Failed"
##### SUMMARY
When there is a host in a scale set that reports its status as `Failed` due to some internal error or permission issue, it does not have attached a `networkProfile` which the inventory expects. This causes the azure_rm inventory to crash on its entirety.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm inventory plugin

##### ANSIBLE VERSION
Reproduced on Ansible 2.10.8

[2021-04-26 10:57] zenitraM commented on #515
This sounds like it should have been filtered out by this default configuration:

https://github.com/ansible-collections/azure/blob/ac817ef01750600f9a3bad25e9c4a6721c36f18c/plugins/doc_fragments/azure_rm.py#L54-L58

As we add `include_powerstate = no` maybe the first condition is not being evaluated. Still not sure why the second one is not working properly though.

[2021-04-26 14:24] fepere commented on #418
Hello,
I think I´m trying to have the same issue, the variables are not working, so I changed the names on the playbook and still not working.
Do you know if the issue to add a VM into backup vault, due the resources are on a different 'resourcegroup' ?

the playbook
azureuser@myvm:~/test-azcli$ cat enable_backup_vm.yml
---
- hosts: localhost
  connection: local
  tasks:
    - name: Enabling/Updat

[2021-04-26 20:25] lonico opened #516 "unused required_if in azure_rm_common triggers Ansible validate-modules issues"
##### SUMMARY

azure/azcollection/plugins/module_utils/azure_rm_common.py defines
[code]

and passes it to AnsibleModule, but log_mode or log_path are not defined anywhere in azcollection (AFAICT).

This results in module validation issues:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_common

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2021-04-26 20:59] erikhjensen commented on #477
@paultaiton Hi, I'm being asked to look into this for another team where they do use the Azure Modules in some Tasks and they use the Azure CLI in others.  When you commented that you're splitting up the virtual environments are you calling into other job-templates each with suitable Venvs from a master job-template?  From what I gather, the team I'm working with is executing their job directly on

[2021-04-26 21:16] paultaiton commented on #477
@erikhjensen
I do not call Azure CLI from Ansible at any time, and only use the azcollection modules, so my experience there is limited. I have azure cli installed to my user's default python path, and a dedicated .venv for azcollection. Any az command I run is done manually from a regular bash session.

In theory I believe you should be able to use the fully qualified path to the az executable, a

[2021-04-26 22:11] howardjones commented on #477
@erikhjensen I am doing this with awx at the moment - two extra venvs, one for azcollection (and whatever else we need), and a second for azcli. I also change the `az` "binary" shellscript to explicitly use the right venv's python instead of the discovery thing it does otherwise:

    #!/usr/bin/env bash
    AZ_INSTALLER=DEB /var/lib/awx/venv/azlocal/bin/python3 -Im azure.cli "$@"

so the job temp

[2021-04-27 17:15] fepere commented on #346
Hello, actually the azure_rm_deployment is not working at all, I try to simply create a 'resource group' but is not working, it´s failing..

[2021-04-29 13:05] Fred-sun commented on #516
@lonico Thanks for your submit this issue! I will check!

[2021-04-29 13:11] Fred-sun commented on #515
@zenitraM Thanks for your submit this issue! I will check this!

[2021-04-30 01:06] victorbrca commented on #429
Does this actually work for you? Because that's exactly what I have set up and it does not work for me. It always uses whatever my current default subscription is (and I have 4 subscriptions on my account).

You can easily test this with `ansible-inventory --graph` without mucking about too much.

a. Set a subscription ID on your `azure_rm.yml` file

b. Set a different subscription ID with `az acc

[2021-04-30 02:13] techcon65 commented on #81
Hi @Fred-sun @haiyuazhang Can you confirm if I can pick up this issue if its not already being worked upon? Thanks!

[2021-04-30 13:10] russelljftw opened #521 "azure_rm_deployment removes existing tags from resource group"
##### SUMMARY
Re-submitting this Issue from the ansible repo
https://github.com/ansible/ansible/issues/32143

azure_rm_deployment removes existing tags from the Resource group if no tags are provided in the module.

if no tags are provided, all existing tags should remain in place.

If the tags parameter is excluded, all tags are removed from the resource group.
If the tags parameter is included w

[2021-05-01 19:16] ghost commented on #81
Hi @Fred-sun @haiyuazhang Can you confirm if I can pick up this issue if its not already being worked upon?
[Apologies for spamming - You might be getting second notification for same comment as previous comment by mistakenly got deleted while editing]

[2021-05-03 14:23] jghal commented on #88
This is still an issue we would like to see resolved.

[2021-05-04 17:54] ChandlerSwift opened #522 "Add `zone` to azure_rm_virtualmachine_info module"
##### SUMMARY
The `azure_rm_virtualmachine_info` module doesn't provide a method for getting the availability zone information.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine_info

##### ADDITIONAL INFORMATION
When adding/updating a tag on a virtual machine in an availability zone, it fails if I don't provide the same zone when updating.
[code]
[code]
I'd like to be

[2021-05-05 09:14] dosmanak commented on #438
Hello. So I've hit the same bug while exploring ansible modules for azure.
I have installed them using `pip install "ansible[azure]"` and I run the module in ad-hoc task.
`azure-mgmt-network==2.3.0 in /home/dosmanak/.local/lib/python3.9/site-packages (from ansible[azure]) (2.3.0)`

[code]
[code]

[2021-05-07 02:28] Xiuxi-Sun commented on #438
@Jvekka Although it returns "change=True", it doesn't update the loadbalancer, it just returns the new loadbalancer defined in the playbook. I will confirm with the developer whether this should be modified or not! Thank you very much!

[2021-05-07 02:37] Xiuxi-Sun commented on #522
fixed by #523

[2021-05-07 03:14] Xiuxi-Sun commented on #521
@russelljftw Thanks for you submit this issue! I will check and resolve it! Thank you very much!

[2021-05-07 07:17] Xiuxi-Sun commented on #88
@jghal We are working on it! Thank you very much!

[2021-05-07 07:20] Xiuxi-Sun commented on #81
@techcon65 Thank you for your attention, welcome to help solve this problem! Thank you very much!

[2021-05-07 07:54] Xiuxi-Sun commented on #429
@PavelPikat Have you solved your problem? Or can you describe the problem you encountered again? Thank you very much!

[2021-05-07 08:55] PavelPikat commented on #429
I ended up using static inventory instead of azure_rm. I couldn't get it work with multiple inventory files, as we are using Azure DevOps Ansible task that accepts only one specific .yml inventory file and cannot work with folders.

[2021-05-07 09:18] Xiuxi-Sun commented on #429
@PavelPikat To understand! Thanks for your reply!

[2021-05-07 19:03] haiyuazhang commented on #500
@paultaiton  @anikm1987
https://github.com/ansible-collections/azure/pull/525 should fix this issue.
I've test locally, works. The SP I used for the test has the role 'cloud application administrator'.

[2021-05-07 20:27] paultaiton commented on #429
It does work for me, however after looking at my setup, I'm using MSI authentication and not CLI auth, so I think it is only taking the subscription_id from the inventory file. I do not fully understand the azcollection authentication mechanisms, but I have had a lot of difficulties with mixing inputs from different methods, so it would not surprise me if the dynamic inventory doesn't work with CL

[2021-05-08 11:07] Jvekka commented on #438
Yes, I know that now, but it did still wipe our rules from the load balancer and caused an outage.
Luckily, I did not know this back then and checked the environment which made the outage shorter.

[2021-05-09 20:30] ghost commented on #81
Thank you @Xiuxi-Sun  working on it!

[2021-05-10 12:51] ghost opened #527 "Further CosmosDB support"
##### SUMMARY
I want to use CosmosDB Containers/Databases with Ansible.
As far as I am aware, currently only cosmosdbaccount and cosmosdbaccount_info exist, which only allow the creation
of a cosmosdb account. Creating Containers and Databases still has to be done using the Web Interface (or another way).
Explicitly I want to be able to configure the maximum RU/s as well as GB of storage for a giv

[2021-05-12 06:08] AlvinRamoutar opened #529 "Add new module for diagnostic settings"
##### SUMMARY

Add new module for diagnostic settings

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_diagnosticsetting

##### ADDITIONAL INFORMATION

Add a new module to make provisioning diagnostic settings for resources possible.

[code]

[2021-05-12 14:29] mnj opened #539 "azure_rm_networkinterface ip_configurations does not allow IPv6 addresses"
##### SUMMARY
It's not possible to specify an IPv6 IP in the configurations.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04

##### STEPS TO REPRODUCE
See above

##### EXPECTED RESULTS
Working like it does on the portal / as it does with the arm templates, when creating i

[2021-05-12 16:08] mnj commented on #539
Got this workaround working, but it's not anywhere as nice as if this was supported directly with azure_rm_networkinterface

[code]

[2021-05-13 06:13] #504 closed, assigned to nobody

[2021-05-13 06:17] #522 closed, assigned to nobody

[2021-05-13 12:00] Fiury00 commented on #245
Any updates on this issue? I am able to use azure_rm_subnet_info but not azure_rm_keyvaultsecret_info.

[2021-05-13 12:23] Fiury00 commented on #134
Are there any plans to get Azure CLI working with all modules i.e. the kv ones?

[2021-05-13 14:50] rcdlinux opened #541 "Unable to delete managed disk using azure.azcollection.azure_rm_manageddisk"
Error when trying to remove managed disk from Azure VM using Azure certified collection via Ansible playbook on Ansible Tower. From Azure Painel or CLI the disk is removed with success, the error is happening only via Ansible.
Below the complete playbook to test followed by the error returned from Azure:

[code]

*** Error from Ansible Tower certified Azure Collection - Subscription, server names

[2021-05-16 23:31] Xaeco commented on #130
I can't use `azure_rm_storageblob` because it wants ansible[azure] which is deprecated and causes all sorts of module version conflicts if I try to install all dependencies.

If anyone is successfully using `azure_rm_storageblob` I'd like to know how.

[2021-05-17 11:20] kohtala commented on #441
As an end user, I find requirements management to be very much neglected. I created MicrosoftDocs/azure-dev-docs#509 on documentation. It is difficult to install this for production.

The current requirements are very old. They are lacking over three years of development and maintenance.

[code]

It is also very difficult to have them pinned down to patch level. If you need anything else in your e

[2021-05-17 15:48] el-memer opened #543 "Add storage_profile parameter to azure_rm_mysqlserver"
##### SUMMARY
There are some missing parameters in the Mysql Module, related to storage_profile.
The missing parameters are:

- backupRetentionDays
- geoRedundantBackup
- storageAutogrow

##### ISSUE TYPE
- Module Improvement

##### COMPONENT NAME
azure_rm_mysqlserver

##### ADDITIONAL INFORMATION
These parameters can't be changed after instance creation and force to use template deployment.

I th

[2021-05-18 10:53] kohtala commented on #441
The newer packages installed with azure-cli fail with the azure.azcollection in these imports:

https://github.com/ansible-collections/azure/blob/619c46c5cd93cf9985a8ae5f4eb308a6e6b59a42/plugins/module_utils/azure_rm_common.py#L232-L238

It seems these imports went unused and obsolete in https://github.com/ansible/ansible/commit/26f551d1c37277e5522836d7a6cb98de42c50fb7. It would be easiest to remo

[2021-05-19 11:47] sdktr commented on #225
Same problem here. Clusters created with Managed Identities fail to use the `azure_rm_aks_info` module because it requires the legacy SPN properties in the response.
https://github.com/ansible-collections/azure/blob/45259c47f11ac78e334047cc3bb011904906e827/plugins/modules/azure_rm_aks.py#L515

[2021-05-19 12:10] sdktr commented on #225
Workaround using the aks_rm_info module:
[code]

[2021-05-21 05:37] #209 closed, assigned to nobody

[2021-05-21 09:51] emanuele-leopardi opened #545 "Module azure_rm_webapp add support for "App Service Log on Filesystem" and "Custom Domain Addition + Certificate Binding" option settings"
##### SUMMARY

Module azure_rm_webapp currently does not support setting App Service Log on Filesystem nor Custom Domain Addition + consequent Certificate Binding
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_webapp.py

##### ADDITIONAL INFORMATION

App Service Log on Filesystem document reference is here:

This allows user to see logs from container and application and retain th

[2021-05-24 21:46] raghureddy45 commented on #132
Damnn.. No update since 2020. :(

[2021-05-26 11:59] x4FF3 opened #546 "Allow Java 11 for linux webapp"
##### SUMMARY

It is not possible to set  Java Version 11 for linux_fx_version
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_webapp.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

create webapp linux and java version 11

[code]

##### EXPECTED RESULTS

changed: [localhost]
#

[2021-05-26 15:43] ghost opened #547 "Issue when using azure_rm_keyvaultsecret_info with cli"
##### SUMMARY
I get the following error when trying to retrieve a secret from my azure key vault.
I am definitely logged in with the cli since retrieving the secret manually using az cli commands does work.

`fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "Your credentials class does not support session injection. Performance will not be at the maximum.\nTraceback (most recent

[2021-05-26 16:10] ghost commented on #134
Wasted a lot of time on this today. Looking at the documentation you expect that this would work but it does not. One year later still no fix in sight? At least remove it from the documentation.

[2021-05-26 16:13] ghost commented on #547
Just found an already related issue: https://github.com/ansible-collections/azure/issues/134

Guess this can be closed/deleted

[2021-05-26 16:13] #547 closed, assigned to nobody

[2021-05-27 04:35] Akasurde opened #548 "Unable to login to azure portal with the exported variable or credential file entries"
_From @rajaniesh on May 27, 2021 00:25_

### Summary

Hi,

I have followed this article  https://docs.ansible.com/ansible/2.3/guide_azure.html. IN this when I used service principal it works fine but when I tried using

[default]
ad_user=XXXXX
password=YYYYY
subscription_id=zzzzzzz

it does not work I tried using the environment variable and tried passing the parameters like this
 ansible-playbook

[2021-05-28 05:21] #494 closed, assigned to nobody

[2021-05-28 05:23] #318 closed, assigned to nobody

[2021-05-28 05:32] Fred-sun commented on #396
@nitinkansal1984 If there are no other problems, I will close it. Thank you very much!

[2021-05-28 05:35] Fred-sun commented on #441
@fabricat Do you still have this problem? If not, I will close it. Thank you very much!

[2021-05-28 12:40] rajaniesh commented on #548
Can somebody look into this issue please

[2021-05-28 13:49] guillaumewatteeux opened #551 "Inventory plugin restrict plugin choices"
##### SUMMARY
With Ansible 4.0.0, inventory plugin with "choices" keyword restrict valid value.
In my case, I used a company inventory plugins to wrap azure_rm. (to set keyed_groups, manage legacy hostname, use include_host_filters..... )

https://github.com/ansible-community/ansible-build-data/blob/main/4/CHANGELOG-v4.rst#included-collections
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2021-05-28 13:50] fabricat commented on #441
Hi @Fred-sun
I see that on [Ansible doc](https://docs.ansible.com/ansible/latest/collections/azure/azcollection/) (maybe an old version?) `azure >= 2.0.0` is still cited.

Anyway, if I follow the updated installation instructions on GitHub or Ansible Galaxy, the `pip install` step seems to work (sorry, I could not actually test the plugins yet).

JFYI, I still get one error from `pip` (not sure if

[2021-05-28 14:01] guillaumewatteeux commented on #551
.... 😅

Add plugin to DOCUMENTATION BLOCK..

[code]

[2021-05-28 14:01] #551 closed, assigned to nobody

[2021-05-28 20:35] erikhjensen commented on #477
Hi @Fred-sun, how goes the planning of the dependency updates?  I only ask because we had to back out a change which attempted to work around this limitation and I suspect our team is not quite as resourceful as @howardjones as our yum-installed Azure CLI was failing when called from within the awx virtual environments.     Fwiw, this is the error we saw within our ansible_az virtual environment.

[2021-05-28 23:40] Fred-sun commented on #477
@erikhjensen In general, we install the azcollection dependencies through "pip install-r requires-azure. txt", you can refer to the link --"https://github.com/ansible-collections/azure", Thank you very much!

[2021-05-29 09:21] bantvalprabhu commented on #394
Hi @Fred-sun, any updates on this

[2021-05-31 14:10] erikhjensen commented on #477
Hi @Fred-sun, noted.  I believe the concern in the thread is that this list of dependencies is falling far behind the dependencies in Azure CLI's python package and the two packages cannot be installed into the same virtual environment.   We will monitor this thread for news of updates to the dependencies.

[2021-05-31 14:45] Fred-sun commented on #548
@rajaniesh The document's Active Directory username/password as following, Would you give a try?
[default]
azure_ad_user=XXXXX
azure_password=YYYYY
azure_subscription_id=zzzzzzz

[2021-05-31 14:53] Fred-sun commented on #441
@fabricat 　You are using the latest requirements-azure.txt（sudo pip3 install -r　requirements-azure.txt　）, now Ansible is doing the migration, will not support Python 2.7, support Python 3.6 later versions! Thank you very much!

[2021-05-31 15:02] Fred-sun commented on #418
@fepere It seem your paramter error! should be as follow, please take a try! Thank you very much!
[code]

[2021-05-31 15:04] #396 closed, assigned to nobody

[2021-05-31 15:07] Fred-sun commented on #385
@joaocc It seem has fixed! Would you give a try? Thank you very much!

[2021-05-31 15:15] Fred-sun commented on #350
@verodhi It should have been fixed by #105 and #261, can you try it? If success, I'll close it! Thank you very much!

[2021-05-31 15:28] Fred-sun commented on #324
@edikmkoyan It should have been fixed by #105 and #261, can you try it? If success, I'll close it! Thank you very much!

[2021-05-31 16:49] l3ender opened #555 "Retrieve Active Directory user or group"
##### SUMMARY
This feature would allow for retrieving user/group detail from Azure Active Directory.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_adprincipal_info

##### ADDITIONAL INFORMATION
This would be a very helpful module to use in combination with `azure_rm_roleassignment`, which requires the ID of the user or group to which the role is being assigned (`assignee_object_i

[2021-05-31 17:43] paultaiton commented on #555
https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_aduser_info.py

https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_adgroup_info.py

https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_adserviceprincipal_info.py

Those three should get what you need based on principal type. I did not write those modules so I can't

[2021-05-31 17:52] l3ender commented on #555
@paultaiton - great info, thank you!

I was not aware of these modules. It seems they aren't listed on the [Ansible doc page for this collection](https://docs.ansible.com/ansible/latest/collections/azure/azcollection/index.html) (this is the place I reference for documentation). Is there something I can assist with to get this page updated for all modules?

It makes me wonder what else I might be

[2021-05-31 17:55] paultaiton commented on #555
I'm not sure how the docs are generated, but I'm certain that the most recent of those modules is not in the docs because it JUST got merged less than 2 weeks ago, more recent than the latest azcollection release on ansible-galaxy (or a github version .)

[2021-06-01 04:37] rajaniesh commented on #548
Fred i did the sane but it did not worked

[2021-06-01 07:43] x4FF3 commented on #546
also as
[code]
returns
[code]
this should be changed.

[2021-06-02 01:42] Fred-sun commented on #548
@rajaniesh Thanks for your trying! can you share the error that your test!

[2021-06-03 00:28] l3ender commented on #555
@Fred-sun - Can you advise? The [Ansible documentation page for azcollection](https://docs.ansible.com/ansible/latest/collections/azure/azcollection/index.html) still shows collection version 1.5.0 so the latest module additions and enhancements are not visible.

[2021-06-03 01:55] l3ender opened #556 "Add ability for webapp vnet integration"
##### SUMMARY
This is a request for the ability to add [webapp vnet integration](https://docs.microsoft.com/en-us/cli/azure/webapp/vnet-integration?view=azure-cli-latest), so that networking configuration can be defined for a web app.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_webapp_vnetintegration – Manage Web App Virtual Network Integrations.
azure_rm_webapp_vnetintegratio

[2021-06-03 02:14] l3ender opened #557 "Idempotency fails for route table and route modules"
##### SUMMARY
The `azure_rm_routetable` and `azure_rm_route` modules both fail idempotency tests, and report a status of "changed" when rerunning the module with same inputs.

I believe the issue is related to using the `tags` property.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
* azure_rm_routetable
* azure_rm_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2021-06-03 02:53] rajaniesh commented on #548
Hi Fred,

I just copied the file provided by you and tried it and here is the outcome

[azureuser@vm1 sketch]$ ansible-playbook CreateRg.yml -v
[DEPRECATION WARNING]: Ansible will require Python 3.8 or newer on the controller starting with Ansible 2.12. Current version: 3.6.8 (default, Aug 24
 2020, 17:57:11) [GCC 8.3.1 20191121 (Red Hat 8.3.1-5)]. This feature will be removed from ansible-core in

[2021-06-03 12:09] Fred-sun commented on #541
@rcdlinux I am working in it！ Thank you very much!

[2021-06-03 13:20] Fred-sun commented on #541
@rcdlinux This Data_disk is attached to a VM. So it failed when deleting. If we want to delete the datadisk, we need to unmout the datadisk and then delete it again. Thank you very much!

[2021-06-03 13:43] Fred-sun commented on #541
@rcdlinux You can refer to the PlayBook below to dettach the data disk and then perform the delete task. Thank you very much!
[code]

[2021-06-03 14:49] rcdlinux commented on #541
Hi @Fred-sun,

I will ask to the team test changing the "rescue" session from the playbook that we are using and I will return with the answer soon!

Thank you for pointing me that!

[2021-06-03 15:21] rajaniesh commented on #548
Ansible Team,

Can you please respond.

Regards
Rajaniesh

[2021-06-03 15:53] ElPrincidente commented on #397
I also needed this feature so I've submitted a PR that supports Spot instance for both VM and VMSS. Waiting for review.

[2021-06-07 14:54] Fred-sun commented on #548
@rajaniesh I'm looking at it. Just a moment, please. Thank you!

[2021-06-08 01:44] Fred-sun commented on #557
@l3ender The idempotent test is executed again with the same parameter, and you are clearly executing here only on one side, so changed=True. you can reference "tests/integration/targets/azure_rm_routetable/tasks/main.yml".

[2021-06-08 02:55] #324 closed, assigned to nobody

[2021-06-08 02:57] #541 closed, assigned to nobody

[2021-06-08 15:50] rcdlinux commented on #541
Hey @Fred-sun,

Just registering here to let you know it worked here with the customer automation.

Thank you very much!

[2021-06-09 12:30] Fred-sun commented on #555
@l3ender @paultaiton  Thanks for your contribution.I am trying to understand the reason, why did I not synchronize here in time? thank you

[2021-06-09 15:12] WolfoDev commented on #343
Are there any news on this issue?

I'm required to log into azure through automation with an MFA-enabled account, and using App Password doesn't work.
Is there another way to `az login` bypassing MFA?

[2021-06-10 00:34] Fred-sun commented on #343
@l3ender The problem you are experiencing is similar to #548. Using the Using Active Directory Username/Password credential failed. This seems to be a known Issue and we are trying to confirm the problem. Thank you very much!

[2021-06-10 03:22] Fred-sun commented on #555
@l3ender @paultaiton The document part is updated and synchronized by the people of RedHat. Maybe due to the time gap, we did not update it in time. Please understand!

[2021-06-10 03:48] l3ender commented on #555
@Fred-sun Thanks for the update. Is there a way to petition the Red Hat team to update on their side?

[2021-06-10 04:00] Fred-sun commented on #555
@l3ender I don't have it on my side, but I'll see if I can push the update. Thank you very much!

[2021-06-10 09:06] Fred-sun commented on #546
@x4FF3 Thank you for reporting this problem. We will check and support your demand as soon as possible. Thank you very much!

[2021-06-10 09:11] Fred-sun commented on #545
@emanuele-leopardi Thank you for reporting this problem. We will check and support your demand as soon as possible. Thank you very much!

[2021-06-10 12:34] Fred-sun commented on #543
fixes by #563

[2021-06-10 13:11] Fred-sun commented on #516
Has fixed! I will close it!

[2021-06-10 13:11] #516 closed, assigned to nobody

[2021-06-10 13:15] Fred-sun commented on #512
@lysacor  azure_rm_ipgroup has been added by #528

[2021-06-10 13:19] Fred-sun commented on #503
@anatolylebedev-tomtom Could you please try this version？ "azure -mgmt-keyvault==1.1.0" is the version required by ansible-collection! Thank you very much!
[https://github.com/ansible-collections/azure/blob/dev/requirements-azure.txt](url)

[2021-06-10 13:31] Fred-sun commented on #500
#525 has been merged, This Issue can be closed! Thank you very much!

[2021-06-10 13:31] #500 closed, assigned to nobody

[2021-06-10 13:36] Fred-sun commented on #499
@ehm-wehb Before implementing Ansible script, we all need to install the packages it depends on. This should not be a bug. Thank you!
[https://github.com/ansible-collections/azure/blob/dev/requirements-azure.txt](url)

[2021-06-10 13:49] ghost commented on #503
@Fred-sun it fails to collect an info as initial message said

[2021-06-10 14:38] Fred-sun commented on #503
@anatolylebedev-tomtom Can you help to provide the output results? Thank you very much!

[2021-06-11 00:12] jfreeland commented on #130
does clicking on the thumbs up here on the initial comment have any impact to prioritization?  it's pretty surprising how far behind this is re: azure python sdk.  i also had to do some reworking of other dependencies to support how far behind this is. 😱    is there someone from azure that maintains this stuff?  if so, this makes it harder for me to give you money.  please fix.

[2021-06-11 00:39] Fred-sun commented on #130
@jfreeland We are preparing to update all depend packages! once upgrade, I will add comment in here! Thank you very much!

[2021-06-11 03:12] Fred-sun commented on #490
@Klaas- The check_mode mode should appear in the related modules azure_rm_*.py. The modules for azure_rm_*_info.py are only fetching resources and do not change them, so they should not support this functionality and remove modules that should not be there. Thank you very much!

[2021-06-11 09:45] #557 closed, assigned to nobody

[2021-06-11 16:24] l3ender commented on #557
@Fred-sun - I don't understand what you mean by your comment. The same playbook is run two times in a row, and even though nothing changes on the second run, the task reports as changed=true. I'm not sure how it isn't a bug?

[2021-06-12 22:51] rajaniesh commented on #548
Fred Any update ?

[2021-06-14 09:20] dsavov commented on #231
I have the same problem.
I would like to deploy a VM in a tenant that's different than the one shared image gallery is using.

[2021-06-15 02:17] Fred-sun commented on #443
fixes by #565

[2021-06-15 13:04] rajaniesh commented on #548
Ansible development team do you have any update on this issue

[2021-06-15 13:27] Fred-sun commented on #548
@rajaniesh I am checking it and will reply to you tomorrow. Thank you!

[2021-06-15 13:53] Fred-sun commented on #548
@rajaniesh This problem is a known Issue, which is related to azure-cli, and there is no way to solve it for the time being. Azuer-CLI also added error prompts for the time being, but it has not been solved. Please refer to the two links below! Thank you very much!
[code]

[2021-06-15 13:56] Fred-sun commented on #555
@l3ender Current version is "Collection version 1.7.0", Has async to document! Please check--https://docs.ansible.com/ansible/latest/collections/azure/azcollection/index.html

[2021-06-15 13:56] #555 closed, assigned to nobody

[2021-06-15 17:13] paultaiton commented on #555
Awesome, thanks @Fred-sun .

Could you explain how the update took place? Was it just a time based thing, or were you able to trigger the sync on your end?

[2021-06-15 20:00] rajaniesh commented on #548
Fred,

I am able to login with azure cli without any issue and I still think it is ansible issue I spoke to Microsoft and they told me the issue is from ansible side. If we can not login with user id and password to azure via ansible then why your documentation says that it works but actually it does not work.
Regards
Rajaniesh

[2021-06-15 20:49] rajaniesh commented on #548
How do I login to azure with user name and password via ansible that is very basic fundamental question otherwise how my script will work. It is a very basic ask

[2021-06-16 00:05] Fred-sun commented on #548
@rajaniesh In addition, I have also confirmed this issue with the Microsoft developers. Thank you very much!

[2021-06-16 00:17] rajaniesh commented on #548
Thanks Fred I have a ansible demo to our management but unable to do so because of this issue. Is there any other alternative wherein we can use ansible with user id and password. Any alternative should work here but pl suggest how we can make it happen.

Fred, can we use azure cli to login manually and then ansible can take over after it?

[2021-06-16 00:29] Fred-sun commented on #548
@rajaniesh Of course, for the time being, we can do this via cli, env and credential File. You can use cli mode to operate! Thank you very much!
[code]

[2021-06-16 01:00] rajaniesh commented on #548
So you are saying if we use this way ansible will be able to login via cli provided credentials without service principal and with azure user id and password. if yes pl provide some code snippet it will be helpful sir

[2021-06-16 01:55] Fred-sun commented on #548
@rajaniesh After az login, we can directly execute the playbook, and we can do it (ansible will automatically acquire az  login credentials).

[code]

[2021-06-16 02:49] rajaniesh commented on #548
Thanks Fred, so I can run azure cli command via ansible shell and then in the next task I can execute azure resource group specific tasks what you mentioned here? Let me try and share the output here.

[2021-06-16 03:05] Fred-sun commented on #555
@paultaiton Typically, we package the latest repo and submit it to a RedHat location, specify a version, and then RedHat updates the document with the latest version. Thank you very much!

[2021-06-16 03:21] rajaniesh commented on #548
Fred,

It is not working

I have followed these steps:
1.changed the credential file to
[default]
ad_user=XYz
password=yyyyxxxuuu
subscription_id=yuyuyuyubgbgfgf

2.az login I have logged in with the device code
3. az account set -s "sub_id"
4. ansible-playbook test.yml

It threw this error:

[azureuser@vm1 sketch]$ ansible-playbook test.yml
[WARNING]: Ansible is being run in a world writable dire

[2021-06-16 04:05] Fred-sun commented on #548
@rajaniesh Please delete .azure/credentials file or change playbook as below:
[code]

[2021-06-16 05:09] rajaniesh commented on #548
Fred,

Thanks for your help it is working now and I have made these changes to make it work seamlessly. I feel Ansible documentation is so poor because this basic thing is not highlighted or provided with the examples.

---
- name: Using Azure collection
  hosts: localhost
  connection: local
  collections:
    - azure.azcollection
  vars:
    resource_group: Rajaniesh-kappan
  tasks:

   - name:

[2021-06-17 07:44] #444 closed, assigned to Fred-sun

[2021-06-17 07:46] #443 closed, assigned to nobody

[2021-06-17 08:59] Fred-sun commented on #548
@Akasurde The problem is caused by its dependencies, now we can pass CLI, ENV, Credential or Prameter credentials. Do you have any other questions? If not, I will close it! Thank you very much!

[2021-06-17 10:49] rajaniesh commented on #548
Thanks Fred, the only question 8s on how to use vault instead of hardcoding the credential in the above playbook while using cli authentication via shell module

[2021-06-17 13:22] pierreyvesv commented on #134
Hello,
here is a working example for authentication, but unfortunately as you can see in the result below it provides an empty output.

my azure cli version is 2.25.0
ansible version: 2.10.7
ansible collection requirement have been installed from <https://github.com/ansible-collections/azure/blob/dev/requirements-azure.txt>

Below is an authentication with a service principal *be sure to not add a

[2021-06-18 07:45] Fred-sun commented on #548
@rajaniesh Yes, We also can config the credential in ~/.azure/credentias or export to env! Thank you very much!
[code]

[2021-06-18 10:44] alvarosola1 commented on #395
I have exactly the same error

[2021-06-20 10:08] mikecowie-seequent commented on #441
Hi all

Putting an agreement on this.

The packaging of the azure components required to make this work this is very hard to work with. With effort (and this thread was helpful), I can resolve specific issues, but it's just frankly poorly put together, the apparent dependecies are too vague and it's incredibly easy to install incompatible components. (In my case I'm using python 3.9 in a venv) .

[2021-06-21 11:53] tschechniker opened #567 "azure_rm_aks: Application Gateway Addon"
##### SUMMARY

Since the Application Gateway Addon for AKS is now GA it would be nice to use it with ansible too.

##### ISSUE TYPE
- Feature Idea
Support the Application Gateway Addon for AKS: https://docs.microsoft.com/de-de/azure/application-gateway/tutorial-ingress-controller-add-on-new

##### COMPONENT NAME

azure_rm_aks

[2021-06-21 15:21] verodhi commented on #350
Thank you @Fred-sun

[2021-06-21 15:21] #350 closed, assigned to nobody

[2021-06-22 21:58] l3ender commented on #557
@Fred-sun Can you reopen this? If you run the playbook twice you will see that both `azure_rm_routetable` and `azure_rm_route` incorrectly report changed=true on the second playbook run.

[2021-06-23 01:41] Fred-sun commented on #557
@I3enderThank you for your attention to this issue, but I'll try again, it's idempotent, can you share your PlayBook? If there is a problem, I will reopen it.

[2021-06-23 01:45] l3ender commented on #557
A full playbook which demonstrates the issue is above. You can save it as `sandbox.yml` and then run it using `ansible-playbook sandbox.yml`. Then run it again using the same command.

[2021-06-23 07:17] tschechniker opened #568 "azure_rm_aks: Aks managed aad integration"
##### SUMMARY
Currently only the Legacy AAD integration is available in the AKS module. The AKS managed aad integration should be used.

##### ISSUE TYPE
- Add the "new" managed aad integration: https://docs.microsoft.com/de-de/azure/aks/managed-aad

##### COMPONENT NAME

azure_rm_aks

[2021-06-23 09:11] Fred-sun commented on #557
@l3ender Please try the script below. Thank you very much!
[code]

[2021-06-23 13:51] l3ender commented on #557
@Fred-sun - I am seeing the same idempotency issue with your sample playbook. Here is the output from running it:

[code]

[2021-06-23 16:15] l3ender commented on #557
After some more digging and adding logging to this collection, I found that our organization's Azure subscription has a Policy defined which automatically was adding a specific tag if it was missing. Therefore when Ansible was going to update the same resource, the tag comparison between playbook and existing resource was different.

Thanks for the assistance and helping me find the cause. We can

[2021-06-24 05:49] #475 closed, assigned to nobody

[2021-06-24 13:00] Fred-sun commented on #503
@anatolylebedev-tomtom Since I haven't encountered any of the problems you mentioned while copying locally, I suggest you upgrade ansible and ansible_collections and reinstall the dependency packages, thanks!

[code]

[2021-06-24 13:03] #499 closed, assigned to nobody

[2021-06-24 13:19] Fred-sun commented on #476
@paultaiton Usually we need to install some dependency files for the current environment, you can refer to "requirements-azure.txt" and "sanity-requirements-azure.txt". You can refer to the documentation --
https://docs.ansible.com/ansible/latest/dev_guide/testing_sanity.html

[2021-06-24 13:34] Fred-sun commented on #418
@barto90 From the error log you provided, you can see that your parameters were miswritten, as described above. Thank you very much!

[2021-06-24 13:34] #418 closed, assigned to nobody

[2021-06-24 13:46] Fred-sun commented on #343
@l3ender This Issue is the same as the new Issue, and the problem is caused by its dependent package, so for easier tracking, it will be closed and the latest Issue will continue to be tracked. Thank you very much!

[2021-06-24 13:46] #343 closed, assigned to nobody

[2021-06-24 13:53] Fred-sun commented on #238
@mrwalters1988 This may be a problem in the process of your installation, it is recommended that you uninstall and reinstall. Thank you very much!
[code]

[2021-06-24 13:56] Fred-sun commented on #227
@KrishnaG-MSFT This should not be a Bug, because some resources are created after the background service to do some specific Settings, resulting in the state can not be immediately converted, thank you!

[2021-06-24 13:57] #123 closed, assigned to nobody

[2021-06-24 14:00] Fred-sun commented on #91
@Maarc-D Ansible core not support this feature, I will closed it!

[2021-06-24 14:00] #91 closed, assigned to nobody

[2021-06-24 15:01] l3ender commented on #476
@Fred-sun I believe the goal of this issue is to add documentation for this repo/collection's standards for linting, as well as how integration tests can be run for this collection. I've looked through the Ansible doc to try and figure out how to run tests in this repo and have not been able to do so until very recently (from much struggle and the advice in https://github.com/ansible-collections/a

[2021-06-24 15:08] Fred-sun commented on #476
@l3ender This will provide more guidance for the execution of relevant tests. You are welcome to provide PR and I will push it forward. Thank you very much!

[2021-06-24 15:37] paultaiton commented on #476
Hey guys,

I apologize for the delay in submitting a PR for this issue. I do still intend on doing so, however my time has been taken up with my job and personal issues.

@l3ender
Rough outline to make use of the built in ansible-test command for azcollection you have to

1) set up a service principal in your Azure subscription that has Owner role (or something less depending on your test) to two

[2021-06-25 06:50] Fred-sun commented on #568
@tschechniker Thank you for your interest in Ansible_Collections. We will review and add new requirements as soon as possible. You are also welcome to contribute this feature! Thank you very much!

[2021-06-25 06:51] Fred-sun commented on #567
@tschechniker Thank you for your interest in Ansible_Collections. We will review and add new requirements as soon as possible. You are also welcome to contribute this feature! Thank you very much!

[2021-06-25 11:53] Naadwo opened #569 "Azure colletion is missing _action_groups_ metadata property"
##### SUMMARY
Azure colletion is missing _action_groups_ metadata property which is causing some ansible functionalities to not work properly (for example module_defaults). I compared it with AWS collection (for which it is defined and it works properly): [runtime.yml](https://github.com/ansible-collections/community.aws/blob/main/meta/runtime.yml )

When I created a simple runtime file _ansible_c

[2021-06-28 09:08] Fred-sun commented on #569
@Naadwo Thanks for  your contribute, we are working in it!

[2021-06-28 12:16] #238 closed, assigned to nobody

[2021-06-29 15:55] rajaniesh opened #571 "Ansible docker command does not works"
##### SUMMARY
Ansible docker command is not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible docker
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-06-30 08:02] #489 closed, assigned to nobody

[2021-06-30 14:21] kenorb commented on #363
Same here.

[code]

Versions (installed via Pip):

[code]

Auth:

[code]

Stack trace:

[code]

[2021-06-30 14:36] kenorb commented on #363
Fixed by:

[code]

The module most likely disappeared after reinstalling Ansible.

[2021-06-30 22:14] saulobejo commented on #134
Same problem. Can the priority be bumped?

[2021-07-01 01:20] Fred-sun commented on #134
@rkno82 @saulobejo It should be your credential permissions problem, or account problem. This should have been fixed. Can you upgrade to the latest version of Azure collection? Thank you very much!
[code]
[code]

[2021-07-01 02:43] Fred-sun commented on #433
@flixman I tried it locally, it takes about 45s, it should not be a bug. Can you upgrade the Azure Collection version and try again? Thank you!

[code]
[code]

[2021-07-01 02:47] Fred-sun commented on #503
@anatolylebedev-tomtom It should be your credential permissions problem, or account problem. I have not had any problems with the latest version of Azure Collection and if there are no other problems, I will close it. Thank you very much!
[code]
[code]

[2021-07-01 02:49] Fred-sun commented on #385
@joaocc I have not had any problems with the latest version of Azure Collection and if there are no other problems, I will close it. Thank you very much!
[code]
[code]

[2021-07-01 02:53] Fred-sun commented on #331
@opfpqgoon I have not had any problems with the latest version of Azure Collection. Can you update to the latest version and try again? Thank you very much!
[code]
[code]

[2021-07-01 07:41] Fred-sun commented on #245
@uda @Fiury00 @lisaplapla I have not had any problems with the latest version of Azure Collection.  Can you upgrade to latest to retry(may fixed by #525). Thank you very much!
[code]
[code]

[2021-07-01 07:43] Fred-sun commented on #178
@pnkumar9 I have not had any problems with the latest version of Azure Collection. Can you upgrade to latest to retry(may fixed by #525). Thank you very much!
[code]
[code]

[2021-07-01 08:14] saulobejo commented on #134
@Fred-sun I've tried upgrading but I was already using version 1.7.

My code:

[code]

The error remains.

[code]

[2021-07-01 08:28] Fred-sun commented on #134
@saulobejo I used a free account to do this operation and got the same mistake as yours, so I can confirm that it is your credentials permissions. Thank you very much!

[2021-07-01 08:31] saulobejo commented on #134
@Fred-sun
I don't understand. did you get the same error?
I'm using the `CLI` authentication, not the `MSI`.
There's no `client_id` to have a `KeyError` on.

[2021-07-01 08:39] Fred-sun commented on #134
[code]

[2021-07-01 08:45] Fred-sun commented on #225
@adhodgson1 I have not had any problems with the latest version of Azure Collection. Can you upgrade to latest to retry. Thank you very much!
[code]
[code]
[code]

[2021-07-01 09:04] sdktr commented on #225
Fred, is your cluster created with Managed Identities? Not specified in your az cli shell, not sure what's the default these days.

Maybe you can post a debug of the 'output' var to verify?

[2021-07-01 09:12] Fred-sun commented on #225
Like this
[code]

[2021-07-01 09:29] sdktr commented on #225
Cool, seems fixed indeed:

servicePrincipalProfile": {
                        "clientId": "msi"

🙏

[2021-07-01 10:14] Fred-sun commented on #225
Ok, I will closed it!

[2021-07-01 10:14] #225 closed, assigned to nobody

[2021-07-01 10:55] Fred-sun commented on #571
@rajaniesh I am trying to install a Docker image and trying to install Ansible, seems to be OK? Can you try again in the following way? Thank you very much!
[code]

[2021-07-01 11:03] Fred-sun commented on #134
@saulobejo Also, make sure you have logged in to the CLI correctly and set up the Subscription to be used. Thank you very much!
[code]

[2021-07-01 11:28] Fred-sun commented on #441
@fabricat Have your problems been solved? If it has been resolved, I will close it. Thank you very much!

[2021-07-01 12:01] ghost commented on #503
@Fred-sun please close it I do not have time and environment right now to try to reproduce this issue. As soon as I will have this again I'll reopen this one or open a new.
Thanks a lot and sorry for bothering you.

[2021-07-01 12:01] #503 closed, assigned to nobody

[2021-07-01 12:11] saulobejo commented on #134
@Fred-sun

I'm logged in and the azure_rm inventory works perfectly. The only problem is the keyvault.

I'm also able to use the `CLI` for azure_identity

[code]

and the `CLI` is also working perfect.

`az account show`

[code]

[2021-07-01 12:32] tadrian88 commented on #130
any update @Fred-sun ?

[2021-07-01 12:55] pierreyvesv commented on #134
Hello,
I have update to "azure.azcollection:1.7.0" and my use case still have the issue as well:
https://github.com/ansible-collections/azure/issues/134#issuecomment-863235260

[2021-07-01 13:00] saulobejo commented on #134
[code]
[code]

[2021-07-01 14:09] Fred-sun commented on #130
@tadrian88 Recently, because I am busy with other things, the update has not been completed. Thank you very much!

[2021-07-01 14:19] Fred-sun commented on #134
@saulobejo I will recheck it! Thank you very much!

[2021-07-01 14:39] Fred-sun commented on #378
@planetmarshall Fixed by #197, will close. Thank you very much!

[2021-07-01 14:39] #378 closed, assigned to nobody

[2021-07-02 05:30] Fred-sun commented on #270
@stuartatmicrosoft This property cannot be changed because ingress_profiles are defined in the SDK as a list, and worker_profiles also have a 'name' property. Thank you very much!

[2021-07-02 05:30] Fred-sun commented on #270
@stuartatmicrosoft This is not a bug, I will closed it!

[2021-07-02 05:30] #270 closed, assigned to nobody

[2021-07-02 07:43] fabricat commented on #441
Hi @Fred-sun
Yes, I confirm that I could follow the install/update instuctions without problems: all commands executed without errors.

Just a suggestion: reading instructions from Ansible Galaxy, it is not clear where to find the `requirements-azure.txt` file.
Maybe a link to the Github repository can help.

Thanks.

[2021-07-02 07:53] nicolaibaralmueller opened #572 "ansible awx azure.azcollection usage fails"
##### SUMMARY

It is required to upgrade python azure sdk in order use azure.azcollection modules. When upgrading my local python azure sdk modules (azure.azcollection.azure_rm_sqldatabase) work as expected. However old modules (azure_rm_sqldatabase) does not work anymore.

This means every azure module usage must be migrated to use azure.azcollection. How is azure sdk updated on ansible awx 15.0.

[2021-07-02 08:52] Fred-sun commented on #572
@nicolaibaralmueller Thank you for your submit this problem, from your tip inside the log "No module named 'azure. mgmt. managementgroups'". We recommend that you retry according to the Ansible dependency package. Thank you very much!

[code]

[2021-07-03 19:08] l3ender opened #573 "Unable to use `azure_rm_aduser_info` or `azure_rm_adgroup_info`: Insufficient privileges to complete the operation."
##### SUMMARY
I am unable to use the `azure_rm_adgroup_info` or `azure_rm_aduser_info` modules. They report:

I am using a service principal which has Owner access for the subscription and looks like it has sufficient API access for user information:

<img width="1223" alt="Screen Shot 2021-07-03 at 2 17 15 PM" src="https://user-images.githubusercontent.com/2243641/124364829-8b035580-dc09-11eb-810

[2021-07-03 19:08] l3ender commented on #573
@coleneubauer - any ideas?

[2021-07-03 23:41] l3ender commented on #476
@paultaiton I followed your steps but keep running into the following error. Do you know how to resolve?

[code]

I'm working [a PR](https://github.com/ansible-collections/azure/pull/574) that takes all the notes in this issue and will submit it as soon as I get my problems resolved. :)

[2021-07-04 04:36] l3ender commented on #487
I am also unsure of the difference between the two.

[2021-07-04 14:05] AzureStackNerd commented on #425
I'd like this feature very much too. Since it's best practise

[2021-07-04 16:44] paultaiton commented on #476
When you're executing the tests, is your shell's pwd the collection directory?

[code]

[2021-07-04 17:00] l3ender commented on #476
Yes, I am installing the collection to a staging directory and then `cd` to it to execute tests.

[code]

[2021-07-04 17:03] paultaiton commented on #476
Other than that I don't have any idea.

 I made a dedicated VM that I only use for azcollection development, and I cloned the repo directly into ~/.ansible/collections/ansible_collections/azure/ . Other than that I'm doing everything with the default configuration, and it just works for me.

[2021-07-04 21:38] l3ender commented on #476
Turns out I was being bit by https://github.com/ansible/ansible/issues/68499. I've resolved my issue and updated the PR appropriately.

[2021-07-05 09:15] Fred-sun commented on #573
@l3ender Thank you for submitting this issue and we will find out the cause as soon as possible.

[2021-07-06 18:54] tman5 opened #575 "Support Microsoft Graph"
##### SUMMARY
The Azure AD Graph API is no longer being updated come June 30, 2020. End of life is June 2022. I have tried to use the newer Graph API permissions for a service principal in Azure and it does not work. The Ansible module returns an insufficient permissions error.

##### ISSUE TYPE
- Support Microsoft Graph API

##### COMPONENT NAME
I have tested with `azure_rm_adgroup_info` to get g

[2021-07-06 19:41] AerisG222 opened #576 "Feature Request Tracking"
I am a new user of Ansible and this Azure collection, and want to first say thank you for all your work to allow for automating Azure resource management with Ansible!

##### SUMMARY
I am trying to understand the status of different modules in the Azure collection and how best to request functionality that is not yet exposed via these modules.  For example, I am trying to use  azure_rm_functionapp

[2021-07-07 20:45] l3ender commented on #573
From my research, I've found the Azure Active Directory Graph API permission `Directory.Read.All` is required to use the modules `azure_rm_adgroup_info` and `azure_rm_aduser_info`. Once I added these under the "API Permissions" section of the app registration (service principal), the two modules worked as expected.

This brings up another question, however: when adding the permission, I see the fo

[2021-07-08 00:45] Fred-sun commented on #573
@l3ender We are planning to upgrade all the APIs, the old ones will no longer be used, so we can ignore the old ones. Thank you very much!

[2021-07-08 00:46] l3ender commented on #573
Thank you! When this is done, please note it in the release notes as it is a breaking change in which a different API permission will need to be granted for account/service principal.

Thanks!

[2021-07-08 00:48] l3ender commented on #573
Apologies for the accidental close! I will keep open as perhaps a documentation PR should be added for these modules.

[2021-07-08 00:50] Fred-sun commented on #575
@tman5 Can you refer to question #573? It will help to you! Thank you very much!
https://github.com/ansible-collections/azure/issues/573#issuecomment-875920457

[2021-07-09 01:33] #331 closed, assigned to nobody

[2021-07-09 01:34] #227 closed, assigned to nobody

[2021-07-09 01:36] #433 closed, assigned to nobody

[2021-07-09 01:49] #385 closed, assigned to nobody

[2021-07-12 15:32] jodrisb commented on #417
I am having the same issue.I posted also in stackoverflow https://stackoverflow.com/questions/68345685/ansible-playbook-error-was-modulenotfounderror-no-module-named-azure-mgmt-mon
Help...ansiblev2.10 is hell for us also.

[2021-07-12 16:09] Fred-sun commented on #417
@jodrisb Please update all your dependency packages, which will help resolve the problem you are encountering. Thank you very much!
[code]

[2021-07-12 16:10] Fred-sun commented on #571
Any feedback on this?

[2021-07-12 16:12] Fred-sun commented on #572
@nicolaibaralmueller Any feedback on this? Please update all your dependency packages, which will help resolve the problem you are encountering. Thank you very much!
[code]

[2021-07-12 16:17] jodrisb commented on #417
Thanks Fred-sun for replying, am getting an error when running that command

ERROR: Invalid requirement: '<!DOCTYPE html>' (from line 7 of https://github.com/ansible-collections/azure/blob/dev/requirements-azure.txt)

[2021-07-12 16:29] jodrisb commented on #417
actually changed that url to this https://raw.githubusercontent.com/ansible-collections/azure/dev/requirements-azure.txt and was able to get the pip packages but am still getting the module not found error as in this link that I described in https://stackoverflow.com/questions/68345685/ansible-playbook-error-was-modulenotfounderror-no-module-named-azure-mgmt-mon

[2021-07-12 17:06] jodrisb commented on #417
also is it possible to reopen this issue as this issue only happens on v2.10-Thanks Fred-sun in advance.

[2021-07-12 20:25] watsonb opened #579 "azure_rm_adapplication - Access Token missing or malformed"
##### SUMMARY
I'm trying to create/update an Azure AD application registration using the new azure_rm_adapplication module and am receiving an error: Access Token missing or malformed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_adapplication

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control OS / Environment

[2021-07-12 23:15] Fred-sun commented on #417
@jodrisb It is not recommended that you reopen the problem, as the ansible_collection automated test was using V2.10 and did not encounter any problems. Can you uninstall all the packages and reinstall them? Thank you very much!

[2021-07-13 05:31] dznz commented on #134
It looks like KeyVault client library is a few years old and uses a slightly outdated mechanism for auth.
That said, it does look like even the old library has the _capability_ to support CLI auth:

https://stackoverflow.com/questions/65072094/getting-an-access-token-for-azure-key-vault-in-rider-using-azure-cli

One would want to modify the logic in e.g.
https://github.com/ansible-collections/azur

[2021-07-13 05:47] dznz commented on #134
@Fred-sun sorry I haven't submitted a patch - I'm not confident I understand Azure auth and the existing code well enough to actually write the fix. I hope the research helps though!

[2021-07-13 07:39] Fred-sun commented on #473
@XabiBeltza @tlourey Yes, the protected_setting of the fetched ExtensionVM is None, I will check what the reason is. Thank you very much!

[2021-07-13 13:02] Fred-sun commented on #473
@XabiBeltza Yes, the protected_setting of the fetched ExtensionVM is none, so execute again, idempotency fails.

[2021-07-13 15:59] jodrisb commented on #417
ok, I uninstalled and reinstalled and all is working now-Thanks

[2021-07-15 08:50] Fred-sun commented on #579
@watsonb Thank you for submitting this question. Judging from your error log, it should be caused by the permission of your account. Could you please confirm your account authorization? Thank you very much!

[2021-07-15 09:13] Fred-sun commented on #576
@AerisG222 Yes, some parameters of this module are not added relative to azure-cli. Maybe they were forgotten to be added or not supported when the module was designed at that time. We will investigate as soon as possible what parameters need to be added. Other contributors are also welcome to add these features. Thank you!

[2021-07-15 09:21] #572 closed, assigned to nobody

[2021-07-15 09:25] Fred-sun commented on #571
@rajaniesh It seems from your log that the problem is caused by the environment of Python 2. Can you uninstall Python 2 and just keep Python 3 and try again? Or follow the steps above and recreate Docker ENV and try again. Thank you very much!

[2021-07-15 09:32] rajaniesh commented on #571
Yes it is solved by python 3

[2021-07-15 09:38] Fred-sun commented on #571
In addition, ansible_collection will only be maintained in Python 3 environments in the future, and Python 2 will no longer support maintenance. Thank you very much!

[2021-07-15 10:14] Fred-sun commented on #569
@Naadwo All modules are supported. Please try again as follows. Thank you very much!

[code]

[2021-07-15 10:21] Naadwo commented on #569
The example you pasted is only to define defaults for a single module - which doesn't make much sense, because the whole point of module_defaults is to apply it all modules from a collection at once (to avoid defining it per module). Defining it per module works, because it is using different mechanism.
When `group\azure` is used, ansible is looking up for `action_groups` module metadata, which is

[2021-07-15 11:59] AerisG222 commented on #576
@Fred-sun Thanks for the reply.  Trying to keep up with all the changes in Azure is a huge task!

It sounds like the preferred approach is to create a ticket per module.  As this addresses the primary question, feel free to close this issue unless it is helpful to have the list above related to functionapps.

Otherwise, thanks again for such a great project.  I hope to be able to contribute in a m

[2021-07-15 12:17] watsonb commented on #579
The account being used is a Global Administrator.

[2021-07-15 12:27] Fred-sun commented on #576
@AerisG222 Thank you for your attention. We will do our best.

[2021-07-15 14:02] Fred-sun commented on #569
@Naadwo Yes, there is no way to specify multiple modules via group/azure, but you can set multiple modules as follows. To solve this problem, Please send questions migrated to https://github.com/ansible/ansible.git, this is ansible core without analytic module_defaults right assignment. Thank you very much!
[code]

[2021-07-15 14:03] #576 closed, assigned to nobody

[2021-07-15 14:05] #571 closed, assigned to nobody

[2021-07-16 08:36] #441 closed, assigned to nobody

[2021-07-16 08:39] #460 closed, assigned to nobody

[2021-07-17 19:21] paultaiton commented on #446
@36roentgen

I have not used AWX, but I have used this collection a lot on Ansible Tower. Based on my testing and usage I have found that the collection will use ALL of the credentials from exactly 1 source. Those parameters are Tenant, subscription_id, then if sp client_id and secret, or if using AD user ad_user and password. The source can be one of environmental_variables, module parameters (ak

[2021-07-20 11:11] LHurst-JM opened #583 "Correct use of security_group with azure_rm_networkinterface unclear from documentation"
##### SUMMARY

I think there are a couple of issues with the documentation for using security_group with a NIC.

1. The first is that if `create_with_security_group` is set to `False`, the security group is cleared - that is existing security groups are removed from the interface.  This is not clear from the documentation, which says "Whether a security group should be be created with the NIC.  If

[2021-07-21 04:05] uda commented on #245
Hi, didn't have the chance to check again until today.

So I've updated to 1.7.0 and refreshed the dependencies and I am still getting the `KeyError` for missing `client_id`.

I created a fresh python environment, installed latest stable ansible, azure requirements and ran the playbook again, yet still the annoying error, then I checked the installed libraries, and `azure-keyvault` library s still

[2021-07-22 08:22] #543 closed, assigned to nobody

[2021-08-03 08:10] ghost opened #588 "azure_rm.py Databricks provisioning/deprovision resources causes Azure Inventory failed to update"
##### SUMMARY

Whenever databricks provision/destroying resources as per on-demand basis, the inventory would fail to

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7.9

##### STEPS TO REPRODUCE

1) Create inventory sources with the subscription that

[2021-08-03 17:47] thedoubl3j opened #591 "Add tags to galaxy.yml"
##### SUMMARY

The collection does not contain tags so adding some tags that are relevant to the collection would be good to better improve search results/show use case.
The list of tags are found on AH but also pasted below.
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

galaxy.yml
##### ANSIBLE VERSION

[code]

[2021-08-05 02:56] Fred-sun commented on #591
Has fixed!

[2021-08-05 02:56] #591 closed, assigned to xuzhang3

[2021-08-05 05:34] #476 closed, assigned to nobody

[2021-08-06 05:14] Fred-sun commented on #539
fixes by #582

[2021-08-06 05:14] #539 closed, assigned to nobody

[2021-08-06 06:24] Fred-sun commented on #447
Has fixes by #566

[2021-08-06 06:24] #447 closed, assigned to nobody

[2021-08-06 07:23] #397 closed, assigned to nobody

[2021-08-06 09:29] #492 closed, assigned to nobody

[2021-08-06 09:30] #448 closed, assigned to nobody

[2021-08-07 01:48] l3ender commented on #130
@Fred-sun Is there a timeline for the dependency package update? Is there anything I can do to assist the effort? Thank you!

[2021-08-08 23:16] l3ender commented on #459
I started looking at implementing this feature (more generically, supporting service properties for a storage account), but I ran into dependency troubles due to the azure-storage package being deprecated and replaced by separate/different components (see [0.37.0 release notes](https://pypi.org/project/azure-storage/0.37.0/)).

Due to this I'd like to wait until dependency packages have been updat

[2021-08-09 06:56] Fred-sun commented on #130
This is in the plan temporarily, the specific completion time has not been determined. Thank you very much!

[2021-08-12 07:53] #379 closed, assigned to nobody

[2021-08-12 09:08] Fred-sun commented on #250
fixes by #594  and #593

[2021-08-12 09:08] #250 closed, assigned to nobody

[2021-08-12 09:11] Fred-sun commented on #505
fixed in #464

[2021-08-12 09:11] #505 closed, assigned to nobody

[2021-08-12 09:12] Fred-sun commented on #490
fixes by #596

[2021-08-12 09:12] #490 closed, assigned to nobody

[2021-08-12 09:14] Fred-sun commented on #483
fixes by #484

[2021-08-12 09:14] #483 closed, assigned to nobody

[2021-08-12 09:16] #267 closed, assigned to nobody

[2021-08-12 11:57] Fred-sun commented on #304
@nikhilpatne Thank you for your contribution. Do you have any latest updates?

[2021-08-13 02:23] Fred-sun commented on #583
@LHurst-JM I have executed the following YAML locally and have not encountered the problem you mentioned? Can you try it again? Thank you very much!
[code]

[2021-08-13 02:27] Fred-sun commented on #575
@tman5 Can you set "auth_source: cli" in the playbook to retry? The current 'ad' related modules only support CLI Credentials (az login). Thank you very much!

[2021-08-13 02:28] Fred-sun commented on #573
@l3ender  Can you set "auth_source: cli" in the playbook to retry? The current 'ad' related modules only support CLI Credentials (az login). Thank you very much!

[2021-08-13 02:37] Fred-sun commented on #588
@nurdiyana-ali From the perspective of your replication steps, this is not a bug. The resource was created, some service was deployed, the state did not change immediately, It can be used after a period of time. For example, it will take about one hour to deploy the API Management Service after it is created each time. Thank you very much!

[2021-08-13 02:38] Fred-sun commented on #579
@watsonb Can you set "auth_source: cli" in the playbook to retry? The current 'ad' related modules only support CLI Credentials (az login). Thank you very much!

[2021-08-13 03:01] #556 closed, assigned to nobody

[2021-08-13 07:01] Fred-sun commented on #569
@Naadwo Please reference this link ---https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html ! Thank you very much!
[code]

[2021-08-13 07:01] #569 closed, assigned to nobody

[2021-08-13 08:18] #548 closed, assigned to nobody

[2021-08-13 08:23] Fred-sun commented on #442
Added by #593

[2021-08-13 08:23] #442 closed, assigned to nobody

[2021-08-13 08:24] ghost commented on #588
@Fred-sun Is there a way to force azure_rm.py not to scan for databricks resources? It's failing too often during peak hours.

[2021-08-13 08:28] Fred-sun commented on #588
@nurdiyana-ali I'll take a look. I'm not sure yet. Thank you very much!

[2021-08-13 09:25] ghost commented on #588
Hi @Fred-sun

In line 417 of azure_rm.py, we commented out the line where it checks for status_code to avoid the inventory to stop gathering inventory whenever resources with 404 is returned. We are thinking more can be done for this to avoid terminating the inventory-gathering instead of throwing AnsibleError and halts.

            for idx, r in enumerate(batch_resp[key_name]):
                s

[2021-08-13 10:49] LHurst-JM commented on #583
I'm still getting the same my end with my yaml:

[code]

I am trying to introduce Ansible to an existing infrastructure - so in my case the NIC, NSG and VNET already exist in Azure before I ran Ansible for the first time.  At the moment it looks like TerraForm might be better for doing this...

[2021-08-13 14:38] x4FF3 commented on #546
@Fred-sun any news?

[2021-08-13 16:30] paultaiton commented on #583
I have also encountered this in my environment. It looks like there's a problem with the process that ultimately ends in calling the msrest Serializer class. If the security group has ever been set up to record Flow Logs, then the 'flow_logs' property will exist in the object returned by  network_client.network_security_groups.list("rg-name"), but will be None regardless of the state in Azure. So

[2021-08-14 01:51] l3ender commented on #573
@Fred-sun I was able to make the modules work with a credentials file. The issue was that the service principal I was using didn't have the necessary permissions (it seems they aren't granted by default). Once I configured the SP with the above API access, our playbook worked as expected with a credentials file.

I kept the issue open because it seems good to add notes in documentation (either for

[2021-08-16 00:34] sugitk opened #598 "azure_rm: ignore 404 error for a resource group"
##### SUMMARY

A resource group may return 404 error for some reasons and then the inventory sync fails.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm

##### ADDITIONAL INFORMATION

When specifying a resource group that is not defined in the subscription, the inventory sync failed with the reason only because this resource group returned 404 error.

[code]

The customer states t

[2021-08-16 06:50] Fred-sun commented on #598
@sugitk Thank you for submitting this question? Can you help provide the process for finding this problem? Thank you very much!

[2021-08-16 07:26] Fred-sun commented on #583
@LHurst-JM @paultaiton Can you share your test script? I will retry it! Thank you very much!

[2021-08-16 07:27] Fred-sun commented on #546
Working in!

[2021-08-16 07:57] sugitk commented on #598
@Fred-sun
Thank you too, I am a Senior TSE for Ansible Automation Platform of Red Hat and I received a query from a customer regarding this issue today.

I tested to create some resource groups in a subscription and I specified the groups in the parameter for this inventory plugin as follows.

[code]

The above 'myrg1' resource group exists but 'foobar' doesn't.

If you need more information to re

[2021-08-16 07:58] Fred-sun commented on #438
@Jvekka I see! I will give a fixes! Thank you very much!

[2021-08-16 12:29] paultaiton commented on #583
Howdy @Fred-sun
Your test script is fine, but you have to set up flow logs for the NSG, which is currently not supported by azcollection, so I'd recommend just using Azure Portal. After that run securitygroup_info against it and you should get the error.

In my environment we have an Azure policy that automatically configures flow logs for any NSG, so we cant use securitygroup_info at all.

[2021-08-16 12:42] LHurst-JM commented on #583
My test script is what I included in the original report (just changed the names - everything else is as in my test case) - I am trying to bring an existing infrastructure that was manually created under Ansible's control and I fell at the first hurdle, which was my VM's NIC.

I cannot confirm if there are flow logs for the NSG, I do not have visibility of that in our coporate infrastructure but I

[2021-08-16 15:40] x4FF3 opened #599 "azure_rm_mysqlserver.py"
##### SUMMARY
Add feature to able to restart mysql server

##### ISSUE TYPE
- Feature Idea
Add state 'restart' to be able to restart the mysql server, because after changing settings, like 'character_set_server', it is required to restart the server.

##### COMPONENT NAME
azure_rm_mysqlserver.py

[2021-08-17 16:19] megrehncitrix opened #601 "azure_rm_virtualmachine latest image selection incorrect"
##### SUMMARY
In latest azcollection module azure_rm_virtualmachine selects an incorrect latest marketplace image.
The the selection logic assumes that the image list is returned in correct order with latest image as last of the list, this is not the case for some skus and the logic should be updated to retrieve the image flagged as latest, and not rely on an ordered list: https://github.com/ansib

[2021-08-17 18:07] ToniCipriani commented on #88
I actually got around this and stopped using it. There were problems with using the Key Vault lookup plugin, especially with error handling.

The newer `azure.azcollection.azure_rm_keyvaultsecret_info` resource as part of the Ansible Collection is a bit more robust, use it via the standard task/output register/set_fact methods.

[2021-08-18 05:36] jfreeland commented on #134
would love to have a fix here.

[2021-08-18 08:53] vdvelde opened #602 "Add ProximityPlacementGroup to azure_rm_virtualmachine azure_rm_virtualmachine"
##### SUMMARY

Add ProximityPlacementGroup as a parameter to azure_rm_virtualmachine in order set it correctly upon creation.

##### ISSUE TYPE
- component enhancement

##### COMPONENT NAME

It should be added to the module azure_rm_virtualmachine

##### ADDITIONAL INFORMATION
Test if proximity group is present then include the parameter while creating.
It should be similar to the powershell below

[2021-08-18 08:58] Fred-sun commented on #601
@megrehncitrix I executed your Playbook and the latest image you created should be 2016.127.20190416 for I(SKU = 2016-datacenter). After you log in to the system, the ver of the system is Microsoft Windows [Version 10.0.14393]. Thank you very much!

![image](https://user-images.githubusercontent.com/37327967/129869616-d73857c9-27a2-410e-8ca6-9210ba46f21e.png)

[2021-08-18 13:36] watsonb commented on #579
@Fred-sun I'll give it a try soon.

[2021-08-18 14:01] egilh commented on #477
Installing requirements-azure.txt breaks azure-cli installation on MacOS, and after finding this issue, I guess we can assume that, yes - azcollection requirements are now so old, that installing Ansible with azcollection now breaks azure-cli on MacOS.
I have been looking in to this issue as this has been working for me up to this week and upgrading homebrew packages. See comment (https://github.c

[2021-08-18 14:34] Liquidmantis commented on #152
@Fred-sun any updates on this?  I'm hitting the same issue of needing to specify the resource groups at runtime in pipelines.  It doesn't appear that variables of any form are evaluated for `include_vm_resource_groups` and I'm thinking I'm going to be forced into dynamically inserting into the inventory file.

[2021-08-18 14:56] megrehncitrix commented on #601
Hi @Fred-sun `Version 10.0.14393` is the Windows version, that's correct. But you'll notice that the image hasn't had updates applied since 2019 on marketplace image version `2016.127.20190416`. The correct latest image is `14393.4583.2108010852` which has had updates applied this month.

[2021-08-18 15:09] Fred-sun commented on #152
@Liquidmantis Yes, if we want to include VMS under a certain resource group, it is necessary to enable dynamsterting into the inventory file. Thank you very much!

[2021-08-18 15:10] Fred-sun commented on #152
@christophetd Yes, if you want to dynamically obtain VMS under a resource group, you need to obtain VMS from the Dynamic Inventory method. Thank you very much!

[2021-08-18 15:20] x4FF3 commented on #599
great! thanks for your work!

[2021-08-18 19:46] planetmarshall commented on #378
I am still seeing this issue in 1.8.0. Steps to reproduce as above.

[2021-08-19 05:44] Fred-sun commented on #601
@megrehncitrix I am very sorry for the trouble caused to you. After reviewing the code logic, I have no way to directly obtain the image of the latest version. What I got was a list of image versions, so I cannot directly determine which version is the latest. So there's no way to fix it yet. I suggest you do that first? Thank you very much!
[code]

[2021-08-19 06:59] jiasli opened #604 "`azure-cli-nspkg` should be removed from `requirements-azure.txt`"
##### SUMMARY

https://github.com/ansible-collections/azure/blob/45b239dac538fadbf972d4fffd4da27f14889615/requirements-azure.txt#L5

`azure-cli-nspkg` has been deprecated since https://github.com/Azure/azure-cli/pull/14372. Installing it to Python's system `site-packages` will make `azure.cli` a regular package, causing conflict with `azure.cli` installed by Homebrew.

More details: https://github

[2021-08-19 12:27] megrehncitrix commented on #601
Thanks @Fred-sun It may be as easy as just cleaning up the [get_marketplace_image_version()](https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_virtualmachine.py#L1973) function to always pass the provided `version` and return a single value. I'm not able to find the api docs that would confirm the same rest endpoint will return the flagged latest when provided the stri

[2021-08-19 15:08] carlosrbcunha commented on #146
Also with this error. Any updates ?

[2021-08-20 01:13] l3ender commented on #575
In similar vein, I received this email from Microsoft today:

[2021-08-20 06:57] xuzhang3 commented on #601
@megrehncitrix #606  will fix this issue.

[2021-08-23 15:46] tman5 commented on #575
So @Fred-sun we currently cannot use a service principal to authenticate with if we aren't using graph yet?

[2021-08-23 16:43] l3ender commented on #575
@tman5 I am successfully using a service principal with AD modules but had to grant access to the legacy APIs. See https://github.com/ansible-collections/azure/issues/573#issuecomment-875920457.

[2021-08-24 05:40] #604 closed, assigned to nobody

[2021-08-24 08:17] Fred-sun commented on #601
fixes by #606

[2021-08-24 08:17] #601 closed, assigned to nobody

[2021-08-24 13:27] ClausGra opened #609 "azure_rm_virtualmachinescaleset: allowed choices of managed_disk_type incomplete"
##### SUMMARY

The `managed_disk_type` parameter for os- and data-disks restricts to only `Standard_LRS` and `Premium_LRS` instead of:
`managed_disk_type=dict(type='str', choices=['Standard_LRS', 'Premium_LRS', 'StandardSSD_LRS', 'UltraSSD_LRS', 'Premium_ZRS', 'StandardSSD_ZRS']),`

see: https://github.com/ansible-collections/azure/blob/c513b46f3200932994d696ed22d808f776f6af42/plugins/modules/azur

[2021-08-25 08:44] Fred-sun commented on #602
fixes by #611

[2021-08-25 13:01] Fred-sun commented on #425
@AzureStackNerd You are welcome to contribute your PR. Thank you very much!

[2021-08-25 13:08] Fred-sun commented on #134
@jfreeland You are welcome to contribute PR to fix this issue! Thank you very much!

[2021-08-26 05:14] nbr23 opened #614 "azure_rm_virtualmachine: data_disks -> lun required but not enforced"
##### SUMMARY
In azure_rm_virtualmachine, the suboption `lun` in `data_disks` is marked as required but not enforced.
Omitting this option crashes the module with a KeyError when the module attemps a `disk['lun']` access.

https://github.com/ansible-collections/azure/blob/0132b3009d5f9daa14e82db02cab0b91a830205b/plugins/modules/azure_rm_virtualmachine.py#L1475

https://github.com/ansible-collectio

[2021-08-26 05:51] nbr23 commented on #146
Hitting this issue as well, managed_disk_id does not seem supported by azure_rm_virtualmachine.
Thanks!

[2021-08-26 11:47] Fred-sun commented on #614
@nbr23 Thank you for contributing this question, can you share your full Yaml? Easy to copy and repair locally. Thank you very much!

[2021-08-26 11:53] rohmattriindra opened #615 "azure_rm_securitygroup.py"
##### SUMMARY
The **existing rule** will be replaced with a **new rule** with the **same rule name** on a different priority

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 with Python 3 virtual environment.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2021-08-26 13:09] Fred-sun commented on #615
@rotreein If you want to add a new rule, not change it, you should use the new rule name. Thank you very much!
[code]

[2021-08-26 13:15] Fred-sun commented on #614
@nbr23 In addition, the suboptions of data_disks are not defined in the module ARG, so the documentation is not completely correct. Thank you very much!

[2021-08-26 13:30] nbr23 commented on #614
Yes, the documentation is not fully accurate. And once we specify the `lun` in my specific case, then we get hit by https://github.com/ansible-collections/azure/issues/146 unfortunately.

Working on getting you a shareable full yaml.
Thanks!

[2021-08-26 13:33] rohmattriindra commented on #615
I agree with your suggestions to change the rule name to allow-icmp-2. but I have concern in our operation, let's say when we have the existing rules around 100 rules and we need to add a new rule with a different name, it turns out someone accidentally create a new rule by copy paste and forget to change with another name, so the rule will be gone and impact in our operation.

[2021-08-26 14:04] Fred-sun commented on #615
@rotreein Because we can update the Rule's priority, if so, it will be updated directly. Thank you very much!

[2021-08-26 14:05] Fred-sun commented on #614
Ok， I will try it! Thank you very much!

[2021-08-26 14:40] nbr23 commented on #614
[code]

[2021-08-27 05:57] jfreeland commented on #134
If I had time, I might.  I'd strongly prefer to have someone from Microsoft who is incentivized to have paying customers use their products fix it.

[2021-08-27 06:33] Andersson007 opened #618 "Ansible Contributor Summit 09.2021 registration is open."
##### SUMMARY
I'm happy to announce that the registration (free) for the Ansible Contributor Summit is open.

Which day should you attend?

- If you are wondering what it means to "contribute" to Ansible, or if you have been using Ansible for a while and are thinking of ways to get more involved with the project and community, then Day 1 (September 28, Tuesday) is for you! We will have hands-on la

[2021-08-27 08:03] wohnout opened #619 "Can't use restore_point_in_time in azure_rm_sqldatabase module"
##### SUMMARY
We are trying to do PITR recovery of Azure SQL database but we are not able to format restore_point_in_time argument. We tried:

restore_point_in_time:  "2021-08-26 11:35:00"
restore_point_in_time:  "{{ '2021-08-26 11:35:00' | to_datetime }}"
restore_point_in_time:  "{{ ('2021-08-26 11:35:00' | to_datetime).isoformat() }}"

None of this were working

##### ISSUE TYPE
- Bug Report

##

[2021-08-27 08:57] creespow opened #620 "Invite Guest Users for module azure_rm_aduser"
##### SUMMARY
Add feature to invite guests user by email.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_aduser

##### ADDITIONAL INFORMATION
Feature as described in documentation:
https://docs.microsoft.com/en-us/azure/active-directory/external-identities/b2b-quickstart-add-guest-users-portal

[code]

[2021-08-27 09:00] d-rk commented on #363
Since the meta package `azure` will be removed this can be installed with the following also:
[code]

[2021-08-31 14:25] Fred-sun commented on #358
fixes by #603

[2021-09-02 02:22] nbr23 commented on #620
I'm curious on this one as well.
From what I saw this might not be implemented in the python sdk though… https://github.com/Azure/azure-sdk-for-python/issues/2577

[2021-09-02 02:49] nmajin opened #628 "azure_rm_deployment removes tags on Resource Group"
##### SUMMARY
This module remove existing tags from a Resource Group, which was tested with an AKS install.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS Big Sur

##### STEPS TO REPRODUCE
Run playbook to run task to create resource group with tags a

[2021-09-02 03:11] nmajin commented on #521
Didn't notice until now that there is another issue: https://github.com/ansible-collections/azure/issues/628, but since no traction is being done on this maybe two issues might push some resolution

[2021-09-02 07:34] KamranKhan-Dev opened #629 "Missing support for Key Vault Purge Protection"
##### SUMMARY
Currently only the `enable_soft_delete` property can be set, but the `Purge Protection` option is missing.  Our Azure Policies recommend that this should be enabled, but unfortunately the module does not support this flag on Key Vault creation.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Module: azure_rm_keyvault.py
https://github.com/ansible-collections/azure/blob/dev/plu

[2021-09-02 13:56] creespow commented on #620
Hello.
Thanks for your reply.
I will be following the Azure Graph deprecation thread [Azure-Deprecation#60](https://github.com/azure-deprecation/dashboard/issues/60)

Regards

[2021-09-03 01:07] #615 closed, assigned to nobody

[2021-09-05 19:08] bkatsnel opened #631 "couldn't resolve module/action 'azure_rm_privatednszone"
I am running ansible 2.11.4 using python 3.8.12 virtual environment and azure collection  1.9. A number of azure_rm is working fine but I am getting "couldn't resolve module/action 'azure_rm_privatednszone" for

   - name: Create Private DNS
      azure.collection.azure_rm_privatednszone:
        resource_group: "{{ az_resource_group }}"
        name: "example.com"

 ansible-playbook -i inventory3

[2021-09-05 23:05] nbr23 commented on #631
@bkatsnel I think you might be missing `az` before collection. Try with this module name: `azure.azcollection.azure_rm_privatednszone`

[2021-09-06 13:18] bkatsnel commented on #631
Thanks, nbr23. I did try it before without success. Do you see the same problem in your environment?

[2021-09-06 13:26] Akasurde commented on #631
@bkatsnel Can you please paste the output for `ansible-galaxy collection list`?

[2021-09-06 14:26] bkatsnel commented on #631
Collection                    Version
----------------------------- -------
amazon.aws                    1.5.0
ansible.netcommon             2.4.0
ansible.posix                 1.3.0
ansible.utils                 2.4.0
ansible.windows               1.7.2
arista.eos                    2.2.0
awx.awx                       19.2.2
azure.azcollection            1.9.0
check_point.mgmt              2.0.0

[2021-09-07 13:37] stefanpinter opened #632 "Power On/Power Off not working"
##### SUMMARY
Hi!
I can't power on/off my Azure VM. It gives an error  "Parameter error: admin_username required when creating a virtual machine." even though I don't want to create a virtual machine, as it is already there!

According to https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_virtualmachine_module.html I can start, stop and restart VMs by using this exampl

[2021-09-07 13:55] stefanpinter commented on #632
ok, looks like it needs a few more permissions... I added Microsoft.ClassicCompute/virtualMachines/ permissions, but it needs stuff from Microsoft.Compute/virtualMachines
now it asks for more stuff like "read public IP info"-permissions...

[2021-09-07 14:00] stefanpinter commented on #632
yep, working now :)
maybe it can tell us here about missing permissions as well instead of just assuming that the VM isn't in existance :)

[2021-09-10 01:16] Fred-sun commented on #632
@stefanpinter Thank you for reporting this problem, this should be your VM does not exist, you can not restart or stop the VM. It is recommended that you create a VM and try again. Thank you very much!

[2021-09-10 02:10] Fred-sun commented on #631
@bkatsnel I tried it. It worked on my end. Please try as following. Thank you very much!
[code]

[2021-09-10 16:38] stobias123 commented on #245
Also running into significant challenges using azure keyvault. Major roadblock for our use of ansible

[2021-09-10 17:29] stobias123 opened #635 "azure_rm_keyvaultsecret_info - just doesn't work."
##### SUMMARY
I'm trying to either fetch a secret or list secrets and I get an empty array as a return value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_keyvaultsecret_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

1. Create keyvault.
2. Create a secret
3. Try to read it or list

[c

[2021-09-10 18:32] bkatsnel commented on #631
Please, share ansible --version output

[2021-09-10 19:48] bkatsnel commented on #631
The problem was resolved. By the following steps

1. recreate virtual environment
2. reinstall ansible and required modules for azure collection
3. fully qualified module call like was suggested - azure.azcollection.azure_rm_privatednszone
4.  the confusing part is that many azure modules do not need azure.azcollection qualifier

Thanks everyone who tried to help.

[2021-09-10 19:48] #631 closed, assigned to nobody

[2021-09-11 04:37] ecchong opened #636 "Network security group with flow logs setup cause "Parameter 'FlowLog.target_resource_id' can not be None" error"
##### SUMMARY
When network security group is setup with flow logs, ansible failed with error

`Parameter 'FlowLog.target_resource_id' can not be None`

It is also reported in https://github.com/ansible-collections/azure/issues/583

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2021-09-12 21:00] XabiBeltza commented on #118
Creating a connection would allow us to complete the whole Express Route workflow. There is already a VPN_GW and ExpressRoute roles.

[2021-09-13 06:13] #632 closed, assigned to nobody

[2021-09-13 11:57] tschechniker opened #637 "Support azure automation runbooks"
##### SUMMARY
Add support to create runbooks for azure automations

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Currently you are only able to create automation accounts with azure_rm_automationaccount. Would be nice to also add some content to them (e.g. creating runbooks)

##### ADDITIONAL INFORMATION
This would solve manual steps after ansible run.

[2021-09-14 03:15] Fred-sun commented on #637
@tschechniker Thank you for reporting this problem, we will consider adding this feature. Thank you!

[2021-09-14 04:53] Fred-sun commented on #635
@stobias123 Please update as following yaml! Thank you very much!
[code]

[2021-09-14 15:09] stobias123 commented on #635
Am I missing something? That's the same yaml.

I've been using the correct vault uri I just redacted here.

[2021-09-15 03:00] Fred-sun commented on #635
@stobias123 Please try the following yaml! Thank you very much!
[code]

[2021-09-15 10:42] ghost commented on #628
Hi @Fred-sun Can I pick up this issue if its not already being worked upon?

[2021-09-17 20:15] Liquidmantis commented on #477
I've been struggling with this for several days, too.  I assumed it was something with my environment.  Effectively this means I can't use azcollection from Azure Devops as my agent can't login when the azcollection requirements are installed.

[2021-09-18 01:38] #635 closed, assigned to nobody

[2021-09-18 09:44] howardjones commented on #477
@Liquidmantis You can, but you would need to jump through some hoops with virtualenvs to do it (to run one or both of these tools in its own python venv). This works for us in awx, for similar uses. But it is no fun at all!

[2021-09-18 14:02] Liquidmantis commented on #477
@howardjones Thanks!  Yeah, I thought a solution might exist down that path, but that's more than I can take on currently :)  Trying to get venvs working well on top of the Azure dynamic inventory plugin doesn't sound like a good time.  Fortunately for us, our use case is almost entirely using Ansible on servers, not actual Azure management (so far).  Terraform serves that role for us.

[2021-09-21 10:07] geekq commented on #477
Based on my experience with azcollection I've solved the problem with obsolete dependencies and Azure API moving target by focusing on the single universal `resource` oriented API (compare it to `az resource`). You can read the motivation and try out my solution here: https://github.com/geekq/azbare
Since it only has got 4 (instead of about 20) azure dependencies, it can be easily used after `pip

[2021-09-22 12:33] ammygill opened #638 "RFE to add zone parameter in the Azure modules"
##### SUMMARY
Can we add the Zone option in all the modules where it is required?

For eg:  az network application-gateway create --resource-group {{ resourceGroupName }} --name {{ myAppGateway }} --location {{ location }} --zones 1 2 3 --sku Standard_v2 --public-ip-address {{ myAGPublicIPAddress }} --http-settings-cookie-based-affinity Disabled --vnet-name {{ myVNet }} --subnet {{ myAGsubnet }}

[2021-09-24 02:53] l3ender commented on #477
@Fred-sun - any progress to share for updating the dependencies? If you are not able to work on it yourself, perhaps you could share advice/direction here and others will be able to assist. Thank you!

[2021-09-24 15:26] tepene opened #639 "NSG rule with source_address_prefix "Internet" not supported"
##### SUMMARY

According to the documentation it should be possible to use default tags in the parameter "rules.source_address_prefix"
`Default tags such as VirtualNetwork, AzureLoadBalancer and Internet can also be used.`

When I use the default tag `Internet` in a rule, i get an error **Unsupported value used: Internet**. When I specify a prefix such as **172.23.0.0/16** the rule is accepted wit

[2021-09-26 00:57] nbr23 commented on #639
Hi @tepene

Try not using a list for `source_address_prefix`. I think lists only work if you're using IPs/CIDR ranges.
This makes sense if you compare to the web UI, you if you use Service Tag as the source, you must pick one, you cannot specify several.

The following works for me:
[code]

[2021-09-27 13:22] tepene commented on #639
Thanks for clarifying @nbr23 . It's indeed working if I define the Service Tag as a string and not as a string in a list. I appreciate your help.

[2021-09-30 14:32] johnpetersjr commented on #346
I don't know if this is the issue others are having, but I was able to solve my issue --

We have Azure Policy in place that requires certain tags to be present on resource groups.  In my environment, I already had the resource group present, tagged appropriately, inside of which I wanted to deploy some resources using the azure_rm_deployment module.  My experience is that the module tries to remo

[2021-10-01 10:05] nicolaibaralmueller opened #644 "ModuleNotFoundError: No module named 'azure.mgmt.managementgroups'"
##### SUMMARY

Installing [requirements-azure.txt](https://github.com/ansible-collections/azure/blob/dev/requirements-azure.txt) shows incompatible requirements.

Although latest requirements get installed the ansible module still shows the error `ModuleNotFoundError: No module named 'azure.mgmt.managementgroups'`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure.azcollection.azure_rm_v

[2021-10-01 11:57] nicolaibaralmueller commented on #644
This was solved by creating a virtual python environment and setting the correct python interpreter in ansible.

[https://www.redhat.com/sysadmin/python-venv-ansible](url)

[2021-10-02 06:28] rohmattriindra opened #645 "Unexpected behaviour on azure_rm_securitygroup module when updating specific rules"
##### SUMMARY
there's unexpected behaviour when updating on specific rules.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_securitygroup

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

##### STEPS TO REPRODU

[2021-10-03 20:33] lingxiankong commented on #300
Any progress for this issue please?

[2021-10-05 08:56] LvffY commented on #380
@Fred-sun Is there any update on this issue ?

For anyone falling here, I came up to the following script to create an Storage Account with hieharchical namespace (you could add any [option to the azure-cli that you need](https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest))

[code]

[2021-10-06 17:36] ghost opened #646 "VM generation not supported in azure.azcollection.azure_rm_galleryimage"
##### SUMMARY
Will allow for v2 generation of VM's in image gallery

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm_galleryimage

##### ADDITIONAL INFORMATION
Used to create an image gallery that supports v2 images
[code]

[2021-10-09 08:43] Fred-sun commented on #645
@rotreein Thank you for reporting this question, can you indicate what you have newly configured and what has been updated in the rule? Because I did not encounter the problem you mentioned in the test. Thank you very much!

[2021-10-09 08:47] Fred-sun commented on #644
@nicolaibaralmueller Thank you for submitting this issue, as you can see from the log you submitted, it is the dependency that did not install successfully. You are advised to uninstall and reinstall. Thank you very much!
···e.g.
pip3 install -r requirements-azure.txt

[2021-10-09 12:58] lacj01 commented on #395
It's an issue with the doc, the sample is incorrect. Action is a "string". It should read:
[code]

Not:

[code]

[2021-10-11 12:06] dtometzki opened #648 "Compatibiliy azure-cli and the azure collection"
##### SUMMARY
The ansible-collection and the azure-cli in on eviroment are incombatible. There are conflicts in many azure-mgmt* packages.
Is it a way to install both in one enviroment

##### ISSUE TYPE
- Bug

##### COMPONENT NAME
azure-mgmt* release depencies

##### ANSIBLE VERSION
ansible [core 2.11.5]
  config file = None
  configured module search path = ['/home/damian/.ansible/plugins/modules

[2021-10-11 14:58] Fred-sun commented on #648
@dtometzki Because you are using a newer version of Azure CLI Core, the other packages require the latest version as well. If you want to use it now, install the version specified in requirements-azure. In addition, we are planning to upgrade all dependent versions. It is already in our schedule! Thank you very much!

[2021-10-11 16:17] dtometzki commented on #648
Hello @Fred-sun,

many thanks azure-cli  2.11.1 is an very old version. But do have any time schedules when the update is ready ?
Many Thanks
Damian

[2021-10-12 08:42] rohmattriindra commented on #645
Hi @Fred-sun, Actually I got an unexpected behavior issue when I open the case to Azure Support, They said all rules will be updated instead of adding rules one by one. I have checked no changes in rules, but when we check from the activity log ( Azure portal ), there's action from the ansible module to updating all rules. the following screenshot related to this issue

![report-from-azure-support

[2021-10-12 09:00] rohmattriindra commented on #645
Below are the detailed steps to reproduce this issue

1. Run the ansible playbook to initial provisioning

    - name: Create Network security group
      azure.azcollection.azure_rm_securitygroup:
        resource_group: "{{ resource_group }}"
        name: "{{ network_security_group }}"
        rules:
            - name: allow-icmp
              protocol: Icmp
              source_address_prefix

[2021-10-13 06:02] Chrysostomus commented on #137
I'm getting this exact same issue with version 1.9. I checked that https://github.com/ansible-collections/azure/pull/208 code is present on the installation. Is there something else that could cause the issue?

[2021-10-13 08:14] nergalex opened #652 "azure_rm_appgateway"
##### SUMMARY
In azure_rm_appgateway.py, add a parameter to configure a Web Application Firewall.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Python SDK reference: [web_application_firewall_configuration](https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2020_06_01.models.applicationgateway?view=azure-python)

[2021-10-13 18:26] tman5 opened #653 "Add AKS Azure AD Configuration"
##### SUMMARY
Add ability to provision an AKS cluster with managed Azure AD enabled and be able to specify admin groups https://docs.microsoft.com/en-us/azure/aks/managed-aad#create-an-aks-cluster-with-azure-ad-enabled

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
AKS

##### ADDITIONAL INFORMATION
Currently there is no way to provision or modify an existing AKS cluster to enable managed A

[2021-10-14 05:27] Fred-sun commented on #137
@Chrysostomus Can you provide what results you return? Thank you very much!

[2021-10-14 06:52] #629 closed, assigned to nobody

[2021-10-14 07:53] #232 closed, assigned to nobody

[2021-10-14 11:19] Fred-sun commented on #653
Add by #654

[2021-10-14 13:05] Fred-sun commented on #648
@dtometzki We have planned to upgrade, the specific completion date is yet to be determined. Thank you very much!

[2021-10-14 17:19] davidtluong commented on #437
+1 I have a customer utilizing the certified collection wanting this to be implemented as well within the azure_rm_virtualmachine module.

[2021-10-14 19:56] DII-dsward opened #655 "vm from existing managed disk"
How to create a VM from an existing managed disk? We have a VHD that we'd like to convert to a managed disk and deploy the VM. Not seeing any documentation on that.

[code]

[2021-10-15 00:18] l3ender commented on #477
Hi @Fred-sun, any update? Perhaps you could share advice on what needs to be done and others (myself included) will be able to assist.

[2021-10-15 00:18] l3ender commented on #648
Duplicate of https://github.com/ansible-collections/azure/issues/477.

[2021-10-15 00:20] l3ender commented on #575
See also: https://github.com/ansible-collections/azure/issues/477.

[2021-10-15 00:26] l3ender commented on #361
I'm going to go ahead and close this issue. The more we've integrated into Azure, the deployment/ACR build feature doesn't seem like one suited for Ansible. It is not an idempotent operation and is not a "configuration" type of operation.

The issue can always be opened in the future if there is interest and it seems like Ansible is a good spot to accomplish.

For our use case, we are using azure-

[2021-10-15 00:26] #361 closed, assigned to nobody

[2021-10-15 03:13] #81 closed, assigned to nobody

[2021-10-15 18:28] dtometzki commented on #648
Yes perhaps duplicate but without solution yet :-)

[2021-10-17 20:23] clsmith70 opened #656 "azure_rm_virtualmachine_info does not return VMs using a managed storage account for boot diagnostics"
This is related to issue #137.

##### SUMMARY
When I run a play to get all VMs in Azure of a specific VM by name, it always returns "Error getting virtual machine None - 'storageUri'" for the all VMs list and "Error getting virtual machine MyVM - 'storageUri'" for the specific VM

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine_info

##### ANSIBLE VERSION
[code]

#####

[2021-10-18 12:32] howardjones opened #658 "Change proposal: support valid_from and expiry dates for keyvaultsecrets"
Update azure_rm_keyvaultsecret to support the not_before and expires properties for a secret.

I have already made these changes in my local copy. The CONTRIBUTING doc said I should create an issue before a pull request.

[2021-10-19 02:57] Fred-sun commented on #656
@clsmith70 Thank you for submitting this question, but I have confirmed the question you submitted, and the conclusion is as follows: only the return of disable boot diagnostics is empty, and no error will be reported! Thank you very much!
[code]
[code]
[code]

[2021-10-19 03:01] Fred-sun commented on #658
@howardjones Making an Issue helps review PR and address validation issues. Welcome to submit the Pull request. I will push forward the review and merger as soon as possible. Thank you very much!

[2021-10-19 07:20] #599 closed, assigned to nobody

[2021-10-20 07:31] geekq commented on #477
Implementation note: many years ago the whole Azure SDK was contained in the single Microsoft library, azcollection was originally implemented by Microsoft employees, the central azcollection/plugins/module_utils/azure_rm_common.py depended on that single Azure SDK (`azure` pip - up to version 5.0.0).

Some time later Microsoft split they original SDK into multiple pips, see https://pypi.org/proje

[2021-10-20 07:59] myselfgagandeep opened #659 "Azure inventory plugin fails with status code 429"
##### SUMMARY
azure_rm inventory plugin throttles Azure API and fails to retrieve the list of VMs against specific subscriptions with HTTP error 429.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect th

[2021-10-20 19:18] kTipSSIoYv opened #661 "Azure ansible - dynamic inventory not working"
I've configured the credentials and I can run playbooks to create vm's. But I can't list the inventory using the dynamic inventory plugin. I have `azure_rm.py` in the same directory.

myazure_rm.yml

    plugin: azure_rm
    include_vm_resource_groups:
      - readit-app-rg
    auth_source: auto

ansible-inventory -vvvv -i myazure_rm.yml --list

    ansible-inventory [core 2.11.2]
      config fil

[2021-10-21 13:17] rstarov commented on #658
Hi, I think it is really useful feature if you need to control secrets lifecycle (like SAS or Service Principal passwords and etc.) When we can expect this feature to be included in the release ?

[2021-10-22 03:43] Fred-sun commented on #659
@myselfgagandeep Thank you for submitting this question, but I created two VMS locally but got dynamic host information and did not encounter the problem you encountered. Thank you very much!
[code]

[2021-10-22 11:36] myselfgagandeep commented on #659
@Fred-sun: azure_rm plugin works as you specified. The problem is sporadic and occurs when other applications are also consuming the management API to a certain extent and thus throttling the API even before ansible has started inventory sync using the plugin. Since automation in ansible relies on dynamic inventory to populate first and discover the host, having a throttled API blocking the API ca

[2021-10-22 12:45] Fred-sun commented on #659
@myselfgagandeep I'll check again, thanks for your reply!

[2021-10-22 12:47] Fred-sun commented on #661
@jinsu88 I created the VM locally and tried it. The result is as follows. Can you try again? Thank you very much!

[code]

[2021-10-23 13:06] kTipSSIoYv opened #663 "AZ collection tries to connect to localhost 5985 winrm port instead of microsoft.com"
Why does az collection try to connect to localhost to create VM's on azure portal?

[code]

[2021-10-23 13:26] kTipSSIoYv commented on #663
If I don't use collections then I have the following error:
`The module azure_rm_securitygroup was redirected to azure.azcollection.azure_rm_securitygroup`. But this issue exists only if I roles. I tested without using roles and created a playbook with just tasks and host details and it works fine. I have installed `https://github.com/Azure/azure_modules` too but it doesn't work when using roles.

[2021-10-25 03:05] Fred-sun commented on #659
@myselfgagandeep Ansible azure_rm inventory plugin  does not have any retry mechanism, if request failed, an error will raise. For batch APIs sender(msrestazure SDK), the request will retry every 30s if not finished, I don’t think the request can keep retrying, if the request not finished in a fixed time, the server should interrupt it.

[2021-10-26 11:58] howardjones opened #664 "Feature Proposal: eventgridsubscriptions"
##### SUMMARY

(I'm actually proposing that I will write this feature, at least for the part that I have a use-case for)

Add `azure.azcollection.azure_rm_eventgridsubscription` to allow creation of webhook event listeners on Azure objects that support them (my use-case is KeyVaults).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm_eventgridsubscription

##### AD

[2021-10-26 14:07] mdicerbo opened #665 "Azure SQL auto failover group"
Hi Everyone,

I'm trying to configure an azuresql auto failover group using ansible but i've not find any useful documentation
to enable this option, is it supported?

Regards

Massimo

[2021-10-26 15:32] jpposteuca opened #666 "azure_rm_cosmosdbaccount module should support setting the MongoDB API server version and other capabilities"
##### SUMMARY
I am using the `azure_rm_cosmosdbaccount` module to provision an Azure CosmosDB instance with a MongoDB API.  Currently the module documentation and the code show no way to control the server version of the MongoDB API.  By default, version `3.6` is selected.  I would like to select the latest server version, which is `4.0`.  Additionally, I would like to be able to configure additio

[2021-10-27 17:26] l3ender opened #668 "1.10.0 release not on Galaxy"
##### SUMMARY

I see the [1.10.0 release](https://github.com/ansible-collections/azure/blob/b8dce08bbd16619f41f533d0012abdcae7042546/CHANGELOG.md#v1100-2021-10-22) on Github but it is not available on [Ansible Galaxy](https://galaxy.ansible.com/azure/azcollection).

##### ISSUE TYPE
- Bug Report

[2021-10-27 19:03] l3ender commented on #668
And a reminder to publish to Ansible documentation when doing the release as well! Thank you!

https://docs.ansible.com/ansible/latest/collections/azure/azcollection/index.html

[2021-10-28 00:59] Fred-sun commented on #668
@l3ender The v1.10.0 version of release is still being tested and will be released as soon as it is completed. Thank you very much!

[2021-10-28 01:05] Fred-sun commented on #665
@mdicerbo This feature is not supported at the moment, we will fix the current problem after we upgrade the SDK. Thank you very much!

[2021-10-28 01:09] Fred-sun commented on #663
@jinsu88 Ansible has migrated to AZCollection. Some of the new features will have to be used in future releases. Please refer to the link --https://github.com/ansible-collections/azure. Thank you very much!

[2021-10-28 01:45] #639 closed, assigned to nobody

[2021-10-28 19:00] fiftin opened #669 "module 'azure.mgmt.storage._storage_management_client' has no attribute 'VERSION'"
##### SUMMARY

https://github.com/ansible/ansible/issues/76169

[2021-10-29 09:11] mashoodakram commented on #134
Hello @Fred-sun is this issue likely to be fixed anytime soon? Trying to use azure_rm_keyvault_info.py as per https://docs.microsoft.com/en-us/azure/developer/ansible/key-vault-configure-secrets?tabs=ansible example to get keyvault secret with collection and getting same error as @saulobejo I login with az login successfully then run playbook.

[code]

[2021-10-29 09:16] Fred-sun commented on #669
@fiftin Thank you for submitting this problem, could you please help confirm the installation (Azure - MgmT-storage ==11.1.0), if not, please help reinstall and try again. Thank you very much!

[2021-10-29 17:32] fiftin commented on #669
yes, I use this version.

[2021-10-29 18:02] rafaelarcanjo commented on #431
Please. I need it!

[2021-10-31 16:32] bikashkarmakar opened #671 "azure_rm_keyvault failing for Azure China with 403 Client Error"
##### SUMMARY
Ansible AWX playbook with azure_rm_keyvault fails to create KeyVault in Azure China inspite of specifying cloud_environment.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

python version = 3.6.8  [GCC 8.4.1 20200928 (Red Hat 8.4.1-1)]

##### STEPS TO REPRODUCE

[2021-11-01 05:16] Fred-sun commented on #669
@fiftin According to the error log, because the track2 package you are using caused the error, can you uninstall and install the specified version again? Thank you very much!

[2021-11-02 07:57] vijayreddiar commented on #656
@Fred-sun I was able to reproduce the same issue with the setting _Enable with managed storage account (recommended)_. If I switch it to the setting as _Disable_  from this recommended setting, still the issue occurs. It is working when the setting is _Enable with custom storage account_ and if I _Disable_ again, it works because `storage_uri` will have a custom storage account value

[2021-11-02 08:39] vijayreddiar commented on #137
@Fred-sun The code fix in _azure_rm_virtualmachine_info.py_ and _azure_rm_virtualmachine.py_ fixes the error related to empty `storageUri`, but I get a new error as below when the setting is _Enable with managed storage account (recommended)_

`Error getting virtual machine None - 'consoleScreenshotBlobUri'`

[2021-11-02 09:41] mdicerbo commented on #665
thank you @Fred-sun !

[2021-11-02 09:41] #665 closed, assigned to nobody

[2021-11-03 07:50] Fred-sun commented on #137
@vijayreddiar Thanks for your feedback, I will check this parameter again. Thank you very much!

[2021-11-03 08:37] vijayreddiar commented on #137
@Fred-sun After updating these two lines of code in _azure_rm_virtualmachine_info.py_ as below, it works fine.

[code]

[2021-11-03 08:47] Ramblurr commented on #477
Can someone post a workaround? How is anyone using this ansible collection on a modern linux/mac os system where they also have the latest azure cli installed for non-ansible tasks?

[2021-11-03 08:53] Fred-sun commented on #137
@vijayreddiar Thank you for your contribution, welcome to submit PR, thank you!

[2021-11-03 08:55] Fred-sun commented on #477
@Ramblurr Related compute and Network resources have been submitted for PR upgrade to the latest, and other resources are under modification. Thank you very much!

[2021-11-07 23:42] l3ender commented on #666
I have added ability to specify server version in https://github.com/ansible-collections/azure/pull/675. I did not take a look at `capabilities` feature at this point.

[2021-11-08 12:33] zickzackhd commented on #661
Its the same issues for me, I can run playbooks too but dynamic inventory not working
I try to run:
`ansible-inventory -vvvv -i myazure_rm.yml --list`

**myazure_rm.yml**
[code]
**output**:
[code]
I also tried to change the ansible_python_interpreter but I did not succeed

[2021-11-09 16:22] tman5 opened #677 "Helm"
##### SUMMARY
When using the az_aks modules, have the ability to use the Ansible helm modules that are authenticated with the other Ansible modules

##### ISSUE TYPE
- Currently to use helm against an AKS cluster you must use the `az cli` commands that will modify your local kubectl config to authenticate with the cluster. When using Ansible modules it would be nice to have the ability to use helm

[2021-11-09 21:23] DII-dsward opened #678 "dynamic inventory does not populate name of attached disks"
Need to tag our managed disks for cost analysis, but the dynamic inventory does not return the name of the managed disks so that we can iterate them as vars. It does return some information, but not the name var.

Example of what dynamic inventory is returning related to data disks.
[code]

##### SUMMARY
the dynamic inventory yaml
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- plugi

[2021-11-09 21:38] DII-dsward opened #679 "azure_rm_manageddisk_info managed_by not working"
Due to the dynamic inventory script not populating the names of the managed disks attached to a VM, I am trying to pull the names of the managed disks attached to a 'vm fqid'.

[code]

The error returned it...
fatal: [DVMANFSTEST01.dii.local]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (azure_rm_manageddisk_info) module: managed_by Supported parameters include: ad_user, adfs_

[2021-11-10 16:41] l3ender commented on #668
I now see the 1.10.0 release on both galaxy and documentation site. Thank you!

[2021-11-10 16:41] #668 closed, assigned to nobody

[2021-11-10 22:35] nbr23 commented on #679
Hi @DII-dsward,
~~As far as I know, the best way to get this info today is to use `azure_rm_virtualmachine_info` and look at the returned [data_disks](https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_virtualmachine_info_module.html#return-vms/data_disks) list.~~

Edit: Disregard, this doesn't give as much info as I thought.

Cheers!

[2021-11-11 00:01] iscai-msft commented on #636
hey @ecchong, it seems that probably whoever is creating the ansible SDK is not passing `target_resource_id` to create a `FlowLog`, @Fred-sun are you the person to assign the issue to?

[2021-11-11 00:38] kinect1things commented on #679
I have checked azure_rm_virtualmachine_info, but it does not show the name of the disk. I'm not seeing how to use azure_rm_manageddisk to tag it if i cannot get the name of these disks.
[code]
[code]

[2021-11-11 14:48] ecchong commented on #636
@iscai-msft Not sure, but I think the [Ansible project](https://github.com/ansible/ansible) will be the place to raise the issue.  However, I think the problem is between the azcollection module and azure core itself.

[2021-11-11 18:04] iscai-msft commented on #636
I still think the issue is that the ansible SDK is not passing all required parameters to the generated python SDK, not an issue in `azure-core` / ansible. The generated python SDK requires that the `target_resource_id` is passed when creating a `FlowLog` object, and it doesn't seem this is happening. cc @Fred-sun

[2021-11-11 20:57] nbr23 commented on #679
@kinect1things you're absolutely right, my bad!

However, jumping back to the original post, filtering `azure_rm_manageddisk_info` with `managed_by` does work if you give the full VM path (eg `/subscriptions/XXXXXX-XXX-XXXX-XXX-XXXXXXXXXX/resourceGroups/RGNAME-eastus2/providers/Microsoft.Compute/virtualMachines/myVM`).

This successfully lists the attached disks in my test cases:
[code]

@DII-dswa