[2022-09-01 13:57] whitelancer commented on #932
We did try to do this.  We are able to downgrade the azure-cli to 2.34.0 and use most of that functionality, but because Microsoft has changed the way some of the packages are named (like the storage ones were broken out into multiples), it was a true bear to try and find all the right versions for Ansible support.

I was trying to put together a manual list of pip modules of the right version, an

[2022-09-01 15:03] Fred-sun commented on #932
First , I haven't encountered the problem you mentioned here. Also, does version compatibility and installation path cause similar problems? Thank you very much!

[2022-09-01 15:05] Fred-sun commented on #918
"****" means the subscription ID you want to use. Thank you very much!

[2022-09-01 15:15] siddallgoogle commented on #918
I have no idea what you're referring to the User 'xxxx' bit is me removing my email address.

I have tried the command you've suggested but they result in the same error.

14th July

az login
az account set -s *************

Does not work.

Today, the same command in your comment is basically the same suggestion as the 14th of July.

"az account set-s sub_use_id"

Again results in the MSAL error.

[2022-09-01 15:21] Fred-sun commented on #918
I would like to know the ID after "az account set -s" that you specified to execute, and did you execute this command successfully?

[2022-09-01 15:24] siddallgoogle commented on #918
The command worked fine, with the relevant subscription ID.

Again I've obfuscated the beginning of the ID from the first post as this is a public site.

az login
az account set -s xxxxxxx-9d7d-4450-901a-e16f09f9fd1a

As an example.

Thanks

[2022-09-01 15:27] Fred-sun commented on #918
I will try again, Multiple accounts for one tenant.

[2022-09-01 15:34] siddallgoogle commented on #918
Yep thats what we / the team will have.

Just as a FYI using an incorrect subscription id results in

The subscription of 'xxxx' doesn't exist in cloud 'AzureCloud'.

So the set -s works fine.

Additionally the az account show ... also shows the correct subscription ID ... active subscription.

[2022-09-02 06:41] #258 closed, assigned to nobody

[2022-09-02 19:23] whitelancer commented on #932
I confess I don't have all the details in front of me at the moment.  What we were trying to do was build a utility CI docker image from the latest microsoft azure image (https://mcr.microsoft.com/en-us/product/azure-cli/about) and then we would do an install of Ansible and then finally the ansible galaxy install of the azure collection.  The problem we ran into was when the collection installs, i

[2022-09-06 07:14] Fred-sun commented on #883
@ValioSV Understand your problem! Now, when we create a VM using "custom image", it will be created according to the VM configuration of the image.  we cannot create other disks when we create it. But at the end of creation, we can add the required data disks to the VM via the "azure_rm_mangeddisk.py" module! Thank you very much!
[code]

[2022-09-07 01:10] #923 closed, assigned to nobody

[2022-09-07 01:52] Fred-sun commented on #918
Do you mean that the problem has been solved?

[2022-09-07 05:03] Fred-sun commented on #282
@dvntstph Can you update to V1.13.0 and try again? Does your problem still exist? Thank you very much!
[code]

[2022-09-07 06:05] Fred-sun commented on #303
add in #651

[2022-09-07 06:05] #303 closed, assigned to nobody

[2022-09-07 07:20] Fred-sun commented on #820
kinldy ping!

[2022-09-07 07:37] siddallgoogle commented on #918
No the problem still persists, just confirming that the az commands work. We still have the MSAL token cache error message.

[2022-09-07 07:59] beepdot opened #967 "azure_rm_storageblob is not deleting blobs"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_storageblob

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested on both Ubuntu 18.04 and Mac OS Monterey 12.5.1

##### STEPS TO REPRODUCE

- Upload a blob to a container from Azure portal
- Run the playbook to delete the blob

[code]

##### EXPECTED

[2022-09-07 08:37] Fred-sun commented on #798
@SSPJ This parameter “identity” is not supported by the SDK, we will add it as soon as it is supported. Thank you very much!

[2022-09-07 08:38] Fred-sun commented on #784
kindly ping!

[2022-09-07 08:57] fredflev commented on #771
Any reason why this was closed?

[2022-09-07 09:32] Fred-sun commented on #967
@keshavprasadms Fixed by #833, it is recommended to close this issue! Thank you very much!

[2022-09-07 10:52] beepdot commented on #967
Thank you. I took the new changes and its working well.

[2022-09-07 10:52] #967 closed, assigned to nobody

[2022-09-07 11:17] beepdot opened #968 "How to use azure_rm_storageblob to perform batch delete?"
##### SUMMARY

How can we use `azure_rm_storageblob` to perform batch delete? I have a folder which has a bunch of files. I would like to delete all files from this folder.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

`azure_rm_storageblob`
##### ANSIBLE VERSION

[code]

Using `azcopy`, I can do the same something like this
[code]

I would like to achieve this using the ansible

[2022-09-08 12:55] ValioSV commented on #883
@Fred-sun I have tried that and it does not work.
In addition, I do not want to create a new disk for the VM but I want to change the type from the custom image while deploying a new instance.
I did a little experiment. I created a new VM with one disk. Then I tried to change its type using ansible like this:

[code]

It fails with the following error:

<127.0.0.1> EXEC /bin/sh -c 'rm -f -r /home/

[2022-09-08 13:03] x4FF3 commented on #760
Hi, any ETA on this?

[2022-09-08 13:54] mlacko64 opened #969 "Ansible azure_rm_deployment module returns error but deployment in Azure was successful"
##### SUMMARY
Ansible azure_rm_deployment module returns error but deployment in Azure was successful.
When deploying this ARM template via az cli or Azure portal, it ends successfully. No errors.
When deploying using azure_rm_deployment, it deploys resources, no error in deployments in Azure portal. But task itself has failed.

Seems somehow related to conditions in ARM template, but it appears o

[2022-09-08 14:04] Fred-sun commented on #883
@ValioSV OK！ I will test your idear and share result to you!

[2022-09-08 15:44] Cyclonit commented on #918
I have exactly the same issue. I would like to use the azurerm_inventory plugin. The plugin initializes just fine, but when executing the following command I get an error:
[code]

I login the following way. But the error persists. Executing commands using the Azure CLI works without issue.
[code]

I did some searching around, and found another issue which I believe might be related to this one:
#6

[2022-09-09 12:13] dkirrane opened #970 "The error was: ModuleNotFoundError: No module named 'msrest'"
##### SUMMARY
GitHub action failing with
[code]

Here is my GitHub Action workflow
[code]

`requirements.yml`
[code]

[2022-09-09 16:24] davejdeemer opened #971 "Route table resourceID is using the subscription_id from credentials profile instead of subscription_id provided to the route_table parameter"
##### SUMMARY
When building/updating subnets, the route_table parameter is not using the value given for the subscription_id. Instead, the subscription_id provided in the credentials file is used (as observed by the state change after apply).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`azure.azcollection.azure_rm_subnet`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

#

[2022-09-12 07:01] pwakano opened #972 "Application Gateway ssl_certificates - Add support to reference a key vault secret ID"
##### SUMMARY

The **key-vault-secret-id** is a parameter supported both in the az cli (https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/ssl-cert?view=azure-cli-latest#az-network-application-gateway-ssl-cert-create-optional-parameters) and terraform (https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/application_gateway#key_vault_secret_id), so it

[2022-09-12 19:00] kTipSSIoYv commented on #932
@johnpetersjr @whitelancer

I managed to resolve the issue by installing old version of azure packages (released between November 2019 - November 2020).  You can use the [requirements ](https://github.com/Azure/azure_preview_modules/blob/master/files/requirements-azure.txt)file from azure preview modules and modify the version as needed and create a new requirements.txt.

If you install very old v

[2022-09-12 19:18] kTipSSIoYv commented on #970
Please refer this comment https://github.com/ansible-collections/azure/issues/932#issuecomment-1244165605  on how to resolve the issue.

[2022-09-13 13:48] polocato opened #973 "azure_rm_privateendpoint missing parameter"
##### SUMMARY
Private endpoint creation is failing when tenant is not authorized to access linked subscription
az cli has an option:  --manual-request true
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_privateendpoin
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL1 with ubuntu18.04

##### STEPS TO REPRODUCE

[2022-09-13 18:56] fabi-alstom commented on #967
@keshavprasadms Sorry to ask here, but I'm facing the same issue, I cannot delete a blob. I have no clue how to solve it as you did. Do you know if should I upgrade any package? Is that package released? Or should I edit some file in my system if not released?  Thanks in advance

[2022-09-14 09:39] beepdot commented on #967
@fabi-alstom Clone this repo and checkout the `dev` branch. I dont think the new version has been released yet.
Replace the `plugins` directory with the plugins directory from the repo - https://github.com/ansible-collections/azure/tree/dev/plugins
If you used ansible galaxy to install this collection, it will be usually located under your home directory
`~/.ansible/collections/ansible_collections

[2022-09-15 07:24] fjmartinperez commented on #869
Hi,

Any updates about Graph API migration date?? We need to interact with the new API and we are stopped since may.

Thank you very much.

[2022-09-17 00:31] phillipstr commented on #784
@Fred-sun Sorry for the delay, and thank you for the reply.

It isn't an issue, so much as a nice to have. The azure_rm_appserviceplan module in it's current state doesn't appear to support creating App Service Plans on [Azure App Service Environments](https://learn.microsoft.com/en-us/azure/app-service/environment/overview) for private networks.

We have a decent workaround using a combination of

[2022-09-17 21:47] lrrb opened #976 "Keyvault lookup plugin doesn't take into account environment varibales"
##### SUMMARY

##### ISSUE TYPE
- Feature idea
##### COMPONENT NAME

lookup plugins azure_keyvault_secret.py
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

Linux ubuntu

##### STEPS TO REPRODUCE

Export env vars
[code]
Run this playbook
[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]
To avoid this problem, we can write the variables as

[2022-09-19 04:24] akira6592 opened #977 "The module_defaults group name is inconsistent"
##### SUMMARY

The module_defaults group name is inconsistent between ansible-core and this collection.

ansibe-core side points [`azure.azcollection.azure`](https://github.com/ansible/ansible/blob/v2.12.0/lib/ansible/config/ansible_builtin_runtime.yml#L9705-L9708) and this collection side defines `all` (`azure.azcollection.all`).

I think it shuld be `azure` for the following reasons.

- It's bee

[2022-09-19 15:19] Fred-sun commented on #977
You should set this:
[code]
[code]

[2022-09-19 15:20] davejdeemer commented on #971
Any thoughts about this? Is there additional information that I can provide to help describe what I'm running into?

[2022-09-19 23:01] akira6592 commented on #977
@Fred-sun Thank you.
If we keep group name `all` in this collection, is it better fixing `extend_group` from `azure.azcollection.azure` to `azure.azcollection.all` [in ansilbe-core](https://github.com/ansible/ansible/blob/v2.13.4/lib/ansible/config/ansible_builtin_runtime.yml#L9708)?

[2022-09-20 00:16] Fred-sun commented on #977
@akira6592 Yes, but you need to update PR #874 first. Thank you!

[2022-09-20 00:37] akira6592 commented on #977
@Fred-sun I update PR #874 and commented that I fix the ansible-core side. Thank you.

[2022-09-20 01:13] Fred-sun commented on #977
@akira6592 Do you have any other questions? if not, closed it and create new again when you have other questions. Thank you very much!

[2022-09-20 01:15] Fred-sun commented on #152
fixes by #975

[2022-09-20 02:35] akira6592 commented on #977
@Fred-sun Thank you for your kindness. I have no questions.

I just submitted PR https://github.com/ansible/ansible/pull/78812

We can close this issue.

[2022-09-20 02:36] #977 closed, assigned to nobody

[2022-09-20 06:33] Fred-sun commented on #973
@polocato Thank you for your attention. I'm sorry that I don't quite understand what you mean. Do you mean to add parameter ’manual-request' or do you want to specify different tenants ? Thank you very much!

[2022-09-20 06:36] Fred-sun commented on #970
Please refer this comment https://github.com/ansible-collections/azure/issues/852#issuecomment-1172356256 on how to resolve the issue.

[2022-09-20 06:41] Fred-sun commented on #968
duplicate with #967 , and fixes in #833

[2022-09-20 06:41] #968 closed, assigned to nobody

[2022-09-20 08:20] Fred-sun commented on #969
@mlacko64 Thank you for following Ansible! Two nics are created in your template, but only one of your parameters is defined, so the second NIC is not created. "He led to the error Resource 'Microsoft.Net work/networkInterfaces/nicname2' under the Resource group 'testrg' was not found." Thanks!

[2022-09-20 08:26] mlacko64 commented on #969
@Fred-sun
Hello, yes, that's true and that is just an simple example.

Problem is that when you run it from portal or az cli, template ends with success. When I run it using ansible, it ends with failure (but there is no failure at all visible in azure for that deployment). And I believe there should be no error reported, because only one NIC should be deployed based on inputs. So in short, I beli

[2022-09-20 10:31] Fred-sun commented on #969
@mlacko64 Ansible is deployed through the API interface. There are two nics in the template, but you only configure one, which is not reasonable?

[2022-09-20 11:03] Fred-sun commented on #969
@mlacko64 Alternatively, you can simply delete line 101 from the template, and the deployment will create a network interface, which is successfully created. Thank you very much!

[2022-09-20 11:38] mlacko64 commented on #969
@Fred-sun
deleting line 101 will help only in case nicname will be deployed based on input parameter "selector" .If it set to deploy nicname2 deployment will fail because Azure will try to deploy nic and VM in paralel.
As I said, this was just example to demonstrate, my original issue came from other bigger template, but I was able to reduce issue on this info I provided.

I would say either modul

[2022-09-20 12:07] Fred-sun commented on #969
@mlacko64 Ansible calls the API interface to complete the deployment and returns the result. The deployment task is done by the Service according to the template. The error is caused by an incorrect template. Azure Portal/AZ CLI does not report errors, what is the relevance of this module?

[2022-09-20 18:53] pichuang opened #980 "Issue for ARO Support Instance"
##### SUMMARY
VM instance type support issue

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_openshiftmanagedcluster

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[code]

[code]

[2022-09-20 21:03] polocato commented on #973
Hello, thank you for looking into my request.
I'd like to ask for manual-request parameter, from my perspective this is not a missing feature but a some kind of bug/missing core functionality. Without that parameter you can't create a private link between two unrelated companies.
Best Regards

[2022-09-21 06:27] Fred-sun commented on #973
@polocato Thank you for your reply, but I have checked the latest API and found that 'manual-request' is not supported and cannot be added for the time being. Once it is supported, we will add it as soon as possible. Thank you very much!

[2022-09-21 06:27] Fred-sun commented on #970
Any feedback？

[2022-09-21 07:05] Fred-sun commented on #971
@davejdeemer I'm sorry, but I'm really confused by your above information.
The value defined by your Playbook is “"route_table": "/ subscriptions/dde8 * * * * * * * * * * / resourceGroups/rg-subnet/providers/Microsoft.Net work/routeTables/rt - northcentralus - 1",
But the result of the update is "id": "/ subscriptions/c123 * * * * * * * * / resourceGroups/rg-subnet/providers/Microsoft.Net work/rou

[2022-09-21 07:05] #970 closed, assigned to nobody

[2022-09-21 07:18] Fred-sun commented on #954
@Krumbelfix ansible is a large community project. Ansible-collection is an Azure part of Ansible. If each part of Ansible has to be added with a corresponding document description, is it redundant?

[2022-09-21 07:30] Fred-sun commented on #932
@Akasurde @whitelancer In this case, I think it is caused by version incompatibility. Can you change a new environment and install it as required. Would you like to try it? Thank you very much!

[2022-09-21 07:42] Fred-sun commented on #954
similar with  #942

[2022-09-21 08:58] Fred-sun commented on #916
kindly ping!

[2022-09-21 09:00] Fred-sun commented on #688
kindly ping!

[2022-09-21 10:02] Fred-sun commented on #762
@Now that it has been solved, I cannot copy the current problem. I suggest closing it temporarily and opening it when there is a new problem. Thank you very much!

[2022-09-21 13:19] jghal commented on #762
The problem isn't solved, merely avoided by not using the collection's module for that task.

[2022-09-21 14:26] davejdeemer commented on #971
@Fred-sun Appreciate you taking a look at this, thank you!

That is the challenge I've bumped into. The invocation uses the _expected_ subscription id (dde8******) yet the state is actually using the subscription id defined from within my credentials file (c123*****). As a test, changing my credentials file to specify the subscription id of dde8***** will result in the state reflecting subscriptio

[2022-09-22 01:38] Fred-sun commented on #762
@jghal @achevalet However, in my local test, it can be deleted. In addition, after you delete it, wait for 10 minutes and check again, because the service needs some time to complete this operation. Could you try it again? Thank you very much!

[2022-09-22 02:44] Fred-sun commented on #971
@davejdeemer I tested it again locally, but still could not reproduce your problem. The most important thing is that the routing table associated with the subnet must be from the same subscription, thank you!

[2022-09-22 07:33] achevalet commented on #762
The problem is not solved and I can't explain my use-case better than above.

[2022-09-22 08:59] #957 closed, assigned to nobody

[2022-09-22 09:08] #976 closed, assigned to nobody

[2022-09-22 17:39] davejdeemer commented on #971
I'll dig around more on my side. Both a co-worker and I have bumped into this but maybe I've got something not quite right with the code, the example or both.

[2022-09-22 23:30] dc-chris-smith opened #985 "InvalidAuthenticationTokenAudience with AzureUSGovernment"
##### SUMMARY

I am working on a role to allow department users to start and stop VMs in Azure when they are needed.  I have worked through a number of issues that were not documented only to be presented with "the access token has been obtained for the wrong audience."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure.azcollection.azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

[2022-09-23 01:34] Fred-sun commented on #985
@dc-chris-smith Can you follow the Playbook execution with '-vvvv'? Detailed procedures will be printed to help solve the current problem. Thank you very much!
[code]

[2022-09-23 08:23] mlacko64 commented on #969
Hello,
I tried to deploy this template via Azure API and then verify its status also via API, but there were no errors at all. Response from status verify can be seen below.

{
	"id": "/subscriptions/<redacted>/resourceGroups/pokus/providers/Microsoft.Resources/deployments/testing",
	"name": "testing",
	"type": "Microsoft.Resources/deployments",
	"properties": {
		"templateHash": "1580322081792750

[2022-09-23 08:31] Fred-sun commented on #969
@mlacko64  Is your template exactly the same as above? Or can you provide your template? Thank you very much!

[2022-09-23 08:46] mlacko64 commented on #969
yes, I used same template as is mentioned in this conversation at top

[2022-09-23 08:51] Fred-sun commented on #969
Two nics？

[2022-09-23 09:00] mlacko64 commented on #969
yes, two nics , only one will be deployed based on input parameter , like mentioned in "STEPS TO REPRODUCE" section

[2022-09-23 09:05] Fred-sun commented on #969
@mlacko64 It doesn't make sense that the VM in the template will have two nics attached, but only one will be created here and one will be attached. So the template should look something like this?
[code]
Change to
[code]

[2022-09-23 09:10] mlacko64 commented on #969
Essential goal of that template is that it allows user to choose between two nics based on parameter input.

If there will be dependency only on first NIC and user provides input parameter "second", then deployment of NIC and VM will start in parallel which will result in failure.

I still do not think problem is template as it is valid for Azure.

[2022-09-23 10:30] Fred-sun commented on #969
fixes by #986

[2022-09-23 11:03] dc-chris-smith commented on #985
@Fred-sun I am running Ansible Automation Platform, so this might not be exactly what you are looking for.  I set the verbosity level to 4 and ran the job.  This is what I get from module_stderror on the step that fails during execution.

[code]

[2022-09-23 14:43] siddallgoogle commented on #918
Just for reference my pip / apt package versions

azure-cli-core==2.34.0
azure-cli-telemetry==1.0.6
azure-common==1.1.11
azure-containerregistry==1.0.0
azure-core==1.24.2
azure-graphrbac==0.61.1
azure-identity==1.7.0
azure-keyvault==1.0.0a1
azure-mgmt-advisor==1.0.1
azure-mgmt-apimanagement==0.2.0
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.51.1
azure-mgmt-automation==1.0.0
a

[2022-09-23 15:07] siddallgoogle commented on #918
So fiddling about with versions i've managed to get my login issue fixed.

This is a similar problem

https://github.com/ansible-collections/azure/issues/688

MS Article on registering repos ... removing of azure-cli apt package

https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

Packages to obtain

pip install azure-cli-core==2.30
sudo apt-get install azure-cli=2.30.0

[2022-09-23 15:13] siddallgoogle commented on #918
Also works with latest packages

PIP
azure-cli-core==2.34.0

APT
azure-cli/focal,now 2.40.0-1~focal

[2022-09-23 15:14] julianbergner opened #987 "Ansible azure_rm_keyvaultsecret_info module has dependency to deprecated azure.storage 0.37.0"
##### SUMMARY
Ansible azure_rm_keyvaultsecret_info module has module dependency to azure.storage which is deprecated since 0.37.0 and not part of the requirements-azure.txt.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_keyvaultsecret_info

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Docker image: redhat/ubi8-ini

[2022-09-26 01:27] Fred-sun commented on #987
@julianbergner Thank you for asking the question you encountered. First of all, there are modules that rely on "azure-storage-blob" to work and are not removable.
Second, I can use requirement_azure.txt locally.
In addition, from your error log, it is not a dependency problem. Could you try it again? If you can, create a new environment and try again.
Thank you very much!

[2022-09-26 09:58] julianbergner commented on #987
@Fred-sun thank you, problem was I was referring to the current release 1.13.0 rather than the dev branch.

[2022-09-26 09:58] #987 closed, assigned to nobody

[2022-09-26 11:14] ahmedsza commented on #396
I am hitting the same issue - and it occurs in the cloud shell. A basic sample like https://learn.microsoft.com/en-us/azure/developer/ansible/getting-started-cloud-shell?tabs=ansible is not working
if I run pip install azure-storage==0.35.1 it shows requirement is already satisfied

[2022-09-26 20:04] davejdeemer commented on #971
@Fred-sun An interesting item that I observed is that setting the subscription_id for the route table dict in the example vNet group vars, then building the subnet yields the expected behavior in using the expected subscription_id rather then using what is defined in the credentials file.  Here is an update to the example:

[code]
In the [collection documentation](https://docs.ansible.com/ansible/

[2022-09-26 22:01] smeyer01 opened #988 "Failure building Ansible Execution Environment due to incompatible python modules from azure.azcollection"
##### SUMMARY

Attempting to build an Ansible Execution Environment using `Ansible Builder` with verbose output (-v 3) results in the following message during the build:
[code]

This does not produce a fatal error in the build, so the build continues and looks to be clean.  The build completes, however the messages indicate an issue which prevent the azure collection from working properly.

As a t

[2022-09-26 22:25] ansiblejunky commented on #988
I ran `ansible-builder` today to verify this issue is happening with release `1.12.0` of the azure collection. Here is the errors I'm seeing ... again, we are building an Execution Environment using the `registry.redhat.io/ansible-automation-platform-22/ee-minimal-rhel8:latest` base image.

[code]

[2022-09-26 22:26] ansiblejunky commented on #988
Note that there are no `incompatible` errors when referencing version `1.11.0` from the collection.

[2022-09-27 00:56] ansiblejunky commented on #988
Additionally, using `ansible-builder` with version `1.13.0` of azure collection produces these errors!

[code]

[2022-09-27 03:09] Fred-sun commented on #971
@davejdeemer Although you can specify subscription_id, subnets under different subs cannot be directly associated with routing tables. Thanks!
[code]

[2022-09-27 13:21] davejdeemer commented on #971
@Fred-sun Understood. The interesting thing is that the subscription_id defined for the subnet isn't being used for the route table reference in this case. Instead, it is using the subscription_id defined within the credentials file. When explicitly setting the subscription_id in the route-table dict (duplicating the subscription set for the subnet), the route-table reference is as expected.

[2022-09-28 09:50] tushar150 opened #989 "azure_rm_adapplication --getting issue when try to use optional_claims"
I am trying to use optional_claims as following but getting weird error. I try to use the same code without optional_claims and its working but I need to setup optional_claims as well. Please help to correctly define optional_claims
[code]
     **Error:**

  1 The full traceback is:
  2 Traceback (most recent call last):
  3   File "/usr/local/lib/python3.8/dist-packages/msrest/serialization.py",

[2022-09-28 17:26] davejdeemer commented on #971
Here are a few observations from the code:
* [Here is where the route table dict is inspected](https://github.com/ansible-collections/azure/blob/444c1918a0b4ad8c7ce745c82997ab150aff6264/plugins/modules/azure_rm_subnet.py#L461)
* [In the code that parses the input](https://github.com/ansible-collections/azure/blob/444c1918a0b4ad8c7ce745c82997ab150aff6264/plugins/module_utils/azure_rm_common.py#L606

[2022-09-29 10:24] vijayreddiar commented on #700
@Fred-sun Will this feature be made available soon? In the meantime, is there any workaround to convert json output of this Azure dynamic inventory in a format Ansible understands?

[2022-09-29 13:43] ohthehugemanatee commented on #847
@rbreitendev @archoversight

I'm sorry, can you please confirm how many layers of async you want? The text descriptions just aren't clear enough for me. Is it:

**Option A**:
![image](https://user-images.githubusercontent.com/907257/193047625-9b5c7700-9add-4717-bb55-630bbf56ba2b.png)

or **Option B**:
![image](https://user-images.githubusercontent.com/907257/193047706-558f8726-4da3-4212-92e8-f57e5

[2022-10-03 11:28] fredflev commented on #771
For anyone who's facing the same issue:

I ended up installing `azure-cli` in the default OS python env via `python3 -m pip install azure-cli --user` and running ansible  + azcollection and its dependencies in a dedicated virtual env using [pipenv](https://pipenv.pypa.io/en/latest/)

Below is an example of my `Pipfile` for ansible `6.4.0` ( It comes with Azcollection version `1.13.0` )

[code]

Th

[2022-10-04 12:41] erlingre opened #991 "Cannot create storage account with azure_rm_storageaccount when policy which require default network acl Deny is present."
##### SUMMARY

When I try to create a storageaccount in Azure with azure_rm_storageaccount it fails due to a policy which require network_acls default action to be set to 'Deny' in my subscription.
The default_action is set to 'Deny' in the ansible task, but it seems like it is not passed to Azure when deploying the resource.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_storageacc

[2022-10-05 20:48] atsai1220 commented on #985
Perhaps it was resolved with this? It looks like it's merged in but the latest releast does not seem to capture that.

https://github.com/ansible-collections/azure/pull/854

[2022-10-05 20:53] atsai1220 commented on #836
Running into this issue as well. Is there a date on the horizon we can count on?

Edit:

Temporarily doing this:
[code]

[2022-10-06 00:21] Fred-sun commented on #836
Hi All, Sorry for not releasing the new version recently, we will release it as soon as possible after the holiday. Thank you very much!

[2022-10-06 00:23] Fred-sun commented on #985
@atsai1220 Sorry for not releasing the new version recently, we will release it as soon as possible after the holiday. It will contain new change! Thank you very much!

[2022-10-07 15:25] tfmark opened #992 "Only update portion of azure_rm_appgateway configuration?"
##### SUMMARY
I would like to be able to update the SSL certificate of my Application Gateway

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm_appgateway

##### ADDITIONAL INFORMATION

From my unsuccessful testing this afternoon I believe I need to submit a _full_ configuration item to azure_rm_appgateway rather than being able to simply update an individual piece

[2022-10-09 02:06] Fred-sun commented on #992
@tfmark You are welcome to submit the problems encountered, we will investigate and deal with the problems as soon as possible! Thank you very much!

[2022-10-09 02:26] Fred-sun commented on #991
@erlingre This error is not a violation of the naming rules caused by the error, the naming rules are as follows, I suggest you change the name to try! Thank you very much!
[code]

[2022-10-09 06:52] Fred-sun commented on #989
@tushar150 hank you for the problem you raised. After testing, I found that it was the parameter "optional_claims". I don't know whether it was caused by SDK update or just before, we will solve it as soon as possible! Thank you very much!

[2022-10-10 07:30] NemoDang commented on #714
+1

[2022-10-10 20:52] woodbb opened #993 "azure_rm_virtualmachine boot diagnostics don't allow for managed storage accounts"
##### SUMMARY
When boot diagnostics are enabled, but not storage account is specified, the behavior should be to use a managed storage account and not create a custom one (as there are limits to how many custom SAs can be created)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure.azcollection.azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### C

[2022-10-11 08:42] madmalkav commented on #396
I'm in the same situation with Cloud Shell.

[2022-10-11 11:34] Fred-sun commented on #396
@nicolaibaralmueller  Could you help share the error log? Thank you very much!

[2022-10-11 11:37] alexw-z opened #995 "Does azcollection/azure_rm_keyvaultkey support the ability to upload externally generated SSH keys to Keyvault?"
Hi

I'm not quite sure if this is a documentation query, a feature request or a general question to be honest, but I'm writing an Ansible script to perform key rotation across my company's Linux estate and having some difficulty with trying to add some SSH Keys to Azure Keyvault using the azcollection modules.

We use Azure as a cloud platform and I'm looking to store a backup copy of the public a

[2022-10-11 11:39] madmalkav commented on #396
I think you perhaps wanted to mention me? in that case, my error is:

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'azure.storage.cloudstorageaccount' fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (ansible[azure] (azure >= 2.0.0)) on cc-9beeda7-75c987bc

[2022-10-11 11:52] ahmedsza commented on #396
@madmalkav  - I work at MS and raised this internally (on it not working on cloud shell). the team was able to repo the issue. The initial fix was part of a larger set of fixes that apparently had some issues - and it seems like a new deployment will happen later this month.. Note this is specific to cloud shell

[2022-10-11 11:57] madmalkav commented on #396
Thanks for keeping me updated. For information, I also raised this issue some days ago linked to the documentation explaining how to use Ansible on Cloud Shell: https://github.com/MicrosoftDocs/azure-dev-docs/issues/915

[2022-10-11 13:45] ryanjeskymicrosoft commented on #380
@Fred-sun do we have any updates on ADLS Gen2 accounts being supported? Can you please share an ETA for the availability of this feature? Thank you in advance.

[2022-10-11 16:45] archoversight commented on #847
@ohthehugemanatee creation of the VM's is done using terraform, and is out of scope.

We care about creation of disks and attaching them being async, so that when add a lot of disks it happens quickly.

 That seems to be taken care of in https://github.com/ansible-collections/azure/pull/936 partially, in that its creating the disks one after the other, then attaching all of them at the end (if I a

[2022-10-11 20:16] andreadecorte commented on #995
there is a function providing import functionality here https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_keyvaultkey.py#L289 but it seems it is not called anywhere, that could be the issue

[2022-10-11 23:18] Fred-sun commented on #995
@alexw-z I am checking this problem and I will reply to your question as soon as possible! Thank you very much!

[2022-10-11 23:22] Fred-sun commented on #972
fixes in #990

[2022-10-12 08:01] xuzhang3 commented on #771
@CGHoussem does this issue still exist?

[2022-10-12 08:11] alexw-z commented on #995
Many thanks @Fred-sun, appreciated :)

A.

[2022-10-12 08:32] CGHoussem commented on #771
Following the thread, apparently it does still exist. I've closed the issue before since there are alternative solutions.
That being said, the issue still persists in the default installation.

[2022-10-12 08:38] xuzhang3 commented on #771
@CGHoussem tried with latest release v1.13.0 , this issue  has been  fixed.

[2022-10-12 09:45] CGHoussem commented on #771
@xuzhang3 Unfortunately I can no longer test the issue (I have no azure subscription); Therefore, I will take your word for it.
Thank you for the confirmation! 👍

[2022-10-12 15:07] bendaniels052 opened #996 "azure_rm_virtualmachine - Parameter 'VirtualMachine.location' can not be None."
- [ x] Verify first that your issue is not already reported on GitHub

- [ x] Also test if the latest release and devel branch are affected too

- [x ] Complete *all* sections as described, this form is processed automatically

##### SUMMARY
I'm trying to create a virutal machine in azure. However, the tasks keeps failing with a location error `VirtualMachine.location' can not be None.` - I've tri

[2022-10-12 19:30] kristinaEliz commented on #985
I am also seeing this same error when attempting to get subnet information on AzureUSGovernment with the azure_rm_subnet_info module. My tenant, secret, cloud_environment, etc are all set up in the same fashion as the original poster. Will this change resolve this error as well? Is there an eta for when the new version will come out that contains these changes?

[2022-10-13 00:37] Fred-sun commented on #996
@bendaniels052 We can specify location, if not, it will default to the location of the resource group. Thank you very much!

[2022-10-13 03:26] xuzhang3 commented on #771
![image](https://user-images.githubusercontent.com/57888764/195492117-00aa639d-e0b9-4ab6-8801-7601e0dca2da.png)

[2022-10-13 07:50] pingtouskar opened #997 "Ansible modules required for Azure Managed SQL Instance"
##### SUMMARY
Currently there is no ansible modules to deploy and manage the SQL managed instances on Azure. As a result its difficult to automate the operational aspects of Azure Managed SQL instances.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- Azure Managed SQL instance

##### ADDITIONAL INFORMATION
- Currently there is no ansible modules available for azure sql managed instances f

[2022-10-13 09:18] bendaniels052 commented on #996
Hi @Fred-sun , I'm getting the error regardless of setting the location or not. I've just commented out the location parameter in my tasks and im still getting the same error response.

[code]
[code]

Full error
[code]

[2022-10-14 00:23] Fred-sun commented on #380
@ryanjeskymicrosoft We are meeting your needs and will inform you as soon as we are complete. Thank you very much!

[2022-10-14 09:19] x4FF3 commented on #760
@Fred-sun any update on this?

[2022-10-14 15:16] abikouo commented on #847
@archoversight I pushed a new commit to create multiple disks at the same time, the azure API is working asynchronously, basically with this new version we submit the creation for all disks then later we poll for the result.
Please have a look and make some tests on your side.

[2022-10-16 13:42] Fred-sun commented on #996
@bendaniels052  Could you please help to provide all the test cases and more detailed logs? such as " ansible-playbook tasks.yml -vvvv"

[2022-10-17 18:49] jaybloodworth commented on #396
I am having the same issue and not just with cloud shell; it is happening on a Debian 11 host as well. Is this just an issue with the current build? As noted above cloudstorageaccount is under azure.storage.common, not azure.storage.

[2022-10-17 23:09] feiyan-gh commented on #760
In the end I had to use direct call to azure cli to provision flexible servers. @x4FF3 you could try do the same.

[2022-10-18 00:10] Fred-sun commented on #396
@jaybloodworth Can you help provide your use cases and logs? This will help to have a solution to the current problem. Thank you very much!

[2022-10-18 12:39] bendaniels052 commented on #996
@Fred-sun  Here's the output from running with verbos mode.

[code]

Vars being used
[code]

[2022-10-18 12:46] jaybloodworth commented on #396
@Fred-sun Actually, I was able to get it working both under Debian and Cloud Shell by creating virtual environment, activating and installing ansible there, then doing `pip install -r lib/python3.9/site-packages/ansible_collections/azure/azcollection/requirements-azure.txt` from within the venv directory.

Furthermore, azcollection seems to be working with vanilla Cloud Shell as of today. I just t

[2022-10-18 15:46] bendaniels052 commented on #996
Closing, refactored the playbook with the below which worked.
[code]

[2022-10-18 15:46] #996 closed, assigned to nobody

[2022-10-19 00:38] Fred-sun commented on #380
Added in #998

[2022-10-20 02:54] #380 closed, assigned to nobody

[2022-10-20 21:05] Ankit-RedHat opened #999 "Azure Ansible module "azure.azcollection.azure_rm_database (v1.13)" does not provide an option to create Elastic Pool"
##### SUMMARY
The current version of azure_rm_sqldatabase module can add a database to an existing Elastic Pool via this property:

elastic_pool_name : The name of the elastic pool the database is in. Not supported for edition=data_warehouse.
(string)

However there is no way to create an Elastic Pool

##### ISSUE TYPE
Update the collections

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
New-

[2022-10-24 10:58] madmalkav opened #1003 "Add support to set message size on azure_rm_servicebusqueue and azure_rm_servicebustopic"
##### SUMMARY
azure_rm_servicebusqueue and azure_rm_servicebustopic doesn't allow to set message size

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm_servicebusqueue

##### ADDITIONAL INFORMATION
Premium namespaces allow to set message sizes, but Ansible doesn't support this.

[2022-10-24 19:22] msl0 opened #1004 "azure_rm_networkinterface constantly returns changed status"
##### SUMMARY

Ansible constantly returns changed status for `azure_rm_networkinterface` module when `primary` is not defined in `ip_configurations` list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_networkinterface
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04

##### STEPS TO REPRODUCE

Run the

[2022-10-25 06:55] pingtouskar commented on #997
Hi @xuzhang3,
Let me know if anything will be ready. I should be able to test and update you based on the functionality.

[2022-10-25 07:46] madmalkav commented on #1003
By the way this probably should be done too for topics and subscriptions.

[2022-10-25 08:06] erlingre commented on #991
@Fred-sun Correct observed, but it fails the same way with a correct storage account name:

Failed to create account: (RequestDisallowedByPolicy) Resource 'bdb00dbzl09971620910' was disallowed by policy. Reasons: 'Unsecure storage account configuration - acl can not have unrestricted access'. See error details for policy resource IDs.
Code: RequestDisallowedByPolicy

The ansible task creating the

[2022-10-25 12:47] erlingre commented on #991
Now I understand better. I assumed that the following ansible code enabled boot diagnostics with managed storage account, but it is creating a custom storage account where the default network acl is set to allow which then causes the policy violation error.

[code]
Is it possible to change azure_rm_virtualmachine so that enabling boot diagnostics as shown here uses managed storage instead of a cus

[2022-10-26 08:35] madmalkav opened #1005 "Modyfing existing objects with azure_rm_servicebustopic and azure_rm_servicebustopicsubscription loses previous config"
##### SUMMARY
Modifying a subscription will lose all previous configuration, in example if you use azure_rm_servicebustopicsubscription to modify only the max_delivery_count of the subscription, all other parameters of the subscription will be reseted to default values, like the subscription was deleted and created again with only that parameter given to Ansible.lock_duration_in_seconds, dead_lett

[2022-10-26 09:10] testotxt commented on #700
hi all, hi @Fred-sun , any news on this feature requests? is there a workaround ?

[2022-10-26 10:09] madmalkav commented on #1005
The same behavior occurs with azure_rm_servicebustopic too, updated title and description to reflect this.

[2022-10-26 11:29] Fred-sun commented on #700
Yes! We are working on it!

[2022-10-26 12:49] madmalkav commented on #1005
Closing as it seems probably an error on my playbooks, will reopen if needed.

[2022-10-26 12:49] #1005 closed, assigned to nobody

[2022-10-26 15:06] dgiesselbach opened #1006 "Feature request: Create Azure VM with TrustedLaunch, vTPM and secure boot?"
##### SUMMARY
Maybe I'm blind. I can't find any property to enable trusted launch, vTPM and secure boot in VM creation process. I can't find anything in the doc article either!
https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_virtualmachine_module.html

##### ISSUE TYPE
You must set the security type to Standard or TrustedLaunch. If TrustedLaunch is set, set secure-b

[2022-10-27 04:06] sharvarikhedkar commented on #714
+1

[2022-10-27 07:58] manikantavasupalli opened #1007 "Unable to create storage account just after successful creation of resource group on azurecloud"
##### ISSUE TYPE
 - Bug

##### COMPONENT NAME
 - Collection

##### SUMMARY
We are trying to create an azure resource_group followed by the creation of a storage account within that resource group using the block as shown below. Block1 is able to create the resource group and block2 is failing to create the storage account. This part is working for more than a year now and we started getting this i

[2022-10-27 08:02] Fred-sun commented on #1007
@manikantavasupalli Can you help confirm your subscription ID is available? Thank you very much!

[2022-10-27 08:09] manikantavasupalli commented on #1007
Yes it's available... and as I said above, ansible 1st block was able to create a resource group in the same subscription, and then the 2nd block only getting failed to create a storage account in the resource group

[2022-10-27 08:12] manikantavasupalli commented on #1007
@Fred-sun

We also found the following workaround solution:
1. Create a dummy storage account on any new resource group in the same subscription manually (through the portal)
2. Now run the same ansible stuff

This time ansible code block was able to create a resource group and then a storage account inside the resource group.

[2022-10-28 07:08] madmalkav opened #1008 "azure_rm_servicebustopicsubscription doesn't allow to set filters"
##### SUMMARY
azure_rm_servicebustopicsubscription doesn't allow to set filters

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure.azcollection.azure_rm_servicebustopicsubscription

##### ADDITIONAL INFORMATION

Subscriptions support two type of filters: correlation and SQL syntax based. Ansible doesn't allow to set either, even if it supports parameters related to filters behavior ( dea

[2022-10-28 07:25] madmalkav commented on #1003
I barely have any understading of coding, but seems like the API ansible uses already supports this, with **max_message_size_in_kilobytes** for both [queues](https://learn.microsoft.com/en-us/python/api/azure-mgmt-servicebus/azure.mgmt.servicebus.v2022_01_01_preview.models.sbqueue?view=azure-python)  and [topics](https://learn.microsoft.com/en-us/python/api/azure-mgmt-servicebus/azure.mgmt.service

[2022-10-28 15:19] markscottwright opened #1009 "azure_rm_keyvaultsecret doesn't reliably allow specified credentials"
##### SUMMARY
If credentials are explicitly specified for azure_rm_keyvaultsecret, but it is possible to retrieve credentials from the environment, the explicitly specified credentials are ignored.  In other words, the (default) auth_source of "auto" does not act as documented "When set to auto (the default) the precedence is module parameters -> env -> credential_file -> cli."  Instead, the prece

[2022-10-28 18:58] markscottwright commented on #1009
The same problem appears in these modules:
- azure_rm_keyvaultkey_info
- azure_rm_keyvaultkey
- azure_rm_keyvaultsecret_info
- azure_rm_keyvaultsecret

This fixes the issue (assuming you are using a virtual environment and it's in `venv`):
[code]

[2022-10-31 09:21] Fred-sun commented on #1007
@manikantavasupalli I'm sorry to reply you so late! I have repeatedly tried to copy your question, but I have not been able to reproduce it. Could you please provide more detailed information? Such as the version you installed, the test environment, and the complete use case! Thank you very much!

[2022-10-31 09:51] manikantavasupalli commented on #1007
@Fred-sun Thanks for spending time on it. Versions have added in the issue description.
Use case is to create resource group and then create storage account in it using ansible blocks as shown in the issue description.  This pipeline runs on a Jenkin tool where worker node is an ubuntu machine. We are also testing from the same jenkin job.

[2022-10-31 11:57] Fred-sun commented on #1007
@manikantavasupalli Can you try updating azcollection by force? Thank you very much!
[code]

[2022-10-31 12:03] Fred-sun commented on #1009
@markscottwright You are welcome to provide PR to fix this problem. Thank you very much!

[2022-10-31 12:15] markscottwright commented on #1009
@Fred-sun I'd be happy too.  Is there any documentation on how to work with this rep?  I always install the azure galaxy via `pip`.  If I have this repo checked out into, say, `~/azure`, and I have a virtual environment in, `~/azure-fix/venv`, into which I have run `pip install kubernetes`, what's the process to include the source for `~/azure` in my virtual environment for testing?

And afterward

[2022-11-01 07:26] Fred-sun commented on #1008
@madmalkav Thanks for your reportig! "azure_rm_servicebustopicsubscritpion" not support "these filter" , It is support in "Azure Service Bus Rule", not the same module! Thank you very much!

[2022-11-01 07:36] Fred-sun commented on #1006
@dgiesselbach Thanks for your feedback! We will add these feature as soon as possible! Thank you very much!

[2022-11-02 08:30] Sudha2579 opened #1011 "The current version of azure.azcollection.azure_rm_loadbalancer (v1.13) module does not provide an option to create BackEnd Pool"
**SUMMARY**
The current version of azure.azcollection.azure_rm_loadbalancer (v1.13) module does not provide an option to create BackEnd Pool

**- Feature Idea**
- 	Azure Ansible module "azure.azcollection.azure_rm_loadbalancer (v1.13)" does not provide an option to create BackEnd Pool,
We are looking for load balancer backend pool feature to be supported in azure module, We're trying to create bac

[2022-11-02 09:17] x4FF3 commented on #760
Hi,

yes i also used the command module now...

[2022-11-02 18:23] rnotley opened #1013 "azure_rm_virtualnetwork / azure_rm_virtualnetwork_info: Add support for Flow Timeout"
##### SUMMARY
Add the configurable flow timeout attribute for Azure virtual networks.

**flow_timeout_in_minutes** - (Optional) The flow timeout in minutes for the Virtual Network, which is used to enable connection tracking for intra-VM flows.  Possible values are between 4 and 30 minutes.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_virtualnetwork
azure_rm_virtualnetwork_info

[2022-11-03 21:59] captainrdubb opened #1014 "Azure Container Instance Module"
##### SUMMARY
I need to set vnet and subnet for a container group

##### ISSUE TYPE
Allow users to set vnet and subnet

##### COMPONENT NAME
[azure_rm_containerinstance](https://github.com/ansible-collections/azure/blob/8707edf10f94b8d89bca13b060259e23350725c7/plugins/modules/azure_rm_containerinstance.py)

##### ADDITIONAL INFORMATION

Inspired by the need to add a [NAT gateway to an Azure Contai

[2022-11-04 09:46] JulienPlantier opened #1015 "azure_rm_storageblob returns error when trying to download a blob"
##### SUMMARY
Using azure_rm_storageblob to download a blob exits in error with version 1.14 of azure collection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_storageblob

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04

##### STEPS TO REPRODUCE

Create a storage account, a test container and upload a

[2022-11-04 13:29] vijayreddiar commented on #1015
I was about to report, thanks @JulienPlantier for raising it.
@Fred-sun In AWX-EE, unable to use previous working version 1.13.0 through _collections/requirements.yml_ , hence the functionality started failing as soon as 1.14.0 released.

[2022-11-04 16:21] vijayreddiar commented on #1015
As of now, I managed with this workaround.
[code]

[2022-11-04 16:51] keithevans3 opened #1016 "Add exclude_vm_resource_groups parameter to azure.azcollection.azure_rm inventory – Azure Resource Manager inventory plugin"
##### SUMMARY
Add exclude_vm_resource_groups parameter to azure.azcollection.azure_rm inventory similar to include_vm_resource_groups parameter.  Allow a list of resource groups to exclude for search of VMs.   This is a problem with databricks VMs as they spin up and down frequently thus causing the inventory refresh from azure subscriptions to fail.

##### ISSUE TYPE
- Feature Idea

##### COMPONE

[2022-11-06 00:15] rnotley commented on #118
+1 for getting these modules.  I'm currently using ARM deployments for these resources which works but not ideal.

[2022-11-07 05:33] Fred-sun commented on #118
@XabiBeltza @rnotley  We are developing it, thank you!

[2022-11-07 07:55] madmalkav commented on #1008
Thanks for your answer @Fred-sun . If I understand correctly this will be covered by a new module in the collection. Do you want me to rename the ticket to better reflect that? Something like "Implement Azure Service Bus Rule so filters can be set on Service Bus Subscriptions" ?

[2022-11-08 12:39] ebdxflr opened #1017 "os_disk_size_gb in azure_rm_virtualmachine not setting correct / partition size"
##### SUMMARY
When defining a non-standard value for `os_disk_size_gb` for `azure_rm_virtualmachine`, the VM is created with the size defined in `os_disk_size_gb` but the os partition is not reflecting that size, it is still set to Azure default - 30 GB.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
**azure_rm_virtualmachine**, param **os_disk_size_gb**

##### ANSIBLE VERSION
[code]

#####

[2022-11-09 01:30] ossonts opened #1019 "Azure batch pool"
##### SUMMARY

Add/create a batch pool

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Ansible enables the creation of a batch account, but not the compute resources (pool)

##### ADDITIONAL INFORMATION

Here are the options I would like
[code]

[2022-11-09 06:27] Fred-sun commented on #1008
@madmalkav Yes, this feature should be included in the new module, it is recommended to close the Issue and recreate a requirement to add a new module. Thanks!

[2022-11-09 07:40] madmalkav opened #1020 "Add support for module Azure Service Bus Rule"
##### SUMMARY
Add suppor for module Azure Service Bus Rule , needed at least for setting filter on Service Bus subscriptions.

##### ISSUE TYPE
- Requeriment to add new module.

##### COMPONENT NAME
 Azure Service Bus Rule

##### ADDITIONAL INFORMATION
Subscriptions support two type of filters: correlation and SQL syntax based. Ansible doesn't allow to set either, even if it supports parameters re

[2022-11-09 07:40] madmalkav commented on #1008
Created new ticket as per @Fred-sun instructions, closing this one.

[2022-11-09 07:40] #1008 closed, assigned to nobody

[2022-11-09 14:35] KrishnaG-MSFT commented on #396
Hello @Fred-sun, Did the new deployment happen as mentioned by @ahmedsza in an earlier comment ? Please share an update. Thank you.

[2022-11-09 14:41] ahmedsza commented on #396
@KrishnaG-MSFT  - according to an internal note I got, the deployment did happen - and the issue was fixed. I was on leave at that time so did not have a chance to test

[2022-11-09 20:54] fdalrymple-hp opened #1021 "azure_rm_privatednszonelink - vNet subscription_id being overridden by value from profile"
##### SUMMARY

When executing module, supplying entire resource ID to the "virtual_network" parameter, seeing unexpected behavior. Ansible module seems to be reading the information provided to it correctly, however reviewing Azure logs would indicate that the wrong subscription ID is being provided to the call to ARM. The correct name and resource groups are being parsed and used.
##### ISSUE TYP

[2022-11-10 05:30] Fred-sun commented on #1021
@fdalrymple-hp Your virtual network must be under the same subscription ID as the resource you create. Thanks!

[2022-11-10 05:32] Fred-sun commented on #1020
@madmalkav You are welcome to submit this question and we will review and add this module as soon as possible. Thanks!

[2022-11-10 05:34] Fred-sun commented on #1019
@ossonts Thank you for submitting the question, we will complete the addition as soon as possible!

[2022-11-10 08:02] Fred-sun commented on #1017
@ebdxflr "os_disk_size_gb" specifies the OS disk size of the VM you are creating. It does not specify the OS disk partition. Thanks!

[2022-11-10 09:11] ebdxflr commented on #1017
@Fred-sun while the terminology is correct, the reason why someone would want a higher os disk is for the / partition. But lets move past this, and instead, do we have an argument to also resize the / partition according to the value in os_disk_size_gb? If i'm not mistaken creating an Azure VM with non standard size for os disk, it also resizes the / accordingly..

[2022-11-10 12:47] tux1980 opened #1022 "Can't use Azure collection {{ Maybe the ansible-runner in the EE is outdated as it claims?)"
##### SUMMARY
Hi I do have an Issue with using the Ansible Azure Collection. I Updated them already on the last updated version + updating ansible-runner in the ee in question, build the EE also new   -but always same result. Did also try different EE's with different Base Images - didn't help. Creating an Azure Ressource Group for example always resulted in the weird error I attached. I attached

[2022-11-10 14:14] rahulsoni43 commented on #396
Guys, what is the fix for this issue.. i tried as mentioned by @jaybloodworth but looks like still the smae issue..

[code]

[2022-11-10 14:28] fdalrymple-hp commented on #1021
Will there be no intention to support a vNet not in the same subscription as the Private DNS Zone in the future? I suspect that our configuration is very typical of a normal enterprise with hub & spoke architecture and in this case for our main private DNS zone the only vNet that's in the same subscription is the core/transit vNet. All of the other vNets reside in more app-specific subscription ou

[2022-11-11 08:50] vasdee commented on #1015
Am experiencing this problem myself. Tried with 1.13.5 then thought it might be fixed with 1.14.0 but same problem exists in both versions.

Further to @vijayreddiar workaround, I notice that the file is successfully downloaded, regardless of the error

edit: using python 3.10 if that helps

[2022-11-11 13:19] tux1980 commented on #1022
Azure Collection Error 1: (Sync Inventory)
[https://pastebin.com/F9RkzSGu](url)

Azure Collection Error 2: (Deploy WIN2022 Server)
[https://pastebin.com/weERBEV8](url)

[2022-11-14 15:46] blup-sudo commented on #1006
@Fred-sun Would it be possible to extend this feature request to add an option to enable encryptionAtHost for new vm's as well?
We have to set that option currently using the az cli.

[2022-11-14 19:18] HarishHary commented on #152
@Fred-sun any update on your MR? Thanks for your work!

[2022-11-15 05:48] Fred-sun commented on #152
@HarishHary It has fixed by #975, and this PR is ready, It will be merged as soon as possible! Thank you very much!

[2022-11-15 09:50] ebdxflr commented on #1015
having this issue since the 1.14 upgrade. it happens at random, some downloads work and some return this error. can this be addressed?

[2022-11-15 10:48] Fred-sun commented on #1015
@ebdxflr Because I haven't encountered your mistake, I can't fix it quickly for the time being! Thanks!

[2022-11-15 10:49] vasdee commented on #1015
@ebdxflr I found that what I thought was random behaviour, was just that the file was previously downloaded, so the second run works as expected. Might be worth confirming that.

[2022-11-15 11:12] ebdxflr commented on #1015
@vasdee not quite. im running the play on multiple identical VMs (os/packages/vm type) and on a random number of them the play works flawlessly (file wasnt downloaded before) and on one it fails with that exact error.

[2022-11-15 15:08] kmj251 opened #1023 "Automatically synchronize peered VNet using the azure.azcollection.azure_rm_virtualnetworkpeering module"
##### SUMMARY
When adding a new CIDR block to an existing VNet that is already peered, provide us a way to resync the peering.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_virtualnetworkpeering

##### ADDITIONAL INFORMATION
It would be used to resync the network peering when we add more address space to a VNet.

[code]

[2022-11-16 00:02] vasdee opened #1024 "azure_rm_iotdevice - add parent device flag"
##### SUMMARY

When creating an iot device in iothub via azure_rm_iotdevice, there is currently no way to specify the parent device (which has been a feature since 1.2 of iotedge/hub)

Currently we need to fall back to the CLI to get this functionality

[code]

Having the parent information available in `azure_rm_iotdevice_info` would be very handy as well.

##### ISSUE TYPE
- Feature Idea

#####

[2022-11-16 03:16] Fred-sun commented on #1015
@JulienPlantier There is a problem with the serial number data. What is the data of your 'test.zip'? Thanks!
[code]

[2022-11-16 04:12] vijayreddiar commented on #1015
@Fred-sun I am facing the same issue even for a json file download. Actually, it's an ARM template which is used for a VM creation in Azure. It was working fine till v1.13.0

[2022-11-16 14:06] JulienPlantier commented on #1015
@Fred-sun test.zip contained a simple text file with "test" in it I think. I tried different type of files and none could be downloaded without ending in error.

[2022-11-16 15:14] kingsleyadam commented on #712
@Fred-sun, I've added test cases to the PR. Can we review it again to see if we can merge this in? Thanks!

[2022-11-17 02:48] Fred-sun commented on #1015
@JulienPlantier I see. Could you please change the environment to install the latest version and test it? Thanks!

[2022-11-17 02:55] Fred-sun commented on #1017
@ebdxflr That's a good idea and we'll think about it! Thanks!

[2022-11-17 07:33] rasselmaliyekkal opened #1026 "KeyVault Network Rules"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

I cannot find a network rule in keyvault mode, I'm stuck with deployment due to org level policy to restrict public access of keyvault.

cant find network rule property in this module:
https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_keyvault_module.html#ansible-collect

[2022-11-17 09:49] tushar150 commented on #989
Thank you for looking into this. When can we expect some updates on this.

[2022-11-17 10:07] JulienPlantier commented on #1015
@Fred-sun I just tested with ansible 6.6.0 and azcollection 1.14.0, same error.

[2022-11-18 16:17] ghost commented on #396
I pinned my version of `azure.azcollections` to `1.13.0` and our stuff started working again. WIth the latest version `1.14.0`, I was seeing the same errors you all reported above.

[code]

[2022-11-20 05:38] rahul-chr commented on #396
@pfinnerty thanks Man... you saved lot of time.. it worked like charm.

[2022-11-21 06:29] xuzhang3 commented on #1011
@Sudha2579  create backend pools already support by current version, you just need to specific the pools names in `backend_address_pools`:
[code]

[2022-11-22 02:01] Fred-sun commented on #1026
@rasselmaliyekkal You mean we need to add a module in order to add network rules to the keyvault module! right?

[2022-11-22 02:20] Fred-sun commented on #1024
@vasdee You mean we need to add a module in order to set the parent device of a target iot device, right?

[2022-11-22 03:41] Fred-sun commented on #1021
@fdalrymple-hp Currently we don't support vnet_id under different subscriptions, but we are considering adding this feature. Thanks!

[2022-11-22 03:58] vasdee commented on #1024
Feels like it would be nicer to have it all in one, but just now looking at the existing az cli for it, it appears to be a separate call. I'd be happy with either, the less I have to fall back to the az cli within ansible, the better

[2022-11-22 13:25] rasselmaliyekkal commented on #1026
@Fred-sun - Yes

[2022-11-22 15:46] R4153 commented on #1007
Hi, im not sure if you have the same problem like me, but the workaround was the same for me with the portal.
I am not sure why this happen to us since some months,  because we never had this kind of problem before, but it seems azure changed something.

reproduce steps: new azure subscription and first storage account in that subscription
workaround was: create a dummy storage account in portal,

[2022-11-23 10:40] Lunik opened #1028 "Collection is broken with Python 3.11"
##### SUMMARY

Using Python 3.11 on the Ansible controler prevent this collection to work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`module_utils/azure_rm_common`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Alpine Linux : `3.16`

##### STEPS TO REPRODUCE

- Install Ansible and the collection on a controller with

[2022-11-24 08:39] Fred-sun commented on #1009
@markscottwright auth_source specifies the priority of obtaining the credentials in azure_rm_common. All modules are common (azure_rm_*.py), while the azure_rm_keyvault* module specifies that 'cli' and 'auto' are used to obtain the cli login configuration. Thanks!

[2022-11-24 10:52] rasselmaliyekkal opened #1030 "No option to configure properties in Azure Recovery Service Vault Module"
No option to configure properties in Azure Recovery Service Vault Module, like below,

Backup Configuration

Encryption Settings

Multi-User Authorization

Security Settings

Security PIN

Monitoring Settings

[2022-11-24 14:01] markscottwright commented on #1009
@Fred-sun Are you saying this is as designed?  If auth_source is 'auto' and credentials are specified, but cli credentials are present, then specified credentials will be ignored and the cli credentials used?

If so, we can't use this module, since we do not want to use cli credentials (and only discovered this issue when running a playbook on localhost after I had run some unrelated commands usin

[2022-11-24 14:16] rafajot1 opened #1031 "azure_rm_virtualmachine does not support encryption-at-host"
##### SUMMARY
As of now (v1.14.0) azure_rm_virtualmachine doesn't seem to support encryption-at-host

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine and possibly azure_rm_virtualmachinescaleset

[2022-11-25 06:51] Fred-sun commented on #1009
@markscottwright Maybe we'll follow the logic of azure_rm_common.py here as well. get_keyvault_client can be obtained using env, credentials_file or az login. Will this meet your needs? Thanks!

[2022-11-25 09:02] markscottwright commented on #1009
My understanding of azure_rm_common.py is that it goes "module parameters -> env -> credential_file -> cli" (this is what the azure_rm_keyvaultsecret docs say too).  We need to use *module parameters*.  Credentials file and cli are of no interest (since they persist the secrets to disk).  We could, if necessary, use env, but would definitely prefer that azure_rm_keyvaultsecret be consistent with t

[2022-11-25 14:22] sorinscheau opened #1032 "collection azure.azcollection 1.14.0: module azure_rm_storageblob: PDF upload functionality is broken"
##### SUMMARY

collection azure.azcollection 1.14.0: module azure_rm_storageblob: PDF upload functionality is broken. Worked fine in 1.13.0.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_storageblob
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

PDF file

[2022-11-27 17:20] manumittal89 commented on #396
Hello ,
I am also facing the same issue but unable to fine the solution .Can you please advise me on the same ...

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'azure.storage.cloudstorageaccount'
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (ansible[azu

[2022-11-28 02:42] Fred-sun commented on #1032
@sorinscheau I installed version 1.14.0 locally for testing and did not encounter your problem? Could you please change the environment or provide the file you want to upload for me to try? Thank you very much!

[2022-11-28 02:57] Fred-sun commented on #1015
@JulienPlantier I created an Ubuntu virtual machine. The installation process is as follows and I had no problems! Thanks!
[code]

[2022-11-28 21:00] krystian-panek-vmltech commented on #1015
I have also this error, recent azure.azcollection, rhel 9.1, python 3.10, ansible 2.11;
I am totally horrified whenever I am trying to upgrade these Azure Ansible modules. I always have some problems :/
3 upgrades in the past, 3 errors. whenever I am using AWS modules there are no problems... :/

most probably because they are having single boto3 dependency to install, not > 20 :)

[2022-11-29 02:41] Fred-sun commented on #1006
@dgiesselbach Already add to azure_rm_virtualmachine, Now work in azure_rm_virtualmachinescaleset! Thank  you very much!

[2022-11-29 02:41] Fred-sun commented on #1031
@rafajot1  Already add to azure_rm_virtualmachine, Now work in azure_rm_virtualmachinescaleset! Thank  you very much!

[2022-11-29 07:54] Fred-sun commented on #1006
azure_rm_virtualmachinescalset.py added 'security_profile' in #1033

[2022-11-29 07:54] Fred-sun commented on #1031
azure_rm_virtualmachinescalset.py added 'security_profile' in #1033

[2022-11-29 08:16] dgiesselbach commented on #1006
@Fred-sun could you please show me the parameters in the azure_rm_virtualmachine module for trusted launch, secureboot and vtpm? I can't find any information about it in this latest article https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_virtualmachine_module.html

[2022-11-29 08:18] Fred-sun commented on #1006
@dgiesselbach dded in PR #1033. Once this PR is merged, we can see it in the main branch. You can now switch to that branch to use it as well. Thanks!

[2022-11-30 03:44] #847 closed, assigned to nobody

[2022-11-30 03:48] Fred-sun commented on #1026
@rasselmaliyekkal I'm sorry for replying you so late. The SDK does not support the creation of 'keyvault Network rules' for the time being. It cannot be added once it is supported. We will consider adding this support! Thanks!

[2022-11-30 05:18] #969 closed, assigned to nobody

[2022-11-30 05:36] #152 closed, assigned to nobody

[2022-11-30 05:43] Fred-sun commented on #1011
kindly ping!

[2022-11-30 07:07] Fred-sun commented on #1013
@rnotley Added by #1036

[2022-11-30 14:15] JulienPlantier commented on #1015
@Fred-sun Created a new VM, ran the same commands and I end up with the same error and stack...

[2022-11-30 14:51] Fred-sun commented on #1015
@JulienPlantier From the point of view of the error, the parameter is encoded incorrectly during the initialization preprocessing. There are two possible causes for this problem. First, the format of the parameter values is incorrect. Second: version incompatibility results. Thanks!

[2022-11-30 14:52] Fred-sun commented on #1032
@sorinscheau From the point of view of the error, the parameter is encoded incorrectly during the initialization preprocessing. There are two possible causes for this problem. First, the format of the parameter values is incorrect. Second: version incompatibility results. Thanks!

[2022-11-30 15:01] vijayreddiar commented on #1015
- Same playbook with this format of the parameter values worked perfectly in earlier version (1.13.0)
- All requirements were installed using below command and still the issue exists, so it's becoming hard to find the mentioned incompatibility.

`sudo pip3 install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements-azure.txt`

[2022-11-30 15:11] Fred-sun commented on #1015
@vijayreddiar Could you please share the result of "pip3 freeze"?